[Desktop Entry]
Name=Test Data Engine
Name[bg]=Ядро за тестване
Name[ca]=Motor de dades de prova
Name[csb]=Mòtór testowich pòdôwków
Name[da]=Datamotor til test
Name[de]=Test-Datenmodul
Name[el]=Μηχανή δεδομένων ελέγχου
Name[es]=Motor de datos de prueba
Name[et]=Testandmete mootor
Name[fr]=Moteur de données test
Name[ga]=Inneall Sonraí Tástála
Name[gl]=Motor de datos de probas
Name[it]=Motore dati di prova
Name[km]=សាកល្បង​ម៉ាស៊ីន​ទិន្នន័យ
Name[lt]=Tikrinimo duomenų sistema
Name[lv]=Testa datu dzinējs
Name[nds]=Test-Datenkarn
Name[nl]=Test-gegevensengine
Name[pl]=Moduł danych testowych
Name[pt]=Motor de Dados de Teste
Name[pt_BR]=Mecanismo de Dados de Teste
Name[sv]=Testdatagränssnitt
Name[tr]=Test Veri Motoru
Name[uk]=Перевірка рушія даних
Name[x-test]=xxTest Data Enginexx
Name[zh_CN]=测试数据引擎
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=unknown
X-KDE-Library=plasma_engine_testengine
X-Plasma-EngineName=testengine
