[Desktop Entry]
Name=Test Data Engine
Name[af]=Toets data-enjin
Name[ca]=Motor de dades de prova
Name[csb]=Testë mòtóra pòdôwków
Name[da]=Test-datamotor
Name[de]=Test-Datentreiber
Name[el]=Μηχανή δεδομένων ελέγχου
Name[eo]=Testo de datuma motoro
Name[es]=Motor de datos de prueba
Name[et]=Testandmete mootor
Name[fr]=Moteur de données de test
Name[fy]=Gegevens motor teste
Name[ga]=Inneall Sonraí Trialach
Name[gl]=Motor de datos de proba
Name[gu]=ચકાસણી માહિતી એન્જિન
Name[he]=מנוע בדיקת זמן
Name[hu]=Adatmodul teszteléshez
Name[it]=Motore di prova per dati
Name[ja]=テスト用データエンジン
Name[kk]=Сынақ деректер тетігі
Name[km]=សាកល្បង​ម៉ាស៊ីន​ទិន្នន័យ
Name[kn]=ಪರೀಕ್ಷಾ ದತ್ತ ಯಂತ್ರ
Name[ko]=테스트 데이터 엔진
Name[lv]=Testēšanas datu dzinējs
Name[ml]=ടെസ്റ്റ് ഡേറ്റാ എഞ്ചിന്‍
Name[mr]=चाचणी माहिती इंजिन
Name[nb]=Testdata-motor
Name[nds]=Test-Hanteerkarn
Name[nl]=Test (gegevensengine)
Name[nn]=Testdatamotor
Name[pa]=ਟੈਸਟ ਡਾਟਾ ਇੰਜਣ
Name[pl]=Testy silnika danych
Name[pt]=Motor de Dados de Teste
Name[pt_BR]=Mecanismo de dados de teste
Name[ro]=Test motor de date
Name[sl]=Preizkusni pogon s podatki
Name[sr]=пробни мотор података
Name[sr@latin]=probni motor podataka
Name[sv]=Testdatagränssnitt
Name[te]=పరిశీలనా డాటా ఇంజన్
Name[th]=โปรแกรมข้อมูลสำหรับทดสอบ
Name[tr]=Test Veri Motoru
Name[uk]=Тестовий рушій даних
Name[wa]=Sayî l' éndjin des dnêyes
Name[x-test]=xxTest Data Enginexx
Name[zh_CN]=测试数据引擎
Name[zh_TW]=測試資料引擎
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=unknown
X-KDE-Library=plasma_engine_testengine
X-Plasma-EngineName=testengine
