[Desktop Entry]
Name=Videoclip
Name[bg]=Видеоклип
Name[ca]=Vídeoclip
Name[cs]=Videoklip
Name[csb]=Teledisk
Name[da]=Videoklip
Name[de]=Videoclip
Name[en_GB]=Videoclip
Name[es]=Videoclip
Name[et]=Videoklipp
Name[fi]=Videoleike
Name[hu]=Videoklip
Name[is]=Vídeóbútur
Name[it]=Videoclip
Name[km]=ឈុត​វីដេអូ
Name[ko]=동영상 클립
Name[lv]=Videoklips
Name[nb]=Videoklipp
Name[nds]=Musikvideo
Name[nl]=Videoclip
Name[nn]=Videoklipp
Name[pa]=ਵੀਡਿਓਕਲਿੱਪ
Name[pl]=Klip Wideo
Name[pt]='Clip' de Vídeo
Name[pt_BR]=Clipe de vídeo
Name[ro]=Videoclip
Name[ru]=Видеоклип
Name[sl]=Video posnetek
Name[sr]=Видео исечак
Name[sr@latin]=Video isečak
Name[sv]=Videoklipp
Name[tr]=Video Klibi
Name[uk]=Відеокліп
Name[wa]=Clip videyo
Name[x-test]=xxVideoclipxx
Name[zh_CN]=视频剪辑
Name[zh_TW]=影片剪輯
Type=Service
Icon=videoclip-amarok
ServiceTypes=Plasma/Applet
X-KDE-Library=amarok_context_applet_videoclip
X-KDE-PluginInfo-Author=Simon Esneault
X-KDE-PluginInfo-Email=simon.esneault@gmail.com
X-KDE-PluginInfo-Name=videoclip
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=amarok
X-KDE-PluginInfo-Category=Current

