Source: amarok-nightly-strigi
Section: utils
Priority: optional
Maintainer: Project Neone <nightly@getamarok.com>
Build-Depends: amarok-nightly-cdbs, amarok-nightly-qt,
 debhelper (>= 6), cmake, quilt, libbz2-dev,
 libclucene-dev, libdbus-1-dev, libexiv2-dev, libxml2-dev,
 zlib1g-dev, libxml2-utils, python-support, python
Standards-Version: 3.7.3

Package: amarok-nightly-strigi
Architecture: any
Section: utils
Depends: ${shlibs:Depends}, ${misc:Depends}, poppler-utils, dbus-x11 | dbus
Description: fast indexing and searching tool for your personal data (daemon)
 Strigi is a program for fast indexing and searching your personal data.

Package: amarok-nightly-strigi-dbg
Section: libdevel
Architecture: any
Priority: extra
Depends: amarok-nightly-qt-dbg
Description: debugging symbols for amarok-nightly-strigi
 This package contains the debugging symbols associated with amarok-nightly.
 They will automatically be used by gdb for debugging amarok-nightly-related
 issues.
 .
 This package is part of Project Neon, The Amarok Nightly Builds project.
 See the 'amarok-nightly' package for more information.
