[Desktop Entry]
Name=Tabs
Name[bg]=Подпрозорци
Name[bs]=Kartice
Name[ca]=Pestanyes
Name[ca@valencia]=Pestanyes
Name[cs]=Tabulatura
Name[da]=Tabulaturer
Name[de]=Gitarrengriffe
Name[el]=Παρτιτούρες
Name[en_GB]=Tabs
Name[eo]=Langetoj
Name[es]=Tablaturas
Name[et]=Tabulatuur
Name[eu]=Fitxak
Name[fa]=برگه‌ها
Name[fi]=Tabulatuurit
Name[fr]=Tablatures
Name[ga]=Cluaisíní
Name[gl]=Tabulaturas
Name[he]=לשוניות
Name[hu]=Tabok
Name[ia]=Schedas
Name[id]=Tab
Name[it]=Tablature
Name[ja]=タブ
Name[ka]=ჩანართები
Name[km]=ផ្ទាំង
Name[ko]=Tabs
Name[lt]=Kortelės
Name[lv]=Cilnes
Name[mr]=टॅब्स
Name[nb]=Tablaturer
Name[nds]=Paneels
Name[nl]=Tabbladen
Name[pa]=ਟੈਬO
Name[pl]=Tabulatury
Name[pt]=Tablaturas
Name[pt_BR]=Tablaturas
Name[ro]=File
Name[ru]=Табулатуры
Name[sk]=Karty
Name[sl]=Zavihki
Name[sr]=Таблатуре
Name[sr@ijekavian]=Таблатуре
Name[sr@ijekavianlatin]=Tablature
Name[sr@latin]=Tablature
Name[sv]=Flikar
Name[tr]=Akorlar
Name[ug]=بەتكۈچلەر
Name[uk]=Акорди
Name[x-test]=xxTabsxx
Name[zh_CN]=标签页
Name[zh_TW]=Tabs
Type=Service
Icon=filename-genre-amarok
ServiceTypes=Plasma/Applet
X-KDE-Library=amarok_context_applet_tabs
X-KDE-PluginInfo-Author=Rainer Sigle
X-KDE-PluginInfo-Email=rainer.sigle@web.de
X-KDE-PluginInfo-Name=tabs
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=amarok
X-KDE-PluginInfo-Category=Current

