[Desktop Entry]
Name=Albums
Name[be]=Альбомы
Name[bg]=Албуми
Name[ca]=Àlbums
Name[cs]=Alba
Name[csb]=Albùmë
Name[da]=Albummer
Name[de]=Alben
Name[el]=Άλμπουμ
Name[en_GB]=Albums
Name[es]=Álbumes
Name[et]=Albumid
Name[eu]=Albumak
Name[fi]=Albumit
Name[fr]=Albums
Name[ga]=Albaim
Name[gl]=Albuns
Name[he]=אלבומים
Name[hne]=एल्बम
Name[hu]=Albumok
Name[is]=Plötur
Name[it]=Album
Name[ja]=アルバム
Name[km]=អាប់ប៊ុម
Name[ko]=앨범
Name[ku]=Albûm
Name[lt]=Albumai
Name[lv]=Albūmi
Name[ms]=Album
Name[nb]=Album
Name[nds]=Alben
Name[nl]=Albums
Name[nn]=Album
Name[oc]=Albums
Name[pa]=ਐਲਬਮ
Name[pl]=Albumy
Name[pt]=Álbuns
Name[pt_BR]=Álbuns
Name[ro]=Albume
Name[ru]=Альбомы
Name[sl]=Albumi
Name[sr]=Албуми
Name[sr@ijekavian]=Албуми
Name[sr@ijekavianlatin]=Albumi
Name[sr@latin]=Albumi
Name[sv]=Album
Name[th]=อัลบั้มต่าง ๆ
Name[tr]=Albümler
Name[uk]=Альбоми
Name[wa]=Alboms
Name[x-test]=xxAlbumsxx
Name[zh_CN]=专辑
Name[zh_TW]=專輯
Type=Service
Icon=media-album-cover-manager-amarok
ServiceTypes=Plasma/Applet

X-KDE-Library=amarok_context_applet_albums
X-KDE-PluginInfo-Author=Seb Ruiz
X-KDE-PluginInfo-Email=ruiz@kde.org
X-KDE-PluginInfo-Name=albums
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=amarok
X-KDE-PluginInfo-Category=Current

