[Desktop Entry]
Name=Amarok-Mockup
Name[bg]=Amarok-Mockup
Name[ca]=Amarok-Mockup
Name[ca@valencia]=Amarok-Mockup
Name[cs]=Amarok-Mockup
Name[csb]=Amarok-Mockup
Name[da]=Amarok-mockup
Name[de]=Amarok-Mockup
Name[el]=Σχέδιο περιβάλλοντος Amarok
Name[en_GB]=Amarok-Mockup
Name[es]=Amarok-Mockup
Name[et]=Amarok-Mockup
Name[eu]=Amarok-Mockup
Name[fr]=Amarok-Mockup
Name[ga]=Amarok-Mockup
Name[gl]=Amarok-Mockup
Name[hne]=अमाराक-मॉकअप
Name[hu]=Amarok-vázlat
Name[is]=Amarok-uppkast
Name[it]=Idee per Amarok
Name[km]=Amarok-សំណាក
Name[ko]=Amarok-Mockup
Name[ku]=Amarok-Mockup
Name[lt]=Amarok maketas
Name[lv]=Amarok-skice
Name[nb]=Amarok-eksempel
Name[nds]=Amarok-Kiekwark
Name[nl]=Amarok-Mockup
Name[nn]=Amarok-eksempel
Name[pa]=ਅਮਰੋਕ-ਮੌਕਅੱਪ
Name[pl]=Wzór Amaroka
Name[pt]=Teste do Amarok
Name[pt_BR]=Amarok-Maquete
Name[ro]=Machetă Amarok
Name[ru]=Amarok-модель
Name[sl]=Amarok-Mockup
Name[sr]=Амарок по скици
Name[sr@ijekavian]=Амарок по скици
Name[sr@ijekavianlatin]=Amarok po skici
Name[sr@latin]=Amarok po skici
Name[sv]=Amaroks modell
Name[th]=ตัวโชว์ของแอมอะร็อก
Name[tr]=Amarok-Mockup
Name[uk]=Amarok-Модель
Name[wa]=Amarok-Mockup
Name[x-test]=xxAmarok-Mockupxx
Name[zh_CN]=Amarok-Mockup
Comment=Theme done to look like the original mockup
Comment[bg]=Тема, наподобяваща оригиналната
Comment[ca]=Tema creat per semblar com el model original
Comment[ca@valencia]=Tema creat per paréixer com el model original
Comment[cs]=Motiv vytvořený tak, aby vypadal jako původní návrh
Comment[da]=Tema udført til at ligne det originale mockup
Comment[de]=Design, das dem Original ähnelt
Comment[el]=Θέμα που κατασκευάστηκε σαν το αρχικό σχέδιο περιβάλλοντος
Comment[en_GB]=Theme done to look like the original mockup
Comment[es]=Tema creado a semejanza del mockup original
Comment[et]=Teema, mis sarnaneb algupärase jäljendusega
Comment[eu]=Mockup originalaren itxura izateko eginiko gaia
Comment[fr]=Thème conçu pour ressembler au Mockup original
Comment[ga]=Téama a bhfuil dealramh aige leis an mbunleagan
Comment[gl]=Tema feito para semellarse á aparencia orixinal
Comment[hu]=Az eredeti vázlatra emlékeztető kinézetű téma
Comment[is]=Þema sem á að líkjast upphaflegu útliti
Comment[it]=Tema creato per somigliare alla bozza originale
Comment[km]=ស្បែក​ដែល​ធ្វើ​រួច ដែល​ដូច​នឹង​សំណាក​ដើម
Comment[ko]=원래 목업처럼 생긴 테마
Comment[ku]=Dirb hate çêkirin ku wekî maketa xweserî xuya bike
Comment[lt]=Tema, atrodanti panašiai į pradinį Amarok maketą
Comment[lv]=Amarok tēma, kas izskatās kā orģinālā saskarnes skice
Comment[nb]=Tema ment å se ut som det opprinnelige eksempelet
Comment[nds]=Dit Muster süht ut as dat Orginaalmuster
Comment[nl]=Thema dat lijkt op de originele mockup
Comment[nn]=Tema meint å sjå ut som det opphavlege eksempelet
Comment[pl]=Motyw, który ma wyglądać jak oryginalny wzór
Comment[pt]=Um tema feito para se parecer ao item de teste original
Comment[pt_BR]=Tema feito para parecer igual à maquete
Comment[ro]=Tematică făcută să arate ca macheta originală
Comment[ru]=Тема, сделанная под оригинальную модель
Comment[sl]=Tema, ki je podobna prvotnemu konceptu izgleda
Comment[sr]=Тема начињена по узору на изворну скицу
Comment[sr@ijekavian]=Тема начињена по узору на изворну скицу
Comment[sr@ijekavianlatin]=Tema načinjena po uzoru na izvornu skicu
Comment[sr@latin]=Tema načinjena po uzoru na izvornu skicu
Comment[sv]=Tema gjort för att se ut som den ursprungliga modellen
Comment[th]=ชุดตกแต่งสำเร็จที่ทำให้ดูคล้ายกับตัวโชว์ดั้งเดิม
Comment[tr]=Tema asıl eskizdekine benzemesi için yapıldı
Comment[uk]=Тема, розроблена з метою відтворення вигляду оригінальної моделі
Comment[wa]=Tinme fwait po rshonner å prumî mockup
Comment[x-test]=xxTheme done to look like the original mockupxx
Comment[zh_CN]=看起来像原构想的主题

X-KDE-PluginInfo-Author=Nikolaj Hald Nielsen
X-KDE-PluginInfo-Email=nhnfreespirit@gmail.com
X-KDE-PluginInfo-Name=Amarok-Mockup
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://amarok.kde.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
