[Desktop Entry]
Type=Service
ServiceTypes=KPluginInfo
Icon=view-services-mp3tunes-amarok
Name=MP3tunes
Comment=Browse and listen to the music stored in your MP3tunes account

ServiceTypes=Amarok/Plugin

X-KDE-Amarok-authors=Nikolaj Hald Nielsen
X-KDE-Amarok-email=nhnFreespirit@gmail.com
X-KDE-Amarok-framework-version=54
X-KDE-Amarok-name=Mp3tunesService
X-KDE-Amarok-plugintype=service
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1

X-KDE-PluginInfo-Author=Nikolaj Hald Nielsen
X-KDE-PluginInfo-Email=nhnFreespirit@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=amarok_service_mp3tunes
X-KDE-PluginInfo-Name=amarok_service_mp3tunes
