[Desktop Entry]
Icon=view-services-mp3tunes-amarok
Type=Service
ServiceTypes=Amarok/Plugin
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_amarok_service_mp3tunes
X-KDE-ParentApp=amarok_service_mp3tunes
X-KDE-ParentComponents=amarok_service_mp3tunes

Name=MP3tunes Service Config
Name[ca]=Configuració del servei MP3tunes
Name[ca@valencia]=Configuració del servei MP3tunes
Name[cs]=Nastavení služby Mp3tunes
Name[da]=Konfiguration af MP3tunes-tjeneste
Name[de]=Einrichtung von MP3tunes
Name[en_GB]=MP3tunes Service Config
Name[es]=Configurar servicio MP3tunes
Name[et]=MP3Tunesi teenuse seadistamine
Name[is]=Stillingar Mp3tunes þjónustu
Name[it]=Configurazione servizio MP3tunes
Name[nb]=Innstillinger for Mp3tunes-tjenesten
Name[nds]=MP3Tunes-Deenstinstellen
Name[pa]=Mp3tunes ਸਰਵਿਸ ਸੰਰਚਨਾ
Name[pt]=Configuração do Serviço MP3tunes
Name[pt_BR]=Configuração do serviço MP3tunes
Name[sk]=Konfigurácia služby MP3tunes
Name[sl]=Nastavitev storitve MP3tunes
Name[sr]=Поставке МП3‑тјунсовог сервиса
Name[sr@ijekavian]=Поставке МП3‑тјунсовог сервиса
Name[sr@ijekavianlatin]=Postavke MP3Tunesovog servisa
Name[sr@latin]=Postavke MP3Tunesovog servisa
Name[sv]=Inställning av Mp3tunes-tjänst
Name[uk]=Налаштування служби MP3tunes
Name[x-test]=xxMP3tunes Service Configxx
Name[zh_CN]=MP3tunes 服务配置
Comment=Configure mp3tunes credentials
Comment[bg]=Настройване на mp3tunes
Comment[ca]=Configura les credencials de mp3tunes
Comment[ca@valencia]=Configura les credencials de mp3tunes
Comment[cs]=Nastavit přihlašovací údaje Mp3tunes
Comment[da]=Indstil MP3tunes-akkreditiver
Comment[de]=Zugangsdaten zu Mp3tunes einrichten
Comment[el]=Ρύθμιση διαπιστευτηρίων mp3tunes
Comment[en_GB]=Configure mp3tunes credentials
Comment[eo]=Agordi mp3tunes akreditaĵojn.
Comment[es]=Configurar credenciales de mp3tunes
Comment[et]=Mp3Tunesi kasutajatunnuste määramine
Comment[eu]=Konfiguratu mp3tunes kredentzialak
Comment[fi]=Määritä Mp3tunes-palvelun tilitiedot
Comment[fr]=Configuration des références Mp3tunes
Comment[ga]=Cumraíocht dintiúir MP3tunes
Comment[gl]=Configura as credenciais de mp3tunes
Comment[hu]=Bejelentkezési adatok beállítása az Mp3tunes szolgáltatáshoz
Comment[is]=Stilla mp3tunes auðkenni
Comment[it]=Configura credenziali mp3tunes
Comment[ja]=Mp3tunes の資格情報を設定
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​កា​រជឿជាក់​របស់ mp3tunes
Comment[ko]=mp3tunes 개인 정보 설정
Comment[ku]=Ewlayî yên mp3tunes ava bike
Comment[lt]=Keisti mp3tunes prisijungimo duomenis
Comment[lv]=Konfigurēt mp3tune lietotāja kontu
Comment[nb]=Sett opp mp3tunes akkreditiver
Comment[nds]=Anmelldaten för MP3Tunes instellen
Comment[nl]=Mp3tunes-gegevens instellen
Comment[nn]=Set opp MP3tunes-brukardetaljar
Comment[pl]=Ustawia dane Mp3tunes
Comment[pt]=Configurar as credenciais do mp3tunes
Comment[pt_BR]=Configurar credenciais do mp3tunes
Comment[ro]=Configurează detaliile contului mp3tunes
Comment[ru]=Настройки учётной записи Mp3tunes
Comment[sk]=Nastaviť osobné údaje pre mp3tunes
Comment[sl]=Nastavite podatke o račun na MP3tunes
Comment[sr]=Подесите акредитиве за МП3‑тјунс
Comment[sr@ijekavian]=Подесите акредитиве за МП3‑тјунс
Comment[sr@ijekavianlatin]=Podesite akreditive za MP3Tunes
Comment[sr@latin]=Podesite akreditive za MP3Tunes
Comment[sv]=Anpassa Mp3tunes identifieringsinformation
Comment[th]=ปรับแต่งตัวรับรองสมาชิกภาพของ mp3tunes
Comment[tr]=Mp3tunes kimlik bilgilerinizi yapılandırın
Comment[uk]=Налаштувати реєстраційні дані у mp3tunes
Comment[wa]=Aponteye les credits mp3tunes
Comment[x-test]=xxConfigure mp3tunes credentialsxx
Comment[zh_CN]=配置 Mp3tunes 会员资格
Comment[zh_TW]=設定 mp3tunes 的憑證

