[Desktop Entry]
Type=Service
ServiceTypes=KPluginInfo
Icon=view-services-mp3tunes-amarok
Name=Mp3tunes
Name[da]=MP3tunes
Name[ga]=MP3tunes
Name[pt]=MP3tunes
Name[x-test]=xxMp3tunesxx
Comment=Browse and listen to the music stored in your mp3tunes account
Comment[bg]=Обзор и слушане на музиката от вашата mp3tunes сметка
Comment[ca]=Navegueu i escolteu la música emmagatzemada en el vostre compte de mp3tunes
Comment[cs]=Procházejte a poslouchejte hudbu uloženou na vašem mp3tunes účtu
Comment[da]=Gennemse og lyt til musik gemt på din mp3tunes-konto
Comment[de]=Musik durchsehen und anhören, die in Ihrem mp3tunes-Konto abgelegt ist
Comment[el]=Περιηγηθείτε και ακούστε τη μουσική που έχετε αποθηκευμένη στο λογαριασμό σας mp3tunes
Comment[es]=Navegar y escuchar la música guardada en su cuenta mp3tunes
Comment[et]=Sinu mp3tunes'i kontole salvestatud muusika sirvimine ja kuulamine
Comment[eu]=Arakatu eta entzun zure MP3tunes kontuan gordetako musika
Comment[fi]=Mp3tunes-tilille talletettu musiikki
Comment[fr]=Parcourir et écouter la musique stockée sur votre compte Mp3tunes
Comment[ga]=Brabhsáil agus éist leis an gceol i do chuntas MP3tunes
Comment[gl]=Navegue e escoite a música gardada na súa conta de mp3tunes
Comment[he]=דפדוף והאזנה למוזיקה המאוכנסת בחשבון ה־mp3tunes שלך
Comment[is]=Skoða og hlusta á tónlistina sem þú geymir í Mp3tunes hólfinu þínu
Comment[it]=Sfoglia e ascolta la musica conservata nel tuo account mp3tunes
Comment[ja]=Mp3tunes アカウントに保存した音楽を聴けます
Comment[km]=រកមើល និង​ស្ដាប់​តន្ត្រី​ដែល​បាន​ទុក​នៅ​លើ​គណនី mp3tunes របស់​​អ្នក
Comment[ko]=mp3tunes 계정에 저장되어 있는 음악을 탐색하고 듣기
Comment[ku]=Muzîkên hesaba te yê mp3tunes de bar kirî binihêre û guh guhdarî bike
Comment[lt]=Naršyti ir klausytis muzikos iš mp3tunes
Comment[lv]=Pārlūkojiet un klausieties mūziku, kura glabājas jūsu mp3tune lietotāja kontā
Comment[nb]=Bla gjennom og lytt til musikk som lagres på Mp3tunes-kontoen din.
Comment[nds]=Musik vun Dien Mp3Tunes-Konto dörkieken un anhören
Comment[nl]=Blader door en luister naar muziek opgeslagen op uw Mp3tunes-account
Comment[nn]=Sjå gjennom og lytt på musikk lagra i MP3tunes-kontoen din
Comment[pl]=Przeglądaj i słuchaj muzyki przechowywanej na twoim koncie Mp3tunes
Comment[pt]=Navegar e escutar a música gravada na sua conta do mp3tunes
Comment[pt_BR]=Navegue e escute as músicas armazenadas na sua conta do mp3tunes
Comment[ro]=Răsfoiți și ascultați muzica stocată în contul dumneavoastră mp3tunes
Comment[ru]=Обзор и прослушивание музыки, сохраненной в аккаунте Mp3tunes
Comment[sl]=Brskajte po glasbi, ki jo imate shranjeno na svojem računu MP3tunes, in jo poslušajte
Comment[sv]=Bläddra igenom och lyssna på musik lagrad på ditt Mp3tunes-konto
Comment[th]=เรียกดูและรับฟังดนตรีที่เก็บไว้ในบัญชีผู้ใช้บนบริการ mp3tunes ของคุณ
Comment[tr]=mp3tunes hesabınızdaki müziklere göz atın ve dinleyin
Comment[uk]=Перегляньте і прослухайте музику, що зберігається на вашому рахунку у mp3tunes
Comment[wa]=Foyter eyet schoûter li muzike wårdêye e vosse conte mp3tunes
Comment[x-test]=xxBrowse and listen to the music stored in your mp3tunes accountxx
Comment[zh_CN]=浏览并收听储存在您的 Mp3tunes 账户中的音乐
Comment[zh_TW]=瀏覽並聆聽儲存在您 mp3tunes 帳戶中的音樂

ServiceTypes=Amarok/Plugin

X-KDE-Amarok-authors=Nikolaj Hald Nielsen
X-KDE-Amarok-email=nhnFreespirit@gmail.com
X-KDE-Amarok-framework-version=46
X-KDE-Amarok-name=Mp3tunesService
X-KDE-Amarok-plugintype=service
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1

X-KDE-PluginInfo-Author=Nikolaj Hald Nielsen
X-KDE-PluginInfo-Email=nhnFreespirit@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=amarok_service_mp3tunes
X-KDE-PluginInfo-Name=amarok_service_mp3tunes
