[Desktop Entry]
Type=Service
Name=Generic Audio Player
Name[bg]=Основен аудио плеър
Name[da]=Generisk lydafspiller
Name[el]=Γενικός αναπαραγωγέας ήχου
Name[fr]=Lecteur audio générique
Name[ga]=Seinnteoir Ginearálta Fuaime
Name[it]=Lettore audio generico
Name[ja]=一般的なオーディオプレーヤ
Name[nl]=Generieke audiospeler
Name[pa]=ਆਮ ਆਡੀਓ ਪਲੇਅਰ
Name[pl]=Odtwarzacz audio
Name[pt]=Leitor de Áudio Genérico
Name[pt_BR]=Reprodutor de Áudio Genérico
Name[sv]=Generell ljudspelare
Name[uk]=Загальний аудіо-програвач
X-KDE-Library=libamarok_generic-mediadevice
Comment=Plugin for amaroK
Comment[bg]=Приставка за amaroK
Comment[bn]=আমারক-এর জন্য প্লাগিন
Comment[br]=Lugent evit amaroK
Comment[cs]=Modul pro amaroK
Comment[de]=Modul für amaroK
Comment[el]=Πρόσθετο για το amaroK
Comment[es]=Plugin para amaroK
Comment[et]=AmaroKi plugin
Comment[fi]=amaroKin laajennos
Comment[fr]=Module pour AmaroK
Comment[ga]=Breiseán amaroK
Comment[he]=תוספים של amaroK
Comment[hi]=अमारोक के लिए प्लगइन
Comment[hu]=Bővítőmodul az amaroKhoz
Comment[is]=Íforrit fyrir amaroK
Comment[it]=Plugin per amaroK
Comment[ja]=amaroK用プラグイン
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាប់ amaroK
Comment[lt]=amaroK įsiepis
Comment[mk]=Приклучок за amaroK
Comment[ms]=Plugmasuk untuk amaroK
Comment[nb]=Programtillegg for amaroK
Comment[nl]=Plugin voor amaroK
Comment[pa]=ਅਮਰੋਕ ਲਈ ਪਲੱਗਿੰਨ
Comment[pl]=Wtyczka amaroK-a
Comment[pt]='Plugin' para o amaroK
Comment[pt_BR]=Plug-in para o amaroK
Comment[ru]=Модуль amaroK
Comment[sl]=Vstavek za amaroK
Comment[sr]=Прикључак за amaroK
Comment[sr@Latn]=Priključak za amaroK
Comment[sv]=Insticksprogram för amaroK
Comment[ta]=amaroKகான சொருகி
Comment[tg]=Модул барои амароК
Comment[tr]=amaroK için eklenti
Comment[uk]=Втулок для amaroK
Comment[uz]=amaroK учун плагин
Comment[xx]=xxPlugin for amaroKxx
Comment[zh_CN]=amaroK 插件
Comment[zh_TW]=amaroK 的外掛程式
ServiceTypes=amaroK/Plugin

X-KDE-amaroK-plugintype=mediadevice
X-KDE-amaroK-name=generic-mediadevice
X-KDE-amaroK-authors=Jeff Mitchell
X-KDE-amaroK-email=kde-dev@emailgoeshere.com
X-KDE-amaroK-rank=100
X-KDE-amaroK-version=1
X-KDE-amaroK-framework-version=23
