[Desktop Entry]
Type=Service
Name=Generic Audio Player
Name[be]=Звычайны аўдыёпрайгравальнік
Name[bg]=Аудио плеър
Name[ca]=Reproductor d'àudio genèric
Name[csb]=Wbùdowóny grôcz aùdio
Name[de]=Allgemeiner Media-Player
Name[el]=Γενικός αναπαραγωγέας ήχου
Name[eo]=Komuna sonludilo
Name[es]=Reproductor de audio genérico
Name[et]=Üldine helifailide mängija
Name[fi]=Yleinen musiikkisoitin
Name[fr]=Lecteur audio générique
Name[ga]=Seinnteoir Ginearálta Fuaime
Name[gl]=Reprodutor xenerico de audio
Name[it]=Lettore audio generico
Name[ja]=一般的なオーディオプレーヤー
Name[km]=កម្មវិធី​ចាក់​អូឌីយ៉ូ​ទូទៅ
Name[ko]=일반 오디오 재생기
Name[lt]=Bendras muzikos grotuvas
Name[lv]=Vispārīgs audio atskaņotājs
Name[nb]=Generisk musikkavspiller
Name[nds]=Klangafspeler
Name[ne]=जेनेरिक अडियो प्लेयर
Name[nl]=Generieke audiospeler
Name[pl]=Odtwarzacz audio
Name[pt]=Leitor de Áudio Genérico
Name[pt_BR]=Reprodutor de Áudio Genérico
Name[sk]=Všeobecný audio prehrávač
Name[sv]=Generell ljudspelare
Name[th]=อุปกรณ์เล่นเสียงทั่วไป
Name[tr]=Genel Ses Çalar
Name[uk]=Аудіопрогравач
Name[x-test]=xxGeneric Audio Playerxx
Name[zh_CN]=通用音频播放器
X-KDE-Library=libamarok_generic-mediadevice
Comment=Plugin for Amarok
Comment[be]=Утулка для Amarok
Comment[bg]=Приставка за Amarok
Comment[ca]=Connector per l'Amarok
Comment[csb]=Wtëkôcz dlô Amaroka
Comment[de]=Erweiterungsmodul für Amarok
Comment[el]=Πρόσθετο για το AmaroK
Comment[eo]=Kromaĵo por Amarok
Comment[es]=Complemento para Amarok
Comment[et]=Amaroki plugin
Comment[fi]=Amarok-liitännäinen
Comment[fr]=Module pour Amarok
Comment[ga]=Breiseán Amarok
Comment[gl]=Extensión de Amarok
Comment[it]=Plugin per Amarok
Comment[ja]=Amarok のためのプラグイン
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាប់ Amarok
Comment[ko]=Amarok 플러그인
Comment[lt]=Amarok įskiepis
Comment[lv]=Amarok spraudnis
Comment[nb]=Programtillegg for Amarok
Comment[nds]=Moduul för Amarok
Comment[ne]=अमारोकका लागि प्लगइन
Comment[nl]=Plugin voor Amarok
Comment[pl]=Wtyczka Amaroka
Comment[pt]='Plugin' para o Amarok
Comment[pt_BR]=Plugin para o Amarok
Comment[ro]=Modul pentru Amarok
Comment[sk]=Amarok modul
Comment[sv]=Insticksprogram för Amarok
Comment[th]=โปรแกรมเสริมสำหรับ Amarok
Comment[tr]=Amarok için eklenti
Comment[uk]=Втулка для Amarok
Comment[x-test]=xxPlugin for Amarokxx
Comment[zh_CN]=Amarok 插件
ServiceTypes=Amarok/Plugin

X-KDE-Amarok-plugintype=mediadevice
X-KDE-Amarok-name=generic-mediadevice
X-KDE-Amarok-authors=Jeff Mitchell
X-KDE-Amarok-email=kde-dev@emailgoeshere.com
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1
X-KDE-Amarok-framework-version=34
