[Desktop Entry]
Name=Video Clip Data Engine
Name[bg]=Ядро за видеоклип
Name[ca]=Motor de dades de video clip
Name[csb]=Mòtór pòdôwków teledisków
Name[da]=Datamotor til videoklip
Name[de]=Videoclip-Datenmodul
Name[es]=Motor de datos de vídeo clip
Name[et]=Videoklipi andmete mootor
Name[is]=Vídeóbútagagnarvél
Name[it]=Motore dati Video Clip
Name[km]=ម៉ាស៊ីន​ទិន្នន័យ​ឈុត​វីដេអូ
Name[ko]=동영상 클립 데이터 엔진
Name[nb]=Datamotor for videoklipp
Name[nds]=Musikvideo-Datenkarn
Name[nl]=Videoclip-gegevensengine
Name[nn]=Datamotor for videoklipp
Name[pa]=ਵੀਡਿਓ ਕਲਿੱਪ ਡਾਟਾ ਇੰਜਣ
Name[pl]=Moduł danych klipów wideo
Name[pt]=Motor de Dados de 'Clips' de Vídeo
Name[pt_BR]=Motor de dados de clipe de vídeo
Name[ru]=Движок данных для видеоклипов
Name[sl]=Podatkovni pogon za video posnetke
Name[sr]=Датомотор видео исечака
Name[sr@latin]=Datomotor video isečaka
Name[sv]=Datagränssnitt för videoklipp
Name[tr]=Video Klibi Veri Motoru
Name[uk]=Рушій даних відеокліпів
Name[wa]=Éndjin d' dinêyes Clip Videyo
Name[x-test]=xxVideo Clip Data Enginexx
Name[zh_CN]=视频剪辑数据引擎
Name[zh_TW]=影片剪輯資料引擎
X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-ParentApp=Amarok
Type=Service
Icon=VideoClip
X-KDE-Library=amarok_data_engine_videoclip
X-KDE-PluginInfo-Name=amarok-videoclip
