[Desktop Entry]
Encoding=UTF-8
Name=CoverBling
Name[ca]=CoverBling
Name[ca@valencia]=CoverBling
Name[cs]=CoverBling
Name[da]=CoverBling
Name[de]=CoverBling
Name[en_GB]=CoverBling
Name[es]=CoverBling
Name[et]=CoverBling
Name[is]=CoverBling
Name[it]=CoverBling
Name[nb]=CoverBling
Name[nds]=CoverBling
Name[nl]=CoverBling
Name[pt]=Capas
Name[pt_BR]=Capas
Name[sl]=CoverBling
Name[sr]=Омотација
Name[sr@ijekavian]=Омотација
Name[sr@ijekavianlatin]=Omotacija
Name[sr@latin]=Omotacija
Name[sv]=Omslagsutsmyckning
Name[uk]=CoverBling
Name[x-test]=xxCoverBlingxx
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=amarok_context_applet_coverbling
X-KDE-PluginInfo-Author=manuw2009
X-KDE-PluginInfo-Email=manu.wagner@sfr.fr
X-KDE-PluginInfo-Name=coverbling
X-KDE-PluginInfo-Version=0.10
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=amarok
X-KDE-PluginInfo-Category=Current
