Source: amarok-nightly-kdemultimedia
Section: kde
Priority: optional
Maintainer: Project Neon <nightly@getamarok.com>
Build-Depends: amarok-nightly-cdbs, amarok-nightly-deps, amarok-nightly-kdepimlibs, amarok-nightly-kdebase,
 cdparanoia, libasound2-dev, libcdparanoia0-dev, libflac-dev, libmusicbrainz4-dev,
 libogg-dev, libtheora-dev, libtunepimp-dev, libvorbis-dev, libxine-dev
Standards-Version: 3.7.3

Package: amarok-nightly-kdemultimedia
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Description: KDE multimedia applications (nightly build)
 KDE (the K Desktop Environment) is a powerful Open Source graphical desktop
 environment for Unix workstations. It combines ease of use, contemporary
 functionality, and outstanding graphical design with the technological
 superiority of the Unix operating system.
 .
 This package is part of Project Neon, the Amarok Nightly Builds project.
 See the 'amarok-nightly' package for more information.
