[Desktop Entry]
Name=Last.Fm Events
Name[bg]=Събития (Last.Fm)
Name[ca]=Esdeveniments de last.fm
Name[csb]=Przëtrôfczi Last.fm
Name[de]=Last.Fm-Ereignisse
Name[el]=Γεγονότα Last.Fm
Name[eo]=Last.Fm eventoj
Name[es]=Eventos de Last.Fm
Name[et]=Last.Fm sündmused
Name[fr]=Évènements Last.fm
Name[ga]=Imeachtaí Last.Fm
Name[gl]=Eventos de Last.Fm
Name[it]=Eventi Last.Fm
Name[ja]=Last.fm イベント
Name[km]=ព្រឹត្តិការណ៍ Last.Fm
Name[ko]=Last.Fm 이벤트
Name[lt]=Last.fm įvykiai
Name[lv]=Last.Fm notikumi
Name[nb]=Last.fm-hendelser
Name[nds]=Last.Fm-Begeefnissen
Name[nl]=Last.fm-gebeurtenissen
Name[pl]=Wydarzenia Last.Fm
Name[pt]=Eventos do Last.Fm
Name[pt_BR]=Eventos do Last.Fm
Name[ro]=Evenimente Last.Fm
Name[sv]=Evenemang från Last.fm
Name[th]=เหตุการณ์ Last.fm
Name[tr]=last.Fm Olayları
Name[uk]=Події Last.Fm
Name[x-test]=xxLast.Fm Eventsxx
Name[zh_CN]=Last.Fm 事件
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=amarok_context_applet_lastfmevents
X-KDE-PluginInfo-Author=Leo Franchi
X-KDE-PluginInfo-Email=lfranchi@gmail.com
X-KDE-PluginInfo-Name=lastfmevents
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=amarok
X-KDE-PluginInfo-Category=Home

