Source: amarok-nightly-kdegraphics
Section: kde
Priority: optional
Maintainer: Project Neon <nightly@getamarok.com>
Build-Depends: amarok-nightly-cdbs, amarok-nightly-deps, amarok-nightly-kdepimlibs, amarok-nightly-kdebase,
 libpoppler-qt4-dev, libsane-dev, libtiff4-dev, libgphoto2-2-dev, imlib11-dev,
 libchm-dev, libdjvulibre-dev, libxxf86vm-dev, libexiv2-dev
Standards-Version: 3.7.3

Package: amarok-nightly-kdegraphics
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Description: KDE graphic applications (nightly build)
 KDE (the K Desktop Environment) is a powerful Open Source graphical desktop
 environment for Unix workstations. It combines ease of use, contemporary
 functionality, and outstanding graphical design with the technological
 superiority of the Unix operating system.
 .
 This package is part of Project Neon, the Amarok Nightly Builds project.
 See the 'amarok-nightly' package for more information.
