Source: amarok-nightly-kdenetwork
Section: kde
Priority: optional
Maintainer: Project Neon <nightly@getamarok.com>
Build-Depends: amarok-nightly-cdbs, amarok-nightly-deps, amarok-nightly-kdepimlibs, amarok-nightly-kdebase,
 libxdamage-dev, libxss-dev, libslp-dev, libiw-dev, libidn11-dev, libvncserver-dev,
 libqca2-dev, libsqlite3-dev, libavahi-compat-libdnssd-dev, libotr2-dev
Standards-Version: 3.7.3

Package: amarok-nightly-kdenetwork
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Description: KDE network applications (nightly build)
 KDE (the K Desktop Environment) is a powerful Open Source graphical desktop
 environment for Unix workstations. It combines ease of use, contemporary
 functionality, and outstanding graphical design with the technological
 superiority of the Unix operating system.
 .
 This package is part of Project Neon, the Amarok Nightly Builds project.
 See the 'amarok-nightly' package for more information.
