[Desktop Entry]
Name=Songkick Data Engine
Name[bg]=Ядро Songkick
Name[ca]=Motor de dades de Songkick
Name[cs]=Datový nástroj Songkick
Name[csb]=Mòtór Songkicka
Name[da]=Datamotor til Songkick
Name[de]=Datenmodul für Songkick
Name[el]=Μηχανή δεδομένων Songkick
Name[en_GB]=Songkick Data Engine
Name[es]=Motor de datos de Songkick
Name[et]=Songkicki andmete mootor
Name[eu]=Songkick datu motorea
Name[fr]=Moteur de données Songkick
Name[ga]=Inneall Sonraí Songkick
Name[gl]=Motor de dados de Songkick
Name[he]=מנוע מידע של Songkic
Name[hne]=सांगकिक डाटा इंजिन
Name[hu]=Songkick-adatmotor
Name[is]=Songkick gagnarvél
Name[it]=Motore dati Songkick
Name[ja]=Songkick データエンジン
Name[km]=ម៉ាស៊ីន​ទិន្នន័យ Songkick
Name[ko]=Songkick 데이터 엔진
Name[ku]=Songkick Motora Dane yan
Name[lv]=Songkick datu dzinējs
Name[ms]=Enjin Data Songkick
Name[nb]=Datamotor for Songkick
Name[nds]=Songkick-Datenkarn
Name[nl]=Songkick-gegevensengine
Name[nn]=Datamotor for Songkick
Name[pa]=ਸਾਂਗਕਿੱਕ ਡਾਟਾ ਇੰਜਣ
Name[pl]=Moduł danych Songkick
Name[pt]=Motor de Dados do Songkick
Name[pt_BR]=Mecanismo de Dados do Songkick
Name[ro]=Motor de date Songkick
Name[ru]=Источник данных Songkick
Name[sl]=Podatkovni pogon za Songkick
Name[sr]=Датомотор Сонгкика
Name[sr@ijekavian]=Датомотор Сонгкика
Name[sr@ijekavianlatin]=Datomotor Songkicka
Name[sr@latin]=Datomotor Songkicka
Name[sv]=Songkick datagränssnitt
Name[th]=กลไกข้อมูล Songkick
Name[tr]=Songkick Veri Motoru
Name[uk]=Рушій даних Songkick
Name[wa]=Éndjin d' dinêyes Songkick
Name[x-test]=xxSongkick Data Enginexx
Name[zh_CN]=Songkick 数据引擎
Name[zh_TW]=Songkick 資料引擎
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=songkick
X-KDE-Library=amarok_data_engine_songkick
X-KDE-PluginInfo-Name=amarok-songkick
X-KDE-ParentApp=Amarok
