Source: amarok-nightly-kdebase
Section: kde
Priority: optional
Maintainer: Project Neon <nightly@getamarok.com>
Build-Depends: amarok-nightly-cdbs, amarok-nightly-deps, amarok-nightly-kdelibs, amarok-nightly-kdepimlibs,
 libclucene-dev, libbz2-dev, libxtst-dev, libasound2-dev, libxcb1-dev, libxkbfile-dev,
 libxcomposite-dev, libxdamage-dev, network-manager-dev, libxine-dev, libsmbclient-dev,
 libusb-dev
Standards-Version: 3.7.3

Package: amarok-nightly-kdebase
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Description: runtime components from the official KDE release
 KDE (the K Desktop Environment) is a powerful Open Source graphical desktop
 environment for Unix workstations. It combines ease of use, contemporary
 functionality, and outstanding graphical design with the technological
 superiority of the Unix operating system.
 .
 This package is part of Project Neon, the Amarok Nightly Builds project.
 See the 'amarok-nightly' package for more information.
