Source: amarok-nightly-kdesdk
Section: kde
Priority: optional
Maintainer: Project Neon <nightly@getamarok.com>
Build-Depends: amarok-nightly-cdbs, amarok-nightly-deps, amarok-nightly-kdepimlibs,
 libsvn-dev, libltdl3-dev
Standards-Version: 3.7.3

Package: amarok-nightly-kdesdk
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Description: KDE development applications and scripts (nightly build)
 KDE (the K Desktop Environment) is a powerful Open Source graphical desktop
 environment for Unix workstations. It combines ease of use, contemporary
 functionality, and outstanding graphical design with the technological
 superiority of the Unix operating system.
 .
 This package is part of Project Neon, the Amarok Nightly Builds project.
 See the 'amarok-nightly' package for more information.
