[Desktop Entry]
Type=Service
Icon=amarok
Name=Amarok 2.x Importer
Name[cs]=Import Amarok 2.x
Name[de]=Amarok 2.x Import
Name[nl]=Programma voor importeren van Amarok 2.x
Name[pt]=Importação do Amarok 2.x
Name[pt_BR]=Importação do Amarok 2.x
Name[sv]=Amarok 2.x-importverktyg
Name[uk]=Засіб імпортування даних Amarok 2.x
Name[x-test]=xxAmarok 2.x Importerxx
Comment=Import statistics from Amarok 2.x database
Comment[cs]=Importovat statistiky z databáze Amarok 2.x
Comment[de]=Importiert die Statistik von Datenbanken von Amarok 2.x
Comment[nl]=Statistieken uit de Amarok 2.x database importeren
Comment[pt]=Importa as estatísticas da base de dados do Amarok 2.x
Comment[pt_BR]=Importa as estatísticas do banco de dados do Amarok 2.x
Comment[sv]=Importera statistik från Amarok 2.x-databas
Comment[uk]=Імпортування статистичних даних з бази даних Amarok 2.x
Comment[x-test]=xxImport statistics from Amarok 2.x databasexx

ServiceTypes=Amarok/Plugin

X-KDE-Amarok-authors=Konrad Zemek
X-KDE-Amarok-email=konrad.zemek@gmail.com
X-KDE-Amarok-framework-version=71
X-KDE-Amarok-name=AmarokImporter
X-KDE-Amarok-plugintype=importer
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1

X-KDE-PluginInfo-Author=Konrad Zemek
X-KDE-PluginInfo-Email=konrad.zemek@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Importer
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=amarok_importer-amarok
X-KDE-Library=amarok_importer-amarok
