[Desktop Entry]
Type=Service
Icon=network-workgroup
Name=Spotify Collection
Name[bg]=Колекция Spotify
Name[bs]=Spotify kolekcija
Name[ca]=Col·lecció del Spotify
Name[ca@valencia]=Col·lecció del Spotify
Name[cs]=Kolekce Spotify
Name[da]=Spotify-samling
Name[de]=Spotify-Sammlung
Name[el]=Συλλογή Spotify
Name[en_GB]=Spotify Collection
Name[es]=Colección de Spotify
Name[et]=Spotifyi kogu
Name[eu]=Spotify bilduma
Name[fi]=Spotify-kokoelma
Name[ga]=Bailiúchán Spotify
Name[gl]=Colección de Spotify
Name[hu]=Spotify gyűjtemény
Name[it]=Collezione Spotify
Name[ja]=Spotify コレクション
Name[km]=សម្រាំង Spotify
Name[lt]=Spotify fonoteka
Name[nb]=Spotify-samling
Name[nds]=Spotify-Sammeln
Name[nl]=Spotify-collectie
Name[pl]=Kolekcja Spotify
Name[pt]=Colecção do Spotify
Name[pt_BR]=Coleção do Spotify
Name[ru]=Коллекция Spotify
Name[sk]=Kolekcia Spotify
Name[sl]=Zbirka Spotify
Name[sr]=Збирка Плејдара
Name[sr@ijekavian]=Збирка Плејдара
Name[sr@ijekavianlatin]=Zbirka Spotifya
Name[sr@latin]=Zbirka Spotifya
Name[sv]=Spotify-samling
Name[tr]=Spotify Koleksiyonu
Name[uk]=Збірка Spotify
Name[x-test]=xxSpotify Collectionxx
Name[zh_TW]=Spotify 收藏
Comment=Music that Spotify can find
Comment[bg]=Музика откривана с Spotify
Comment[bs]=Muzika koju Spotify može pronaći
Comment[ca]=Música que el Spotify pot trobar
Comment[ca@valencia]=Música que el Spotify pot trobar
Comment[cs]=Hudba, kterou může Spotify najít
Comment[da]=Musik som Spotify kan finde
Comment[de]=Von Spotify auffindbare Musik
Comment[el]=Μουσική την οποία το Spotify μπορεί να βρει
Comment[en_GB]=Music that Spotify can find
Comment[es]=Música que puede encontrar Spotify
Comment[et]=Muusika, mida Spotify suudab leida
Comment[eu]=Spotify-ek aurki dezakeen musika
Comment[fi]=Musiikki, jonka Spotify saa löytää
Comment[gl]=Música que pode atopar Spotify
Comment[hu]=A Spotify által található zenék
Comment[it]=Musica che Spotify può trovare
Comment[ja]=Spotify が見つけることのできる音楽
Comment[km]=តន្ត្រី​ដែល​ Spotify អាច​រក​ឃើញ
Comment[lt]=Muziką, kurią gali rasti Spotify
Comment[nb]=Musikk som Spotify kan finne
Comment[nds]=Musik, de sik mit Spotify finnen lett
Comment[nl]=Muziek die Spotify kan vinden
Comment[pl]=Muzyka, której Spotify nie może znaleźć
Comment[pt]=Música que o Spotify consegue encontrar
Comment[pt_BR]=Música que o Spotify pode encontrar
Comment[ru]=Модуль коллекции Spotify для Amarok
Comment[sk]=Hudba, ktorú môže nájsť Spotify
Comment[sl]=Glasba, ki jo lahko najde Spotify
Comment[sr]=Музика коју Плејдар проналази
Comment[sr@ijekavian]=Музика коју Плејдар проналази
Comment[sr@ijekavianlatin]=Muzika koju Spotify pronalazi
Comment[sr@latin]=Muzika koju Spotify pronalazi
Comment[sv]=Musik som Spotify kan hitta
Comment[tr]=Spotify'ın bulabileceği müzik
Comment[uk]=Музика, яку може знайти Spotify
Comment[x-test]=xxMusic that Spotify can findxx
Comment[zh_TW]=Spotify 可以找到的音樂

#ServiceTypes=Amarok/Plugin-disabled
ServiceTypes=Amarok/Plugin

X-KDE-Amarok-authors=Ryan Feng
X-KDE-Amarok-email=odayfans@gmail.com
X-KDE-Amarok-framework-version=71
X-KDE-Amarok-name=spotifycollection
X-KDE-Amarok-plugintype=collection
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1

X-KDE-PluginInfo-Author=Ryan Feng
X-KDE-PluginInfo-Email=odayfans@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Collection
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-PluginInfo-Name=amarok_collection-spotifycollection
X-KDE-Library=amarok_collection-spotifycollection
