[Desktop Entry]
Icon=network-workgroup
Type=Service
ServiceTypes=Amarok/Plugin
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_amarok_collection-spotifycollection
X-KDE-ParentApp=amarok_collection-spotifycollection
X-KDE-ParentComponents=amarok_colection-spotifycollection

Name=Spotify Service Config
Name[ca]=Configuració del servei Spotify
Name[ca@valencia]=Configuració del servei Spotify
Name[cs]=Nastavení služby lSpotify
Name[da]=Konfiguration af tjenesten Spotify
Name[de]=Einrichtung von Spotify
Name[el]=Διαμόρφωση της υπηρεσίας Spotify
Name[es]=Configuración del servicio Spotify
Name[et]=Spotify-i teenuse seadistamine
Name[ga]=Cumraíocht Sheirbhís Spotify
Name[hu]=A Spotify szolgáltatás beállítása
Name[it]=Configurazione servizio Spotify
Name[ja]=Spotify サービスの設定
Name[km]=កំណត់​រចនាសម្ព័ន្ធ​សេវាកម្ម Spotify
Name[nb]=Innstillinger for Spotify-tjenesten
Name[nl]=Instellingen van de service Spotify
Name[pl]=Konfiguracja usługi Spotify
Name[pt]=Configuração do Serviço do Spotify
Name[pt_BR]=Configuração do serviço Spotify
Name[ru]=Настройка службы Spotify
Name[sk]=Nastavenie služby Spotify
Name[sl]=Nastavitev storitve Spotify
Name[sr]=Поставке за сервис Гподер.нет
Name[sr@ijekavian]=Поставке за сервис Гподер.нет
Name[sr@ijekavianlatin]=Postavke za servis Spotify
Name[sr@latin]=Postavke za servis Spotify
Name[sv]=Inställning av Spotify-tjänst
Name[tr]=Spotify Hizmet Yapılandırması
Name[uk]=Налаштування служби Spotify
Name[x-test]=xxSpotify Service Configxx
Name[zh_TW]=Spotify 服務設定
Comment=Configure Spotify Credentials
Comment[ca]=Configura les credencials de Spotify
Comment[ca@valencia]=Configura les credencials de Spotify
Comment[cs]=Nastavit přihlašovací údaje Spotify
Comment[da]=Indstil akkreditiver for Spotify
Comment[de]=Zugangsdaten zu Spotify einrichten
Comment[el]=Διαμόρφωση διαπιστευτηρίων Spotify
Comment[es]=Configurar credenciales de Spotify
Comment[et]=Spotify-i kasutajatunnuste määramine
Comment[ga]=Cumraigh dintiúir Spotify
Comment[hu]=Bejelentkezési adatok beállítása a Spotify szolgáltatáshoz
Comment[it]=Configura credenziali Spotify
Comment[ja]=Spotify の資格情報を設定
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ការ​អនុញ្ញាត​ Spotify
Comment[nb]=Sett opp Spotify-akkreditiver
Comment[nl]=Spotify-credentials instellen
Comment[pl]=Konfiguruj dane poufne Spotify
Comment[pt]=Configurar as Credenciais do Spotify
Comment[pt_BR]=Configurar credenciais do Spotify
Comment[ru]=Настройка учётной записи Spotify
Comment[sk]=Nastaviť osobné údaje pre Spotify
Comment[sl]=Nastavite poverila Spotify
Comment[sr]=Подесите акредитиве за Гподер
Comment[sr@ijekavian]=Подесите акредитиве за Гподер
Comment[sr@ijekavianlatin]=Podesite akreditive za gpodder
Comment[sr@latin]=Podesite akreditive za gpodder
Comment[sv]=Anpassa Spotify inloggningsinformation
Comment[tr]=Spotify üyelik ayarlarını yapılandır
Comment[uk]=Налаштувати реєстраційні дані у Spotify
Comment[x-test]=xxConfigure Spotify Credentialsxx
Comment[zh_TW]=設定 Spotify 的憑證
