[Desktop Entry]
Icon=preferences-other-amarok
Type=script
X-KDE-ServiceTypes=KPluginInfo

Name=Amarok Script Console
Name[bg]=Amarok Script Console
Name[bs]=Amarok skript konzola
Name[ca]=Consola de scripts de l'Amarok
Name[ca@valencia]=Consola de scripts d'Amarok
Name[cs]=Konzole skriptu pro Amarok
Name[da]=Amarok script-konsol
Name[de]=Amarok-Skript-Konsole
Name[el]=Κονσόλα σεναρίων του Amarok
Name[en_GB]=Amarok Script Console
Name[eo]=Amarok Script Console
Name[es]=Consola de guiones de Amarok
Name[et]=Amaroki skriptikonsool
Name[eu]=Amarok-en script-en kontsola
Name[fi]=Amarok-skriptikonsoli
Name[fr]=Console de script d'Amarok
Name[gl]=Consola de guións de Amarok
Name[hu]=Amarok parancsfájl konzol
Name[id]=Konsol Skrip Amarok
Name[it]=Console degli script di Amarok
Name[ka]=Amarok-ის სკრიპტის კონსოლი
Name[ko]=Amarok 스크립트 콘솔
Name[nl]=Script-console van Amarok
Name[pl]=Konsola skryptów Amaroka
Name[pt]=Consola de Programas do Amarok
Name[pt_BR]=Console de scripts do Amarok
Name[ro]=Consolă de scripturi Amarok
Name[sk]=Skriptová konzola Amarok
Name[sl]=Konzola skriptov za Amarok
Name[sr]=Амарокова скриптна конзола
Name[sr@ijekavian]=Амарокова скриптна конзола
Name[sr@ijekavianlatin]=Amarokova skriptna konzola
Name[sr@latin]=Amarokova skriptna konzola
Name[sv]=Amarok skriptterminal
Name[tr]=Amarok Betik Konsolu
Name[uk]=Скриптова консоль Amarok
Name[zh_CN]=Amarok 脚本控制台
Name[zh_TW]=Amarok 文稿主控台
Comment=Amarok Script Console
Comment[bg]=Amarok Script Console
Comment[bs]=Amarok skript konzola
Comment[ca]=Consola de scripts de l'Amarok
Comment[ca@valencia]=Consola de scripts d'Amarok
Comment[cs]=Konzole skriptu pro Amarok
Comment[da]=Amarok script-konsol
Comment[de]=Amarok-Skript-Konsole
Comment[el]=Κονσόλα σεναρίων του Amarok
Comment[en_GB]=Amarok Script Console
Comment[eo]=Amarok Script Console
Comment[es]=Consola de guiones de Amarok
Comment[et]=Amaroki skriptikonsool
Comment[eu]=Amarok-en script-en kontsola
Comment[fi]=Amarok-skriptikonsoli
Comment[fr]=Console de script d'Amarok
Comment[gl]=Consola de guións de Amarok.
Comment[hu]=Amarok parancsfájl konzol
Comment[id]=Konsol Skrip Amarok
Comment[it]=Console degli script di Amarok
Comment[ka]=Amarok-ის სკრიპტის კონსოლი
Comment[ko]=Amarok 스크립트 콘솔
Comment[nl]=Script-console van Amarok
Comment[pl]=Konsola skryptów Amaroka
Comment[pt]=Consola de Programas do Amarok
Comment[pt_BR]=Console de scripts do Amarok
Comment[ro]=Consolă de scripturi Amarok
Comment[sk]=Skriptová konzola Amarok
Comment[sl]=Konzola skriptov za Amarok
Comment[sr]=Амарокова скриптна конзола
Comment[sr@ijekavian]=Амарокова скриптна конзола
Comment[sr@ijekavianlatin]=Amarokova skriptna konzola
Comment[sr@latin]=Amarokova skriptna konzola
Comment[sv]=Amarok skriptterminal
Comment[tr]=Amarok Betik Konsolu
Comment[uk]=Скриптова консоль Amarok
Comment[zh_CN]=Amarok 脚本控制台
Comment[zh_TW]=Amarok 文稿主控台

X-KDE-PluginInfo-Name=Amarok Script Console
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Generic
X-KDE-PluginInfo-Website=http://amarok.kde.org/
X-KDE-PluginInfo-Depends=Amarok2.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-BugAddress=submit@bugs.kde.org
X-KDE-PluginInfo-EnabledByDefault=false
