[Desktop Entry]
Type=Service
Name=UPnP Collection
Name[be]=Калекцыя UPnP
Name[bg]=Колекция UPnP
Name[ca]=Col·lecció UPnP
Name[cs]=Kolekce UPnP
Name[csb]=Kòlekcëjô UPnP
Name[da]=UPnP-samling
Name[de]=UPnP-Sammlung
Name[el]=Συλλογή UPnP
Name[en_GB]=UPnP Collection
Name[es]=Colección UPnP
Name[et]=UPnP kogu
Name[eu]=UPnP bilduma
Name[fi]=UPnP-kokoelma
Name[fr]=Collection UPnP
Name[ga]=Bailiúchán UpnP
Name[gl]=Colección UPnP
Name[he]=אוסף UPnP
Name[hne]=यूपीएनपी संग्रह
Name[hu]=UPnP-gyűjtemény
Name[is]=UPnP safn
Name[it]=Collezione UPnP
Name[ja]=UPnP コレクション
Name[km]=សម្រាំង UPnP
Name[ko]=UPnP 모음집
Name[ku]=Berhevoka UPnP
Name[lt]=UPnP fonoteka
Name[lv]=UPnP kolekcija
Name[nb]=UPnP-samling
Name[nds]=UPnP-Sammeln
Name[nl]=UPnP-collectie
Name[nn]=UPnP-samling
Name[pa]=UPnP ਭੰਡਾਰ
Name[pl]=Kolekcja UPnP
Name[pt]=Colecção de UPnP
Name[pt_BR]=Coleção UPnP
Name[ro]=Colecție UPnP
Name[ru]=Коллекция UPnP
Name[sl]=Zbirka UPnP
Name[sr]=УПнП збирка
Name[sr@ijekavian]=УПнП збирка
Name[sr@ijekavianlatin]=UPnP zbirka
Name[sr@latin]=UPnP zbirka
Name[sv]=UPnP-samling
Name[th]=คลังดนตรีของ UPnP
Name[tr]=UPnP Koleksiyonu
Name[uk]=Збірка на UPnP
Name[wa]=Ramexhnêye UPnP
Name[x-test]=xxUPnP Collectionxx
Name[zh_CN]=UPnP 收藏
Name[zh_TW]=UPnP 收藏
Comment=UPnP collection plugin for Amarok
Comment[be]=Утулка калекцыі UPnP для Amarok
Comment[bg]=Приставка за колекция  UPnP (Amarok)
Comment[ca]=Connector de col·leccions UPnP per a l'Amarok
Comment[cs]=Modul UPnP kolekce pro AmaroK
Comment[csb]=Wtëkôcz kòlekcëji UPnP dlô Amaroka
Comment[da]=Plugin til UPnP-samling til Amarok
Comment[de]=UPnp-Sammlungsmodul für Amarok
Comment[el]=Πρόσθετο συλλογής UPnP για το AmaroK
Comment[en_GB]=UPnP collection plugin for Amarok
Comment[es]=Complemento de la colección UPnP para Amarok
Comment[et]=Amaroki UPnP kogu plugin
Comment[eu]=Amarok-en UPnP bilduma plugin-a
Comment[fi]=Amarokin UPnP-kokoelmaliitännäinen
Comment[fr]=Module de collection UPnP pour Amarok
Comment[ga]=Breiseán bailiúchán UPnP le haghaidh Amarok
Comment[gl]=Extensión de colección UPnP para Amarok
Comment[he]=תוסף אוסף UPnP ל־Amarok
Comment[hne]=अमाराक बर यूपीएनपी संग्रह प्लगइन
Comment[hu]=UPnP-gyűjteményt megvalósító bővítőmodul az Amarokhoz
Comment[is]=UPnP safníforrit fyrir Amarok
Comment[it]=Plugin della collezione UPnP di Amarok
Comment[ja]=Amarok のための UPnP コレクションプラグイン
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាំង UPnP សម្រាប់ Amarok
Comment[ko]=Amarok의 UPnP 모음집 플러그인
Comment[ku]=Pêveka Berhevoka UPnP ji bo Amarok
Comment[lt]=UPnP fonotekos Amarok papildinys
Comment[lv]=UPnP kolekcijas Amarok spraudnis
Comment[nb]=UPnP-samling – programtillegg for Amarok
Comment[nds]=UPnP-Sammelnmoduul för Amarok
Comment[nl]=UPnP-collectieplugin voor Amarok
Comment[nn]=Amarok-samlingstillegg for UPnP
Comment[pa]=ਅਮਰੋਕ ਲਈ UPnP ਭੰਡਾਰ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka kolekcji UPnP dla Amaroka
Comment[pt]=Um 'plugin' de colecção para UPnP no Amarok
Comment[pt_BR]=Plug-in de coleção UPnP para o Amarok
Comment[ro]=Modul de colecție UPnP pentru Amarok
Comment[ru]=Модуль коллекции UPnP для Amarok
Comment[sl]=Vstavek za zbirko UPnP za Amarok
Comment[sr]=Прикључак УПнП збирке за Амарок
Comment[sr@ijekavian]=Прикључак УПнП збирке за Амарок
Comment[sr@ijekavianlatin]=Priključak UPnP zbirke za Amarok
Comment[sr@latin]=Priključak UPnP zbirke za Amarok
Comment[sv]=Insticksprogram med UPnP-samling för Amarok
Comment[th]=ส่วนเสริมของแอมอะร็อก สำหรับจัดการคลังดนตรีของ UPnP
Comment[tr]=Amarok için UPnP koleksiyonu eklentisi
Comment[uk]=Додаток збірки на UPnP для Amarok
Comment[wa]=Tchôke-divins di ramexhnêye UPnP pos Amarok
Comment[x-test]=xxUPnP collection plugin for Amarokxx
Comment[zh_CN]=Amarok 的 UPnP 收藏插件
Comment[zh_TW]=Amarok 的 UPnP 收藏外掛程式

ServiceTypes=Amarok/Plugin

X-KDE-Library=amarok_collection-daapcollection

X-KDE-Amarok-authors=Maximilian Kossick
X-KDE-Amarok-email=maximilian.kossick@googlemail.com
X-KDE-Amarok-framework-version=52
X-KDE-Amarok-name=daap-collection
X-KDE-Amarok-plugintype=collection
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1
