[Desktop Entry]
Name=Songkick Data Engine
Name[bg]=Ядро Songkick
Name[cs]=Datový nástroj Songkick
Name[da]=Datamotor til Songkick
Name[de]=Datenmodul für Songkick
Name[el]=Μηχανή δεδομένων Songkick
Name[et]=Songkicki andmete mootor
Name[fr]=Moteur de données Songkick
Name[gl]=Motor de dados de Songkick
Name[he]=מנוע מידע של Songkic
Name[is]=Songkick gagnarvélin
Name[it]=Motore dati Songkick
Name[ja]=Songkick データエンジン
Name[km]=ម៉ាស៊ីន​ទិន្នន័យ Songkick
Name[ku]=Songkick Motora Dane yan
Name[lv]=Songkick datu dzinējs
Name[nb]=Datamotor for Songkick
Name[nds]=Songkick-Datenkarn
Name[nl]=Songkick-gegevensengine
Name[nn]=Datamotor for Songkick
Name[pl]=Moduł danych Songkick
Name[pt]=Motor de Dados do Songkick
Name[pt_BR]=Mecanismo de Dados do Songkick
Name[ro]=Motor de date Songkick
Name[sv]=Songkick datagränssnitt
Name[th]=กลไกข้อมูล Songkick
Name[tr]=Songkick Veri Motoru
Name[uk]=Рушій даних Songkick
Name[x-test]=xxSongkick Data Enginexx
X-KDE-ServiceTypes=AmarokContext/DataEngine
Type=Service
Icon=songkick
X-KDE-Library=amarok_data_engine_songkick
X-KDE-PluginInfo-Name=amarok-songkick
