[Desktop Entry]
Name=Songkick Data Engine
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=songkick
X-KDE-Library=amarok_data_engine_songkick
X-KDE-PluginInfo-Name=amarok-songkick
