[Desktop Entry]
Name=Labels
Name[ca]=Etiquetes
Name[cs]=Popisky
Name[da]=Etiketter
Name[de]=Stichwörter
Name[en_GB]=Labels
Name[es]=Etiquetas
Name[et]=Märgendid
Name[it]=Etichette
Name[km]=ស្លាក
Name[ko]=레이블
Name[mai]=लेबल
Name[nb]=Etiketter
Name[nl]=Labels
Name[pa]=ਲੇਬਲ
Name[pt]=Legendas
Name[pt_BR]=Rótulos
Name[ru]=Метки
Name[sr]=Етикете
Name[sr@ijekavian]=Етикете
Name[sr@ijekavianlatin]=Etikete
Name[sr@latin]=Etikete
Name[sv]=Etiketter
Name[uk]=Мітки
Name[x-test]=xxLabelsxx
Type=Service
Icon=label-amarok
ServiceTypes=Plasma/Applet

X-KDE-Library=amarok_context_applet_labels
X-KDE-PluginInfo-Author=Daniel Faust
X-KDE-PluginInfo-Email=hessijames@gmail.com
X-KDE-PluginInfo-Name=labels
X-KDE-PluginInfo-Version=0.3
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=amarok
X-KDE-PluginInfo-Category=Current

