[Desktop Entry]
Type=Service
Name=iPhone OS 3.0 Read-only Collection
Name[it]=Collezione in sola lettura iPhone OS 3.0
Name[pt]=Colecção Apenas para Leitura do iPhone OS 3.0
Name[pt_BR]=Colecção Apenas para Leitura do iPhone OS 3.0
Name[sv]=iPhone OS 3.0 skrivskyddad samling
Name[x-test]=xxiPhone OS 3.0 Read-only Collectionxx
Comment=iPhone OS 3.0 Read-only collection plugin for Amarok
Comment[it]=Estensione di Amarok per la collezione in sola lettura iPhone OS 3.0
Comment[pt]=Um 'plugin' da colecção, apenas para leitura, do iPhone OS 3.0 para o Amarok
Comment[pt_BR]=Um 'plugin' da colecção, apenas para leitura, do iPhone OS 3.0 para o Amarok
Comment[sv]=Insticksprogram med iPhone OS 3.0 skrivskyddad samling för Amarok
Comment[x-test]=xxiPhone OS 3.0 Read-only collection plugin for Amarokxx

ServiceTypes=Amarok/Plugin

X-KDE-Library=libamarok_collection-iphoneoscollection

X-KDE-Amarok-authors=Martin Aumueller
X-KDE-Amarok-email=aumuell@reserv.at
X-KDE-Amarok-framework-version=46
X-KDE-Amarok-name=iphoneos-collection
X-KDE-Amarok-plugintype=collection
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1
