[Desktop Entry]
Name=Current Track
Name[bg]=Текущ запис
Name[ca]=Peça actual
Name[ca@valencia]=Peça actual
Name[cs]=Aktuální stopa
Name[csb]=Biéżny sztëczk
Name[da]=Aktuelt spor
Name[de]=Aktuelles Stück
Name[el]=Τρέχον κομμάτι
Name[en_GB]=Current Track
Name[es]=Pista actual
Name[et]=Aktiivne pala
Name[eu]=Uneko pista
Name[fi]=Soiva kappale
Name[ga]=An tAmhrán Reatha
Name[hu]=Jelenlegi szám
Name[is]=Núverandi lag
Name[it]=Traccia attuale
Name[ja]=現在のトラック
Name[km]=​បទ​បច្ចុប្បន្ន
Name[ko]=현재 곡
Name[lt]=Dabartinė daina
Name[lv]=Aktīvais celiņš
Name[nb]=Gjeldende spor
Name[nds]=Aktuell Stück
Name[nl]=Huidige track
Name[nn]=Gjeldande spor
Name[pa]=ਮੌਜੂਦਾ ਟਰੈਕ
Name[pl]=Bieżący utwór
Name[pt]=Faixa Actual
Name[pt_BR]=Faixa Atual
Name[ro]=Pista curentă
Name[ru]=Текущая дорожка
Name[sk]=Aktuálna skladba
Name[sl]=Trenutna skladba
Name[sr]=Тренутна нумера
Name[sr@ijekavian]=Тренутна нумера
Name[sr@ijekavianlatin]=Trenutna numera
Name[sr@latin]=Trenutna numera
Name[sv]=Aktuellt spår
Name[th]=แทร็กปัจจุบัน
Name[tr]=Geçerli Parça
Name[uk]=Поточна композиція
Name[wa]=Boket do moumint
Name[x-test]=xxCurrent Trackxx
Name[zh_CN]=当前音轨
Name[zh_TW]=現在的曲目
Type=Service
Icon=current-track-amarok
ServiceTypes=Plasma/Applet

X-KDE-Library=amarok_context_applet_currenttrack
X-KDE-PluginInfo-Author=Leo Franchi
X-KDE-PluginInfo-Email=lfranchi@gmail.com
X-KDE-PluginInfo-Name=currenttrack
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=amarok
X-KDE-PluginInfo-Category=Current

