[Desktop Entry]
Type=Service
Name=Universal Mass Storage Collection
Name[bg]=Колекция Universal Mass Storage
Name[ca]=Col·lecció d'emmagatzematge en massa universal
Name[da]=Universal Mass Storage-samling
Name[de]=Universelle Massenspeicher-Sammlung
Name[es]=Colección universal de almacenamiento masivo
Name[et]=Universaalse massmäluseadme kogu
Name[is]=Universal Mass Storage safn
Name[it]=Collezione universale di memorizzazione di massa
Name[nb]=Universell masselagersamling
Name[nds]=Allmeen Bültspieker-Sammeln
Name[nn]=Universell masselagringssamling
Name[pl]=Kolekcja na urządzeniu danych
Name[pt]=Colecção de Armazenamento em Massa Universal
Name[pt_BR]=Coleção de Armazenamento Universal em Massa
Name[sr]=Збирка на универзалном масовном складишту
Name[sr@latin]=Zbirka na univerzalnom masovnom skladištu
Name[sv]=Samling på generell lagringsenhet
Name[tr]=Evrensel Yığın Depolama Koleksiyonu
Name[uk]=Універсальна збірка на носії даних
Name[x-test]=xxUniversal Mass Storage Collectionxx
Name[zh_CN]=通用大容量存储收藏

ServiceTypes=Amarok/Plugin

X-KDE-Library=amarok_collection-umscollection

X-KDE-Amarok-authors=Alejandro Wainzinger
X-KDE-Amarok-email=aikawarazuni@gmail.com
X-KDE-Amarok-framework-version=48
X-KDE-Amarok-name=ums-collection
X-KDE-Amarok-plugintype=collection
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1
