[Desktop Entry]
Type=Service
Name=Universal Mass Storage Collection
Name[pt]=Colecção de Armazenamento em Massa Universal
Name[pt_BR]=Colecção de Armazenamento em Massa Universal
Name[sv]=Samling på generell lagringsenhet
Name[tr]=Evrensel Yığın Depolama Koleksiyonu
Name[uk]=Універсальна збірка на носії даних
Name[x-test]=xxUniversal Mass Storage Collectionxx

ServiceTypes=Amarok/Plugin

X-KDE-Library=libamarok_collection-umscollection

X-KDE-Amarok-authors=Alejandro Wainzinger
X-KDE-Amarok-email=aikawarazuni@gmail.com
X-KDE-Amarok-framework-version=46
X-KDE-Amarok-name=ums-collection
X-KDE-Amarok-plugintype=collection
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1
