[Desktop Entry]
Type=Service
Name=Media Device Collection
Name[be]=Калекцыя медыяпрылады
Name[bg]=Колекция на медийните устройства
Name[ca]=Col·lecció de dispositius de suports
Name[cs]=Kolekce zařízení médií
Name[csb]=Kòlekcëjô ùrządzenia medium
Name[da]=Medieenhedssamling
Name[de]=Media-Player-Sammlung
Name[el]=Συλλογή συσκευών πολυμέσων
Name[es]=Colección de dispositivo de medios
Name[et]=Meediaseadme kogu
Name[eu]=Multimedia gailuko bilduma
Name[fi]=Mediasoitinkokoelma
Name[fr]=Collection « périphérique de média »
Name[ga]=Bailiúchán Gléis Meán
Name[gl]=Colección de dispositivos de medios
Name[he]=אוסף התקן מדיה
Name[hne]=मीडिया उपकरन संग्रह
Name[is]=Ferðatækjasafn
Name[it]=Collezione dispositivo multimediale
Name[ja]=メディアデバイスコレクション
Name[km]=ការ​សម្រាំង​ឧបករណ៍​មេឌៀ
Name[ko]=미디어 장치 모음집
Name[ku]=Berhevoka Cîhazên Medya ji bo Amarok
Name[lt]=Muzikos įrenginio fonoteka
Name[lv]=Multivides ierīces kolekcija
Name[nb]=Media Device samling
Name[nds]=Medienreedschap-Sammeln
Name[nl]=Media-apparaatcollectie
Name[nn]=Medieeiningssamling
Name[pa]=ਮੀਡਿਆ ਜੰਤਰ ਭੰਡਾਰ
Name[pl]=Kolekcja urządzenia mediów
Name[pt]=Colecção do Dispositivo Multimédia
Name[pt_BR]=Coleção de Dispositivo de Mídia
Name[ro]=Colecție dispozitiv media
Name[ru]=Коллекция переносного устройства
Name[sl]=Zbirka večpredstavnostne naprave
Name[sv]=Mediaenhetssamling
Name[th]=คลังดนตรีของอุปกรณ์เล่นสื่อ
Name[tr]=Ortam Aygıtı Koleksiyonu
Name[uk]=Збірка на носіях інформації
Name[wa]=Ramexhnêye d' éndjin media
Name[x-test]=xxMedia Device Collectionxx
Name[zh_CN]=媒体设备收藏
Name[zh_TW]=媒體裝置收藏
Comment=Media Device collection plugin for Amarok
Comment[be]=Утулка калекцыі медыяпрылады для Amarok
Comment[bg]=Приставка за колекцията на медийните устройства (Amarok)
Comment[ca]=Connector de col·leccions de dispositius de suports per a l'Amarok
Comment[cs]=Modul kolekce zařízení médií pro AmaroK
Comment[csb]=Wtëkôcz kòlekcëji ùrządzenia medium dlô Amaroka
Comment[da]=Plugin til medieenhedssamling til Amarok
Comment[de]=Media-Player-Sammlungsmodul für Amarok
Comment[el]=Πρόσθετο συλλογής συσκευών πολυμέσων για το AmaroK
Comment[es]=Complemento de la colección del dispositivo de medios para Amarok
Comment[et]=Amaroki meediaseadme kogu plugin
Comment[eu]=Amarok-en multimedia gailuko bilduma plugin-a
Comment[fi]=Amarokin mediasoitinkokoelmaliitännäinen
Comment[fr]=Module de collection « périphérique de média » pour Amarok
Comment[ga]=Breiseán bailiúchán Gléis Meán le haghaidh Amarok
Comment[gl]=Extensión de colección de dispositivos de medios para Amarok
Comment[he]=תוסף אוסף התקן מדיה ל־Amarok
Comment[hne]=अमाराक बर मीडिया उपकरन संग्रह प्लगइन
Comment[is]=Ferðatækjasafníforrit fyrir Amarok
Comment[it]=Plugin della collezione dispositivo multiimediale di Amarok
Comment[ja]=Amarok のためのメディアデバイスコレクションプラグイン
Comment[km]=កម្មវិធី​ជំនួយ​ការ​សម្រាំង​ឧបករណ៍​មេឌៀ​សម្រាប់ Amarok
Comment[ko]=Amarok의 미디어 장치 모음집 플러그인
Comment[ku]=Peveka Berhevoka Cîhazên Medya ji bo Amarok
Comment[lt]=Muzikos įrenginio fonotekos Amarok papildinys
Comment[lv]=Multivides ierīces kolekcijas Amarok spraudnis
Comment[nb]=Media Device-samling – programtillegg for Amarok
Comment[nds]=Medienreedschap-Sammelnmoduul för Amarok
Comment[nl]=Media-apparaatcollectieplugin voor Amarok
Comment[nn]=Amarok-samlingstillegg for medieeining
Comment[pa]=ਅਮਰੋਕ ਲਈ ਮੀਡਿਆ ਜੰਤਰ ਭੰਡਾਰ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka kolekcji mediów dla Amaroka
Comment[pt]=Um 'plugin' de colecção de dispositivos multimédia para o Amarok
Comment[pt_BR]=Plug-in de coleção de Dispositivo de Mídia para o Amarok
Comment[ro]=Modul de colecție dispozitiv media pentru Amarok
Comment[ru]=Модуль коллекции переносного устройства для Amarok
Comment[sl]=Vstavek za zbirko večpredstavnostne naprave za Amarok
Comment[sv]=Insticksprogram med mediaenhetssamling för Amarok
Comment[th]=ส่วนเสริมของแอมอะร็อก สำหรับจัดการคลังดนตรีของอุปกรณ์เล่นสื่อ
Comment[tr]=Amarok için Ortam Aygıtı koleksiyonu eklentisi
Comment[uk]=Додаток збірки на носіях інформації для Amarok
Comment[wa]=Tchôke-divins di ramexhnêye d' éndjin media po Amarok
Comment[x-test]=xxMedia Device collection plugin for Amarokxx
Comment[zh_CN]=Amarok 的媒体设备收藏插件
Comment[zh_TW]=Amarok 的媒體裝置收藏外掛程式

ServiceTypes=Amarok/Plugin

X-KDE-Library=libamarok_collection-mediadevicecollection

X-KDE-Amarok-authors=Alejandro Wainzinger
X-KDE-Amarok-email=aikawarazuni@gmail.com
X-KDE-Amarok-framework-version=46
X-KDE-Amarok-name=mediadevice-collection
X-KDE-Amarok-plugintype=collection
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1
