
[Desktop Entry]
Name=CoverGrid
Name[bg]=CoverGrid
Name[bs]=CoverGrid
Name[ca]=CoverGrid
Name[ca@valencia]=CoverGrid
Name[cs]=CoverGrid
Name[da]=CoverGrid
Name[de]=CoverGrid
Name[el]=CoverGrid
Name[en_GB]=CoverGrid
Name[es]=CoverGrid
Name[et]=CoverGrid
Name[eu]=Azalen matrizea
Name[fi]=KansikuvaRuudukko
Name[fr]=CoverGrid
Name[ga]=CoverGrid
Name[gl]=CoverGrid
Name[hu]=Borítórács
Name[id]=Sampul Kisi
Name[it]=CoverGrid
Name[ja]=CoverGrid
Name[ka]=CoverGrid
Name[km]=CoverGrid
Name[ko]=격자 표지
Name[lt]=CoverGrid
Name[lv]=CoverGrid
Name[nb]=Omslagsrute
Name[nl]=CoverGrid
Name[pl]=CoverGrid
Name[pt]=Grelha de Capas
Name[pt_BR]=Grade de capas
Name[ro]=CoverGrid
Name[ru]=Все обложки
Name[sk]=CoverGrid
Name[sl]=CoverGrid
Name[sr]=Омотоплет
Name[sr@ijekavian]=Омотоплет
Name[sr@ijekavianlatin]=Omotoplet
Name[sr@latin]=Omotoplet
Name[sv]=Omslagsrutnät
Name[tr]=CoverGrid
Name[uk]=CoverGrid
Name[x-test]=xxCoverGridxx
Name[zh_CN]=封面网格
Name[zh_TW]=CoverGrid
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=amarok_context_applet_covergrid
X-KDE-PluginInfo-Author=manuw2009
X-KDE-PluginInfo-Email=manu.wagner@sfr.fr
X-KDE-PluginInfo-Name=covergrid
X-KDE-PluginInfo-Version=0.10
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=amarok
X-KDE-PluginInfo-Category=Current
