[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KPluginInfo
Icon=amarok_download
Name=Ampache Service
Comment=Service plugin for Amarok


ServiceTypes=Amarok/Plugin

X-KDE-Library=libamarok_service-ampache

X-KDE-Amarok-authors=Nikolaj Hald Nielsen
X-KDE-Amarok-email=nhnFreespirit@gmail.com
X-KDE-Amarok-framework-version=30
X-KDE-Amarok-name=AmpacheService
X-KDE-Amarok-plugintype=service
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1

X-KDE-PluginInfo-Author=Nikolaj Hald Nielsen
X-KDE-PluginInfo-Email=nhnFreespirit@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=libamarok_service-ampache
X-KDE-PluginInfo-Name=libamarok_service-ampache