[Desktop Entry]
Encoding=UTF-8
Name=Scripted Applet
Name[bg]=Скриптов аплет
Name[el]=Μικροεφαρμογή σεναρίου
Name[et]=Skriptikeeles aplett
Name[ga]=Feidhmchláirín Scriptithe
Name[nds]=Lüttprogramm-Skript
Name[nl]=Applet met script
Name[pt]='Applet' Programada
Name[pt_BR]='Applet' Programada
Name[sv]=Miniprogram med skript
Name[uk]=Аплет зі скриптами
Type=Service
ServiceTypes=Plasma/Applet
Icon=chronometer
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
X-KDE-PluginInfo-Author=Leo Franchi
X-KDE-PluginInfo-Email=lfranchi@kde.org
X-KDE-PluginInfo-Name=scriptedsample
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://amarok.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=amarok
