[Desktop Entry]
Encoding=UTF-8
Name=Scripted Applet
Name[bg]=Скриптов аплет
Name[ca]=Miniaplicació d'scripts
Name[csb]=Skriptowi aplet
Name[da]=Script-drevet applet
Name[de]=Skript-Miniprogramm
Name[el]=Μικροεφαρμογή σεναρίου
Name[es]=Miniaplicación de complemento
Name[et]=Skriptikeeles aplett
Name[eu]=Miniaplikazioaren script-a
Name[fi]=Komentosarjasovelma
Name[ga]=Feidhmchláirín Scriptithe
Name[it]=Applet basata su script
Name[ja]=スクリプトによるアプレット
Name[km]=អាប់ភ្លេត​​ដែលមាន​ស្គ្រីប
Name[ko]=스크립트를 사용하는 애플릿
Name[nb]=Skriptet miniprogram
Name[nds]=Lüttprogramm-Skript
Name[nl]=Applet met script
Name[nn]=Skripta element
Name[pa]=ਸਕ੍ਰਿਪਟਡ ਐਪਲਿਟ
Name[pl]=Aplet skryptowy
Name[pt]='Applet' Programada
Name[pt_BR]=Miniaplicativo de Script
Name[ro]=Miniaplicație scriptată
Name[ru]=Аплет сценариев
Name[sl]=Gradnik skripta
Name[sv]=Miniprogram med skript
Name[tr]=Betiklenmiş Programcık
Name[uk]=Аплет зі скриптами
Name[wa]=Aplikete sicriptêye
Name[x-test]=xxScripted Appletxx
Name[zh_TW]=文稿小程式
Type=Service
ServiceTypes=Plasma/Applet
Icon=chronometer
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
X-KDE-PluginInfo-Author=Leo Franchi
X-KDE-PluginInfo-Email=lfranchi@kde.org
X-KDE-PluginInfo-Name=scriptedsample
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://amarok.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=amarok
