[Desktop Entry]
Name=Amarok-Context-QML-Package
Name[bg]=Amarok-Context-QML-Package
Name[ca]=Amarok-Context-QML-Package
Name[ca@valencia]=Amarok-Context-QML-Package
Name[cs]=Balíček QML - Amarok Kontext
Name[da]=Amarok kontekst-QML-pakke
Name[de]=Amarok-Kontext-QML-Miniprogramm
Name[el]=Amarok-Context-QML-Package
Name[en_GB]=Amarok-Context-QML-Package
Name[eo]=Amarok-Context-QML-Pako
Name[es]=Pquete QML para contexto de Amarok
Name[et]=Amaroki konteksti QML-pakett
Name[eu]=Amarok-Testuinguru-QML-Paketea
Name[fi]=Amarok-konteksti-QML-paketti
Name[fr]=Amarok-Context-QML-Package
Name[gl]=Paquete de QML de contexto de Amarok
Name[hu]=Amarok kontextus QML-csomag
Name[id]=Paket QML Konteks Amarok
Name[it]=Amarok-Context-QML-Package
Name[ka]=Amarok-Context-QML-Package
Name[ko]=Amarok-Context-QML-패키지
Name[nl]=Amarok-context-QML-pakket
Name[pl]=Pakiet Kontekstu QML Amaroka
Name[pt]=Pacote-QML-Contexto-Amarok
Name[pt_BR]=Pacote-QML-Contexto-Amarok
Name[sk]=Amarok-Context-QML-Package
Name[sl]=QML paket za Amarokovo vsebino
Name[sv]=QML-sammanhangsminiprogram för Amarok
Name[tr]=Amarok-Context-QML-Package
Name[uk]=Пакунок QML контексту для Amarok
Name[zh_CN]=Amarok 信息视图的 QML 包
Name[zh_TW]=Amarok-Context-QML-Package
Comment=QML base package for amarok context area
Comment[bg]=QML base package за amarok context area
Comment[ca]=Paquet QML base per a l'àrea de context de l'Amarok
Comment[ca@valencia]=Paquet QML base per a l'àrea de context d'Amarok
Comment[cs]=Základní balíček QML pro kontextovou oblast Amaroku
Comment[da]=QML basispakke til Amaroks kontekstområde
Comment[de]=QML-Basispaket für Amarok-Kontextbereich
Comment[el]=Πακέτο QML βάσης για την περιοχή περιεχομένου του amarok
Comment[en_GB]=QML base package for amarok context area
Comment[eo]=QML-baza pako por amarok-kunteksta areo
Comment[es]=Paquete QML base para el área de contexto de Amarok
Comment[et]=QML baaspakett Amaroki kontekstialale
Comment[eu]=Amarok-en testuinguru eremurako oinarrizko QML paketea
Comment[fi]=QML-pohjapaketti Amarokin kontekstialueelle
Comment[fr]=Paquet reposant sur « QML » de la zone de contexte pour Amarok
Comment[gl]=Paquete base de QML para a zona de contexto de Amarok.
Comment[hu]=QML alapcsomag az Amarok kontextusterülethez
Comment[id]=Paket dasar QML untuk area konteks amarok
Comment[it]=Pacchetto base QML per area di contesto di amarok
Comment[ka]=QML-ის საბაზისო პაკეტი Amarok-ის კონტექსტის ფართობისთვის
Comment[ko]=Amarok 콘텍스트 영역에 대한 QML 기본 패키지
Comment[nl]=Op QML gebaseerd pakket voor amarok-contextgebied
Comment[pl]=Pakiet podstawowy QML dla obszaru kontekstowego Amaroka
Comment[pt]=Pacote de base do QML para a área de contexto do Amarok
Comment[pt_BR]=Pacote base do QML para a área de contexto do Amarok
Comment[sk]=Základný balík QML pre kontextovú oblasť amarok
Comment[sl]=Osnovni paket QML za amarokovo okolje
Comment[sv]=QML-baspaket för Amaroks sammanhangsområde
Comment[tr]=Amarok bağlam alanı için QML temel paketi
Comment[uk]=Базовий пакунок QML для області контексту Amarok
Comment[zh_CN]=Amarok 信息视图区域的 QML 基础包
Comment[zh_TW]=Amarok 內容區塊的 QML 基本軟體包
Type=Service
Icon=amarok
X-KDE-PluginInfo-Author=Malte Veerman
X-KDE-PluginInfo-Email=malte.veerman@gmail.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.amarok.context
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=KPackage/Generic
