[Desktop Entry]
Name=Amarok-Context-QML-Package
Name[ca]=Amarok-Context-QML-Package
Name[ca@valencia]=Amarok-Context-QML-Package
Name[cs]=Balíček QML - Amarok Kontext
Name[de]=Amarok-Kontext-QML-Miniprogramm
Name[en_GB]=Amarok-Context-QML-Package
Name[es]=Pquete QML para contexto de Amarok
Name[fr]=Amarok-Context-QML-Package
Name[gl]=Paquete de QML de contexto de Amarok
Name[id]=Paket QML Konteks Amarok
Name[it]=Amarok-Context-QML-Package
Name[nl]=Amarok-context-QML-pakket
Name[pl]=Pakiet Kontekstu QML Amaroka
Name[pt]=Pacote-QML-Contexto-Amarok
Name[sv]=QML-sammanhangsminiprogram för Amarok
Name[uk]=Пакунок QML контексту для Amarok
Name[x-test]=xxAmarok-Context-QML-Packagexx
Comment=QML base package for amarok context area
Comment[ca]=Paquet QML base per a l'àrea de context de l'Amarok
Comment[ca@valencia]=Paquet QML base per a l'àrea de context de l'Amarok
Comment[cs]=Základní balíček QML pro kontextovou oblast Amaroku
Comment[de]=QML-Basispaket für Amarok-Kontextbereich
Comment[en_GB]=QML base package for amarok context area
Comment[es]=Paquete QML base para el área de contexto de Amarok
Comment[fr]=Paquet QML de base pour l'espace de contexte d'amarok
Comment[gl]=Paquete base de QML para a zona de contexto de Amarok.
Comment[id]=Paket dasar QML untuk area konteks amarok
Comment[it]=Pacchetto base QML per area di contesto di amarok
Comment[nl]=Op QML gebaseerd pakket voor amarok-contextgebied
Comment[pl]=Pakiet podstawowy QML dla obszaru kontekstowego Amaroka
Comment[pt]=Pacote de base do QML para a área de contexto do Amarok
Comment[sv]=QML-baspaket för Amaroks sammanhangsområde
Comment[uk]=Базовий пакунок QML для області контексту Amarok
Comment[x-test]=xxQML base package for amarok context areaxx
Type=Service
Icon=amarok
X-KDE-PluginInfo-Author=Malte Veerman
X-KDE-PluginInfo-Email=malte.veerman@gmail.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.amarok.context
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=KPackage/Generic
