[Desktop Entry]
Name=Bookmark Manager
Name[cs]=Správce záložek
Name[et]=Järjehoidjate haldur
Name[gl]=Xestor de marcadores
Name[km]=កម្មវិធី​គ្រប់គ្រង​ចំណាំ
Name[nds]=Leestekenpleger
Name[nl]=Bladwijzerbeheerder
Name[pl]=Manager zakładek
Name[pt]=Gestor de Favoritos
Name[pt_BR]=Gestor de Favoritos
Name[sv]=Bokmärkeshantering
Name[th]=เครื่องมือแก้ไขที่คั่นหน้าของแอมอะร็อก
Name[tr]=Yer İmleri Yöneticisi
Name[uk]=Інструмент керування закладками
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=amarok_context_applet_bookmark
X-KDE-PluginInfo-Author=Nikolaj Hald Nielsen
X-KDE-PluginInfo-Email=nhnFreespirit@gmail.com
X-KDE-PluginInfo-Name=bookmark
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=amarok
X-KDE-PluginInfo-Category=Current

