[Desktop Entry]
Name=Bookmarks
Name[bg]=Отметки
Name[ca]=Punts
Name[csb]=Załóżczi
Name[da]=Bogmærker
Name[de]=Lesezeichen
Name[el]=Σελιδοδείκτες
Name[es]=Marcadores 
Name[et]=Järjehoidjad
Name[eu]=Laster-markak
Name[fi]=Kirjanmerkit
Name[ga]=Leabharmharcanna
Name[it]=Segnalibri
Name[ja]=ブックマーク
Name[km]=​ចំណាំ
Name[mai]=पुस्तकचिह्न
Name[nb]=Bokmerker
Name[nds]=Leestekens
Name[nl]=Bladwijzers
Name[nn]=Bokmerke
Name[pa]=ਬੁੱਕਮਾਰਕ
Name[pl]=Zakładki
Name[pt]=Favoritos
Name[pt_BR]=Favoritos
Name[ro]=Semne de carte
Name[ru]=Закладки
Name[sl]=Zaznamki
Name[sv]=Bokmärken
Name[tr]=Yer İmleri
Name[uk]=Закладки
Name[wa]=Rimåkes
Name[x-test]=xxBookmarksxx
Name[zh_TW]=書籤
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=amarok_context_applet_bookmark
X-KDE-PluginInfo-Author=Nikolaj Hald Nielsen
X-KDE-PluginInfo-Email=nhnFreespirit@gmail.com
X-KDE-PluginInfo-Name=bookmark
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=amarok
X-KDE-PluginInfo-Category=Current

