[Desktop Entry]
Icon=view-services-lastfm-amarok
Type=Service
ServiceTypes=Amarok/Plugin
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_amarok_service_lastfm
X-KDE-ParentApp=amarok_service_lastfm
X-KDE-ParentComponents=amarok_service_lastfm

Name=Last.fm Service Config
Name[be]=Настаўленне сервісу Last.fm
Name[bg]=Настройване на Last.fm
Name[ca]=Configuració del servei last.fm
Name[cs]=Nastavení služby last.fm
Name[csb]=Kònfigùrator serwisu Last.fm
Name[da]=Konfiguration af Last.fm-tjeneste
Name[de]=Einrichtung von Last.fm
Name[el]=Ρύθμιση της υπηρεσίας Last.fm
Name[eo]=Last.fm Serva Agordo
Name[es]=Configurar servicio Last.fm
Name[et]=Last.fm-i teenuse seadistamine
Name[eu]=Last.fm zerbitzuaren konfigurazioa
Name[fi]=Last.fm-palvelumääritykset
Name[fr]=Configuration du service Last.fm
Name[ga]=Cumraíocht Sheirbhís Last.fm
Name[gl]=Configuración do servizo Last.fm
Name[he]=הגדרת שירות Last.fm
Name[hne]=लास्ट.एफएम सेवा कान्फिग
Name[is]=Stillingar Last.fm þjónustu
Name[it]=Configurazione servizio Last.fm
Name[ja]=Last.fm サービスの設定
Name[km]=កំណត់​រចនាសម្ព័ន្ធ​​សេវា Last.fm
Name[ko]=Last.fm 서비스 설정
Name[ku]=Veavakirina Servisa Last.fm
Name[lt]=Last.fm tarnybos parinktys
Name[lv]=Last.gm pakalpojuma konfigurācija
Name[nb]=Innstillinger for last.fm
Name[nds]=Last.fm-Deenstinstellen
Name[nl]=Last.fm-dienst instellen
Name[nn]=Set opp Last.fm-teneste
Name[pa]=Last.fm ਸਰਵਿਸ ਸੰਰਚਨਾ
Name[pl]=Konfiguracja usługi Last.fm
Name[pt]=Configuração do Serviço do Last.fm
Name[pt_BR]=Configuração do Serviço Last.fm
Name[ro]=Configurare serviciu Last.fm
Name[ru]=Настройка службы Last.fm
Name[sl]=Nastavitev storitve Last.fm
Name[sv]=Inställning av Last.fm-tjänst
Name[th]=ปรับแต่งบริการ Last.fm
Name[tr]=Last.fm Hizmet Yapılandırması
Name[uk]=Налаштування служби Last.fm
Name[wa]=Apontiaedje do siervice Last.fm
Name[x-test]=xxLast.fm Service Configxx
Name[zh_CN]=Last.fm 服务配置
Name[zh_TW]=Last.fm 服務設定
Comment=Set up Last.fm username and password
Comment[bg]=Потребител и парола за Last.fm
Comment[ca]=Defineix el nom d'usuari i contrasenya del Last.fm
Comment[cs]=Nastavit uživatelské jméno a heslo pro last.fm
Comment[da]=Sæt brugernavn og adgangskode til Last.fm
Comment[de]=Einrichtung von Benutzername und Passwort für Last.fm
Comment[el]=Ορισμός του ονόματος χρήστη και κωδικού πρόσβασης του Last.fm
Comment[es]=Configura el nombre de usuario y la contraseña de Last.fm
Comment[et]=Last.fm-i kasutajanime ja parooli määramine
Comment[eu]=Ezarri Last.fm erabiltzaile-izen eta pasahitz
Comment[fi]=Määritä käyttäjätunnus ja salasana Last.fm-palveluun
Comment[fr]=Définir les nom d'utilisateur et mot de passe pour Last.fm
Comment[ga]=Socraigh ainm úsáideora agus focal faire Last.fm
Comment[gl]=Configura o nome de usuario e contrasinal de Last.fm
Comment[hne]=लास्ट.एफएम कमइया-नाम अउ पासवर्ड सेट करव
Comment[is]=Setja upp Last.fm notendanafn og lykilorð
Comment[it]=Configura nome utente e password Last.fm
Comment[ja]=Last.fm のユーザ名とパスワードを設定
Comment[km]=រៀបចំ​​ឈ្មោះ​អ្នក​ប្រើ និង​ពាក្យ​សម្ងាត់​របស់ Last.fm
Comment[ko]=Last.fm 사용자 이름과 암호 설정
Comment[ku]=Navê bikarhêner û şîfreya Last.fm ava bike
Comment[lt]=Nurodyti last.fm naudotojo vardą ir slaptažodį
Comment[lv]=Uzstādīt Last.fm lietotāja vārdu un paroli
Comment[nb]=Innstillinger for brukernavn og passord i last.fm
Comment[nds]=Brukernaam un Passwoort för Last.fm fastleggen
Comment[nl]=Stel de gebruikersnaam en het wachtwoord voor Last.fm in
Comment[nn]=Set opp brukarnamn og passord til Last.fm
Comment[pa]=Last.fm ਯੂਜ਼ਰ ਨਾਂ ਅਤੇ ਪਾਸਵਰਡ ਸੈੱਟ ਕਰੋ
Comment[pl]=Ustaw nazwę użytkownika i hasło Last.fm
Comment[pt]=Configurar o utilizador e a senha do Last.fm
Comment[pt_BR]=Configurar o nome de usuário e senha do Last.fm
Comment[ro]=Configurează utilizatorul și parola Last.fm
Comment[ru]=Укажите имя пользователя Last.fm и пароль
Comment[sl]=Nastavite uporabniško ime in geslo za Last.fm
Comment[sv]=Ställ in Last.fm användarnamn och lösenord
Comment[th]=ตั้งค่าชื่อผู้ใช้และรหัสผ่านของบริการ Last.fm
Comment[tr]=Last.fm kullanıcı adı ve parolasını ayarla
Comment[uk]=Встановіть назву користувача і пароль Last.fm
Comment[wa]=Apontyî no d' uzeu eyet sicret di Last.fm
Comment[x-test]=xxSet up Last.fm username and passwordxx
Comment[zh_CN]=设置 Last.fm 的用户名和密码
Comment[zh_TW]=設定 Last.fm 的使用者名稱與密碼
