[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=aKode Engine
Name[el]=Μηχανή aKode
ServiceTypes=Amarok/Plugin
X-KDE-Library=libamarok_aKode-engine
Comment=aKode audio-engine for Amarok
Comment[el]=Μηχανή ήχου aKode για το AmaroK

X-KDE-Amarok-plugintype=engine
X-KDE-Amarok-name=akode-engine
X-KDE-Amarok-authors=Allan Sandfeld, Max Howell
X-KDE-Amarok-email=kde@carewolf.com
X-KDE-Amarok-rank=0
X-KDE-Amarok-version=1
X-KDE-Amarok-framework-version=30

