[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=aKode Engine
Name[af]=aKode Enjin
Name[ar]=محرك aKode
Name[bg]=aKode
Name[bn]=অ্যাকোড ইঞ্জিন
Name[br]=Keflusker aKode
Name[ca]=Motor aKode
Name[cs]=aKode
Name[da]=aKode-motor
Name[de]=aKode
Name[el]=Μηχανή aKode
Name[eo]=aKode Ilo
Name[es]=Motor aKode
Name[et]=aKode mootor
Name[fa]=موتور aKode
Name[fi]=aKode
Name[fr]=Moteur aKode
Name[ga]=Inneall aKode
Name[gl]=Motor aKode
Name[he]=מנוע שמע aKode
Name[hu]=aKode alrendszer
Name[is]=aKode vél
Name[it]=Motore aKode
Name[ja]=aKode エンジン
Name[ka]=aKode ძრავა
Name[km]=ម៉ាស៊ីន aKode
Name[lt]=aKode variklis
Name[mk]=aKode-машина
Name[ms]=Enjin aKode
Name[nb]=aKode-motor
Name[nds]=aKode
Name[ne]=एकोड इन्जिन
Name[nl]=aKode-engine
Name[nn]=aKode-motor
Name[pa]=aKode ਇੰਜਣ
Name[pl]=Wyjście aKode
Name[pt]=Motor aKode
Name[pt_BR]=Mecanismo aKode
Name[ru]=aKode
Name[se]=aKode-mohtor
Name[sl]=Pogon aKode
Name[sq]=Motor aKode
Name[sr]=Мотор aKode
Name[sr@Latn]=Motor aKode
Name[ss]=Motor aKode
Name[sv]=aKode-gränssnitt
Name[ta]=aKode என்ஜின்
Name[tg]=Муҳаррики aKode
Name[tr]=aKode Motoru
Name[uk]=Рушій aKode
Name[uz]=aKode tizimi
Name[uz@cyrillic]=aKode тизими
Name[wa]=Éndjin aKode
Name[zh_CN]=aKode 引擎
Name[zh_TW]=aKode 解碼引擎
ServiceTypes=Amarok/Plugin
X-KDE-Library=libamarok_aKode-engine
Comment=aKode audio-engine for Amarok
Comment[af]=aKode oudio enjin vir Amarok
Comment[ar]=محرك صوتي aKode ل- AmaroK
Comment[bg]=Аудио система aKode за Amarok
Comment[bn]=আমারক-এর জন্য অ্যাকোড অডিও ইঞ্জিন
Comment[br]=Keflusker klevet aKode evit Amarok
Comment[ca]=Motor de so aKode per l'Amarok
Comment[cs]=Zvukový modul aKode pro Amarok
Comment[da]=aKode lyd-motor for Amarok
Comment[de]=aKode-Ausgabe-Modul für Amarok
Comment[el]=Μηχανή ήχου aKode για το AmaroK
Comment[eo]=aKode aŭdmotoro por Amarok
Comment[es]=Motor de audio aKode para Amarok
Comment[et]=Amaroki aKode audiomootor
Comment[fa]=موتور صوتی aKode برای Amarok
Comment[fi]=aKode-toistojärjestelmä Amarok-liitännäinen
Comment[fr]=Moteur audio aKode pour Amarok
Comment[ga]=Inneall fuaime aKode le haghaidh AmaroK
Comment[gl]=Motor de áudio aKode para Amarok
Comment[hu]=aKode hang-alrendszer az Amarokhoz
Comment[is]=aKode hljóðvél fyrir Amarok
Comment[it]=motore audio aKode per Amarok
Comment[ja]=Amarok のための aKode オーディオエンジン
Comment[ka]=aKode აუდიო ძრავი Amarok-ისთვის
Comment[km]=ម៉ាស៊ីន​អូឌីយ៉ូ aKode សម្រាប់ Amarok
Comment[lt]=Amarok skirtas aKode audio variklis
Comment[mk]=aKode аудио-машина за Амарок
Comment[ms]=Enjin-audio aKode untuk Amarok
Comment[nb]=aKode lydmotor for Amarok
Comment[nds]=aKode-Klangmaschien för Amarok
Comment[ne]=अमारोकका लागि एकोड अडियो इन्जिन
Comment[nl]=aKode audio-engine voor Amarok
Comment[nn]=aKode lydmotor for Amarok
Comment[pa]=ਅਮਰੋਕ ਲਈ aKode ਆਡੀਓ-ਇੰਜਣ
Comment[pl]=Wtyczka wyjścia audio aKode dla Amaroka
Comment[pt]=Motor de áudio do aKode para o Amarok
Comment[pt_BR]=Mecanismo de áudio aKode para o Amarok
Comment[ru]=Модуль вывода aKode для amaroK
Comment[se]=aKode jietnamohtor Amarok:ii
Comment[sk]=aKode audio-engine pre Amarok
Comment[sr]=Аудио мотор aKode за Amarok
Comment[sr@Latn]=Audio motor aKode za Amarok
Comment[sv]=aKode ljudgränssnitt för Amarok
Comment[th]=โปรแกรมประมวลผลเสียง aKode สำหรับ Amarok
Comment[tr]=Amarok için aKode ses-motoru eklentisi
Comment[uk]=Аудіо-рушій aKode для Amarok
Comment[uz]=Amarok uchun aKode audio-tizimi
Comment[uz@cyrillic]=Amarok учун aKode аудио-тизими
Comment[wa]=Éndjin d' son aKode po-z Amarok
Comment[zh_CN]=Amarok 的 aKode 音频引擎
Comment[zh_TW]=AmaroK 的 aKode 解碼引擎

X-KDE-Amarok-plugintype=engine
X-KDE-Amarok-name=akode-engine
X-KDE-Amarok-authors=Allan Sandfeld, Max Howell
X-KDE-Amarok-email=kde@carewolf.com
X-KDE-Amarok-rank=0
X-KDE-Amarok-version=1
X-KDE-Amarok-framework-version=32

