[Desktop Entry]
Type=Service
Name=aKode Engine
Name[bg]=Система aKode
Name[bn]=aKode ইঞ্জিন
Name[br]=Keflusker aKode
Name[cs]=aKode
Name[da]=aKode-motor
Name[de]=aKode
Name[el]=Μηχανή aKode
Name[es]=Motor aKode
Name[et]=aKode mootor
Name[fi]=aKode
Name[fr]=Moteur aKode
Name[ga]=Inneall aKode
Name[he]=מנוע שמע aKode
Name[is]=aKode vél
Name[it]=Motore aKode
Name[ja]=aKodeエンジン
Name[km]=ម៉ាស៊ីន aKode
Name[nb]=aKode-motor
Name[nl]=aKode-engine
Name[pa]=aKode ਇੰਜਣ
Name[pl]=Wyjście aKode
Name[pt]=Motor aKode
Name[pt_BR]=Mecanismo aKode
Name[ru]=aKode
Name[sl]=Pogon aKode
Name[sr]=Мотор aKode
Name[sr@Latn]=Motor aKode
Name[sv]=aKode-gränssnitt
Name[ta]=aKode என்ஜின்
Name[tg]=Муҳаррики aKode
Name[uk]=Рушій aKode
Name[uz]=aKode тизими
Name[xx]=xxaKode Enginexx
Name[zh_CN]=aKode 引擎
Name[zh_TW]=aKode 解碼引擎
ServiceTypes=amaroK/Plugin
X-KDE-Library=libamarok_aKode-engine
Comment=aKode audio-engine for amaroK
Comment[bg]=Аудио система aKode за amaroK
Comment[bn]=আমারক-এর জন্য aKode অডিও ইঞ্জিন
Comment[br]=Keflusker klevet aKode evit amaroK
Comment[cs]=Zvukový modul aKode pro amaroK
Comment[da]=aKode lyd-motor for amaroK
Comment[de]=aKode-Ausgabe-Modul für amaroK
Comment[el]=Μηχανή ήχου aKode για το amaroK
Comment[es]=motor de audio aKode para amaroK
Comment[et]=AmaroKi aKode audiomootor
Comment[fi]=aKode amaroKia varten
Comment[fr]=Moteur audio aKode pour amaroK
Comment[ga]=Inneall fuaime aKode le haghaidh amaroK
Comment[he]=מנוע שמע aKode עבור amaroK
Comment[is]=aKode hljóðvél fyrir amaroK
Comment[it]=motore audio aKode per amaroK
Comment[ja]=amaroK用aKodeオーディオエンジン
Comment[km]=ម៉ាស៊ីន​អូឌីយ៉ូ aKode សម្រាប់ amaroK
Comment[mk]=aKode аудио-машина за amaroK
Comment[nb]=aKode lydmotor for amaroK
Comment[nl]=aKode audio-engine voor amaroK
Comment[pa]=ਅਮਰੋਕ ਲਈ aKode ਆਡੀਓ-ਇੰਜਣ
Comment[pl]=Wtyczka wyjścia audio aKode dla amaroK-a
Comment[pt]=Motor de áudio do aKode para o amaroK
Comment[pt_BR]=Mecanismo de áudio aKode para o amaroK
Comment[ru]=Модуль вывода aKode для amaroK
Comment[sl]=Zvočni pogon aKode za amaroK
Comment[sr]=Аудио мотор aKode за amaroK
Comment[sr@Latn]=Audio motor aKode za amaroK
Comment[sv]=aKode ljudgränssnitt för amaroK
Comment[ta]=amaroK க்கான aKode கேட்பொலி என்ஜின்
Comment[tg]=Муҳаррики аудио aKode барои амароK
Comment[uk]=Аудіо-рушій aKode для amaroK
Comment[uz]=amaroK учун товуш тизими
Comment[xx]=xxaKode audio-engine for amaroKxx
Comment[zh_CN]=amaroK 的 aKode 音频引擎
Comment[zh_TW]=amaroK 的 aKode 音訊解碼引擎

X-KDE-amaroK-plugintype=engine
X-KDE-amaroK-name=akode-engine
X-KDE-amaroK-authors=Allan Sandfeld, Max Howell
X-KDE-amaroK-email=kde@carewolf.com
X-KDE-amaroK-rank=0
X-KDE-amaroK-version=1
X-KDE-amaroK-framework-version=23

