[Desktop Entry]
Type=Service
Name=File System Media Device
Name[bg]=Устройство за файлова система
Name[ca]=Dispositiu de mitjans de sistema de fitxers
Name[da]=Filsystem-medieenhed
Name[de]=Dateisystem-Media-Player
Name[el]=Συσκευή πολυμέσων συστήματος αρχείων
Name[et]=Failisüsteemi meediaseade
Name[fi]=Tiedostojärjestelmämedialaite
Name[fr]=Système de fichiers du périphérique de média
Name[ga]=Gléas Meán Chóras Comhad
Name[gl]=Sistema de Ficheiro de Dispositivo de Médios
Name[it]=Filesystem dispositivo multimediale
Name[ja]=ファイルシステム メディアデバイス
Name[ka]=ფაილური სისტემა მედია მოწყობილობა
Name[km]=ឧបករណ៍​មេឌៀ​របស់​ប្រព័ន្ធ​ឯកសារ
Name[nl]=Bestandssysteem media-apparaat
Name[pa]=ਫਾਇਲ ਸਿਸਟਮ ਮੀਡਿਆ ਜੰਤਰ
Name[pl]=Urządzenie systemu plików jako nośnika danych
Name[pt]=Dispositivo Multimédia de Sistema de Ficheiros
Name[pt_BR]=Sistema de Arquivos do Dispositivo de Mídia
Name[ru]=Переносное устройство
Name[sr]=Мултимедијални уређај са системом фајлова
Name[sr@Latn]=Multimedijalni uređaj sa sistemom fajlova
Name[sv]=Mediaenhet med filsystem
Name[uk]=Пристрій носія файлової системи
Name[xx]=xxFile System Media Devicexx
Name[zh_CN]=文件系统媒体设备
ServiceTypes=Amarok/Plugin

X-KDE-Library=libamarok_fs-mediadevice
X-KDE-Amarok-plugintype=mediadevice
X-KDE-Amarok-name=fs-mediadevice
X-KDE-Amarok-authors=Amarok Team & Others
X-KDE-Amarok-email=amarok-devel@lists.sourceforge.net
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1
X-KDE-Amarok-framework-version=25
