[Desktop Entry]
Type=Service
Name=iRiver iFP media device
X-KDE-Library=libamarok_ifp-mediadevice
Comment=Plugin for amaroK
ServiceTypes=amaroK/Plugin

X-KDE-amaroK-plugintype=mediadevice
X-KDE-amaroK-name=ifp-mediadevice
X-KDE-amaroK-authors=Seb Ruiz
X-KDE-amaroK-email=me@sebruiz.net
X-KDE-amaroK-rank=100
X-KDE-amaroK-version=1
X-KDE-amaroK-framework-version=16
