[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=iRiver iFP Media Device
Name[af]=iRiver iFP media toestel
Name[ar]=جهاز اخراج وسائط iRiver iFP
Name[bg]=Устройство iRiver iFP
Name[bn]=আই-রিভার আইএফপি মিডিয়া ডিভাইস
Name[br]=Trobarzhell media iRiver iFP 
Name[ca]=Dispositiu de suports iRiver iFP
Name[cs]=Mediální zařízení iRiver iFP
Name[da]=iRiver iFP-medieenhed
Name[de]=iRiver iFP
Name[el]=Συσκευή πολυμέσων iRiver iFP
Name[eo]=iRiver iFP Media Ekipaĵo
Name[es]=Dispositivo de medios iRiver iFP
Name[et]=iRiver iFP meediaseade
Name[fa]=دستگاه رسانۀ iRiver iFP
Name[fi]=iRiver iFP -medialaite
Name[fr]=Périphérique de média iRiver iFP
Name[ga]=Gléas Meán iFP iRiver
Name[gl]=iRiver iFP
Name[hu]=iRiver iFP médiaeszköz
Name[is]=iRiver iFP
Name[it]=Dispositivo multimediale iRiver iFP
Name[ja]=iRiver iFP メディアデバイス
Name[ka]=მედია მოწყობილობა iRiver iFP
Name[km]=ឧបករណ៍​មេឌៀ iFP របស់ iRiver
Name[lt]=iRiver iFP media įrenginys
Name[mk]=Уред за мултимедија iRiver iFP
Name[nb]=iRiver iFP medieenhet
Name[nds]=iFP-Medienreedschap vun iRiver
Name[ne]=iRiver iFP मिडिया यन्त्र
Name[nl]=iRiver iFP media-apparaat
Name[nn]=iRiver iFP-medieeining
Name[pa]=iRiver iFP ਮੀਡਿਆ ਜੰਤਰ
Name[pl]=Urządzenie mediów iRiver iFP
Name[pt]=Dispositivo Multimédia iRiver iFP
Name[pt_BR]=Dispositivo de Mídia iRiver iFP
Name[ru]=iRiver iFP
Name[se]=iRiver iFP-mediaovttadat
Name[sk]=iRiver iFP Media zariadenie
Name[sr]=iRiver-ов iFP, мултимедијални уређај
Name[sr@Latn]=iRiver-ov iFP, multimedijalni uređaj
Name[sv]=iRiver iFP-mediaenhet
Name[th]=อุปกรณ์เล่นสื่อ iRiver iFP
Name[tr]=iRiver iFP Ortam Aygıtı
Name[uk]=Пристрій носія iRiver iFP
Name[uz]=iRiver iFP media-uskunasi
Name[uz@cyrillic]=iRiver iFP медиа-ускунаси
Name[wa]=Édjin d' media iRiver iFP
Name[zh_CN]=iRiver iFP 媒体设备
Name[zh_TW]=iRiver iFP 媒體裝置
X-KDE-Library=libamarok_ifp-mediadevice
Comment=Plugin for Amarok
Comment[af]=Inprop module vir Amarok
Comment[ar]= قابس ( برنامج مضاف الى) AmaroK
Comment[bg]=Приставка за Amarok
Comment[bn]=আমারক-এর জন্য প্লাগিন
Comment[br]=Lugent evit Amarok
Comment[ca]=Connector per l'Amarok
Comment[cs]=Modul pro AmaroK
Comment[de]=Modul für Amarok
Comment[el]=Πρόσθετο για το AmaroK
Comment[eo]=Kromaĵo por Amarok
Comment[es]=Extensión para Amarok
Comment[et]=Amaroki plugin
Comment[fa]=وصله برای amaroK
Comment[fi]=Amarok-liitännäinen
Comment[fr]=Module pour Amarok
Comment[ga]=Breiseán AmaroK
Comment[gl]=Extensión para Amarok
Comment[hu]=Bővítőmodul az Amarokhoz
Comment[is]=Íforrit fyrir Amarok
Comment[it]=Plugin per Amarok
Comment[ja]=Amarok のためのプラグイン
Comment[ka]=მოდული Amarok-ისთვის
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាប់ Amarok
Comment[lt]=Amarok įskiepis
Comment[mk]=Приклучок за Амарок
Comment[nb]=Programtillegg for Amarok
Comment[nds]=Moduul för Amarok
Comment[ne]=अमारोकका लागि प्लगइन
Comment[nl]=Plugin voor Amarok
Comment[nn]=Programtillegg for Amarok
Comment[pa]=ਅਮਰੋਕ ਲਈ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka Amaroka
Comment[pt]='Plugin' para o Amarok
Comment[pt_BR]=Plugin para o Amarok
Comment[ru]=Модуль amaroK
Comment[se]=Lassemoduvla Amarok:ii
Comment[sk]=Amarok modul
Comment[sr]=Прикључак за Amarok
Comment[sr@Latn]=Priključak za Amarok
Comment[sv]=Insticksprogram för Amarok
Comment[th]=โปรแกรมเสริมสำหรับ Amarok
Comment[tr]=Amarok için Eklenti
Comment[uk]=Втулок для Amarok
Comment[uz]=Amarok uchun plagin
Comment[uz@cyrillic]=Amarok учун плагин
Comment[wa]=Tchôke-divins po Amarok
Comment[zh_CN]=Amarok 插件
Comment[zh_TW]=amaroK 插件
ServiceTypes=Amarok/Plugin

X-KDE-Amarok-plugintype=mediadevice
X-KDE-Amarok-name=ifp-mediadevice
X-KDE-Amarok-authors=Seb Ruiz
X-KDE-Amarok-email=me@sebruiz.net
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1
X-KDE-Amarok-framework-version=32
