[Desktop Entry]
Type=Service
Name=iRiver iFP Media Device
Name[bg]=Устройство iRiver iFP
Name[bn]=আই-রিভার আই-এফ-পি মিডিয়া ডিভাইস
Name[br]=Trobarzhell media iRiver iFP 
Name[cs]=Mediální zařízení iRiver iFP
Name[da]=iRiver iFP-medieenhed
Name[de]=iRiver iFP
Name[el]=Συσκευή πολυμέσων iRiver iFP
Name[et]=iRiver iFP meediaseade
Name[fi]=iRiver iFP -medialaite
Name[fr]=Périphérique de média iRiver iFP
Name[ga]=Gléas Meán iFP iRiver
Name[it]=Dispositivo multimediale iRiver iFP
Name[ja]=iRiver iFP メディアデバイス
Name[km]=ឧបករណ៍​មេឌៀ iFP របស់ iRiver
Name[nl]=iRiver iFP media-apparaat
Name[pa]=iRiver iFP ਮੀਡਿਆ ਜੰਤਰ
Name[pl]=Urządzenie nośnika danych iRiver iFP
Name[pt]=Dispositivo Multimédia iRiver iFP
Name[pt_BR]=Dispositivo de Mídia iRiver iFP
Name[ru]=Мультимедиа-устройство iRiver iFP
Name[sv]=iRiver iFP-mediaenhet
Name[uk]=Пристрій iRiver iFP Media
Name[xx]=xxiRiver iFP Media Devicexx
Name[zh_CN]=iRiver iFP 媒体设备
X-KDE-Library=libamarok_ifp-mediadevice
Comment=Plugin for amaroK
Comment[bg]=Приставка за amaroK
Comment[bn]=আমারক-এর জন্য প্লাগিন
Comment[br]=Lugent evit amaroK
Comment[cs]=Modul pro amaroK
Comment[de]=Modul für amaroK
Comment[el]=Πρόσθετο για το amaroK
Comment[es]=Plugin para amaroK
Comment[et]=AmaroKi plugin
Comment[fi]=amaroKin laajennos
Comment[fr]=Module pour AmaroK
Comment[ga]=Breiseán amaroK
Comment[he]=תוספים של amaroK
Comment[hi]=अमारोक के लिए प्लगइन
Comment[hu]=Bővítőmodul az amaroKhoz
Comment[is]=Íforrit fyrir amaroK
Comment[it]=Plugin per amaroK
Comment[ja]=amaroK用プラグイン
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាប់ amaroK
Comment[lt]=amaroK įsiepis
Comment[mk]=Приклучок за amaroK
Comment[ms]=Plugmasuk untuk amaroK
Comment[nb]=Programtillegg for amaroK
Comment[nl]=Plugin voor amaroK
Comment[pa]=ਅਮਰੋਕ ਲਈ ਪਲੱਗਿੰਨ
Comment[pl]=Wtyczka amaroK-a
Comment[pt]='Plugin' para o amaroK
Comment[pt_BR]=Plug-in para o amaroK
Comment[ru]=Модуль amaroK
Comment[sl]=Vstavek za amaroK
Comment[sr]=Прикључак за amaroK
Comment[sr@Latn]=Priključak za amaroK
Comment[sv]=Insticksprogram för amaroK
Comment[ta]=amaroKகான சொருகி
Comment[tg]=Модул барои амароК
Comment[tr]=amaroK için eklenti
Comment[uk]=Втулок для amaroK
Comment[uz]=amaroK учун плагин
Comment[xx]=xxPlugin for amaroKxx
Comment[zh_CN]=amaroK 插件
Comment[zh_TW]=amaroK 的外掛程式
ServiceTypes=amaroK/Plugin

X-KDE-amaroK-plugintype=mediadevice
X-KDE-amaroK-name=ifp-mediadevice
X-KDE-amaroK-authors=Seb Ruiz
X-KDE-amaroK-email=me@sebruiz.net
X-KDE-amaroK-rank=100
X-KDE-amaroK-version=1
X-KDE-amaroK-framework-version=23
