[Desktop Entry]
Type=Service
Name=aRts Engine
Name[bg]=Система aRts
Name[bn]=আর্টস ইঞ্জিন
Name[br]=Keflusker aRts
Name[cs]=aRts
Name[da]=aRts-motor
Name[de]=aRts
Name[el]=Μηχανή Arts
Name[es]=Motor aRts
Name[et]=aRts mootor
Name[eu]=aRts motorea
Name[fi]=aRts
Name[fr]=Moteur aRts
Name[ga]=Inneall aRts
Name[he]=מנוע שמע aRts
Name[hi]=एआरटीएस इंजिन
Name[hr]=एआरटीएस इंजिन
Name[hu]=aRts
Name[id]=aRts
Name[is]=aRts vél
Name[it]=Motore aRts
Name[ja]=aRtsエンジン
Name[km]=ម៉ាស៊ីន aRts
Name[ms]=Enjin aRts
Name[nb]=aRts motor
Name[nds]=aRts
Name[nn]=aRts-motor
Name[pa]=aRts ਇੰਜਣ
Name[pl]=Wyjście aRts
Name[pt]=Motor aRts
Name[pt_BR]=Mecanismo aRts
Name[ru]=aRts
Name[se]=aRts-mutuvra
Name[sl]=Pogon aRts
Name[sq]=Motor aRts
Name[sr]=Мотор aRts
Name[sr@Latn]=Motor aRts
Name[ss]=Motor aRts
Name[sv]=aRts-gränssnitt
Name[ta]=aRts  பொறி
Name[tg]=Муҳаррики aRts
Name[th]=Муҳаррики aRts
Name[tr]=aRts Motoru
Name[uk]=aRts
Name[uz]=aRts тизими
Name[zh_CN]=aRts 引擎
Name[zh_TW]=aRts 解碼引擎
X-KDE-Library=libamarok_artsengine_plugin
Comment=Plugin for amaroK
Comment[bg]=Приставка за amaroK
Comment[bn]=আমারক-এর জন্য প্লাগিন
Comment[br]=Lugent evit amaroK
Comment[cs]=Modul pro amaroK
Comment[de]=Modul für amaroK
Comment[el]=Πρόσθετο για το amaroK
Comment[es]=Plugin para amaroK
Comment[et]=AmaroKi plugin
Comment[eu]=Plugina amaroK-endako
Comment[fi]=amaroKin laajennos
Comment[fr]=Module pour AmaroK
Comment[ga]=Breiseán amaroK
Comment[he]=תוספים של amaroK
Comment[hi]=अमारोक के लिए प्लगइन
Comment[hr]=अमारोक के लिए प्लगइन
Comment[hu]=Bővítőmodul az amaroKhoz
Comment[id]=Bővítőmodul az amaroKhoz
Comment[is]=Íforrit fyrir amaroK
Comment[it]=Plugin per amaroK
Comment[ja]=amaroK用プラグイン
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាប់ amaroK
Comment[mk]=Приклучок за amaroK
Comment[mn]=Приклучок за amaroK
Comment[ms]=Plugmasuk untuk amaroK
Comment[nb]=Programtillegg for amaroK
Comment[nds]=Plugin för amaroK
Comment[nl]=Plugin voor amaroK
Comment[nn]=Speleliste for amaroK
Comment[pa]=ਅਮਰੋਕ ਲਈ ਪਲੱਗਿੰਨ
Comment[pl]=Wtyczka amaroK-a
Comment[pt]='Plugin' para o amaroK
Comment[pt_BR]=Plug-in para o amaroK
Comment[ru]=Модуль amaroK
Comment[se]=Lassemoduvla amaroK:ii
Comment[sl]=Vstavek za amaroK
Comment[sq]=Priključak za amaroK
Comment[sr]=Прикључак за amaroK
Comment[sr@Latn]=Priključak za amaroK
Comment[ss]=Priključak za amaroK
Comment[sv]=Insticksprogram för amaroK
Comment[ta]=amaroKகான சொருகி
Comment[tg]=Модул барои амароК
Comment[th]=Модул барои амароК
Comment[tr]=amaroK için eklenti
Comment[uk]=Втулок для amaroK
Comment[uz]=amaroK учун плагин
Comment[zh_CN]=amaroK 插件
Comment[zh_TW]=amaroK 的外掛程式
ServiceTypes=amaroK/Plugin

X-KDE-amaroK-plugintype=engine
X-KDE-amaroK-name=arts-engine
X-KDE-amaroK-authors=Mark Kretschmann
X-KDE-amaroK-email=markey@web.de
X-KDE-amaroK-rank=50
X-KDE-amaroK-version=1
X-KDE-amaroK-framework-version=15



