[Desktop Entry]
Type=Service
Name=SQLite DBEngine
Name[bn]=এসকিউ-লাইট ডিবি-ইঞ্জিন
Name[br]=Keflusker DB SQLite
Name[da]=SQLite DB-motor
Name[de]=SQLite
Name[es]=Motor de base de datos SQLite
Name[et]=SQLite'i andmebaasimootor
Name[fi]=SQLite-tietokantajärjestelmä
Name[fr]=Moteur de base de données SQLite
Name[ga]=Inneall SQLite
Name[gl]=Motor de BBDD SQLite
Name[he]=מנוע מסד נתונים SQLite
Name[is]=SQLite gagnagrunnur
Name[it]=Motore DB SQLite
Name[ja]=SQLite DBエンジン
Name[pl]=Baza danych SQLite
Name[pt]=Motor de BD SQLite
Name[pt_BR]=Mecanismo do Banco de Dados SQLite
Name[ru]=SQLite
Name[sr]=Мотор SQLite DB
Name[sr@Latn]=Motor SQLite DB
Name[sv]=SQLite-databasgränssnitt
Name[tg]=Муҳаррики-DB барои SQLite 
Name[tr]=SQLite DBMotoru
Name[uk]=Рушій бази даних SQLite
Name[uz]=SQLite маълумот базаси
Name[xx]=xxSQLite DBEnginexx
Name[zh_CN]=SQLite 数据引擎
Name[zh_TW]=SQLite 資料庫引擎
X-KDE-Library=libamarok_sqlite_dbengine_plugin
Comment=Plugin for amaroK
Comment[bg]=Приставка за amaroK
Comment[bn]=আমারক-এর জন্য প্লাগিন
Comment[br]=Lugent evit amaroK
Comment[ca]=Connector per l'amaroK
Comment[cs]=Modul pro amaroK
Comment[da]=Plugin for Amarok
Comment[de]=Modul für amaroK
Comment[el]=Πρόσθετο για το amaroK
Comment[es]=Plugin para amaroK
Comment[et]=AmaroKi plugin
Comment[fi]=amaroKin laajennos
Comment[fr]=Module pour AmaroK
Comment[ga]=Breiseán amaroK
Comment[gl]=Plugin para amaroK
Comment[he]=תוספים של amaroK
Comment[hi]=अमारोक के लिए प्लगइन
Comment[hu]=Bővítőmodul az amaroKhoz
Comment[is]=Íforrit fyrir amaroK
Comment[it]=Plugin per amaroK
Comment[ja]=amaroK用プラグイン
Comment[ka]=amaroK-ის მოდული
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាប់ amaroK
Comment[lt]=amaroK įsiepis
Comment[mk]=Приклучок за amaroK
Comment[ms]=Plugmasuk untuk amaroK
Comment[nb]=Programtillegg for amaroK
Comment[nl]=Plugin voor amaroK
Comment[pa]=ਅਮਰੋਕ ਲਈ ਪਲੱਗਿੰਨ
Comment[pl]=Wtyczka amaroK-a
Comment[pt]='Plugin' para o amaroK
Comment[pt_BR]=Plugin para o Amarok
Comment[ru]=Модуль amaroK
Comment[sl]=Vstavek za amaroK
Comment[sr]=Прикључак за amaroK
Comment[sr@Latn]=Priključak za amaroK
Comment[sv]=Insticksprogram för amaroK
Comment[ta]=amaroKகான சொருகி
Comment[tg]=Модул барои амароК
Comment[tr]=amaroK için eklenti
Comment[uk]=Втулок для amaroK
Comment[uz]=amaroK учун плагин
Comment[xx]=xxPlugin for amaroKxx
Comment[zh_CN]=Amarok 插件
Comment[zh_TW]=amaroK 的外掛程式
ServiceTypes=amaroK/Plugin

X-KDE-amaroK-plugintype=dbengine
X-KDE-amaroK-name=sqlite-dbengine
X-KDE-amaroK-authors=Mark Kretschmann, Christian Muehlhaeuser
X-KDE-amaroK-email=markey@web.de
X-KDE-amaroK-rank=255
X-KDE-amaroK-version=1
X-KDE-amaroK-framework-version=5

