[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=SQLite DBEngine
Name[af]=SQLite DBEnjin
Name[ar]= محرك SQLite DBEngine
Name[bn]=এসকিউ-লাইট ডিবি-ইঞ্জিন
Name[br]=Keflusker DB SQLite
Name[da]=SQLite DB-motor
Name[de]=SQLite
Name[eo]=SQLite DBIlo
Name[es]=Motor de base de datos SQLite
Name[et]=SQLite'i andmebaasimootor
Name[fi]=SQLite-tietokantajärjestelmä
Name[fr]=Moteur de base de données SQLite
Name[ga]=Inneall SQLite
Name[gl]=Motor de BBDD SQLite
Name[he]=מנוע מסד נתונים SQLite
Name[hu]=SQLite adatbázis-alrendszer
Name[is]=SQLite gagnagrunnur
Name[it]=Motore DB SQLite
Name[ja]=SQLite DB エンジン
Name[lt]=SQLite duomenų bazės variklis
Name[nds]=SQLite
Name[ne]=एसक्यु लाइट डीबी इन्जिन
Name[nn]=SQLite-databasemotor
Name[pl]=Baza danych SQLite
Name[pt]=Motor de BD SQLite
Name[pt_BR]=Mecanismo do Banco de Dados SQLite
Name[ru]=SQLite
Name[sq]=Motor SQLite DB
Name[sr]=Мотор SQLite DB
Name[sr@Latn]=Motor SQLite DB
Name[ss]=Motor SQLite DB
Name[sv]=SQLite-databasgränssnitt
Name[tg]=Муҳаррики-DB барои SQLite 
Name[tr]=SQLite DBMotoru
Name[uk]=Рушій бази даних SQLite
Name[uz]=SQLite maʼlumot bazasi
Name[uz@cyrillic]=SQLite маълумот базаси
Name[wa]=Éndjin d' BD SQLite
Name[zh_CN]=SQLite 数据引擎
Name[zh_TW]=SQLite 資料庫引擎
X-KDE-Library=libamarok_sqlite_dbengine_plugin
Comment=Plugin for Amarok
Comment[af]=Inprop module vir Amarok
Comment[ar]= قابس ( برنامج مضاف الى) AmaroK
Comment[bg]=Приставка за Amarok
Comment[bn]=আমারক-এর জন্য প্লাগিন
Comment[br]=Lugent evit Amarok
Comment[ca]=Connector per l'Amarok
Comment[cs]=Modul pro AmaroK
Comment[de]=Modul für Amarok
Comment[el]=Πρόσθετο για το AmaroK
Comment[eo]=Kromaĵo por Amarok
Comment[es]=Extensión para Amarok
Comment[et]=Amaroki plugin
Comment[fa]=وصله برای amaroK
Comment[fi]=Amarok-liitännäinen
Comment[fr]=Module pour Amarok
Comment[ga]=Breiseán AmaroK
Comment[gl]=Extensión para Amarok
Comment[hu]=Bővítőmodul az Amarokhoz
Comment[is]=Íforrit fyrir Amarok
Comment[it]=Plugin per Amarok
Comment[ja]=Amarok のためのプラグイン
Comment[ka]=მოდული Amarok-ისთვის
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាប់ Amarok
Comment[lt]=Amarok įskiepis
Comment[mk]=Приклучок за Амарок
Comment[nb]=Programtillegg for Amarok
Comment[nds]=Moduul för Amarok
Comment[ne]=अमारोकका लागि प्लगइन
Comment[nl]=Plugin voor Amarok
Comment[nn]=Programtillegg for Amarok
Comment[pa]=ਅਮਰੋਕ ਲਈ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka Amaroka
Comment[pt]='Plugin' para o Amarok
Comment[pt_BR]=Plugin para o Amarok
Comment[ru]=Модуль amaroK
Comment[se]=Lassemoduvla Amarok:ii
Comment[sk]=Amarok modul
Comment[sr]=Прикључак за Amarok
Comment[sr@Latn]=Priključak za Amarok
Comment[sv]=Insticksprogram för Amarok
Comment[th]=โปรแกรมเสริมสำหรับ Amarok
Comment[tr]=Amarok için Eklenti
Comment[uk]=Втулок для Amarok
Comment[uz]=Amarok uchun plagin
Comment[uz@cyrillic]=Amarok учун плагин
Comment[wa]=Tchôke-divins po Amarok
Comment[zh_CN]=Amarok 插件
Comment[zh_TW]=amaroK 插件
ServiceTypes=amaroK/Plugin

X-KDE-amaroK-plugintype=dbengine
X-KDE-amaroK-name=sqlite-dbengine
X-KDE-amaroK-authors=Mark Kretschmann, Christian Muehlhaeuser
X-KDE-amaroK-email=markey@web.de
X-KDE-amaroK-rank=255
X-KDE-amaroK-version=1
X-KDE-amaroK-framework-version=5

