[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=SQLite DBEngine
Name[af]=SQLite DBEnjin
Name[ar]= محرك SQLite DBEngine
Name[bn]=এসকিউ-লাইট ডিবি-ইঞ্জিন
Name[br]=Keflusker DB SQLite
Name[da]=SQLite DB-motor
Name[de]=SQLite
Name[es]=Motor de base de datos SQLite
Name[et]=SQLite'i andmebaasimootor
Name[fi]=SQLite-tietokantajärjestelmä
Name[fr]=Moteur de base de données SQLite
Name[ga]=Inneall SQLite
Name[gl]=Motor de BBDD SQLite
Name[he]=מנוע מסד נתונים SQLite
Name[hu]=SQLite adatbázis-alrendszer
Name[is]=SQLite gagnagrunnur
Name[it]=Motore DB SQLite
Name[ja]=SQLite DB エンジン
Name[nds]=SQLite
Name[nn]=SQLite-databasemotor
Name[pl]=Baza danych SQLite
Name[pt]=Motor de BD SQLite
Name[pt_BR]=Mecanismo do Banco de Dados SQLite
Name[ru]=SQLite
Name[sq]=Motor SQLite DB
Name[sr]=Мотор SQLite DB
Name[sr@Latn]=Motor SQLite DB
Name[ss]=Motor SQLite DB
Name[sv]=SQLite-databasgränssnitt
Name[tg]=Муҳаррики-DB барои SQLite 
Name[tr]=SQLite DBMotoru
Name[uk]=Рушій бази даних SQLite
Name[uz]=SQLite маълумот базаси
Name[zh_CN]=SQLite 数据引擎
Name[zh_TW]=SQLite 資料庫引擎
X-KDE-Library=libamarok_sqlite_dbengine_plugin
Comment=Plugin for amaroK
Comment[af]=Inprop module vir amaroK
Comment[ar]=  قابس ( برنامج مضاف الى) AmaroK
Comment[bg]=Приставка за Amarok
Comment[bn]=আমারক-এর জন্য প্লাগিন
Comment[br]=Lugent evit amaroK
Comment[ca]=Connector per l'amaroK
Comment[cs]=Modul pro amaroK
Comment[da]=Plugin for Amarok
Comment[de]=Modul für Amarok
Comment[el]=Πρόσθετο για το amaroK
Comment[es]=Plugin para amaroK
Comment[et]=AmaroKi plugin
Comment[eu]=amaroK-en plugin-a
Comment[fa]=وصله برای amaroK
Comment[fi]=Amarokin liitännäinen
Comment[fr]=Module pour AmaroK
Comment[ga]=Breiseán amaroK
Comment[gl]=Extensión para Amarok
Comment[he]=תוספים של amaroK
Comment[hi]=अमारोक के लिए प्लगइन
Comment[hu]=Bővítőmodul az Amarokhoz
Comment[is]=Íforrit fyrir Amarok
Comment[it]=Plugin per Amarok
Comment[ja]=Amarok のためのプラグイン
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាប់ amaroK
Comment[lt]=amaroK įsiepis
Comment[mk]=Приклучок за Амарок
Comment[mn]=Приклучок за amaroK
Comment[ms]=Plugmasuk untuk amaroK
Comment[nb]=Programtillegg for amaroK
Comment[nds]=Moduul för Amarok
Comment[nl]=Plugin voor amaroK
Comment[nn]=Speleliste for amaroK
Comment[pa]=ਅਮਰੋਕ ਲਈ ਪਲੱਗਿੰਨ
Comment[pl]=Wtyczka Amaroka
Comment[pt]='Plugin' para o amaroK
Comment[pt_BR]=Plugin para o Amarok
Comment[ru]=Модуль amaroK
Comment[se]=Lassemoduvla Amarok:ii
Comment[sk]=amaroK plugin
Comment[sl]=Vstavek za amaroK
Comment[sq]=Priključak za amaroK
Comment[sr]=Прикључак за amaroK
Comment[sr@Latn]=Priključak za amaroK
Comment[ss]=Priključak za amaroK
Comment[sv]=Insticksprogram för amaroK
Comment[ta]=amaroKகான சொருகி
Comment[tg]=Модул барои амароК
Comment[th]=โปรแกรมเสริมสำหรับ amaroK
Comment[tr]=Amarok için eklenti
Comment[uk]=Втулок для amaroK
Comment[uz]=amaroK учун плагин
Comment[zh_CN]=Amarok 插件
Comment[zh_TW]=amaroK 插件
ServiceTypes=amaroK/Plugin

X-KDE-amaroK-plugintype=dbengine
X-KDE-amaroK-name=sqlite-dbengine
X-KDE-amaroK-authors=Mark Kretschmann, Christian Muehlhaeuser
X-KDE-amaroK-email=markey@web.de
X-KDE-amaroK-rank=255
X-KDE-amaroK-version=1
X-KDE-amaroK-framework-version=5

