[Desktop Entry]
Type=Service
Name=MAS Engine
Name[bg]=Система MAS
Name[br]=Keflusker MAS
Name[da]=MAS-motor
Name[de]=NAS-Treiber
Name[es]=Motor MAS
Name[et]=MAS mootor
Name[fr]=Moteur MAS
Name[ga]=Inneall MAS
Name[hu]=MAS
Name[is]=MAS vél
Name[it]=Motore MAS
Name[pl]=Wyjście MAS
Name[pt]=Motor MAS
Name[pt_BR]=Motor MAS
Name[ru]=MAS
Name[sv]=MAS-gränssnitt
Name[ta]=MAS என்ஜின்
Name[tg]=MAS муҳандис
Name[uk]=MAS
Name[uz]=MAS тизими
Name[xx]=xxMAS Enginexx
Name[zh_CN]=MAS 引擎
Comment=Plugin for amaroK
Comment[bg]=Приставка за amaroK
Comment[br]=Lugent evit amaroK
Comment[cs]=Modul pro amaroK
Comment[de]=Plugin für amaroK
Comment[el]=Πρόσθετο για το amaroK
Comment[es]=Plugin para amaroK
Comment[et]=AmaroKi plugin
Comment[fr]=Module pour AmaroK
Comment[hu]=Bővítőmodul az amaroKhoz
Comment[is]=Íforrit fyrir amaroK
Comment[it]=Plugin per amaroK
Comment[ms]=Plugmasuk untuk amaroK
Comment[nl]=Plugin voor amaroK
Comment[pl]=Wtyczka amaroK-a
Comment[pt]='Plugin' para o amaroK
Comment[pt_BR]=Plug-in para o amaroK
Comment[ru]=Модуль amaroK
Comment[sl]=Vstavek za amaroK
Comment[sr]=Прикључак за amaroK
Comment[sv]=Insticksprogram för amaroK
Comment[ta]=amaroKகான சொருகி
Comment[tg]=Гузоштани дастаи иттисол барои амароК
Comment[uk]=Втулок для amaroK
Comment[uz]=amaroK учун плагин
Comment[xx]=xxPlugin for amaroKxx
Comment[zh_CN]=amaroK 插件

ServiceTypes=amaroK/Plugin
X-KDE-Library=libamarok_masengine_plugin
X-KDE-amaroK-name=MAS Engine
X-KDE-amaroK-plugintype=engine
X-KDE-amaroK-authors=Roland Gigler
X-KDE-amaroK-email=rolandg@web.de
X-KDE-amaroK-rank=100
X-KDE-amaroK-version=1
X-KDE-amaroK-framework-version=4


