[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=MAS Engine
Name[el]=Μηχανή MAS
Comment=Plugin for Amarok
Comment[el]=Πρόσθετο για το AmaroK

ServiceTypes=Amarok/Plugin
X-KDE-Library=libamarok_masengine_plugin
X-KDE-Amarok-name=MAS Engine
X-KDE-Amarok-plugintype=engine
X-KDE-Amarok-authors=Roland Gigler
X-KDE-Amarok-email=rolandg@web.de
X-KDE-Amarok-rank=0
X-KDE-Amarok-version=1
X-KDE-Amarok-framework-version=30

