[Desktop Entry]
Type=Service
Name=MAS Engine
Name[bg]=Система MAS
Name[bn]=এম-এ-এস ইঞ্জিন
Name[br]=Keflusker MAS
Name[cs]=MAS systém
Name[da]=MAS-motor
Name[de]=MAS
Name[el]=Μηχανή MAS
Name[es]=Motor MAS
Name[et]=MAS mootor
Name[fi]=MAS
Name[fr]=Moteur MAS
Name[ga]=Inneall MAS
Name[he]=מנוע שמע MAS
Name[hi]=एमएएस इंजिन
Name[hu]=MAS
Name[is]=MAS vél
Name[it]=Motore MAS
Name[ja]=MASエンジン
Name[km]=ម៉ាស៊ីន MAS
Name[lt]=MAS garso sistema
Name[nb]=MAS-motor
Name[pa]=MAS ਇੰਜਣ
Name[pl]=Wyjście MAS
Name[pt]=Motor MAS
Name[pt_BR]=Mecanismo MAS
Name[ru]=MAS
Name[sl]=Pogon MAS
Name[sr]=Мотор MAS
Name[sr@Latn]=Motor MAS
Name[sv]=MAS-gränssnitt
Name[ta]=MAS என்ஜின்
Name[tg]=Муҳаррики MAS
Name[tr]=MAS Motoru
Name[uk]=MAS
Name[uz]=MAS тизими
Name[xx]=xxMAS Enginexx
Name[zh_CN]=MAS 引擎
Name[zh_TW]=MAS 解碼引擎
Comment=Plugin for amaroK
Comment[bg]=Приставка за amaroK
Comment[bn]=আমারক-এর জন্য প্লাগিন
Comment[br]=Lugent evit amaroK
Comment[cs]=Modul pro amaroK
Comment[de]=Modul für amaroK
Comment[el]=Πρόσθετο για το amaroK
Comment[es]=Plugin para amaroK
Comment[et]=AmaroKi plugin
Comment[fi]=amaroKin laajennos
Comment[fr]=Module pour AmaroK
Comment[ga]=Breiseán amaroK
Comment[he]=תוספים של amaroK
Comment[hi]=अमारोक के लिए प्लगइन
Comment[hu]=Bővítőmodul az amaroKhoz
Comment[is]=Íforrit fyrir amaroK
Comment[it]=Plugin per amaroK
Comment[ja]=amaroK用プラグイン
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាប់ amaroK
Comment[lt]=amaroK įsiepis
Comment[mk]=Приклучок за amaroK
Comment[ms]=Plugmasuk untuk amaroK
Comment[nb]=Programtillegg for amaroK
Comment[nl]=Plugin voor amaroK
Comment[pa]=ਅਮਰੋਕ ਲਈ ਪਲੱਗਿੰਨ
Comment[pl]=Wtyczka amaroK-a
Comment[pt]='Plugin' para o amaroK
Comment[pt_BR]=Plug-in para o amaroK
Comment[ru]=Модуль amaroK
Comment[sl]=Vstavek za amaroK
Comment[sr]=Прикључак за amaroK
Comment[sr@Latn]=Priključak za amaroK
Comment[sv]=Insticksprogram för amaroK
Comment[ta]=amaroKகான சொருகி
Comment[tg]=Модул барои амароК
Comment[tr]=amaroK için eklenti
Comment[uk]=Втулок для amaroK
Comment[uz]=amaroK учун плагин
Comment[xx]=xxPlugin for amaroKxx
Comment[zh_CN]=amaroK 插件
Comment[zh_TW]=amaroK 的外掛程式

ServiceTypes=amaroK/Plugin
X-KDE-Library=libamarok_masengine_plugin
X-KDE-amaroK-name=MAS Engine
X-KDE-amaroK-plugintype=engine
X-KDE-amaroK-authors=Roland Gigler
X-KDE-amaroK-email=rolandg@web.de
X-KDE-amaroK-rank=0
X-KDE-amaroK-version=1
X-KDE-amaroK-framework-version=23

