[Desktop Entry]
Name=Songkick Concert Information
Name[bg]=Информация за Songkick Concert
Name[da]=Songkick koncertinformation
Name[de]=Songkick-Konzertinformationen
Name[el]=Πληροφορίες συναυλιών Songkick
Name[et]=Songkicki kontserdiinfo
Name[fr]=Information de concert Songkick
Name[gl]=Información do concerto Songkick
Name[is]=Songkick tónleikaupplýsingar
Name[it]=Informazioni concerto Songkick
Name[ja]=Songkick コンサート情報
Name[km]=ព័ត៌មាន​តន្ត្រី Songkick
Name[ku]=Songkick Agahiya Konseran
Name[lv]=Songkick koncerta informācija                 
Name[nb]=Songkick konsertinformasjon
Name[nds]=Songkick-Konzertinformatschoon
Name[nl]=Concertinformatie van Songkick
Name[nn]=Konsertinformasjon frå Songkick
Name[pl]=Informacja o koncertach Songkick
Name[pt]=Informação do Concerto Songkick
Name[pt_BR]=Informações de Concertos do Songkick
Name[ro]=Informație concert Songkick
Name[sv]=Konsertinformation från Songkick
Name[th]=ข้อมูลรายละเอียดของคอนเสิร์ต Songkick
Name[tr]=Songkick Konser Bilgileri
Name[uk]=Відомості про концерти з Songkick
Name[x-test]=xxSongkick Concert Informationxx
Type=Service
ServiceTypes=AmarokContext/Applet

X-KDE-Library=amarok_context_applet_songkick
X-KDE-PluginInfo-Author=Jeff Mitchell
X-KDE-PluginInfo-Email=mitchell@kde.org
X-KDE-PluginInfo-Name=songkick
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=amarok
X-KDE-PluginInfo-Category=Current

