[Desktop Entry]
Type=Service
Name=Apple iPod media device
X-KDE-Library=libamarok_gpod-mediadevice
Comment=Plugin for amaroK
ServiceTypes=amaroK/Plugin

X-KDE-amaroK-plugintype=mediadevice
X-KDE-amaroK-name=gpod-mediadevice
X-KDE-amaroK-authors=Martin Aumueller
X-KDE-amaroK-email=aumuell@reserv.at
X-KDE-amaroK-rank=100
X-KDE-amaroK-version=1
X-KDE-amaroK-framework-version=16
