[Desktop Entry]
Icon=view-pim-journal
Type=script
ServiceTypes=KPluginInfo

Name=Lyricwiki
Name[ca]=Lyricwiki
Name[ca@valencia]=Lyricwiki
Name[cs]=Lyricwiki
Name[de]=Lyricwiki
Name[es]=Lyricwiki
Name[fi]=Lyricwiki
Name[fr]=LyricWiki
Name[hu]=Lyricwiki
Name[id]=Lirikwiki
Name[it]=Lyricwiki
Name[nl]=Lyricwiki
Name[pl]=Lyricwiki
Name[pt]=Lyricwiki
Name[pt_BR]=Lyricwiki
Name[ro]=Lyricwiki
Name[sk]=Lyricwiki
Name[sl]=Lyricwiki
Name[sr]=Лириквики
Name[sr@ijekavian]=Лириквики
Name[sr@ijekavianlatin]=LyricWiki
Name[sr@latin]=LyricWiki
Name[sv]=Lyricwiki
Name[tr]=Lyricwiki
Name[uk]=Lyricwiki
Name[x-test]=xxLyricwikixx
Name[zh_TW]=Lyricwiki
Comment=A script to fetch lyrics from lyricwiki.org
Comment[ca]=Un script per recuperar lletres des de lyricwiki.org
Comment[ca@valencia]=Un script per recuperar lletres des de lyricwiki.org
Comment[cs]=Skript pro stažení textů písní z lyricwiki.org
Comment[de]=Ein Skript, um Liedtexte von lyricwiki.org zu holen
Comment[es]=Un guion para recuperar letras desde lyricwiki.org
Comment[fi]=Skripti, joka hakee sanoitukset lyricwiki.orgista
Comment[fr]=Un script pour télécharger des paroles depuis lyricwiki.org
Comment[hu]=Egy parancsfájl dalszövegek letöltéséhez a lyricwiki.org oldalról
Comment[id]=Script untuk menarik lirik dari lyricwiki.org
Comment[it]=Uno script per scaricare i testi da lyricwiki.org
Comment[nl]=Een script om liedteksten op te halen uit lyricwiki.org
Comment[pl]=Skrypt do pobieranie słów z lyricwiki.org
Comment[pt]=Um programa para obter letras musicais a partir do lyricwiki.org
Comment[pt_BR]=Um script para baixar letras de músicas a partir do lyricwiki.org
Comment[ro]=Script ce obține versuri de la lyricwiki.org
Comment[sk]=Skript na stiahnutie textu z lyricwiki.org
Comment[sl]=Skript za pridobivanje besedil iz lyricwiki.org
Comment[sr]=Скрипта за добављање стихова са Лириквикија
Comment[sr@ijekavian]=Скрипта за добављање стихова са Лириквикија
Comment[sr@ijekavianlatin]=Skripta za dobavljanje stihova sa LyricWikija
Comment[sr@latin]=Skripta za dobavljanje stihova sa LyricWikija
Comment[sv]=Ett skript för att hämta sångtexter från lyricwiki.org
Comment[tr]=Lyricwiki.org şarkı sözleri getirmek için bir betik
Comment[uk]=Скрипт для отримання слів пісень з lyricwiki.org
Comment[x-test]=xxA script to fetch lyrics from lyricwiki.orgxx
Comment[zh_TW]=從 lyricwiki.org 抓取歌詞的文稿

X-KDE-PluginInfo-Author=Aaron Reichman
X-KDE-PluginInfo-Email=reldruh@gmail.com
X-KDE-PluginInfo-Name=LyricWiki
X-KDE-PluginInfo-Version=.3
X-KDE-PluginInfo-Category=Lyrics
X-KDE-PluginInfo-Depends=Amarok2.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-BugAddress=submit@bugs.kde.org
X-KDE-PluginInfo-EnabledByDefault=true
