[Desktop Entry]
Type=Service
Name=GStreamer Engine
Name[bg]=Система GStreamer
Name[br]=Keflusker GStreamer
Name[cs]=GStreamer
Name[da]=GStreamer-motor
Name[de]=GStreamer
Name[el]=Μηχανή του GstEngine
Name[es]=Motor GStreamer
Name[et]=GStreameri mootor
Name[fr]=Moteur GStreamer
Name[ga]=Inneall GStreamer
Name[hi]=जीस्ट्रीमर इंजिन
Name[hu]=GStreamer
Name[is]=GStreamer vél
Name[it]=Motore GStreamer
Name[ja]=GStreamerエンジン
Name[ms]=Enjin GStreamer
Name[pa]=ਜੀਸਟਰੀਮਰ ਇੰਜਣ
Name[pl]=Wyjście GStreamer
Name[pt]=Motor GStreamer
Name[ru]=GStreamer
Name[sl]=Pogon GStreamer
Name[sr]=Мотор GStreamer
Name[sr@Latn]=Motor GStreamer
Name[sv]=Gstreamer-gränssnitt
Name[ta]=G தாரை பொறி
Name[tg]=GТасмаи дарози муҳандис
Name[tr]=GStreamer Motoru
Name[uk]=GStreamer
Name[uz]=GStreamer тизими
Name[zh_CN]=GStreamer 引擎
X-KDE-Library=libamarok_gstengine_plugin
Comment=Plugin for amaroK
Comment[bg]=Приставка за amaroK
Comment[br]=Lugent evit amaroK
Comment[cs]=Modul pro amaroK
Comment[de]=Modul für amaroK
Comment[el]=Πρόσθετο για το amaroK
Comment[es]=Plugin para amaroK
Comment[et]=AmaroKi plugin
Comment[fr]=Module pour AmaroK
Comment[ga]=Breiseán amaroK
Comment[hi]=अमारोक के लिए प्लगइन
Comment[hu]=Bővítőmodul az amaroKhoz
Comment[is]=Íforrit fyrir amaroK
Comment[it]=Plugin per amaroK
Comment[ja]=amaroK用プラグイン
Comment[mk]=Приклучок за amaroK
Comment[ms]=Plugmasuk untuk amaroK
Comment[nl]=Plugin voor amaroK
Comment[pa]=ਅਮਰੋਕ ਲਈ ਪਲੱਗਿੰਨ
Comment[pl]=Wtyczka amaroK-a
Comment[pt]='Plugin' para o amaroK
Comment[pt_BR]=Plug-in para o amaroK
Comment[ru]=Модуль amaroK
Comment[sl]=Vstavek za amaroK
Comment[sr]=Прикључак за amaroK
Comment[sr@Latn]=Priključak za amaroK
Comment[sv]=Insticksprogram för amaroK
Comment[ta]=amaroKகான சொருகி
Comment[tg]=Гузоштани дастаи иттисол барои амароК
Comment[tr]=amaroK için eklenti
Comment[uk]=Втулок для amaroK
Comment[uz]=amaroK учун плагин
Comment[zh_CN]=amaroK 插件
ServiceTypes=amaroK/Plugin

X-KDE-amaroK-plugintype=engine
X-KDE-amaroK-name=gst-engine
X-KDE-amaroK-authors=Mark Kretschmann
X-KDE-amaroK-email=markey@web.de
X-KDE-amaroK-rank=254
X-KDE-amaroK-version=1
X-KDE-amaroK-framework-version=7


