[Desktop Entry]
Type=Service
Name=GStreamer Engine
X-KDE-Library=libamarok_gstengine_plugin
Comment=Plugin for amaroK
ServiceTypes=amaroK/Plugin

X-KDE-amaroK-plugintype=engine
X-KDE-amaroK-name=gst-engine
X-KDE-amaroK-authors=Mark Kretschmann
X-KDE-amaroK-email=markey@web.de
X-KDE-amaroK-rank=254
X-KDE-amaroK-version=1
X-KDE-amaroK-framework-version=14


