[Desktop Entry]
Type=Service
Name=GStreamer Engine
Name[cs]=GStreamer
Name[da]=GStreamer-motor
Name[de]=Gstreamer Engine
Name[es]=Motor GStreamer
Name[et]=GStreamer mootor
Name[fr]=Moteur GStreamer
Name[it]=Motore GStreamer
Name[ms]=Enjin GStreamer
Name[pt]=Motor GStreamer
Name[ru]=GStreamer
Name[sl]=Pogon GStreamer
Name[sr]=GStreamer програм
Name[sr@Latn]=GStreamer програм
Name[sv]=Gstreamer-gränssnitt
Name[ta]=G தாரை பொறி
Name[uz]=GStreamer тизими
Name[xx]=xxGStreamer Enginexx
Name[zh_CN]=GStreamer 引擎
X-KDE-Library=libamarok_gstengine_plugin
Comment=Plugin for amaroK
Comment[cs]=Modul pro amaroK
Comment[de]=Plugin für amaroK
Comment[el]=Πρόσθετο για το amaroK
Comment[es]=Plugin para amaroK
Comment[et]=AmaroKi plugin
Comment[fr]=Module pour AmaroK
Comment[it]=Plugin per amaroK
Comment[ms]=Plugmasuk untuk amaroK
Comment[nl]=Plugin voor amaroK
Comment[pt]='Plugin' para o amaroK
Comment[pt_BR]=Plug-in para o amaroK
Comment[ru]=Модуль amaroK
Comment[sl]=Vstavek za amaroK
Comment[sr]=Прикључак за amaroK
Comment[sr@Latn]=Прикључак за amaroK
Comment[sv]=Insticksprogram för amaroK
Comment[ta]=amaroKகான சொருகி
Comment[uz]=amaroK учун плагин
Comment[xx]=xxPlugin for amaroKxx
Comment[zh_CN]=amaroK 插件
ServiceTypes=amaroK/Plugin

X-KDE-amaroK-plugintype=engine
X-KDE-amaroK-name=gst-engine
X-KDE-amaroK-authors=Mark Kretschmann
X-KDE-amaroK-email=markey@web.de
X-KDE-amaroK-rank=255
X-KDE-amaroK-version=1
X-KDE-amaroK-framework-version=3

