[Desktop Entry]
Name=Visualization Data Engine
Name[de]=Visualisierungs-Datenmodul
Name[en_GB]=Visualisation Data Engine

X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=amarok
X-KDE-Library=amarok_data_engine_spectrum_analyzer
X-KDE-PluginInfo-Name=amarok-spectrum-analyzer
X-KDE-ParentApp=Amarok

