[Desktop Entry]
Name=Spectrum Analyzer Data Engine
Name[pt]=Motor de Dados do Analisador de Espectro
Name[pt_BR]=Mecanismo de dados do Analisador de Espectro
Name[sv]=Datagränssnitt för spektrumanalysator
Name[uk]=Рушій даних аналізатора спектра
Name[x-test]=xxSpectrum Analyzer Data Enginexx

X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=amarok
X-KDE-Library=amarok_data_engine_spectrum_analyzer
X-KDE-PluginInfo-Name=amarok-spectrum-analyzer
X-KDE-ParentApp=Amarok

