Source: amarok-nightly-kdepimlibs
Section: libs
Priority: optional
Maintainer: Project Neon <nightly@getamarok.com>
Build-Depends: amarok-nightly-cdbs, amarok-nightly-deps, amarok-nightly-kdelibs,
 libboost-dev, libgpgme11-dev, libldap2-dev, libsasl2-dev
Standards-Version: 3.7.3

Package: amarok-nightly-kdepimlibs
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: core libraries for KDE PIM 4 applications
 This package contains Personal Information Management libraries needed to run
 KDE 4 applications.
 .
 This package is part of Project Neon, the Amarok Nightly Builds project.
 See the 'amarok-nightly' package for more information.
