[Desktop Entry]
Name=Service Info Data Engine
ServiceTypes=Plasma/DataEngine
Type=Service
Icon=amarok
X-KDE-Library=amarok_data_engine_service
X-EngineName=amarok-service

