[Desktop Entry]
Name=Service Info Data Engine
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=amarok
X-KDE-Library=amarok_data_engine_service
X-Plasma-EngineName=amarok-service

