[Desktop Entry]
Type=Service
Name=xine Engine
Name[bg]=Система Xine
Name[bn]=জাইন ইঞ্জিন
Name[br]=Keflusker xine
Name[ca]=motor xine
Name[cs]=xine
Name[da]=xine-motor
Name[de]=xine
Name[el]=Μηχανή xine
Name[es]=Motor xine
Name[et]=xine mootor
Name[fi]=xine
Name[fr]=Moteur xine
Name[ga]=Inneall xine
Name[gl]=Motor Xine
Name[he]=מנוע שמע xine
Name[hi]=एक्जाइन इंजिन
Name[hu]=Xine
Name[is]=xine vél
Name[it]=Motore xine
Name[ja]=xineエンジン
Name[ka]=xine dრავა
Name[km]=ម៉ាស៊ីន xine
Name[lt]=xine garso sistema
Name[ms]=Enjin xine
Name[nb]=xine-motor
Name[nl]=xine-engine
Name[pa]=xine ਇੰਜਣ
Name[pl]=Wyjście xine
Name[pt]=Motor Xine
Name[pt_BR]=Mecanismo Xine
Name[ru]=Xine
Name[sl]=Pogon xine
Name[sr]=Мотор Xine
Name[sr@Latn]=Motor Xine
Name[sv]=Xine-gränssnitt
Name[ta]=xine என்ஜின்
Name[tg]=Муҳаррики xine
Name[tr]=xine Motoru
Name[uk]=xine
Name[uz]=xine тизими
Name[xx]=xxxine Enginexx
Name[zh_CN]=xine 引擎
Name[zh_TW]=xine 解碼引擎
X-KDE-Library=libamarok_xine-engine
Comment=Plugin for Amarok
Comment[bg]=Приставка за Amarok
Comment[br]=Lugent evit Amarok
Comment[de]=Modul für Amarok
Comment[el]=Πρόσθετο για το AmaroK
Comment[et]=Amaroki plugin
Comment[fr]=Module pour Amarok
Comment[ga]=Breiseán AmaroK
Comment[it]=Plugin per Amarok
Comment[ja]=Amarok用プラグイン
Comment[nl]=Plugin voor Amarok
Comment[pa]=ਅਮਰੋਕ ਲਈ ਪਲੱਗਇਨ
Comment[pt]='Plugin' para o Amarok
Comment[pt_BR]=Plugin para o Amarok
Comment[ru]=Модуль amaroK
Comment[sr]=Прикључак за Amarok
Comment[sr@Latn]=Priključak za Amarok
Comment[sv]=Insticksprogram för Amarok
Comment[uk]=Втулок для Amarok
Comment[zh_CN]=Amarok 插件
ServiceTypes=Amarok/Plugin

X-KDE-Amarok-plugintype=engine
X-KDE-Amarok-name=xine-engine
X-KDE-Amarok-authors=Max Howell
X-KDE-Amarok-email=max.howell@methylblue.com
X-KDE-Amarok-rank=255
X-KDE-Amarok-version=1
X-KDE-Amarok-framework-version=25


