[Desktop Entry]
Type=Service
Name=xine Engine
Name[bg]=Система Xine
Name[br]=Keflusker xine
Name[cs]=xine
Name[de]=xine-Treiber
Name[es]=Motor xine
Name[et]=xine mootor
Name[fr]=Moteur xine
Name[hu]=Xine
Name[is]=xine vél
Name[it]=Motore xine
Name[ms]=Enjin xine
Name[nl]=xine-engine
Name[pa]=xine ਇੰਜਣ
Name[pl]=Wyjście xine
Name[pt]=Motor Xine
Name[pt_BR]=Mecanismo Xine
Name[ru]=Xine
Name[sr]=xine програм
Name[sv]=Xine-gränssnitt
Name[ta]=xine என்ஜின்
Name[tg]=Муҳандиси Xine
Name[uk]=xine
Name[uz]=xine тизими
Name[xx]=xxxine Enginexx
Name[zh_CN]=xine 引擎
ServiceTypes=amaroK/Plugin

X-KDE-amaroK-plugintype=engine
X-KDE-amaroK-name=xine-engine
X-KDE-amaroK-authors=Max Howell
X-KDE-amaroK-email=max.howell@methylblue.com
X-KDE-amaroK-rank=0
X-KDE-amaroK-version=1
X-KDE-amaroK-framework-version=2
