[Desktop Entry]
Type=Service
ServiceTypes=amaroK/CodecInstall
X-KDE-amaroK-codec=mp3
X-KDE-amaroK-engine=xine-engine
Exec=kdialog --msgbox "Hello World"

