[Desktop Entry]
Type=Service
Name=xine Engine
Name[cs]=xine
Name[de]=xine-Treiber
Name[es]=Motor xine
Name[et]=xine mootor
Name[fr]=Moteur xine
Name[it]=Motore xine
Name[ms]=Enjin xine
Name[nl]=xine-engine
Name[pa]=xine ਇੰਜਣ
Name[pt]=Motor Xine
Name[pt_BR]=Mecanismo Xine
Name[ru]=Движок Xine
Name[sr]=xine програм
Name[sr@Latn]=xine програм
Name[sv]=Xine-gränssnitt
Name[tg]=Муҳандиси Xine
Name[xx]=xxxine Enginexx
Name[zh_CN]=xine 引擎
X-KDE-Library=libamarok_xine-engine
Comment=Plugin for amaroK
Comment[cs]=Modul pro amaroK
Comment[de]=Plugin für amaroK
Comment[el]=Πρόσθετο για το amaroK
Comment[es]=Plugin para amaroK
Comment[et]=AmaroKi plugin
Comment[fr]=Module pour AmaroK
Comment[it]=Plugin per amaroK
Comment[ms]=Plugmasuk untuk amaroK
Comment[nl]=Plugin voor amaroK
Comment[pt]='Plugin' para o amaroK
Comment[pt_BR]=Plug-in para o amaroK
Comment[ru]=Модуль amaroK
Comment[sl]=Vstavek za amaroK
Comment[sr]=Прикључак за amaroK
Comment[sr@Latn]=Прикључак за amaroK
Comment[sv]=Insticksprogram för amaroK
Comment[ta]=amaroKகான சொருகி
Comment[tg]=Гузоштани дастаи иттисол барои амароК
Comment[uz]=amaroK учун плагин
Comment[xx]=xxPlugin for amaroKxx
Comment[zh_CN]=amaroK 插件
ServiceTypes=amaroK/Plugin

X-KDE-amaroK-plugintype=engine
X-KDE-amaroK-name=xine-engine
X-KDE-amaroK-authors=Max Howell
X-KDE-amaroK-email=max.howell@methylblue.com
X-KDE-amaroK-rank=254
X-KDE-amaroK-version=1
X-KDE-amaroK-framework-version=3

