[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Amarok/CodecInstall
X-KDE-Amarok-codec=mp3
X-KDE-Amarok-engine=xine-engine
Exec=kdialog --msgbox "Hello World"

