[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=NFS Device
Name[af]=NFS Toestel
Name[ar]=جهاز  نظام الملفات على الشبكة NFS
Name[bg]=NFS устройство
Name[bn]=এন-এফ-এস ডিভাইস
Name[ca]=Dispositiu NFS
Name[cs]=NFS zařízení
Name[da]=NFS-enhed
Name[de]=NFS-Gerät
Name[el]=Συσκευή NFS
Name[eo]=NFS Aranĝaĵo
Name[es]=Dispositivo NFS
Name[et]=NFS-seade
Name[fa]=دستگاه NFS
Name[fi]=NFS-laite
Name[fr]=Périphérique NFS
Name[ga]=Gléas NFS
Name[gl]=Dispositivo NFS
Name[hu]=NFS-eszköz
Name[is]=NFS tæki
Name[it]=Dispositivo NFS
Name[ja]=NFS デバイス
Name[ka]=NFS მოწყობილობა
Name[km]=ឧបករណ៍ NFS
Name[lt]=NFS įrenginys
Name[mk]=NFS-уред
Name[ms]=Peranti NFS
Name[nb]=NFS-enhet
Name[nds]=NFS-Reedschap
Name[ne]=NFS यन्त्र
Name[nl]=NFS-apparaat
Name[nn]=NFS-eining
Name[pa]=NFS ਜੰਤਰ
Name[pl]=Urządzenie NFS
Name[pt]=Dispositivo NFS
Name[pt_BR]=Dispositivo NFS
Name[se]=NFS-ovttadat
Name[sk]=NFS zariadenie
Name[sr]=NFS уређај
Name[sr@Latn]=NFS uređaj
Name[sv]=NFS-enhet
Name[tr]=NFS Aygıtı
Name[uk]=Пристрій NFS
Name[uz]=NFS uskunasi
Name[uz@cyrillic]=NFS ускунаси
Name[wa]=Éndjin NFS
Name[zh_CN]=NFS 设备
Name[zh_TW]=NFS 裝置
Comment=Device plugin for Amarok which supports NFS
Comment[af]=Toestel inprop module vir Amarok wat NFS ondersteuning bied
Comment[bg]=Приставка за устройство за Amarok, поддържаща NFS
Comment[bn]=আমারক-এর জন্য ডিভাইস প্লাগিন যা এন-এফ-এস সমর্থন করে
Comment[ca]=Connector de dispositiu per a l'Amarok que accepta NFS
Comment[cs]=Modul zařízení pro AmaroK, které podporuje NFS
Comment[da]=Enhedsplugin for Amarok som understøtter NFS
Comment[de]=Geräte-Modul für Amarok mit Unterstützung für NFS
Comment[el]=Πρόσθετο συσκευής για το AmaroK με υποστήριξη NFS
Comment[eo]=Aranĝaĵa kromaĵo por Amarok kiu subtenas NFS-n
Comment[es]=Plugin de dispositivo con soporte NFS para Amarok
Comment[et]=Amaroki seadmeplugin NFS-i toega
Comment[fa]=وصلۀ دستگاه برای Amarok که از NFS پشتیبانی می‌کند
Comment[fi]=Amarok-liitännäinen, joka tukee NFS:ää (Network File System)
Comment[fr]=Plugin de périphérique pour Amarok qui supporte NFS
Comment[gl]=Extensión de dispositivos que soporten NFS para Amarok
Comment[hu]=NFS-t támogató eszköz-bővítőmodul az Amarokhoz
Comment[is]=Tækja íforrit fyrir Amarok með stuðning við NFS
Comment[it]=Plugin di dispositivo per Amarok con supporto NFS
Comment[ja]=NFS をサポートする Amarok のためのデバイスプラグイン
Comment[ka]=მოწყობილობის მოდული Amarok-ისთვის NFS მხარდაჭერით
Comment[km]=កម្មវិធី​ជំនួយ​ឧបករណ៍ សម្រាប់ Amarok ដែល​គាំទ្រ NFS
Comment[lt]=Amarok įrenginio priedas, palaikantis NFS
Comment[mk]=Приклучок за уред за Амарок што поддржува NFS
Comment[ms]=Plugin peranti untuk Amarok yang menyokong NFS
Comment[nb]=Amarok programtillegg for enhet som støtter NFS
Comment[nds]=Reedschapmoduul för Amarok, dat NFS ünnerstütt
Comment[ne]=अमारोकका लागि यन्त्र प्लगइन जसले NFS समर्थन गर्दछ
Comment[nl]=Apparaatplugin voor Amarok met ondersteuning voor NFS
Comment[nn]=Einingstillegg for Amarok som støttar NFS
Comment[pa]=ਅਮਰੋਕ ਲਈ ਜੰਤਰ ਪਲੱਗਇਨ, ਜੋ ਕਿ NFS ਲਈ ਸਹਾਇਕ ਹੈ
Comment[pl]=Wtyczka urządzenia dla Amaroka z obsługą NFS
Comment[pt]=Um 'plugin' de dispositivo para o Amarok que suporta o NFS
Comment[pt_BR]=Plugin de dispositivo para o Amarok, que suporta NFS
Comment[se]=Ovttadatlassemoduvla Amarokii mii doarju NFS
Comment[sk]=Modul zariadenia pre Amarok, ktorý podporuje NFS
Comment[sr]=Уређајски прикључак за Amarok који подржава NFS
Comment[sr@Latn]=Uređajski priključak za Amarok koji podržava NFS
Comment[sv]=Enhetsinsticksprogram för Amarok som stöder NFS
Comment[th]=โปรแกรมเสริมจัดการอุปกรณ์สำหรับ Amarok ที่รองรับการใช้งาน NFS
Comment[tr]=Amarok için NFS destekleyen aygıt eklentisi
Comment[uk]=Втулок пристроїв для Amarok, який підтримує NFS
Comment[wa]=Tchôke-divins d' éndjin po Amarok ki sopoite NFS
Comment[zh_CN]=Amarok 支持 NFS 的设备插件
Comment[zh_TW]=支援 NFS 的 amaroK 裝置插件
ServiceTypes=Amarok/Plugin

X-KDE-Library=libamarok_nfs-device

X-KDE-Amarok-authors=Maximilian Kossick
X-KDE-Amarok-email=maximilian.kossick@googlemail.com
X-KDE-Amarok-framework-version=32
X-KDE-Amarok-name=nfs-device
X-KDE-Amarok-plugintype=device
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1
