[Desktop Entry]
Name=Context
Name[bg]=Контекст
Name[da]=Kontekst
Name[de]=Kontext
Name[el]=Σχετικό περιεχόμενο
Name[eo]=Kunteksto
Name[es]=Contexto
Name[et]=Kontekst
Name[fr]=Contexte
Name[ga]=Comhthéacs
Name[gl]=Contexto
Name[he]=תוכן
Name[hi]=कॉन्टेक्स्ट
Name[it]=Contesto
Name[ja]=関連情報
Name[km]=បរិបទ
Name[ko]=컨텍스트
Name[lt]=Informacija
Name[lv]=Konteksts
Name[nb]=Kontekst
Name[nds]=Kontext
Name[oc]=Contèxte
Name[pa]=ਪਰਸੰਗ
Name[pl]=Kontekst
Name[pt]=Contexto
Name[pt_BR]=Contexto
Name[sv]=Sammanhang
Name[tr]=İçerik
Name[uk]=Контекст
Name[x-test]=xxContextxx
Name[zh_CN]=上下文
Comment=A containment for the Amarok Context
Comment[bg]=Контекст на Amarok
Comment[ca]=Un contenidor per a l'Amarok Context
Comment[da]=En beholder til Amarok-kontekst
Comment[de]=Ein Behältnis für Amarok-Kontext
Comment[el]=Ένας υποδοχέας για το περιεχόμενο Amarok
Comment[eo]=Kuntekstujo por Amarok
Comment[es]=Un contenedor para el contexto de Amarok
Comment[et]=Amaroki konteksti konteiner
Comment[fr]=Un conteneur pour l'afficheur de contexte d'Amarok
Comment[ga]=Coimeádán le haghaidh Comhthéacs Amarok
Comment[gl]=Un contedor para o contexto de Amarok
Comment[it]=Un contenitore per i contesti di Amarok
Comment[ja]=Amarok の関連情報の入れ物
Comment[km]=ការ​ផ្ទុក​សម្រាប់​បរិបទ Amarok
Comment[lt]=Amarok informacijos vieta
Comment[lv]=Konteiners Amarok kontekstam
Comment[nb]=En beholder for Amarok Kontekst
Comment[nds]=En Schell för Amarok-Kontext
Comment[nl]=Een container voor de Amarok-context
Comment[pl]=Zasobnik dla kontestu Amaroka
Comment[pt]=Um contentor para o Contexto do Amarok
Comment[pt_BR]=Um contendor para o Contexto do Amarok
Comment[sv]=En inneslutning för Amaroks Sammanhang
Comment[tr]=Amarok İçeriği için bir kapsama
Comment[uk]=Оболонка для контексту Amarok
Comment[x-test]=xxA containment for the Amarok Contextxx
Comment[zh_CN]=Amarok 上下文容器
Icon=
Type=Service
ServiceTypes=AmarokContext/Applet,AmarokContext/Containment

X-KDE-Library=amarok_containment_context
X-KDE-PluginInfo-Author=Leo Franchi
X-KDE-PluginInfo-Email=amarok@kde.org
X-KDE-PluginInfo-Name=context
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://amarok.kde.org/
X-KDE-PluginInfo-Category=Miscellaneous
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=AmarokInvisible
