[Desktop Entry]
Name=Photos Data Engine
Name[bg]=Ядро за снимки
Name[ca]=Motor de dades de fotos
Name[ca@valencia]=Motor de dades de fotos
Name[cs]=Datový nástroj fotek
Name[csb]=Mòtór pòdôwków òdjimków
Name[da]=Datamotor til fotos
Name[de]=Datenmodul für Fotos
Name[en_GB]=Photos Data Engine
Name[es]=Motor de datos de fotos
Name[et]=Fotode andmete mootor
Name[hu]=Fotó-adatmotor
Name[is]=Ljósmyndagagnavél
Name[it]=Motore dati delle fotografie
Name[ko]=사진 데이터 엔진
Name[lv]=Fotogrāfiju datu dzinējs
Name[nb]=Foto datamotor
Name[nds]=Foto-Datenkarn
Name[nl]=Foto-gegevensengine
Name[nn]=Datamotor for bilete
Name[pa]=ਫੋਟੋ ਡਾਟਾ ਇੰਜਣ
Name[pl]=Moduł danych zdjęć
Name[pt]=Motor de Dados de Fotografias
Name[pt_BR]=Mecanismo de Dados de Fotos
Name[ro]=Motor de date Fotografii
Name[ru]=Источник данных фотографий
Name[sk]=Dátový nástroj Fotografie
Name[sl]=Podatkovni pogon za fotografije
Name[sr]=Датомотор фотографија
Name[sr@ijekavian]=Датомотор фотографија
Name[sr@ijekavianlatin]=Datomotor fotografija
Name[sr@latin]=Datomotor fotografija
Name[sv]=Datagränssnitt för foton
Name[tr]=Fotoğraflar Veri Motoru
Name[uk]=Рушій даних фотографій
Name[x-test]=xxPhotos Data Enginexx
Name[zh_CN]=照片数据引擎
X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-ParentApp=Amarok
Type=Service
Icon=Photos
X-KDE-Library=amarok_data_engine_photos
X-KDE-PluginInfo-Name=amarok-photos
