[Desktop Entry]
Name=Photos Data Engine
Name[bg]=Ядро за снимки
Name[es]=Motor de datos de fotos
Name[et]=Fotode andmete mootor
Name[is]=Ljósmyndagagnavél
Name[it]=Motore dati delle fotografie
Name[ko]=사진 데이터 엔진
Name[nb]=Foto datamotor
Name[nn]=Datamotor for bilete
Name[pl]=Moduł danych zdjęć
Name[pt]=Motor de Dados de Fotografias
Name[pt_BR]=Mecanismo de Dados de Fotos
Name[sv]=Datagränssnitt för foton
Name[tr]=Fotoğraflar Veri Motoru
Name[uk]=Рушій даних фотографій
Name[x-test]=xxPhotos Data Enginexx
X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-ParentApp=Amarok
Type=Service
Icon=Photos
X-KDE-Library=amarok_data_engine_photos
X-KDE-PluginInfo-Name=amarok-photos
