[Desktop Entry]
Encoding=UTF-8
Name=Javascript Applet
Name[bg]=Javascript аплет
Name[ca]=Miniaplicació en Javascript
Name[ca@valencia]=Miniaplicació en Javascript
Name[csb]=Aplet Javascript
Name[da]=Javascript-applet
Name[de]=Javascript-Miniprogramm
Name[en_GB]=Javascript Applet
Name[es]=Miniaplicación de Javascript
Name[et]=Javascripti aplett
Name[fi]=Javascript-sovelma
Name[hu]=Javascript-kisalkalmazás
Name[is]=Javascript smáforrit
Name[it]=Applet Javascript
Name[km]=អាប់ភ្លេត Javascript
Name[ko]=자바스크립트 애플릿
Name[lv]=Javascript sīkrīks
Name[nb]=Javascript miniprogram
Name[nds]=JavaScript-Lüttprogramm
Name[nl]=Applet met javascript
Name[nn]=JavaScript-element
Name[pa]=ਜਾਵਾਸਕ੍ਰਿਪਟ ਐਲਪਿਟ
Name[pl]=Aplet JavaScriptu
Name[pt]='Applet' em JavaScript
Name[pt_BR]=Miniaplicativo Javascript
Name[ro]=Miniaplicație Javascript
Name[ru]=Аплет Javascript
Name[sl]=JavaScript gradnik
Name[sr]=Јаваскриптни аплет
Name[sr@ijekavian]=Јаваскриптни аплет
Name[sr@ijekavianlatin]=JavaScript aplet
Name[sr@latin]=JavaScript aplet
Name[sv]=Javascript-miniprogram
Name[tr]=Javascript Programcığı
Name[uk]=Аплет Javascript
Name[x-test]=xxJavascript Appletxx
Name[zh_CN]=Javascript 小程序
Type=Service
ServiceTypes=Plasma/Applet
Icon=chronometer
X-Plasma-API=amarok_javascript
X-Plasma-MainScript=code/main.js
X-KDE-PluginInfo-Author=Leo Franchi
X-KDE-PluginInfo-Email=lfranchi@kde.org
X-KDE-PluginInfo-Name=js_sample
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://amarok.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=amarok
