[Desktop Entry]
Type=Service
Name=Playdar Collection
Name[x-test]=xxPlaydar Collectionxx
Comment=Music that Playdar can find
Comment[x-test]=xxMusic that Playdar can findxx

ServiceTypes=Amarok/Plugin

X-KDE-Library=amarok_collection-playdarcollection

X-KDE-Amarok-authors=Andrew Coder
X-KDE-Amarok-email=andrew.coder@gmail.com
X-KDE-Amarok-framework-version=57
X-KDE-Amarok-name=playdar-collection
X-KDE-Amarok-plugintype=collection
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1
