[Desktop Entry]
Type=Service
Name=Playdar Collection
Name[ca]=Col·lecció del Playdar
Name[de]=Playdar-Sammlung
Name[et]=Playdari kogu
Name[nl]=Playdar-collectie
Name[pt]=Colecção do Playdar
Name[pt_BR]=Coleção do Playdar
Name[ru]=Коллекция Playdar
Name[sv]=Playdar-samling
Name[uk]=Збірка Playdar
Name[x-test]=xxPlaydar Collectionxx
Comment=Music that Playdar can find
Comment[ca]=Música que el Playdar pot trobar
Comment[de]=Von Playdar auffindbare Musik
Comment[et]=Muusika, mida Playdar suudab leida
Comment[nl]=Muziek die Playdar kan vinden
Comment[pt]=Música que o Playdar consegue encontrar
Comment[pt_BR]=Música que o Playdar pode encontrar
Comment[ru]=Модуль коллекции Playdar для Amarok
Comment[sv]=Musik som Playdar kan hitta
Comment[uk]=Музика, яку може знайти Playdar
Comment[x-test]=xxMusic that Playdar can findxx

ServiceTypes=Amarok/Plugin

X-KDE-Library=amarok_collection-playdarcollection

X-KDE-Amarok-authors=Andrew Coder
X-KDE-Amarok-email=andrew.coder@gmail.com
X-KDE-Amarok-framework-version=58
X-KDE-Amarok-name=playdar-collection
X-KDE-Amarok-plugintype=collection
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1
