[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=SQL Collection
Name[nl]=SQL-collectie
Name[pt]=Colecção de SQL
Name[pt_BR]=Colecção de SQL
Name[sv]=SQL-samling
Comment=Collection plugin for Amarok
Comment[ja]=Amarok のためのコレクションプラグイン
Comment[nl]=Collectie-plugin voor Amarok
Comment[pt]=Um 'plugin' da colecção para o Amarok
Comment[pt_BR]=Um 'plugin' da colecção para o Amarok
Comment[sv]=Samlingsinsticksprogram för Amarok

ServiceTypes=Amarok/Plugin

X-KDE-Library=libamarok_collection-sqlcollection

X-KDE-Amarok-authors=Maximilian Kossick
X-KDE-Amarok-email=maximilian.kossick@googlemail.com
X-KDE-Amarok-framework-version=30
X-KDE-Amarok-name=sql-collection
X-KDE-Amarok-plugintype=collection
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1
