[Desktop Entry]
Name=Last.Fm Events
Name[be]=Падзеі Last.fm
Name[bg]=Събития (Last.Fm)
Name[ca]=Esdeveniments de last.fm
Name[ca@valencia]=Esdeveniments de last.fm
Name[cs]=Události Last.Fm
Name[csb]=Przëtrôfczi Last.fm
Name[da]=Begivenheder fra Last.Fm
Name[de]=Last.fm-Ereignisse
Name[el]=Γεγονότα Last.Fm
Name[en_GB]=Last.Fm Events
Name[eo]=Last.Fm eventoj
Name[es]=Eventos de Last.Fm
Name[et]=Last.Fm sündmused
Name[eu]=Last.Fm gertaerak
Name[fi]=Last.Fm -tapahtumat
Name[fr]=Évènements Last.fm
Name[ga]=Imeachtaí Last.Fm
Name[gl]=Eventos de Last.Fm
Name[hne]=लास्ट.एफएम घटना
Name[hu]=Last.fm-események
Name[is]=Last.fm uppákomur
Name[it]=Eventi Last.Fm
Name[ja]=Last.fm イベント
Name[km]=ព្រឹត្តិការណ៍ Last.Fm
Name[ko]=Last.Fm 이벤트
Name[ku]=Bûyerên Last.Fm ê
Name[lt]=Last.fm įvykiai
Name[lv]=Last.Fm notikumi
Name[ms]=Acara Last.Fm
Name[nb]=Last.fm-hendelser
Name[nds]=Last.Fm-Begeefnissen
Name[nl]=Last.fm-gebeurtenissen
Name[nn]=Last.fm-hendingar
Name[pa]=Last.Fm ਈਵੈਂਟ
Name[pl]=Wydarzenia Last.Fm
Name[pt]=Eventos do Last.Fm
Name[pt_BR]=Eventos do Last.Fm
Name[ro]=Evenimente Last.Fm
Name[ru]=События Last.Fm
Name[sk]=Udalosti Last.Fm
Name[sl]=Dogodki Last.fm
Name[sr]=ЛастФМ‑ово догађања
Name[sr@ijekavian]=ЛастФМ‑ово догађања
Name[sr@ijekavianlatin]=Last.fm‑ovo događanja
Name[sr@latin]=Last.fm‑ovo događanja
Name[sv]=Evenemang från Last.fm
Name[th]=เหตุการณ์ต่าง ๆ จาก Last.fm
Name[tr]=last.Fm Olayları
Name[uk]=Події Last.Fm
Name[wa]=Evenmints Last.Fm
Name[x-test]=xxLast.Fm Eventsxx
Name[zh_CN]=Last.Fm 事件
Name[zh_TW]=Last.Fm 事件
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=amarok_context_applet_lastfmevents
X-KDE-PluginInfo-Author=Leo Franchi
X-KDE-PluginInfo-Email=lfranchi@gmail.com
X-KDE-PluginInfo-Name=lastfmevents
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=amarok
X-KDE-PluginInfo-Category=Home

