[Desktop Entry]
Name=Analyzer
Name[bg]=Анализатор
Name[bs]=Analizator
Name[ca]=Analitzador
Name[ca@valencia]=Analitzador
Name[cs]=Analyzátor
Name[da]=Analysator
Name[de]=Analysator
Name[el]=Αναλυτής
Name[en_GB]=Analyser
Name[eo]=Analizilo
Name[es]=Analizador
Name[et]=Analüüsija
Name[eu]=Analizatzailea
Name[fi]=Analysaattori
Name[fr]=Analyseur
Name[gl]=Analizador
Name[hu]=Elemző
Name[id]=Analizer
Name[it]=Analizzatore
Name[ka]=ანალიზატორი
Name[ko]=분석기
Name[lt]=Analizatorius
Name[lv]=Analizators
Name[nb]=Analysator
Name[nl]=Analysator
Name[pl]=Analizator
Name[pt]=Analisador
Name[pt_BR]=Analisador
Name[ro]=Analizator
Name[sk]=Analyzátor
Name[sl]=Preučevalnik
Name[sr]=Анализатор
Name[sr@ijekavian]=Анализатор
Name[sr@ijekavianlatin]=Analizator
Name[sr@latin]=Analizator
Name[sv]=Analysator
Name[tr]=Çözümleyici
Name[uk]=Аналізатор
Name[x-test]=xxAnalyzerxx
Name[zh_CN]=频谱
Name[zh_TW]=分析器

Type=Service
ServiceTypes=Amarok/ContextApplet
Icon=view-media-analyzer-amarok
Comment=Analyzer applet for Amarok
Comment[bg]=Приставка за анализатор за Amarok
Comment[ca]=Miniaplicació analitzadora per a l'Amarok
Comment[ca@valencia]=Miniaplicació analitzadora per a Amarok
Comment[cs]=Applet analyzeru pro AmaroK
Comment[da]=Analyzer-applet til Amarok
Comment[de]=Analysator-Modul für Amarok
Comment[el]=Μικροεφαρμογή ανάλυσης για το AmaroK
Comment[en_GB]=Analyser applet for Amarok
Comment[eo]=Analizilo-apleto por Amarok
Comment[es]=Miniaplicación de análisis para Amarok
Comment[et]=Amaroki analüüsiaplett
Comment[eu]=Amarok-erako analizatzaile aplikaziotxoa
Comment[fi]=Amarokin analyysisovelma
Comment[fr]=Module d'analyseur pour Amarok
Comment[gl]=Trebello de analizador para Amarok.
Comment[hu]=Elemző kisalkalmazás az Amarokhoz
Comment[id]=Applet analyzer untuk Amarok
Comment[it]=Applet dell'analizzatore per Amarok
Comment[ka]=Amarok-ის ანალიზატორის აპლეტი
Comment[ko]=Amarok 분석기 애플릿
Comment[nl]=Analyse-applet voor Amarok
Comment[pl]=Aplet analizatora dla Amaroka
Comment[pt]='Applet' de analisador do Amarok
Comment[pt_BR]=Miniaplicativo de análises para o Amarok
Comment[sk]=Applet Analyzátor pre Amarok
Comment[sl]=Vstavek analizatorja za Amarok
Comment[sv]=Analysatorminiprogram för Amarok
Comment[tr]=Amarok için çözümleyici uygulamacığı
Comment[uk]=Аплет аналізатора для Amarok
Comment[x-test]=xxAnalyzer applet for Amarokxx
Comment[zh_CN]=Amarok 的频谱分析器小程序
Comment[zh_TW]=Amarok 的分析器小程式

X-KDE-PluginInfo-Author=Mark Kretschmann
X-KDE-PluginInfo-Email=kretschmann@kde.org
X-KDE-PluginInfo-Name=org.kde.amarok.analyzer
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Category=Multimedia
