[Desktop Entry]
Type=Service
Icon=network-server
Name=NFS Share Backend
Name[nl]=Backend voor NFS-share
Name[pt]=Infra-Estrutura de Partilha NFS
Name[pt_BR]=Infraestrutura de compartilhamento NFS
Name[uk]=Модуль спільних ресурсів NFS
Name[x-test]=xxNFS Share Backendxx
Comment=Local Collection folders on remote NFS shares
Comment[nl]=Mappen voor lokale verzameling op NFS-shares op afstand
Comment[pt]=Pastas de colecções locais em partilhas NFS remotas
Comment[pt_BR]=Pastas da coleção local em compartilhamentos remotos NFS
Comment[uk]=Теки локальної збірки на віддалених спільних ресурсах NFS
Comment[x-test]=xxLocal Collection folders on remote NFS sharesxx
ServiceTypes=Amarok/Plugin

X-KDE-Amarok-authors=Maximilian Kossick, Peter C. Ndikuwera
X-KDE-Amarok-email=maximilian.kossick@googlemail.com, pndiku@gmail.com
X-KDE-Amarok-framework-version=67
X-KDE-Amarok-name=nfs-device
X-KDE-Amarok-plugintype=device
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1

X-KDE-PluginInfo-Author=Maximilian Kossick, Peter C. Ndikuwera
X-KDE-PluginInfo-Email=maximilian.kossick@googlemail.com, pndiku@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Device
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=amarok_device_nfs
X-KDE-PluginInfo-Name=amarok_device_nfs
