[Desktop Entry]
Type=Service
Icon=network-server
Name=NFS Share Backend
Name[ca]=Dorsal de compartició NFS
Name[da]=Motor til delt NFS-ressource
Name[de]=Backend für NFS-Freigaben
Name[el]=Σύστημα υποστήριξης διαμοιρασμού NFS
Name[es]=Motor de compartición NFS
Name[et]=NFS-ressursi taustaprogramm
Name[hu]=NFS megosztás modul
Name[it]=Motore condivisione NFS
Name[ja]=NFS 共有バックエンド
Name[km]=កម្មវិធី​ខាង​ក្រោយ​នៃ​ការ​ចែករំលែក NFS
Name[nl]=Backend voor NFS-share
Name[pa]=NFS ਸ਼ੇਅਰ ਬੈਕਐਂਡ
Name[pl]=Silnik udziałów NFS
Name[pt]=Infra-Estrutura de Partilha NFS
Name[pt_BR]=Infraestrutura de compartilhamento NFS
Name[ru]=Серверы NFS
Name[sk]=Backend zdieľania NFS
Name[sl]=Zaledje za deljene mape NFS
Name[sr]=Позадина за НФС дељења
Name[sr@ijekavian]=Позадина за НФС дељења
Name[sr@ijekavianlatin]=Pozadina za NFS deljenja
Name[sr@latin]=Pozadina za NFS deljenja
Name[sv]=Gränssnitt för delade NFS kataloger
Name[uk]=Модуль спільних ресурсів NFS
Name[x-test]=xxNFS Share Backendxx
Name[zh_TW]=NFS 分享後端介面
Comment=Local Collection folders on remote NFS shares
Comment[ca]=Carpetes de col·leccions locals en comparticions NFS remotes
Comment[da]=Mapper med lokal samling på eksterne delte NFS-ressourcer
Comment[de]=Ordner der lokalen Sammlung auf entfernten NFS-Freigaben
Comment[el]=Φάκελοι τοπικών συλλογών σε απομακρυσμένα συστήματα διαμοιρασμού NFS
Comment[es]=Carpetas de colecciones locales en comparticiones remotas NFS
Comment[et]=Kohaliku kogu kataloogid NFS-võrguressurssidel
Comment[hu]=Helyi gyűjteménymappák távoli NFS megosztásokon
Comment[it]=Cartelle della collezione locale su condivisioni remote NFS
Comment[ja]=リモートの NFS 共有内にあるローカルコレクションフォルダ
Comment[km]=ថត​សម្រាំង​មូលដ្ឋាន​នៅ​លើ​ការ​ចែករំលែក NFS ពី​ចម្ងាយ
Comment[nl]=Mappen voor lokale verzameling op NFS-shares op afstand
Comment[pl]=Lokalne katalogi kolekcji na zdalnych udziałach NFS
Comment[pt]=Pastas de colecções locais em partilhas NFS remotas
Comment[pt_BR]=Pastas da coleção local em compartilhamentos remotos NFS
Comment[ru]=Папки локальной коллекции на удалённых серверах NFS
Comment[sk]=Priečinky miestnej kolekcie na vzdialených NFS zdieľaniach
Comment[sl]=Mape krajevne zbirke na oddaljenih deljenih mapah NFS
Comment[sr]=Фасцикле локалне збирке на удаљеним НФС дељењима
Comment[sr@ijekavian]=Фасцикле локалне збирке на удаљеним НФС дељењима
Comment[sr@ijekavianlatin]=Fascikle lokalne zbirke na udaljenim NFS deljenjima
Comment[sr@latin]=Fascikle lokalne zbirke na udaljenim NFS deljenjima
Comment[sv]=Lokala samlingskataloger på delade NFS fjärrkataloger
Comment[uk]=Теки локальної збірки на віддалених спільних ресурсах NFS
Comment[x-test]=xxLocal Collection folders on remote NFS sharesxx
Comment[zh_TW]=在遠端 NFS 分享中的本地收藏資料夾
ServiceTypes=Amarok/Plugin

X-KDE-Amarok-authors=Maximilian Kossick, Peter C. Ndikuwera
X-KDE-Amarok-email=maximilian.kossick@googlemail.com, pndiku@gmail.com
X-KDE-Amarok-framework-version=68
X-KDE-Amarok-name=nfs-device
X-KDE-Amarok-plugintype=device
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1

X-KDE-PluginInfo-Author=Maximilian Kossick, Peter C. Ndikuwera
X-KDE-PluginInfo-Email=maximilian.kossick@googlemail.com, pndiku@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Device
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=amarok_device_nfs
X-KDE-PluginInfo-Name=amarok_device_nfs
