[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=yauap engine
Name[af]=yauap enjin
Name[bg]=Yauap
Name[bn]=yauap ইঞ্জিন
Name[ca]=Motor yauap
Name[cs]=yauap
Name[da]=Yauap-grænseflade
Name[de]=Yauap
Name[el]=μηχανή yauap
Name[eo]=yauap ilo
Name[es]=motor yauap
Name[et]=yauap mootor
Name[fa]=موتور yauap
Name[fi]=yauap
Name[fr]=Moteur yauap
Name[ga]=inneall yauap
Name[hu]=Yauap alrendszer
Name[is]=yauap vél
Name[it]=Motore yauap
Name[ja]=yauap エンジン
Name[ka]=yauap ძრავი
Name[km]=ម៉ាស៊ីន yauap
Name[lt]=yauap variklis
Name[mk]=yauap-машина
Name[ms]=Enjin yauap
Name[nb]=yauap-motor
Name[nds]=Yauap
Name[ne]=yauap इन्जिन
Name[nl]=yauap-engine
Name[nn]=yauap-motor
Name[pa]=yauap ਇੰਜਣ
Name[pl]=moduł yauap
Name[pt]=Motor yauap
Name[pt_BR]=Mecanismo Yauap
Name[se]=yauap-mohtor
Name[sr]=Мотора yauap
Name[sr@Latn]=Motora yauap
Name[sv]=Yauap-gränssnitt
Name[tr]=yauap motoru
Name[uk]=Рушій yauap
Name[uz]=yauap tizimi
Name[uz@cyrillic]=yauap тизими
Name[wa]=Éndjin yauap
Name[zh_CN]=yauap 引擎
Name[zh_TW]=yauap 引擎
X-KDE-Library=libamarok_yauap-engine_plugin
Comment=Plugin for Amarok
Comment[af]=Inprop module vir Amarok
Comment[ar]= قابس ( برنامج مضاف الى) AmaroK
Comment[bg]=Приставка за Amarok
Comment[bn]=আমারক-এর জন্য প্লাগিন
Comment[br]=Lugent evit Amarok
Comment[ca]=Connector per l'Amarok
Comment[cs]=Modul pro AmaroK
Comment[de]=Modul für Amarok
Comment[el]=Πρόσθετο για το AmaroK
Comment[eo]=Kromaĵo por Amarok
Comment[es]=Extensión para Amarok
Comment[et]=Amaroki plugin
Comment[fa]=وصله برای amaroK
Comment[fi]=Amarok-liitännäinen
Comment[fr]=Module pour Amarok
Comment[ga]=Breiseán AmaroK
Comment[gl]=Extensión para Amarok
Comment[hu]=Bővítőmodul az Amarokhoz
Comment[is]=Íforrit fyrir Amarok
Comment[it]=Plugin per Amarok
Comment[ja]=Amarok のためのプラグイン
Comment[ka]=მოდული Amarok-ისთვის
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាប់ Amarok
Comment[lt]=Amarok įskiepis
Comment[mk]=Приклучок за Амарок
Comment[nb]=Programtillegg for Amarok
Comment[nds]=Moduul för Amarok
Comment[ne]=अमारोकका लागि प्लगइन
Comment[nl]=Plugin voor Amarok
Comment[nn]=Programtillegg for Amarok
Comment[pa]=ਅਮਰੋਕ ਲਈ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka Amaroka
Comment[pt]='Plugin' para o Amarok
Comment[pt_BR]=Plugin para o Amarok
Comment[ru]=Модуль amaroK
Comment[se]=Lassemoduvla Amarok:ii
Comment[sk]=Amarok modul
Comment[sr]=Прикључак за Amarok
Comment[sr@Latn]=Priključak za Amarok
Comment[sv]=Insticksprogram för Amarok
Comment[th]=โปรแกรมเสริมสำหรับ Amarok
Comment[tr]=Amarok için Eklenti
Comment[uk]=Втулок для Amarok
Comment[uz]=Amarok uchun plagin
Comment[uz@cyrillic]=Amarok учун плагин
Comment[wa]=Tchôke-divins po Amarok
Comment[zh_CN]=Amarok 插件
Comment[zh_TW]=amaroK 插件
ServiceTypes=Amarok/Plugin

X-KDE-Amarok-plugintype=engine
X-KDE-Amarok-name=yauap-engine
X-KDE-Amarok-authors=Sascha Sommer
X-KDE-Amarok-email=ssommer@suse.de
X-KDE-Amarok-rank=1
X-KDE-Amarok-version=1
X-KDE-Amarok-framework-version=32


