[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=yauap engine
Name[el]=μηχανή yauap
X-KDE-Library=libamarok_yauap-engine_plugin
Comment=Plugin for Amarok
Comment[el]=Πρόσθετο για το AmaroK
ServiceTypes=Amarok/Plugin

X-KDE-Amarok-plugintype=engine
X-KDE-Amarok-name=yauap-engine
X-KDE-Amarok-authors=Sascha Sommer
X-KDE-Amarok-email=ssommer@suse.de
X-KDE-Amarok-rank=1
X-KDE-Amarok-version=1
X-KDE-Amarok-framework-version=30


