[Desktop Entry]
Type=Service
Name=SQLite DBEngine
Name[da]=SQLite DB-motor
Name[de]=SQLite
Name[et]=SQLite'i andmebaasimootor
Name[ga]=Inneall SQLite
Name[it]=Motore DB SQLite
Name[sv]=SQLite-databasgränssnitt
Name[tr]=SQLite DBMotoru
Name[zh_CN]=SQLite 数据引擎
X-KDE-Library=libamarok_sqlite_dbengine_plugin
Comment=Plugin for amaroK
Comment[bg]=Приставка за amaroK
Comment[br]=Lugent evit amaroK
Comment[cs]=Modul pro amaroK
Comment[de]=Modul für amaroK
Comment[el]=Πρόσθετο για το amaroK
Comment[es]=Plugin para amaroK
Comment[et]=AmaroKi plugin
Comment[fr]=Module pour AmaroK
Comment[ga]=Breiseán amaroK
Comment[hi]=अमारोक के लिए प्लगइन
Comment[hu]=Bővítőmodul az amaroKhoz
Comment[is]=Íforrit fyrir amaroK
Comment[it]=Plugin per amaroK
Comment[ja]=amaroK用プラグイン
Comment[mk]=Приклучок за amaroK
Comment[ms]=Plugmasuk untuk amaroK
Comment[nl]=Plugin voor amaroK
Comment[pl]=Wtyczka amaroK-a
Comment[pt]='Plugin' para o amaroK
Comment[pt_BR]=Plug-in para o amaroK
Comment[ru]=Модуль amaroK
Comment[sl]=Vstavek za amaroK
Comment[sr]=Прикључак за amaroK
Comment[sr@Latn]=Priključak za amaroK
Comment[sv]=Insticksprogram för amaroK
Comment[ta]=amaroKகான சொருகி
Comment[tg]=Гузоштани дастаи иттисол барои амароК
Comment[tr]=amaroK için eklenti
Comment[uk]=Втулок для amaroK
Comment[uz]=amaroK учун плагин
Comment[zh_CN]=amaroK 插件
ServiceTypes=amaroK/Plugin

X-KDE-amaroK-plugintype=dbengine
X-KDE-amaroK-name=sqlite-dbengine
X-KDE-amaroK-authors=Mark Kretschmann, Christian Muehlhaeuser
X-KDE-amaroK-email=markey@web.de
X-KDE-amaroK-rank=255
X-KDE-amaroK-version=1
X-KDE-amaroK-framework-version=5

