[Desktop Entry]
Type=Service
Name=Nepomuk Collection
Name[be]=Калекцыя Nepomuk
Name[bg]=Колекция Nepomuk
Name[ca]=Col·lecció Nepomuk
Name[cs]=Kolekce Nepomuku
Name[csb]=Kòlekcëjô Nepomuka
Name[da]=Nepomuk-samling
Name[de]=Nepomuk-Sammlung
Name[el]=Συλλογή Nepomuk
Name[en_GB]=Nepomuk Collection
Name[es]=Colección Nepomuk
Name[et]=Nepomuki kogu
Name[eu]=Nepomuk bilduma
Name[fi]=Nepomuk-kokoelma
Name[fr]=Collection Nepomuk
Name[ga]=Bailiúchán Nepomuk
Name[gl]=Colección de Nepomuk
Name[he]=אוסף Nepomuk
Name[hne]=नेपोमक संग्रह
Name[hu]=Nepomuk-gyűjtemény
Name[is]=Nepomuk safn
Name[it]=Collezione Nepomuk
Name[ja]=Nepomuk コレクション
Name[km]=ការ​សម្រាំង​របស់ Nepomuk
Name[ko]=Nepomuk 모음집
Name[ku]=Berhevoka Nepomuk ji bo Amarok
Name[lt]=Nepomuk fonoteka
Name[lv]=Nepomuk kolekcija
Name[nb]=Nepomuk samling
Name[nds]=Nepomuk-Sammeln
Name[nl]=Nepomuk-collectie
Name[nn]=Nepomuk-samling
Name[pa]=ਨਿਪੁਮੂਕ ਭੰਡਾਰ
Name[pl]=Kolekcja Nepomuk
Name[pt]=Colecção do Nepomuk
Name[pt_BR]=Coleção Nepomuk
Name[ro]=Colecție Nepomuk
Name[ru]=Коллекция Nepomuk
Name[sl]=Zbirka Nepomuk
Name[sr]=Непомук збирка
Name[sr@latin]=Nepomuk zbirka
Name[sv]=Nepomuk-samling
Name[th]=คลังดนตรีของ Nepomuk
Name[tr]=Nepomuk Koleksiyonu
Name[uk]=Збірка Nepomuk
Name[wa]=Ramexhnêye Nepomuk
Name[x-test]=xxNepomuk Collectionxx
Name[zh_CN]=Nepomuk 收藏
Name[zh_TW]=Nepomuk 收藏


ServiceTypes=Amarok/Plugin

X-KDE-Library=amarok_collection-nepomukcollection

X-KDE-Amarok-authors=Daniel Winter
X-KDE-Amarok-email=dw@danielwinter.de
X-KDE-Amarok-framework-version=52
X-KDE-Amarok-name=nepomuk-collection
X-KDE-Amarok-plugintype=collection
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1
