[Desktop Entry]
Type=Service
Icon=network-server-database
Name=MySQLServer Storage
Name[bg]=MySQLServer Хранилище
Name[bs]=Zbirka na serveru MySQL
Name[ca]=Emmagatzematge MySQLServer
Name[ca@valencia]=Emmagatzematge MySQLServer
Name[cs]=Úložiště MySQLServer
Name[da]=MySQLServer-lagring
Name[de]=MySQLServer-Speicher
Name[el]=Αποθηκευτικό μέσο MySQLServer
Name[en_GB]=MySQLServer Storage
Name[eo]=Konservejo de MySQL-Servilo
Name[es]=Almacenamiento MySQLServer
Name[et]=MySQLServeri salvesti
Name[eu]=MySQLServer biltegiratzea
Name[fi]=MySQLServer-tallennus
Name[fr]=Stockage MySQLServer
Name[gl]=Almacenamento MySQLServer
Name[he]=אחסון MySQLServer
Name[hu]=MySQLServer tároló
Name[id]=Penyimpanan MySQLServer
Name[it]=Archiviazione MySQLServer
Name[ka]=MySQLServer-ის საცავი
Name[ko]=MySQL서버 저장소
Name[nl]=MySQLServer-opslag
Name[pl]=Przechowalnia MySQLServer
Name[pt]=Armazenamento no Servidor de MySQL
Name[pt_BR]=Armazenamento MySQLServer
Name[sk]=Úložisko MySQLServer
Name[sl]=Shramba MySQLServer
Name[sr]=Складиште над сервером МајСКуЛ‑а
Name[sr@ijekavian]=Складиште над сервером МајСКуЛ‑а
Name[sr@ijekavianlatin]=Skladište nad serverom MySQL‑a
Name[sr@latin]=Skladište nad serverom MySQL‑a
Name[sv]=MySQLServer-lagring
Name[tr]=MySQL Sunucu Depolaması
Name[uk]=Сховище даних MySQLServer
Name[x-test]=xxMySQLServer Storagexx
Name[zh_CN]=MySQLServer 存储
Name[zh_TW]=MySQLServer 儲存空間
Comment=Storage plugin for Amarok
Comment[bg]=Приставка за хранилища за Amarok
Comment[bs]=Priključak za Amarok
Comment[ca]=Connector d'emmagatzematge per a l'Amarok
Comment[ca@valencia]=Connector d'emmagatzematge per a Amarok
Comment[cs]=Modul úložiště pro AmaroK
Comment[da]=Lagrings-plugin til Amarok
Comment[de]=Speicher-Modul für Amarok
Comment[el]=Πρόσθετο αποθηκευτικού μέσου για το AmaroK
Comment[en_GB]=Storage plugin for Amarok
Comment[eo]=Konservada kromaĵo por Amarok
Comment[es]=Complemento de almacenamiento para Amarok
Comment[et]=Amaroki salvestiplugin
Comment[eu]=Amarok-erako biltegiratze plugina
Comment[fi]=Amarokin tallennusliitännäinen
Comment[fr]=Module de stockage pour Amarok
Comment[gl]=Complemento de almacenamento para Amarok.
Comment[he]=תוסף אחסון ל־Amarok
Comment[hu]=Tároló bővítmény Amarokhoz
Comment[id]=Plugin penyimpanan untuk Amarok
Comment[it]=Estensione di archiviazione per Amarok
Comment[ka]=საცავის დამატება Amarok-ისთვის
Comment[ko]=Amarok용 저장소 플러그인
Comment[nl]=Opslag-plug-in voor Amarok
Comment[pl]=Wtyczka przechowywania dla Amaroka
Comment[pt]='Plugin' de armazenamento do Amarok
Comment[pt_BR]=Plugin de armazenamento para o Amarok
Comment[sk]=Úložný modul pre Amarok
Comment[sl]=Vstavek shrambe za Amarok
Comment[sr]=Складишни прикључак за Амарок
Comment[sr@ijekavian]=Складишни прикључак за Амарок
Comment[sr@ijekavianlatin]=Skladišni priključak za Amarok
Comment[sr@latin]=Skladišni priključak za Amarok
Comment[sv]=Lagringsinsticksprogram för Amarok
Comment[tr]=Amarok için depolama eklentisi
Comment[uk]=Додаток сховища даних для Amarok
Comment[x-test]=xxStorage plugin for Amarokxx
Comment[zh_CN]=Amarok 的存储插件
Comment[zh_TW]=Amarok 的裝置外掛程式
NoDisplay=true

ServiceTypes=Amarok/Plugin

X-KDE-Amarok-authors=Ralf Engels
X-KDE-Amarok-email=ralf-engels@gmx.de
X-KDE-Amarok-framework-version=76
X-KDE-Amarok-name=mysqlserver-storage
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1
X-KDE-Amarok-vital=true

X-KDE-PluginInfo-Author=Ralf Engels
X-KDE-PluginInfo-Email=ralf.engels@gmx.de
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Storage
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=amarok_storage-mysqlserverstorage
X-KDE-Library=amarok_storage-mysqlserverstorage
