[Desktop Entry]
Name=Upcoming Events Data Engine
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=amarok
X-KDE-Library=amarok_data_engine_similarArtists
X-KDE-PluginInfo-Name=amarok-similarArtists
X-KDE-ParentApp=Amarok

