[Desktop Entry]
Name=Cloud Data Engine
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=amarok
X-KDE-Library=amarok_data_engine_cloud
X-Plasma-EngineName=amarok-cloud

