[Desktop Entry]
Name=Tabs Data Engine
Name[x-test]=xxTabs Data Enginexx
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=Tabs
X-KDE-Library=amarok_data_engine_tabs
X-KDE-PluginInfo-Name=amarok-tabs
X-KDE-ParentApp=Amarok

