[Desktop Entry]
Type=Service
Name=<no engine>
Name[bg]=<без звукова система>
Name[br]=<keflusker ebet>
Name[da]=<ingen motor>
Name[de]=Kein Treiber
Name[et]=<mootor puudub>
Name[fr]=<aucun moteur>
Name[it]=<nessun motore>
Name[nl]=<geen engine>
Name[pt]=<sem motor>
Name[pt_BR]=<sem motor>
Name[ru]=<нет>
Name[sv]=<inget gränssnitt>
Name[uk]=<немає рушія>
Name[uz]=<йўқ>
Name[zh_CN]=<无引擎>
X-KDE-Library=libamarok_void-engine_plugin
Comment=Plugin for amaroK
Comment[bg]=Приставка за amaroK
Comment[cs]=Modul pro amaroK
Comment[de]=Plugin für amaroK
Comment[el]=Πρόσθετο για το amaroK
Comment[es]=Plugin para amaroK
Comment[et]=AmaroKi plugin
Comment[fr]=Module pour AmaroK
Comment[it]=Plugin per amaroK
Comment[ms]=Plugmasuk untuk amaroK
Comment[nl]=Plugin voor amaroK
Comment[pt]='Plugin' para o amaroK
Comment[pt_BR]=Plug-in para o amaroK
Comment[ru]=Модуль amaroK
Comment[sl]=Vstavek za amaroK
Comment[sr]=Прикључак за amaroK
Comment[sv]=Insticksprogram för amaroK
Comment[ta]=amaroKகான சொருகி
Comment[tg]=Гузоштани дастаи иттисол барои амароК
Comment[uk]=Втулок для amaroK
Comment[uz]=amaroK учун плагин
Comment[xx]=xxPlugin for amaroKxx
Comment[zh_CN]=amaroK 插件
ServiceTypes=amaroK/Plugin

X-KDE-amaroK-plugintype=engine
X-KDE-amaroK-name=void-engine
X-KDE-amaroK-authors=Max Howell,Mark Kretschmann
X-KDE-amaroK-email=max.howell@methylblue.com
X-KDE-amaroK-rank=1
X-KDE-amaroK-version=1
X-KDE-amaroK-framework-version=3

