[Desktop Entry]
Type=Service
Name=<no engine>
Name[bg]=<без система>
Name[bn]=<কোনও ইঞ্জিন নয়>
Name[br]=<keflusker ebet>
Name[cs]=<žádný systém>
Name[da]=<ingen motor>
Name[de]=Keine Audio-Ausgabe
Name[el]=<χωρίς μηχανή>
Name[et]=<mootor puudub>
Name[fi]=<ei järjestelmää>
Name[fr]=<aucun moteur>
Name[ga]=<gan inneall>
Name[he]=<ללא מנוע שמע>
Name[hi]=<कोई इंजिन नहीं>
Name[hu]=<nincs>
Name[is]=<engin vél>
Name[it]=<nessun motore>
Name[ja]=<エンジンなし>
Name[km]=<គ្មាន​ម៉ាស៊ីន>
Name[lt]=<garso sistema neparinkta>
Name[mk]=<нема машина>
Name[nb]=<ingen motor>
Name[nl]=<geen engine>
Name[pl]=<brak wyjścia>
Name[pt]=<sem motor>
Name[pt_BR]=<nenhum mecanismo>
Name[ru]=<нет>
Name[sl]=<brez pogona>
Name[sr]=<нема мотора>
Name[sr@Latn]=<nema motora>
Name[sv]=<inget gränssnitt>
Name[tr]=<motor yok>
Name[uk]=<немає рушія>
Name[uz]=<йўқ>
Name[xx]=xx<no engine>xx
Name[zh_CN]=<无引擎>
Name[zh_TW]=<不使用解碼引擎>
X-KDE-Library=libamarok_void-engine_plugin
Comment=Plugin for amaroK
Comment[bg]=Приставка за amaroK
Comment[bn]=আমারক-এর জন্য প্লাগিন
Comment[br]=Lugent evit amaroK
Comment[cs]=Modul pro amaroK
Comment[de]=Modul für amaroK
Comment[el]=Πρόσθετο για το amaroK
Comment[es]=Plugin para amaroK
Comment[et]=AmaroKi plugin
Comment[fi]=amaroKin laajennos
Comment[fr]=Module pour AmaroK
Comment[ga]=Breiseán amaroK
Comment[he]=תוספים של amaroK
Comment[hi]=अमारोक के लिए प्लगइन
Comment[hu]=Bővítőmodul az amaroKhoz
Comment[is]=Íforrit fyrir amaroK
Comment[it]=Plugin per amaroK
Comment[ja]=amaroK用プラグイン
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាប់ amaroK
Comment[lt]=amaroK įsiepis
Comment[mk]=Приклучок за amaroK
Comment[ms]=Plugmasuk untuk amaroK
Comment[nb]=Programtillegg for amaroK
Comment[nl]=Plugin voor amaroK
Comment[pa]=ਅਮਰੋਕ ਲਈ ਪਲੱਗਿੰਨ
Comment[pl]=Wtyczka amaroK-a
Comment[pt]='Plugin' para o amaroK
Comment[pt_BR]=Plug-in para o amaroK
Comment[ru]=Модуль amaroK
Comment[sl]=Vstavek za amaroK
Comment[sr]=Прикључак за amaroK
Comment[sr@Latn]=Priključak za amaroK
Comment[sv]=Insticksprogram för amaroK
Comment[ta]=amaroKகான சொருகி
Comment[tg]=Модул барои амароК
Comment[tr]=amaroK için eklenti
Comment[uk]=Втулок для amaroK
Comment[uz]=amaroK учун плагин
Comment[xx]=xxPlugin for amaroKxx
Comment[zh_CN]=amaroK 插件
Comment[zh_TW]=amaroK 的外掛程式
ServiceTypes=amaroK/Plugin

X-KDE-amaroK-plugintype=engine
X-KDE-amaroK-name=void-engine
X-KDE-amaroK-authors=Max Howell,Mark Kretschmann
X-KDE-amaroK-email=max.howell@methylblue.com
X-KDE-amaroK-rank=1
X-KDE-amaroK-version=1
X-KDE-amaroK-framework-version=23


