[Desktop Entry]
Type=Application
Version=1.0.0
Name=Amarok Nightly
Name[bg]=Amarok Nightly
Name[ca]=Amarok Nightly
Name[ca@valencia]=Amarok Nightly
Name[cs]=Amarok Nightly
Name[csb]=Amarok Nightly
Name[da]=Amarok Nightly
Name[de]=Amarok Nightly
Name[el]=Νυχτερινό AmaroK
Name[en_GB]=Amarok Nightly
Name[es]=Amarok nocturno
Name[et]=Amarok Nightly
Name[eu]=Amarok gauero
Name[fr]=Amarok Nightly
Name[ga]=Amarok Nightly
Name[gl]=Amarok nocturno
Name[hne]=अमाराक नाइटली
Name[hu]=Napi Amarok-verzió
Name[is]=Amarok nátthljóð
Name[it]=Amarok notturno
Name[ja]=Amarok Nightly
Name[km]=Amarok ពេលរាត្រី
Name[ko]=Amarok Nightly
Name[ku]=Amarok Şev (Nightly)
Name[lt]=Naktinis Amarok
Name[lv]=Amarok iknakts
Name[nb]=Amarok Nightly
Name[nds]=Amarok-bi-Nacht
Name[nl]=Amarok Nightly
Name[nn]=Amarok Nightly
Name[pa]=ਅਮਰੋਕ ਨਾਈਟਲੀ
Name[pl]=Amarok Nightly
Name[pt]=Nocturna do Amarok
Name[pt_BR]=Nightly do Amarok
Name[ro]=Amarok Nocturn
Name[ru]=Amarok Nightly
Name[sk]=Amarok Nightly
Name[sl]=Amarok Nightly
Name[sr]=Амарок поноћни
Name[sr@ijekavian]=Амарок поноћни
Name[sr@ijekavianlatin]=Amarok ponoćni
Name[sr@latin]=Amarok ponoćni
Name[sv]=Nattlig Amarok
Name[th]=แอมอะร็อกช่วงกลางคืน
Name[tr]=Amarok Nightly
Name[uk]=Нічна версія Amarok
Name[wa]=Amarok al nute
Name[x-test]=xxAmarok Nightlyxx
Name[zh_CN]=Amarok Nightly
Exec=amarok-nightly %U
TryExec=amarok-nightly
Icon=amarok
X-KDE-Protocols=http
MimeType=audio/aac;audio/mp4;audio/mpeg;audio/mpegurl;audio/vnd.rn-realaudio;audio/vorbis;audio/x-flac;audio/x-mp3;audio/x-mpegurl;audio/x-ms-wma;audio/x-musepack;audio/x-oggflac;audio/x-pn-realaudio;audio/x-scpls;audio/x-speex;audio/x-vorbis;audio/x-wav;video/x-ms-asf;
Categories=Qt;KDE;AudioVideo;Audio;Player;
