[Desktop Entry]
Type=Application
Version=1.0.0
Name=Amarok Nightly
Name[el]=Νυχτερινό AmaroK
Name[es]=Amarok nocturno
Name[eu]=Amarok gauero
Name[gl]=Amarok nocturno
Name[hne]=अमाराक नाइटली
Name[is]=Amarok nátthljóð
Name[it]=Amarok notturno
Name[km]=Amarok ពេលរាត្រី
Name[ku]=Amarok Şev (Nightly)
Name[lt]=Naktinis Amarok
Name[lv]=Amarok iknakts
Name[nds]=Amarok-bi-Nacht
Name[pa]=ਅਮਰੋਕ ਨਾਈਟਲੀ
Name[pt]=Nocturna do Amarok
Name[pt_BR]=Nightly do Amarok
Name[ro]=Amarok Nocturn
Name[sr]=Амарок поноћни
Name[sr@latin]=Amarok ponoćni
Name[sv]=Nattlig Amarok
Name[th]=แอมอะร็อกช่วงกลางคืน
Name[wa]=Amarok al nute
Name[x-test]=xxAmarok Nightlyxx
Exec=amarok-nightly %U
TryExec=amarok-nightly
Icon=amarok
X-KDE-Protocols=http
MimeType=audio/aac;audio/mp4;audio/mpeg;audio/mpegurl;audio/vnd.rn-realaudio;audio/vorbis;audio/x-flac;audio/x-mp3;audio/x-mpegurl;audio/x-ms-wma;audio/x-musepack;audio/x-oggflac;audio/x-pn-realaudio;audio/x-scpls;audio/x-speex;audio/x-vorbis;audio/x-wav;video/x-ms-asf;
Categories=Qt;KDE;AudioVideo;Audio;Player;
