[Desktop Entry]
Type=Application
Version=1.0.0
Name=Amarok Nightly Audio Configuration
Name[bg]=Настройване на звука в Amarok Nightly
Name[ca]=Configuració del so de l'Amarok Nightly
Name[ca@valencia]=Configuració del so de l'Amarok Nightly
Name[cs]=Nastavení audia pro Amarok Nightly
Name[csb]=Kònfigùracëjô aùdio Amaroka Nightly 
Name[da]=Konfiguration af Amarok Nightly Audio
Name[de]=Amarok Nightly Audio-einrichtung
Name[el]=Ρύθμιση ήχου νυχτερινού Amarok
Name[en_GB]=Amarok Nightly Audio Configuration
Name[es]=Configuración de audio de Amarok nocturno
Name[et]=Amarok Nightly heliseadistused
Name[eu]=Amarok-ek gaueroko audio konfigurazioa
Name[fr]=Configuration audio d'Amarok Nightly
Name[ga]=Cumraíocht Fuaime Amarok Nightly
Name[gl]=Configuración do son nocturno de Amarok
Name[hu]=A napi Amarok-verzió hangbeállítása
Name[is]=Amarok nátthljóðastillingar
Name[it]=Configurazione audio Amarok notturno
Name[ja]=Amarok Nightly オーディオ設定
Name[km]=ការ​កំណត់​រចនា​សម្ព័ន្ធ​អូឌីយ៉ូ​រាត្រី​របស់ Amarok
Name[ko]=Amarok Nightly 오디오 설정
Name[ku]=Veava Kirina Dengê ya Amarok Şev ê
Name[lt]=Naktinio Amarok muzikos parinktys
Name[lv]=Amarok iknakts audio konfigurācija
Name[nb]=Lydoppsett på Amarok Nightly
Name[nds]=Amarok-bi-Nacht-Klanginstellen
Name[nl]=Amarok Nightly audioconfiguratie
Name[nn]=Lydoppsett på Amarok Nightly
Name[pa]=ਅਮਰੋਕ ਨਾਈਟਲੀ ਆਡੀਓ ਸੰਰਚਨਾ
Name[pl]=Konfiguracja audio Amaroka Nightly
Name[pt]=Configuração de Áudio Nocturna do Amarok
Name[pt_BR]=Configuração de Áudio do Amarok Nightly
Name[ro]=Configurare audio Amarok Nocturn
Name[ru]=Настройка звука Amarok Nightly
Name[sl]=Nastavitve zvoka za Amarok Nightly
Name[sr]=Постава звука за Амарок поноћни
Name[sr@ijekavian]=Постава звука за Амарок поноћни
Name[sr@ijekavianlatin]=Postava zvuka za Amarok ponoćni
Name[sr@latin]=Postava zvuka za Amarok ponoćni
Name[sv]=Ljudinställning av Nattlig Amarok
Name[th]=การปรับแต่งค่าเสียงของแอมอะร็อกให้เหมาะกับกลางคืน
Name[tr]=Amarok Nightly Ses Yapılandırması
Name[uk]=Налаштування звуку для нічної версії Amarok
Name[wa]=Apontiaedje do son d' Amarok al nute
Name[x-test]=xxAmarok Nightly Audio Configurationxx
Name[zh_CN]=Amarok Nightly 音频配置
Name[zh_TW]=Amarok Nightly 音效設定
Exec=amarok-nightly-phonon
TryExec=amarok-nightly-phonon
Icon=amarok
Categories=Qt;KDE;AudioVideo;Audio;Player;
