[Desktop Entry]
Name=Albums
Name[be]=Альбомы
Name[bg]=Албуми
Name[bs]=Albumi
Name[ca]=Àlbums
Name[ca@valencia]=Àlbums
Name[cs]=Alba
Name[csb]=Albùmë
Name[da]=Albummer
Name[de]=Alben
Name[el]=Άλμπουμ
Name[en_GB]=Albums
Name[eo]=Albumoj
Name[es]=Álbumes
Name[et]=Albumid
Name[eu]=Albumak
Name[fa]=آلبومها
Name[fi]=Albumit
Name[fr]=Albums
Name[ga]=Albaim
Name[gl]=Álbums
Name[he]=אלבומים
Name[hne]=एल्बम
Name[hu]=Albumok
Name[ia]=Albumes
Name[id]=Album
Name[is]=Plötur
Name[it]=Album
Name[ja]=アルバム
Name[ka]=ალბომები
Name[km]=អាល់ប៊ុម
Name[ko]=앨범
Name[ku]=Albûm
Name[lt]=Albumai
Name[lv]=Albūmi
Name[mr]=अल्बम्स
Name[ms]=Album
Name[nb]=Album
Name[nds]=Alben
Name[nl]=Albums
Name[nn]=Album
Name[oc]=Albums
Name[pa]=ਐਲਬਮ
Name[pl]=Albumy
Name[pt]=Álbuns
Name[pt_BR]=Álbuns
Name[ro]=Albume
Name[ru]=Альбомы
Name[sk]=Albumy
Name[sl]=Albumi
Name[sq]=Albumet
Name[sr]=Албуми
Name[sr@ijekavian]=Албуми
Name[sr@ijekavianlatin]=Albumi
Name[sr@latin]=Albumi
Name[sv]=Album
Name[th]=อัลบั้มต่าง ๆ
Name[tr]=Albümler
Name[ug]=ئالبوملار
Name[uk]=Альбоми
Name[wa]=Alboms
Name[zh_CN]=专辑
Name[zh_TW]=專輯

Type=Service
Icon=media-album-cover-manager-amarok
ServiceTypes=Amarok/ContextApplet
Comment=Album cover manager for Amarok
Comment[bg]=Управление на обложки за албуми на Amarok
Comment[ca]=Gestor per a les caràtules d'àlbum per a l'Amarok
Comment[ca@valencia]=Gestor per a les caràtules d'àlbum per a Amarok
Comment[cs]=Správce obalů alb pro Amarok
Comment[da]=Håndtering af albumomslag til Amarok
Comment[de]=Cover-Verwaltung für Amarok
Comment[el]=Διαχειριστής εξωφύλλου άλμπουμ για το Amarok
Comment[en_GB]=Album cover manager for Amarok
Comment[eo]=Albumkovraĵmanaĝero por Amarok
Comment[es]=Gestor de portadas de álbumes para Amarok
Comment[et]=Amaroki kaanepildihaldur
Comment[eu]=Amarok-en album azal kudeatzailea
Comment[fi]=Amarokin levykansikuvien hallinta
Comment[fr]=Gestionnaire de pochettes d'album pour Amarok
Comment[gl]=Xestor de portadas de álbums para Amarok.
Comment[hu]=Borítókezelő az Amarokhoz
Comment[id]=Pengelola sampul album untuk Amarok
Comment[it]=Gestore delle copertine per Amarok
Comment[ka]=Amarok-ის ალბომების ყდების მმართველი
Comment[ko]=Amarok 앨범 커버 관리자
Comment[nl]=Albumhoesbeheerder voor Amarok
Comment[pl]=Zarządzanie okładkami albumów dla Amaroka
Comment[pt]=Gestor de capas de álbuns para o Amarok
Comment[pt_BR]=Gerenciador de capas de álbum para o Amarok
Comment[sk]=Správca obalov albumov pre Amarok
Comment[sl]=Upravljalnik ovitkov za Amarok
Comment[sv]=Albumomslagshanterare för Amarok
Comment[tr]=Amarok için albüm kapak görseli yöneticisi
Comment[uk]=Керування зображеннями обкладинок альбомів для Amarok
Comment[zh_CN]=Amarok 专辑封面管理器
Comment[zh_TW]=Amarok 的專輯封面管理員

X-KDE-PluginInfo-Author=Seb Ruiz
X-KDE-PluginInfo-Email=ruiz@kde.org
X-KDE-PluginInfo-Name=org.kde.amarok.albums
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-ParentApp=amarok
X-KDE-PluginInfo-Category=Current

