[Desktop Entry]
Name=Package metadata test file
Name[be@latin]=Testavy fajł z pakunkavymi metaźviestkami
Name[bn_IN]=প্যাকেজ মিটা-ডাটার পরীক্ষার ফাইল
Name[ca]=Fitxer de proves de metadades de paquet
Name[da]=Testfil med pakkemetadata
Name[de]=Paket-Metadaten-Testdatei
Name[el]=Δοκιμαστικό αρχείο μεταδεδομένων του πακέτου
Name[eo]=Testa dosiero por pakaĵaj metadatumoj
Name[es]=Archivo de prueba del paquete de metadatos
Name[et]=Paketi metaandmete testfail
Name[fi]=Pakettien metadatan testaustiedosto
Name[fr]=Fichier de test des méta-données de paquetage
Name[fy]=Testtriem foar pakketmetadata"
Name[ga]=Comhad tástála le haghaidh PackageMetaData
Name[gl]=Ficheiro de proba dos metadatos do paquete
Name[gu]=પેકેજ મેટાડેટા ચકાસણી ફાઇલ
Name[hu]=Metaadatokat tartalmazó tesztfájl
Name[is]=PackageMetaData prófunarskrá
Name[it]=File di test per i metadati dei pacchetti
Name[kk]=Десте метадеректер сынақ файлы
Name[km]=ឯកសារ​សាកល្បង​ទិន្នន័យ​មេតា​កញ្ចប់
Name[kn]=ಕಂತೆ (ಪ್ಯಾಕೇಜ್) ಪ್ರದತ್ತ (ಮೆಟಾಡಾಟಾ) ಪರೀಕ್ಷಣಾ ಕಡತ
Name[ko]=패키지 메타데이터 테스트 파일
Name[lv]=Pakotņu metadatu testa fails
Name[ml]=പാക്കേജ് മെറ്റാഡേറ്റാ പരീക്ഷണ ഫയല്‍
Name[mr]=संकुल मेटाडाटा चाचणी फाइल
Name[nb]=Testfil for Package metadata
Name[nds]=Paketmetadaten-Testdatei
Name[nl]=Testbestand voor pakketmetadata
Name[nn]=Testfil for pakkemetadata
Name[pa]=ਪੈਕੇਜ ਮੇਟਾਡਾਟਾ ਟੈਸਟ ਫਾਇਲ ਹੈ।
Name[pl]=Plik testowy meta-danych pakietu
Name[pt]=Ficheiro de testes de meta-dados dos pacotes
Name[pt_BR]=Arquivo de teste de meta-dados de pacotes
Name[ro]=Fișier test pentru pachet metadata
Name[se]=Páhkametedáhtaid geahččalanfiila
Name[sl]=Datoteka za test metapodatkov paketa
Name[sr]=Пробни фајл метаподатака пакета
Name[sr@latin]=Probni fajl metapodataka paketa
Name[sv]=Testfil för paketmetadata
Name[te]=ప్యాకేజ్ మెటాడాటా పరిశీలన దస్త్రము
Name[th]=แฟ้มทดสอบข้อมูลกำกับแพ็กเกจ
Name[tr]=Paket metadata test dosyası
Name[uk]=Тестовий файл метаданих пакунка
Name[wa]=Fitchî des dnêyes meta des pacaedjes
Name[x-test]=xxPackage metadata test filexx
Name[zh_CN]=打包元数据测试文件
Name[zh_TW]=套件中繼資料測試檔
Comment=A test desktop file to test the PackageMetaData class.
Comment[be@latin]=Testavy fajł rabočaha stała dla klasy „PackageMetaData”
Comment[ca]=Un fitxer d'escriptori de proves per provar la classe PackageMetaData.
Comment[da]=En test-desktopfil til at teste PackageMetaData-klassen.
Comment[de]=Eine Test-Desktop-Datei zum Testen der Klasse PackageMetaData.
Comment[el]=Ένα δοκιμαστικό αρχείο desktop για τον έλεγχο τς κλάσης PackageMetaData.
Comment[eo]=Testa labortabla dosiero por testi la PackageMetaData-klason.
Comment[es]=Un archivo de escritorio de prueba para probar la clase PackageMetaData.
Comment[et]=Test-töölauafail klassi PackageMetaData testimiseks.
Comment[fi]=Työpöydän testitiedosto PackageMetaData-luokan testaamiseksi
Comment[fr]=Un fichier desktop de test pour tester la classe PackageMetaData.
Comment[fy]=In testburoblêdtriem om de pakketMetaData class te testen.
Comment[ga]=Comhad tástála deisce a úsáidtear chun aicme PackageMetaData a thástáil.
Comment[gl]=Un ficheiro de escritorio de proba para probar a clase PackageMetaData.
Comment[gu]=પેકેજમેટાડેટા વર્ગ ચકાસવા માટે ચકાસણી ડેસ્કટોપ ફાઇલ.
Comment[hu]=Asztali fájl a PackageMetadata osztály teszteléséhez.
Comment[is]=Skjáborðsskrá til prófunar á PackageMetaData class
Comment[it]=Un file desktop di test per la classe PackageMetaData.
Comment[kk]=PackageMetaData класын сынайтын desktop сынақ файлы.
Comment[km]=ឯកសារ​ផ្ទៃតុ​សាកល្បង​ ត្រូវ​សាកល្បង​ថ្នាក់​ទិន្នន័យ​មេតា​កញ្ចប់ ។
Comment[kn]=PackageMetaData ವರ್ಗವನ್ನು ಪರೀಕ್ಷಿಸಲು ಒಂದು ಪರೀಕ್ಷಾರ್ಥ ಗಣಕತೆರೆ ಕಡತ.
Comment[ko]=PackageMetaData 클래스를 테스트하는 데스크톱 파일.
Comment[lv]=Testa .dekstop fails lai pārbaudītu PackageMetaData klasi.
Comment[ml]=PackageMetaData ക്ലാസ്സ് പരീക്ഷിക്കുന്നതിനുള്ള ഒരു പരീക്ഷണ പണിയിട ഫയല്‍.
Comment[mr]=PackageMetaData क्लासची चाचणी करीता एक चाचणी डेस्कटॉप फाइल.
Comment[nb]=En skrivebordsfil med testdata for klassen PackageMetaData.
Comment[nds]=Schriefdisch-Datei för't Utproberen vun de PackageMetaData-Klass
Comment[nl]=Een desktop-bestand voor het testen van de klasse PackageMetaData.
Comment[nn]=Ei .desktop-fil for testing av PackageMetaData-klassen.
Comment[pa]=PackageMetaData ਕਲਾਸ ਟੈਸਟ ਕਰਨ ਲਈ ਇੱਕ ਟੈਸਟ ਡੈਸਕਟਾਪ ਫਾਇਲ
Comment[pl]=Plik desktop do testów klasy PackageMetaData.
Comment[pt]=Um ficheiro 'desktop' de testes da classe PackageMetaData.
Comment[pt_BR]=Um arquivo desktop de testes para a classe PackageMetaData.
Comment[ro]=Un fișier birou de test  pentru a verifica clasa PackageMetaData.
Comment[se]=.desktop-fiilla mainna geahččala PackageMeta-luohká.
Comment[sl]=Namizna datoteka za test razreda PackageMetaData.
Comment[sr]=Пробни фајл површи за класу PackageMetaData.
Comment[sr@latin]=Probni fajl površi za klasu PackageMetaData.
Comment[sv]=En skrivbordsfil för att testa klassen PackageMetaData.
Comment[te]=PackageMetaData క్లాస్‌ను పరిశీలించుటకు ఒక పరిశోధనా డెస్‍క్ టాప్ ఫైల్
Comment[th]=แฟ้มทดสอบพื้นที่ทำงาน สำหรับทดสอบคลาสข้อมูลกำกับแพ็กเกจ
Comment[tr]=PackageMetaData sınıfını test etmek için bir desktop dosyası
Comment[uk]=Тестовий стільничний файл для випробовування класу PackageMetaData.
Comment[x-test]=xxA test desktop file to test the PackageMetaData class.xx
Comment[zh_CN]=一个用来测试 PackageMetaData 类的测试桌面文件。
Comment[zh_TW]=測試 PackageMetaData 類別的桌面檔

Icon=test
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Screenshot=a_not_default_file.svg
X-KDE-Library=some_test_library
X-KDE-PluginInfo-Author=Bertjan Broeksema
X-KDE-PluginInfo-Email=b.broeksema@kdemail.net
X-KDE-PluginInfo-Name=test
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=System test
X-KDE-PluginInfo-Depends=some_test_dep
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-KDE-Plasmagik-RequiredVersion=1.2.3
X-KDE-Plasmagik-ApplicationName=A Test name
X-KDE-Plasmagik-MainFile=Main file

X-PlasmoidCategory=System Information
