[Desktop Entry]
Name=Package metadata test file
Name[bg]=Тестване на метаданните
Name[ca]=Fitxer de proves de metadades de paquet
Name[da]=Testfil til pakke-metadata
Name[de]=Paketmetadaten-Testdatei
Name[el]=Δοκιμαστικό αρχείο μεταδεδομένων του πακέτου
Name[eo]=Pakaĵa meta-datuma testdosiero
Name[es]=Archivo de prueba de metadata del paquete
Name[et]=Paketi metaandmete testfail
Name[eu]=Paketeen metadatuen proba fitxategia
Name[fr]=Fichier de test des métadonnées de paquetage
Name[ga]=Comhad tástála le haghaidh PackageMetaData
Name[gl]=Ficheiro de proba de metadatos de paquete
Name[is]=PackageMetaData prófunarskrá
Name[it]=File di test di metadati di un pacchetto
Name[km]=ឯកសារ​សាកល្បង​មេតាកញ្ចប់
Name[ko]=패키지 메타데이터 테스트 파일
Name[ku]=Pela ceribandina ser-dane yê pakêtê
Name[lt]=Paketo metainformacijos tikrinimo failas
Name[lv]=Pakotnes metadatu testa fails
Name[nb]=Testfil for Package metadata
Name[nds]=Pröövdatei för Paket-Metadaten
Name[nl]=Testbestand voor pakketmetadata
Name[nn]=Testfil for pakkemetadata
Name[pa]=ਪੈਕੇਜ ਮੇਟਾਡਾਟਾ ਟੈਸਟ ਫਾਇਲ
Name[pl]=Plik testowy pakietów metadanych
Name[pt]=Ficheiro de testes de meta-dados dos pacotes
Name[pt_BR]=Arquivo de teste dos metadados do pacote
Name[ro]=Fișier de testat metadatele pachetului
Name[sv]=Testfil för paketmetadata
Name[th]=แฟ้มทดสอบข้อมูลกำกับแพกเกจ
Name[tr]=Paket meta verisi test dosyası
Name[uk]=Файл тесту метаданих пакунка
Name[x-test]=xxPackage metadata test filexx
Name[zh_CN]=包元数据测试文件
Name[zh_TW]=套件中繼資料測試檔
Comment=A test desktop file to test the PackageMetaData class.
Comment[bg]=Тестване класа на метаданните.
Comment[ca]=Un fitxer d'escriptori de proves per provar la classe PackageMetaData.
Comment[da]=En test-desktopfil til test af PackageMetaData-klassen.
Comment[de]=Eine Test-Desktop-Datei zum Testen der Klasse „PackageMetaData“.
Comment[el]=Ένα δοκιμαστικό αρχείο desktop για τον έλεγχο τς κλάσης PackageMetaData.
Comment[eo]=Testa tabula dosiero por testi la klason PackageMetaData.
Comment[es]=Un archivo de prueba para el escritorio para probar la clase PackageMetaData
Comment[et]=Test-töölauafail klassi PackageMetaData testimiseks.
Comment[eu]=PackageMetaData klasea probatzeko probako mahaigain fitxategia.
Comment[fr]=Un fichier de bureau pour tester la classe PackageMetaData.
Comment[ga]=Comhad tástála deisce a úsáidtear chun aicme PackageMetaData a thástáil.
Comment[gl]=Un ficheiro de escritorio de proba para probar a clase PackageMetaData.
Comment[is]=Skjáborðsskrá til prófunar á PackageMetaData class.
Comment[it]=Un file desktop di test per provare la classe PackageMetaData.
Comment[km]=ឯកសារ​ផ្ទៃតុ​សាកល្បង​ត្រូវ​សាកល្បង​ថ្នាក់ PackageMetaData ។
Comment[ko]=PackageMetaData 클래스를 테스트하기 위한 desktop 파일.
Comment[ku]=Pelekê sermasê yê ceribandinê ku polên PackageMetaData biceribîne.
Comment[lt]=Darbastalio failas, tikrinantis paketo metaduomenų klasę.
Comment[lv]=Testa darbvirsmas fails, lai pārbaudītu PackageMetaData klasi.
Comment[nb]=En skrivebordsfil med testdata for klassen PackageMetaData.
Comment[nds]=En Prööv-Schriefdischdatei för't Utprobeeren vun de Klass "PackageMetaData".
Comment[nl]=Een desktop-bestand voor het testen van de klasse PackageMetaData.
Comment[nn]=Ei .desktop-fil for testing av PackageMetaData-klassen.
Comment[pl]=Plik testowy pulpitu do testowania klasy PackageMetaData.
Comment[pt]=Um ficheiro 'desktop' de testes da classe PackageMetaData.
Comment[pt_BR]=Um arquivo desktop de teste, para testar a classe PackageMetaData.
Comment[ro]=Un fișier de probă pentru a verifica clasa PackageMetadata.
Comment[sv]=En skrivbordsfil för att testa klassen PackageMetaData.
Comment[th]=แฟ้มทดสอบของระบบพื้นที่ทำงานเพื่อทดสอบคลาสข้อมูลกำกับแพกเกจ
Comment[tr]=PaketMetaVeri sınıfı testi için masaüstü test dosyası.
Comment[uk]=Тестовий стільничний файл для перевірки класу PackageMetaData.
Comment[x-test]=xxA test desktop file to test the PackageMetaData class.xx
Comment[zh_CN]=一个用于测试 PackageMetaData 类的桌面文件。
Comment[zh_TW]=測試 PackageMetaData 類別的桌面檔

Icon=test
Type=Service
X-KDE-ServiceTypes=AmarokContext/Applet

X-KDE-Screenshot=a_not_default_file.svg
X-KDE-Library=some_test_library
X-KDE-PluginInfo-Author=Bertjan Broeksema
X-KDE-PluginInfo-Email=b.broeksema@kdemail.net
X-KDE-PluginInfo-Name=test
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=System test
X-KDE-PluginInfo-Depends=some_test_dep
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-KDE-Plasmagik-RequiredVersion=1.2.3
X-KDE-Plasmagik-ApplicationName=A Test name
X-KDE-Plasmagik-MainFile=Main file

X-PlasmoidCategory=System Information
