[Desktop Entry]
Type=Service
Name=NMM Engine
Name[bg]=Система NMM
Name[bn]=এনএমএম ইঞ্জিন
Name[br]=Keflusker NMM
Name[ca]=motor NMM
Name[cs]=NMM
Name[da]=NMM-motor
Name[de]=NMM
Name[el]=Μηχανή NMM
Name[es]=Motor NMM
Name[et]=NMM mootor
Name[fi]=NMM
Name[fr]=Moteur NMM
Name[ga]=Inneall NMM
Name[gl]=Motor NMM
Name[he]=מנוע שמע NMM
Name[hi]=एनएमएम इंजिन
Name[hu]=NMM
Name[is]=NMM vél
Name[it]=Motore NMM
Name[ja]=NMMエンジン
Name[ka]=NMM dრავა
Name[km]=ម៉ាស៊ីន NMM
Name[lt]=NMM garso sistema
Name[ms]=Enjin NMM
Name[nb]=NMM-motor
Name[pa]=NMM ਇੰਜਣ
Name[pl]=Wyjście NMM
Name[pt]=Motor NMM
Name[pt_BR]=Mecanismo NMM
Name[ru]=NMM
Name[sl]=Pogon NMM
Name[sr]=Мотор NMM
Name[sr@Latn]=Motor NMM
Name[sv]=NMM-gränssnitt
Name[ta]=NMM பொறி
Name[tg]=Муҳаррики NMM
Name[tr]=NMM Motoru
Name[uk]=NMM
Name[uz]=NMM тизими
Name[xx]=xxNMM Enginexx
Name[zh_CN]=NMM 引擎
Name[zh_TW]=NMM 解碼引擎
X-KDE-Library=libamarok_nmmengine_plugin
Comment=Amarok plugin
Comment[bg]=Приставка за Amarok
Comment[br]=Lugent Amarok
Comment[da]=Plugin for Amarok
Comment[de]=Amarok-Modul
Comment[el]=Πρόσθετο AmaroK
Comment[et]=Amaroki plugin
Comment[fr]=Module Amarok
Comment[ga]=Breiseán AmaroK
Comment[it]=Plugin di Amarok
Comment[ja]=Amarokプラグイン
Comment[nl]=Amarok-plugin
Comment[pa]=ਅਮਰੋਕ ਪਲੱਗਇਨ
Comment[pt]='Plugin' para o Amarok
Comment[pt_BR]=Plugin do Amarok
Comment[ru]=Модуль amaroK
Comment[sr]=Прикључак за Amarok
Comment[sr@Latn]=Priključak za Amarok
Comment[sv]=Insticksprogram för Amarok
Comment[uk]=Втулок Amarok
Comment[zh_CN]=Amarok 插件
ServiceTypes=Amarok/Plugin

X-KDE-Amarok-plugintype=engine
X-KDE-Amarok-name=nmm-engine
X-KDE-Amarok-authors=NMM work group http://www.networkmultimedia.org
X-KDE-Amarok-email=nmm-dev@graphics.cs.uni-sb.de
X-KDE-Amarok-rank=50
X-KDE-Amarok-version=1
X-KDE-Amarok-framework-version=25


