[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=NMM Engine
X-KDE-Library=libamarok_nmmengine_plugin
Comment=Amarok plugin
ServiceTypes=Amarok/Plugin

X-KDE-Amarok-plugintype=engine
X-KDE-Amarok-name=nmm-engine
X-KDE-Amarok-authors=NMM work group http://www.networkmultimedia.org
X-KDE-Amarok-email=nmm-dev@graphics.cs.uni-sb.de
X-KDE-Amarok-rank=50
X-KDE-Amarok-version=1
X-KDE-Amarok-framework-version=28


