[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=NMM Engine
Name[af]=NMM Enjin
Name[ar]=محرك NMM
Name[bg]=NMM
Name[bn]=এনএমএম ইঞ্জিন
Name[br]=Keflusker NMM
Name[ca]=Motor NMM
Name[cs]=NMM
Name[da]=NMM-motor
Name[de]=NMM
Name[el]=Μηχανή NMM
Name[eo]=NMM Ilo
Name[es]=Motor NMM
Name[et]=NMM mootor
Name[eu]=NMM motorea
Name[fa]=موتور NMM
Name[fi]=NMM
Name[fr]=Moteur NMM
Name[ga]=Inneall NMM
Name[gl]=Motor NMM
Name[he]=מנוע שמע NMM
Name[hi]=एनएमएम इंजिन
Name[hu]=NMM alrendszer
Name[is]=NMM vél
Name[it]=Motore NMM
Name[ja]=NMM エンジン
Name[ka]=NMM dრავა
Name[km]=ម៉ាស៊ីន NMM
Name[lt]=NMM variklis
Name[mk]=NMM-машина
Name[ms]=Enjin NMM
Name[nb]=NMM-motor
Name[nds]=NMM
Name[ne]=NMM इन्जिन
Name[nn]=NMM-motor
Name[pa]=NMM ਇੰਜਣ
Name[pl]=Wyjście NMM
Name[pt]=Motor NMM
Name[pt_BR]=Mecanismo NMM
Name[ru]=NMM
Name[se]=NMM-mohtor
Name[sl]=Pogon NMM
Name[sq]=Motor NMM
Name[sr]=Мотор NMM
Name[sr@Latn]=Motor NMM
Name[ss]=Motor NMM
Name[sv]=NMM-gränssnitt
Name[ta]=NMM பொறி
Name[tg]=Муҳаррики NMM
Name[tr]=NMM Motoru
Name[uk]=Рушій NMM
Name[uz]=NMM tizimi
Name[uz@cyrillic]=NMM тизими
Name[wa]=Éndjin NMM
Name[zh_CN]=NMM 引擎
Name[zh_TW]=NMM 解碼引擎
X-KDE-Library=libamarok_nmmengine_plugin
Comment=Amarok plugin
Comment[af]=Amarok inprop module
Comment[ar]=قابس ( برنامج مضاف الى ) AmaroK
Comment[bg]=Приставка за Amarok
Comment[bn]=আমারক প্লাগিন
Comment[br]=Lugent Amarok
Comment[ca]=Connector de l'Amarok
Comment[cs]=Amarok modul
Comment[da]=Plugin for Amarok
Comment[de]=Amarok-Modul
Comment[el]=Πρόσθετο AmaroK
Comment[eo]=Amarok kromaĵo
Comment[es]=Extensión de Amarok
Comment[et]=Amaroki plugin
Comment[fa]=وصلۀ amaroK
Comment[fi]=Amarok-liitännäinen
Comment[fr]=Module Amarok
Comment[ga]=Breiseán AmaroK
Comment[gl]=Extensión para Amarok
Comment[hu]=Amarok-bővítőmodul
Comment[is]=Amarok íforrit
Comment[it]=Plugin di Amarok
Comment[ja]=Amarok プラグイン
Comment[ka]=Amarok მოდული
Comment[km]=កម្មវិធី​ជំនួយ Amarok
Comment[lt]=Amarok priedas
Comment[mk]=Приклучок за Амарок
Comment[ms]=Plugin Amarok
Comment[nb]=Programtillegg for Amarok
Comment[nds]=Amarok-Moduul
Comment[ne]=अमारोक प्लगइन
Comment[nl]=Amarok-plugin
Comment[nn]=Amarok-tillegg
Comment[pa]=ਅਮਰੋਕ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka Amaroka
Comment[pt]='Plugin' para o Amarok
Comment[pt_BR]=Plugin do Amarok
Comment[ru]=Модуль amaroK
Comment[se]=Amarok-lassemoduvla
Comment[sk]=Amarok modul
Comment[sr]=Прикључак за Amarok
Comment[sr@Latn]=Priključak za Amarok
Comment[sv]=Insticksprogram för Amarok
Comment[th]=โปรแกรมเสริมของ Amarok
Comment[tr]=Amarok eklentisi
Comment[uk]=Втулок Amarok
Comment[uz]=Amarok plagini
Comment[uz@cyrillic]=Amarok плагини
Comment[wa]=Tchôke-divins Amarok
Comment[zh_CN]=Amarok 插件
Comment[zh_TW]=AmaroK 插件
ServiceTypes=Amarok/Plugin

X-KDE-Amarok-plugintype=engine
X-KDE-Amarok-name=nmm-engine
X-KDE-Amarok-authors=NMM work group http://www.networkmultimedia.org
X-KDE-Amarok-email=nmm-dev@graphics.cs.uni-sb.de
X-KDE-Amarok-rank=50
X-KDE-Amarok-version=1
X-KDE-Amarok-framework-version=32


