[Desktop Entry]
Name=Current Info Data Engine
Name[bg]=Ядро за дата и време
Name[ca]=Motor de dades d'informació actual
Name[ca@valencia]=Motor de dades d'informació actual
Name[cs]=Datový nástroj Aktuální informace
Name[csb]=Mòtór aktualny wëdowiedzë ò pòdôwkach
Name[da]=Datamotor til Aktuel info
Name[de]=Datenmodul für Informationen über das aktuelle Stück
Name[el]=Μηχανή δεδομένων τρεχουσών πληροφοριών
Name[en_GB]=Current Info Data Engine
Name[eo]=Datuma motoro de la aktuala informo
Name[es]=Información del motor de datos actual
Name[et]=Aktiivse info andmete mootor
Name[eu]=Uneko informazioaren datu motorea
Name[fr]=Moteur de données pour les informations courantes
Name[ga]=Inneall Sonraí - Eolas Reatha
Name[gl]=Motor actual de dados de información
Name[hne]=अभी हाल के डाटा इंजिन जानकारी
Name[hu]=Aktuális információk adatmotorja
Name[is]=Núverandi gagnavél fyrir spilun
Name[it]=Motore dati informazione attuale
Name[ja]=現在の情報データエンジン
Name[km]=ម៉ាស៊ីន​ទិន្នន័យ​ព័ត៌មាន​បច្ចុប្បន្ន
Name[ko]=현재 정보 데이터 엔진
Name[ku]=Motora Dane ya Agahiyên Hene 
Name[lt]=Dabartinės informacijos duomenų sistema
Name[lv]=Pašreizējās informācijas datu dzinējs
Name[nb]=Gjeldende Informasjonsdatamotor
Name[nds]=Datenkarn för aktuell Daten
Name[nl]=Informatie-gegevensengine
Name[nn]=Datamotor for gjeldande spor
Name[pa]=ਮੌਜੂਦਾ ਜਾਣਕਾਰੀ ਡਾਟਾ ਇੰਜਣ
Name[pl]=Moduł danych bieżących informacji
Name[pt]=Motor de Dados da Informação Actual
Name[pt_BR]=Mecanismo de Dados das Informações Atuais
Name[ro]=Motor de date Informație curentă
Name[ru]=Источник данных для текущих сведений
Name[sk]=Dátový nástroj Aktuálne informácie
Name[sl]=Podatkovni pogon za podatke trenutni skladbi
Name[sr]=Датомотор текућих података
Name[sr@ijekavian]=Датомотор текућих података
Name[sr@ijekavianlatin]=Datomotor tekućih podataka
Name[sr@latin]=Datomotor tekućih podataka
Name[sv]=Datagränssnitt för aktuell information
Name[th]=กลไกข้อมูลของข้อมูลรายละเอียดปัจจุบัน
Name[tr]=Şu anki Bilgi Veri Motoru
Name[uk]=Поточний рушій інформаційних даних
Name[wa]=Éndjin d' dinêyes des informåcions do moumint
Name[x-test]=xxCurrent Info Data Enginexx
Name[zh_CN]=当前信息数据引擎
Name[zh_TW]=目前訊息的資料引擎
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=amarok
X-KDE-Library=amarok_data_engine_current
X-KDE-PluginInfo-Name=amarok-current
X-KDE-ParentApp=Amarok

