[Desktop Entry]
Name=Current Info Data Engine
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=amarok
X-KDE-Library=amarok_data_engine_current
X-Plasma-EngineName=amarok-current

