Source: amarok
Section: sound
Priority: optional
Maintainer: Pedro de Carvalho Gomes <pedrogomes81@gmail.com>
Build-Depends: debhelper-compat (= 11),
               cmake,
               extra-cmake-modules,
               kirigami2-dev,
               libaio-dev,
               libavcodec-dev,
               libavdevice-dev,
               libavformat-dev,
               libavutil-dev,
               libcurl4-openssl-dev,
               libfftw3-dev,
               libgcrypt20-dev,
               libgdk-pixbuf2.0-dev,
               libkf5archive-dev,
               libkf5attica-dev,
               libkf5codecs-dev,
               libkf5config-dev,
               libkf5configwidgets-dev,
               libkf5coreaddons-dev,
               libkf5crash-dev,
               libkf5dbusaddons-dev,
               libkf5declarative-dev,
               libkf5dnssd-dev,
               libkf5doctools-dev,
               libkf5globalaccel-dev,
               libkf5guiaddons-dev,
               libkf5i18n-dev,
               libkf5iconthemes-dev,
               libkf5kcmutils-dev,
               libkf5kio-dev,
               libkf5newstuff-dev,
               libkf5notifications-dev,
               libkf5notifyconfig-dev,
               libkf5package-dev,
               libkf5solid-dev,
               libkf5texteditor-dev,
               libkf5threadweaver-dev,
               libkf5wallet-dev,
               libkf5widgetsaddons-dev,
               libkf5windowsystem-dev,
               liblastfm5-dev,
               libloudmouth1-dev,
               libmariadbd-dev,
               libmariadb-dev,
               libmtp-dev,
               libmygpo-qt-dev,
               libofa0-dev,
               libphonon4qt5-dev,
               libpostproc-dev,
               libqt5svg5-dev,
               libssl-dev,
               libswscale-dev,
               libtag1-dev,
               libtag-extras-dev,
               libxml2-dev,
               pkg-config,
               qtdeclarative5-dev,
               qtquickcontrols2-5-dev,
               qtscript5-dev,
               qttools5-dev,
               qtwebengine5-dev
Standards-Version: 4.4.0
Homepage: https://github.com/pcgomes/amarok
#Vcs-Browser: https://salsa.debian.org/debian/amarok
#Vcs-Git: https://salsa.debian.org/debian/amarok.git

Package: amarok
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Amarok for KDE5
 Since (K)ubuntu 19.10, applications that were not ported to QT5 are no longer supported.
 Amarok has not been completely ported yet, but is usable. So I create packages for KDE5
 until the final port is concluded.
