[Desktop Entry]
Type=Application
Version=0.9.4
Encoding=UTF-8
Name=amaroK
Name[fr]=AmaroK
GenericName=Audio Player
GenericName[da]=Lydafspiller
GenericName[et]=Helifailide mängija
GenericName[fr]=Lecteur audio
GenericName[pt]=Leitor de Áudio
GenericName[pt_BR]=Tocador de Mídia
GenericName[sv]=Ljudspelare
Exec=amarok -caption "%c" %i %U
Comment=Uncle Rodney says, "10/10, amaroK is seriously super!"
Comment[da]=Onkel Rodney siger, "10/10, amaroK er virkelig super!"
Comment[et]=Onu Ronni ütleb: "Täitsa lõpp, amaroK on ikka superhea!"
Comment[pt]=O Tio Rodney diz, "10/10, amaroK é excelente!"
Comment[pt_BR]=O Tio Rodney disse: "10/10, amaroK é muito bom!"
Comment[sv]=Farbror Rodney säger, "10/10, amaroK är verkligen fantastiskt!"
Icon=amarok
MimeType=application/x-ogg;audio/x-vorbis;audio/basic;audio/x-mod;audio/x-mp3;audio/x-scpls;audio/x-sid;audio/x-wav;
DocPath=amarok/index.html
Terminal=false
Categories=Qt;KDE;AudioVideo
Actions=Enqueue;

[Desktop Action Enqueue]
Exec=amarok -caption "%c" %i -e %U
Name=Enqueue in amaroK
Name[da]=Enqueue i amaroK
Name[et]=AmaroKi nimekirja
Name[fr]=Mettre dans la liste de lecture d'AmaroK
Name[pt]=Colacar em fila no amaroK
Name[pt_BR]=Enfileirar no amaroK
Name[sv]=Köa i amaroK

