[Desktop Entry]
Type=Application
Version=0.9.4
Encoding=UTF-8
Name=amaroK
GenericName=Audio Player
GenericName[es]=Reproductor multimedia
GenericName[it]=Lettore multimediale
GenericName[xh]=Umdlali we Midia
GenericName[zu]=Umdlali Wezezindaba
Exec=amarok -caption "%c" %i %U
Comment=Uncle Rodney says, "10/10, amaroK is seriously super!"
Icon=amarok
MimeType=application/x-ogg;audio/x-vorbis;audio/basic;audio/x-mod;audio/x-mp3;audio/x-scpls;audio/x-sid;audio/x-wav;
DocPath=amarok/index.html
Terminal=false
Categories=Qt;KDE;AudioVideo
Actions=Enqueue;

[Desktop Action Enqueue]
Exec=amarok -caption "%c" %i -e %U
Name=Enqueue in amaroK

