<!DOCTYPE kpartgui>
<kpartgui name="amarok" version="2">
<ToolBar name="playlist_toolbar"><Text>Playlist Toolbar</Text>
 <Action name="playlist_add"/>
 <Action name="playlist_save"/>
 <Action name="playlist_clear"/>
 <Action name="playlist_shuffle"/>
 <Action name="playlist_show"/>
 <Separator lineSeparator="true"/>
 <Action name="playlist_undo"/>
 <Action name="playlist_redo"/>
 <Separator lineSeparator="true"/>
 <Action name="toolbar_analyzer" />
 <Separator lineSeparator="true"/>
 <Action name="prev" />
 <Action name="play" />
 <Action name="pause" />
 <Action name="stop" />
 <Action name="next" />
 <Action name="amarok_menu"/>
</ToolBar>

<State name="loading_media">
  <disable>
    <Action name="playlist_clear"/>
    <Action name="playlist_undo"/>
    <Action name="playlist_redo"/>
  </disable>
</State>
</kpartgui>
