[Desktop Entry]
Name=Media Devices
Name[be]=Медыяпрылады
Name[ca]=Dispositius de suports
Name[de]=Media-Player
Name[el]=Συσκευές πολυμέσων
Name[et]=Meediaseadmed
Name[ga]=Gléasanna Meán
Name[gl]=Dispositivos de medios
Name[it]=Dispositivi multimediali
Name[ja]=メディアデバイス
Name[km]=ឧបករណ៍​មេឌៀ
Name[nds]=Medienreedschap
Name[nl]=Media-apparaten
Name[pl]=Urządzenia mediów
Name[pt]=Dispositivos Multimédia
Name[pt_BR]=Dispositivos de Mídia
Name[sv]=Mediaenheter
Name[tr]=Medya Aygıtları
Name[uk]=Медіа-пристрої
Name[x-test]=xxMedia Devicesxx
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=amarok_context_applet_mediadevices
X-KDE-PluginInfo-Author=Alejandro Wainzinger
X-KDE-PluginInfo-Email=aikawarazuni@gmail.com
X-KDE-PluginInfo-Name=mediadevices
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=amarok
X-KDE-PluginInfo-Category=Current

