[Desktop Entry]
Name=Media Devices
Name[be]=Медыяпрылады
Name[bg]=Медийни устройства
Name[ca]=Dispositius de suports
Name[cs]=Mediální zařízení
Name[csb]=Ùrządzenia
Name[da]=Medieenheder
Name[de]=Media-Player
Name[el]=Συσκευές πολυμέσων
Name[en_GB]=Media Devices
Name[es]=Dispositivos multimedia
Name[et]=Meediaseadmed
Name[eu]=Multimedia gailuak
Name[fi]=Medialaitteet
Name[fr]=Périphérique multimédia
Name[ga]=Gléasanna Meán
Name[gl]=Dispositivos de medios
Name[he]=התקני מדיה
Name[hne]=मीडिया उपकरन
Name[hu]=Médiaeszközök
Name[is]=Ferðatæki
Name[it]=Dispositivi multimediali
Name[ja]=メディアデバイス
Name[km]=ឧបករណ៍​មេឌៀ
Name[ko]=미디어 장치
Name[ku]=Cîhazên Medya yê
Name[lt]=Media įrenginiai
Name[lv]=Multivides ierīces
Name[nb]=Mediaenheter
Name[nds]=Medienreedschap
Name[nl]=Media-apparaten
Name[nn]=Medieeiningar
Name[pa]=ਮੀਡਿਆ ਜੰਤਰ
Name[pl]=Urządzenia mediów
Name[pt]=Dispositivos Multimédia
Name[pt_BR]=Dispositivos de Mídia
Name[ro]=Dispozitive multimedia
Name[ru]=Переносные устройства
Name[sl]=Večpredstavnostne naprave
Name[sr]=Мултимедијални уређаји
Name[sr@latin]=Multimedijalni uređaji
Name[sv]=Mediaenheter
Name[th]=อุปกรณ์เล่นสื่อต่าง ๆ
Name[tr]=Medya Aygıtları
Name[uk]=Медіа-пристрої
Name[wa]=Éndjins media
Name[x-test]=xxMedia Devicesxx
Name[zh_CN]=媒体设备
Name[zh_TW]=媒體裝置
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=amarok_context_applet_mediadevices
X-KDE-PluginInfo-Author=Alejandro Wainzinger
X-KDE-PluginInfo-Email=aikawarazuni@gmail.com
X-KDE-PluginInfo-Name=mediadevices
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=amarok
X-KDE-PluginInfo-Category=Current

