[Desktop Entry]
Name=Last.fm Data Engine
Name[de]=Datenmodul für Last.fm
Name[it]=Motore dati di Last.fm
Name[nb]=Datamotor for Last.fm
Name[pt]=Motor de Dados do Last.fm
Name[pt_BR]=Mecanismo de dados do Last.fm
Name[sv]=Datagränssnitt för Last.fm
Name[uk]=Рушій даних Last.fm
Name[x-test]=xxLast.fm Data Enginexx
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=lastfm
X-KDE-Library=amarok_data_engine_lastfm
X-KDE-PluginInfo-Name=amarok-lastfm
