[Desktop Entry]
Name=LastFM Data Engine
Name[bg]=Ядро LastFM
Name[ca]=Motor de dades LastFM
Name[cs]=Datový nástroj LastFM
Name[csb]=Mòtór pòdôwków Last.fm
Name[da]=Datamotor til LastFM
Name[de]=Datenmodul zu Last.fm
Name[el]=Μηχανή δεδομένων LastFM
Name[en_GB]=LastFM Data Engine
Name[eo]=Datuma motoro de LastFM
Name[es]=Motor de datos de LastFM
Name[et]=LastFM andmete mootor
Name[eu]=LastFM datu motorea
Name[fr]=Moteur de données pour Last.fm
Name[ga]=Inneall Sonraí LastFM
Name[gl]=Motor de dados de LastFM
Name[he]=מנוע מידע של LastFM
Name[hne]=लास्टएफएम डाटा इंजिन
Name[hu]=Last.fm-adatmotor
Name[is]=Last.fm gagnarvélin
Name[it]=Motore dati di LastFM
Name[ja]=Last.fm データエンジン
Name[km]=ម៉ាស៊ីន​ទិន្នន័យ LastFM
Name[ko]=LastFM 데이터 엔진
Name[ku]=LastFM Motora Dane yan
Name[lt]=LastFM duomenų sistema
Name[lv]=LastFM datu dzinējs
Name[ms]=Enjin Data LastFM
Name[nb]=Datamotor for Last.fm
Name[nds]=LastFM-Datenkarn
Name[nl]=Last.fm-gegevensengine
Name[nn]=Datamotor for Last.fm
Name[pa]=LastFM ਡਾਟਾ ਇੰਜਣ
Name[pl]=Moduł danych LastFM
Name[pt]=Motor de Dados do LastFM
Name[pt_BR]=Mecanismo de Dados do LastFM
Name[ro]=Motor de date LastFM
Name[ru]=Источник данных LastFM
Name[sl]=Podatkovni pogon za Last.fm
Name[sr]=Датомотор ЛастФМ‑а
Name[sr@latin]=Datomotor last.fm‑a
Name[sv]=Datagränssnitt för Last.FM
Name[th]=กลไกข้อมูลของ LastFM
Name[tr]=LastFM Veri Motoru
Name[uk]=Рушій даних LastFM
Name[wa]=Éndjin d' dinêyes LastFM
Name[x-test]=xxLastFM Data Enginexx
Name[zh_CN]=LastFM 数据引擎
Name[zh_TW]=LastFM 資料引擎
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=lastfm
X-KDE-Library=amarok_data_engine_lastfm
X-KDE-PluginInfo-Name=amarok-lastfm
