[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Rio Karma Media Device
Name[af]=Rio Karma media toestel
Name[bg]=Устройство Rio Karma
Name[bn]=রিও কর্মা মিডিয়া ডিভাইস
Name[ca]=Dispositiu de suports Rio Karma
Name[cs]=Mediální zařízení Rio Karma
Name[da]=Rio Karma-medieenhed
Name[de]=Rio Karma Media-Player
Name[el]=Συσκευή πολυμέσων Rio Karma
Name[eo]=Rio Karma Media Ekipaĵo
Name[es]=Dispositivo Rio Karma
Name[et]=Rio Karma meediaseade
Name[fa]=دستگاه رسانۀ Rio Karma
Name[fi]=Rio Karma -medialaite
Name[fr]=Périphérique de média Rio Karma
Name[ga]=Gléas Meán Rio Karma
Name[hu]=Rio Karma médiaeszköz
Name[is]=Rio Karma
Name[it]=Dispositivo multimediale Rio Karma
Name[ja]=Rio Karma メディアデバイス
Name[ka]=Rio Karma მედია მოწყობილობა
Name[km]=ឧបករណ៍​មេឌៀ Rio Karma
Name[lt]=Rio Karma daugialypės terpės įrenginys
Name[mk]=Уред за мултимедија Rio Karma
Name[ms]=Peranti Media Rio Karma
Name[nb]=Rio Karma medieenhet
Name[nds]=Medienreedschap Rio Karma
Name[ne]=रियो कर्म मिडिया यन्त्र
Name[nl]=Rio Karma media-apparaat
Name[nn]=Rio Karma-medieeining
Name[pa]=Rio ਕਰਮਾ ਮੀਡਿਆ ਜੰਤਰ
Name[pl]=Urządzenie mediów Rio Karma
Name[pt]=Dispositivo Multimédia Rio Karma
Name[pt_BR]=Dispositivo de Mídia Rio Karma
Name[se]=Rio Karma-mediaovttadat
Name[sk]=Rio Karma Media zariadenie
Name[sr]=Rio Karma, мултимедијални уређај
Name[sr@Latn]=Rio Karma, multimedijalni uređaj
Name[sv]=Rio Karma-mediaenhet
Name[th]=อุปกรณ์เล่นสื่อ Rio Karma
Name[tr]=Rio Karma Ortam Aygıtı
Name[uk]=Пристрій носія Rio Karma
Name[uz]=Rio Karma media-uskunasi
Name[uz@cyrillic]=Rio Karma медиа-ускунаси
Name[wa]=Édjin d' media Rio Karma
Name[zh_CN]=Rio Karma 媒体设备
Name[zh_TW]=Rio Karma 媒體裝置
X-KDE-Library=libamarok_riokarma-mediadevice
Comment=Plugin for Amarok
Comment[af]=Inprop module vir Amarok
Comment[ar]= قابس ( برنامج مضاف الى) AmaroK
Comment[bg]=Приставка за Amarok
Comment[bn]=আমারক-এর জন্য প্লাগিন
Comment[br]=Lugent evit Amarok
Comment[ca]=Connector per l'Amarok
Comment[cs]=Modul pro AmaroK
Comment[de]=Modul für Amarok
Comment[el]=Πρόσθετο για το AmaroK
Comment[eo]=Kromaĵo por Amarok
Comment[es]=Extensión para Amarok
Comment[et]=Amaroki plugin
Comment[fa]=وصله برای amaroK
Comment[fi]=Amarok-liitännäinen
Comment[fr]=Module pour Amarok
Comment[ga]=Breiseán AmaroK
Comment[gl]=Extensión para Amarok
Comment[hu]=Bővítőmodul az Amarokhoz
Comment[is]=Íforrit fyrir Amarok
Comment[it]=Plugin per Amarok
Comment[ja]=Amarok のためのプラグイン
Comment[ka]=მოდული Amarok-ისთვის
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាប់ Amarok
Comment[lt]=Amarok įskiepis
Comment[mk]=Приклучок за Амарок
Comment[nb]=Programtillegg for Amarok
Comment[nds]=Moduul för Amarok
Comment[ne]=अमारोकका लागि प्लगइन
Comment[nl]=Plugin voor Amarok
Comment[nn]=Programtillegg for Amarok
Comment[pa]=ਅਮਰੋਕ ਲਈ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka Amaroka
Comment[pt]='Plugin' para o Amarok
Comment[pt_BR]=Plugin para o Amarok
Comment[ru]=Модуль amaroK
Comment[se]=Lassemoduvla Amarok:ii
Comment[sk]=Amarok modul
Comment[sr]=Прикључак за Amarok
Comment[sr@Latn]=Priključak za Amarok
Comment[sv]=Insticksprogram för Amarok
Comment[th]=โปรแกรมเสริมสำหรับ Amarok
Comment[tr]=Amarok için Eklenti
Comment[uk]=Втулок для Amarok
Comment[uz]=Amarok uchun plagin
Comment[uz@cyrillic]=Amarok учун плагин
Comment[wa]=Tchôke-divins po Amarok
Comment[zh_CN]=Amarok 插件
Comment[zh_TW]=amaroK 插件
ServiceTypes=Amarok/Plugin

X-KDE-Amarok-plugintype=mediadevice
X-KDE-Amarok-name=riokarma-mediadevice
X-KDE-Amarok-authors=Andy Kelk
X-KDE-Amarok-email=andy@mopoke.co.uk
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1
X-KDE-Amarok-framework-version=32
