[Desktop Entry]
Type=Service
Name=Rio Karma Media Device
Name[bg]=Устройство Rio Karma
Name[da]=Rio Karma-medieenhed
Name[ga]=Gléas Meán Rio Karma
Name[ja]=Rio Karma メディアデバイス
Name[pt]=Dispositivo Multimédia Rio Karma
Name[pt_BR]=Dispositivo Multimédia Rio Karma
X-KDE-Library=libamarok_riokarma-mediadevice
Comment=Plugin for Amarok
Comment[ar]= قابس ( برنامج مضاف الى) AmaroK
Comment[bg]=Приставка за Amarok
Comment[br]=Lugent evit Amarok
Comment[ca]=Connector per l'Amarok
Comment[cs]=Modul pro AmaroK
Comment[de]=Modul für Amarok
Comment[el]=Πρόσθετο για το AmaroK
Comment[es]=Extensión para Amarok
Comment[et]=Amaroki plugin
Comment[fr]=Module pour Amarok
Comment[ga]=Breiseán AmaroK
Comment[gl]=Extensión para Amarok
Comment[is]=Íforrit fyrir Amarok
Comment[it]=Plugin per Amarok
Comment[ja]=Amarok のためのプラグイン
Comment[ka]=Amarok-ის მოდული
Comment[nl]=Plugin voor Amarok
Comment[pa]=ਅਮਰੋਕ ਲਈ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka Amaroka
Comment[pt]='Plugin' para o Amarok
Comment[pt_BR]=Plugin para o Amarok
Comment[ru]=Модуль amaroK
Comment[sr]=Прикључак за Amarok
Comment[sr@Latn]=Priključak za Amarok
Comment[sv]=Insticksprogram för Amarok
Comment[uk]=Втулок для Amarok
Comment[zh_CN]=Amarok 插件
Comment[zh_TW]=amaroK 插件
ServiceTypes=Amarok/Plugin

X-KDE-Amarok-plugintype=mediadevice
X-KDE-Amarok-name=riokarma-mediadevice
X-KDE-Amarok-authors=Andy Kelk
X-KDE-Amarok-email=andy@mopoke.co.uk
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1
X-KDE-Amarok-framework-version=27
