[Desktop Entry]
Name=Upcoming Events
Name[ca]=Propers esdeveniments
Name[ca@valencia]=Propers esdeveniments
Name[cs]=Nadcházející události
Name[da]=Kommende begivenheder
Name[de]=Anstehende Ereignisse
Name[en_GB]=Upcoming Events
Name[es]=Próximos eventos
Name[et]=Tulevased sündmused
Name[is]=Væntanlegir atburðir
Name[it]=Prossimi eventi
Name[nb]=Kommende hendelser
Name[nds]=Anstahn Begeefnissen
Name[nl]=Komende evenementen
Name[nn]=Kommande hendingar
Name[pa]=ਆ ਰਹੇ ਈਵੈਂਟ
Name[pt]=Próximos Eventos
Name[pt_BR]=Próximos eventos
Name[sl]=Prihajajoči dogodki
Name[sr]=Предстојећи догађаји
Name[sr@ijekavian]=Предстојећи догађаји
Name[sr@ijekavianlatin]=Predstojeći događaji
Name[sr@latin]=Predstojeći događaji
Name[sv]=Kommande händelser
Name[uk]=Майбутні події
Name[x-test]=xxUpcoming Eventsxx
Type=Service
ServiceTypes=Plasma/Applet
Icon=upcomingevents-amarok

X-KDE-Library=amarok_context_applet_upcomingEvents
X-KDE-PluginInfo-Author=Joffrey Clavel
X-KDE-PluginInfo-Email=jclavel@clabert.info
X-KDE-PluginInfo-Name=upcomingEvents
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=amarok
X-KDE-PluginInfo-Category=Current

