[Desktop Entry]
Type=Service
Name=Local Files & USB Mass Storage Backend
Name[ca]=Fitxers locals i dorsal d'emmagatzematge massiu USB
Name[de]=Backend für lokale Dateien und USB-Massenspeicher
Name[el]=Τοπικά αρχεία & σύστημα υποστήριξης μαζικής αποθήκευσης USB
Name[es]=Motor de archivos locales y almacenamiento USB
Name[et]=Kohalike failide ja USB-pulkade taustaprogramm
Name[hu]=Helyi fájlok és USB tömeges tároló modul
Name[it]=Motore dei file locali e archiviazione USB di massa
Name[ja]=ローカルファイルと USB マス・ストレージのバックエンド
Name[nl]=Backend voor lokale bestanden & USB-massa-opslag
Name[pl]=Silnik lokalnych plików & i pamięć masowa USB
Name[pt]=Infra-Estrutura de Ficheiros Locais & Dispositivos USB
Name[pt_BR]=Infraestrutura de arquivos locais e dispositivos USB
Name[sk]=Miestne súbory & USB backend Mass Storage
Name[sl]=Zaledje za krajevne datoteke in hranilnike podatkov USB
Name[sv]=Gränssnitt för lokala filer och USB-masslagring
Name[uk]=Модуль локальних файлів та файлів на носіях з протоколом USB
Name[x-test]=xxLocal Files & USB Mass Storage Backendxx
Name[zh_TW]=本地檔案與 USB 儲存裝置後端介面
Icon=drive-harddisk
Comment=Local Collection folders on local and pluggable disks
Comment[ca]=Carpetes de col·leccions locals en discs locals o extraïbles
Comment[de]=Ordner der lokalen Sammlung auf lokalen und Wechseldatenträgern
Comment[el]=Φάκελοι τοπικών συλλογών σε τοπικούς και αυτοπροσαρτώμενους δίσκους
Comment[es]=Carpetas de la colección local y discos conectables
Comment[et]=Kohaliku kogu kataloogid kohalikel ja ühendatavatel ketastel
Comment[hu]=Helyi gyűjteménymappák helyi vagy csatlakoztatható lemezeken
Comment[it]=Cartelle della collezione locale su dischi locali e rimovibili
Comment[ja]=ローカルディスク、または取り外し可能なディスク内にあるローカルコレクションフォルダ
Comment[nl]=Mappen voor lokale verzameling op lokale en in te pluggen schijven
Comment[pl]=Lokalne katalogi kolekcji na lokalnych i wymiennych dyskach
Comment[pt]=Pastas de colecções locais nos discos locais e removíveis
Comment[pt_BR]=Pastas da coleção local nos discos locais e removíveis
Comment[sk]=Priečinky miestnej kolekcie na lokálnych a pripojiteľných diskoch
Comment[sl]=Mape krajevne zbirke na krajevnih in odstranljivih diskih
Comment[sv]=Lokala samlingskataloger på lokala och inkopplingsbara diskar
Comment[uk]=Теки локальної збірки на локальних та портативних дисках
Comment[x-test]=xxLocal Collection folders on local and pluggable disksxx
Comment[zh_TW]=在本機與可插拔磁碟上的本地收藏資料夾

ServiceTypes=Amarok/Plugin

X-KDE-Amarok-authors=Maximilian Kossick
X-KDE-Amarok-email=maximilian.kossick@googlemail.com
X-KDE-Amarok-framework-version=68
X-KDE-Amarok-name=massstorage-device
X-KDE-Amarok-plugintype=device
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1

X-KDE-PluginInfo-Author=Maximilian Kossick
X-KDE-PluginInfo-Email=maximilian.kossick@googlemail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Device
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=amarok_device_massstorage
X-KDE-PluginInfo-Name=amarok_device_massstorage
