[Desktop Entry]
Name=Cloud Data Engine
Name[bg]=Ядро за Cloud
Name[ca]=Motor de dades del Cloud
Name[csb]=Mòtór pòdôwków Blóna
Name[da]=Datamotor til Cloud
Name[de]=Datenmodul zur Wolke
Name[el]=Μηχανή δεδομένων Cloud
Name[es]=Motor de datos Nube
Name[et]=Pilve andmete mootor
Name[fr]=Moteur de données Nuage
Name[ga]=Inneall Sonraí Cloud
Name[gl]=Motor de dados de nube
Name[it]=Motore dati Nuvola
Name[ja]=Cloud データエンジン
Name[km]=ម៉ាស៊ីន​ទិន្នន័យ​ពពក
Name[lt]=Debesies duomenų sistema
Name[lv]=Mākoņa datu dzinējs
Name[nds]=Wulk-Datenkarn
Name[nl]=Cloud-gegevensengine
Name[pl]=Moduł danych Cloud
Name[pt]=Motor de Dados da Nuvem
Name[pt_BR]=Motor de Dados da Nuvem
Name[sv]=Datagränssnitt för Cloud
Name[tr]=Cloud Veri Motoru
Name[uk]=Рушій даних Cloud
Name[x-test]=xxCloud Data Enginexx
Name[zh_CN]=Cloud 数据引擎
X-KDE-ServiceTypes=AmarokContext/DataEngine
Type=Service
Icon=amarok
X-KDE-Library=amarok_data_engine_cloud
X-KDE-PluginInfo-Name=amarok-cloud

