[Desktop Entry]
Icon=view-services-magnatune-amarok
Type=Service
ServiceTypes=Amarok/Plugin
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_amarok_service_magnatunestore
X-KDE-ParentApp=amarok_service_magnatunestore
X-KDE-ParentComponents=amarok_service_magnatunestore

Name=MagnatuneStore Service Config
Name[bg]=Настройване на услугата MagnatuneStore
Name[ca]=Configuració del servei MagnatuneStore
Name[cs]=Nastavení služby MagnatuneStore
Name[da]=Konfiguration af MagnatuneStore-tjenesten
Name[de]=Einrcihtung von Magnatune
Name[el]=Ρύθμιση υπηρεσίας MagnatuneStore
Name[en_GB]=MagnatuneStore Service Config
Name[eo]=MagnatuneStore Servo Agordo
Name[es]=Configurar servicio MagnatuneStore
Name[et]=MagnatuneStore teenuse seadistamine
Name[eu]=Magnature denda zerbitzuaren konfigurazioa
Name[fi]=Magnatune-verkkokaupan määritykset
Name[fr]=Configuration du service MagnatuneStore
Name[ga]=Cumraíocht Sheirbhís MagnatuneStore
Name[gl]=Configuracion do servizo da Tenda de Magnatune
Name[he]=הגדרת שירות Magnatune
Name[hu]=MagnatuneStore szolgáltatás beállítása
Name[is]=Stillingar MagnatunaStore þjónustu
Name[it]=Configurazione servizio Magnatune
Name[ja]=Magnatune ストアサービスの設定
Name[km]=កំណត់​​រចនាសម្ព័ន្ធ​សេវាកា​រទុក​របស់ Magnatune
Name[ko]=MagnatuneStore 서비스 설정
Name[ku]=Veava kirina Servisa MagnatuneStore
Name[lt]=Magnatune parduotuvės tarnybos parinktys
Name[lv]=MagnatuneStore pakalpojuma konfigurācija
Name[nb]=Innstillinger for Magnatune-tjenesten
Name[nds]=MagnatuneStore-Deenstinstellen
Name[nl]=MagnatuneStore-dienst instellen
Name[nn]=Set opp MagnatuneStore-teneste
Name[pa]=MagnatuneStore ਸਰਵਿਸ ਸੰਰਚਨਾ
Name[pl]=Konfiguracja usługi sklepu Magnatune
Name[pt]=Configuração do Serviço MagnatuneStore
Name[pt_BR]=Configuração do Serviço MagnatuneStore
Name[ro]=Configurare serviciu MagnatuneStore
Name[ru]=Настройка службы Magnatune
Name[sl]=Nastavitev storitve trgovine Magnatune
Name[sr]=Постава сервиса Магнатјунове продавнице
Name[sr@latin]=Postava servisa Magnatuneove prodavnice
Name[sv]=Inställning av Magnatune Store-tjänst
Name[th]=ปรับแต่งบริการ MagnatuneStore
Name[tr]=Magnatune Müzik Mağazası Hizmeti Yapılandırması
Name[uk]=Налаштування служби MagnatuneStore
Name[wa]=Apontiaedje do siervice MagnatuneStore
Name[x-test]=xxMagnatuneStore Service Configxx
Name[zh_CN]=Magnatune 商店服务配置
Name[zh_TW]=Magnatune商店服務設定
Comment=Configure Magnatune store settings and memberships credentials
Comment[bg]=Настройване на членството в Magnatune
Comment[ca]=Configura els paràmetres de la botiga Magnatune i les credencials de soci
Comment[cs]=Nastavit nastavení a členské údaje pro obchod Magnatune
Comment[da]=Indstil opsætning af Magnatune-butikken og medlemsakkreditiver
Comment[de]=Einstellungen des Magnatune-Online-Shops und die Mitgliedschaft einrichten
Comment[el]=Ρύθμιση των επιλογών αποθήκευσης και τις πληροφορίες συνδρομής στο Magnatune
Comment[en_GB]=Configure Magnatune store settings and memberships credentials
Comment[eo]=Agordas Magnatune vendejajn preferojn kaj membrecajn akreditaĵojn.
Comment[es]=Configurar preferencias de almacenamiento y credenciales de miembro de Magnatune
Comment[et]=Magnatune kaupluse seadistuste ja liikmesuse määramine
Comment[eu]=Konfiguratu Magnatune dendako ezarpen eta harpidetza kredentzialak
Comment[fi]=Määritä Magnatunen asetukset ja jäsenyystiedot
Comment[fr]=Configurer les paramètres de Magnatune et les références de membre
Comment[ga]=Cumraigh socruithe siopa Magnatune agus do chuid dintiúr
Comment[gl]=Configura os parámetros da tenda Magnatune e as credenciais de membresía
Comment[hu]=A Magnatune áruház beállításainak módosítása, tagsági bejelentkezési adatok
Comment[is]=Setja inn auðkennisupplýsingar og stillingar fyrir Magnatune verslunina
Comment[it]=Configura le impostazione del negozio Magnatune e le credenziali di iscrizione
Comment[ja]=Magnatune ストアの設定と会員の資格情報を設定
Comment[km]=កា​រកំណត់​រចនាសម្ព័ន្ធ​កា​រទុក Magnatune និង​សមាជិកជឿជាក់
Comment[ko]=Magnatune 상점 및 회원 정보 설정
Comment[ku]=Mîhengên marketa Magnatune û endam bûna vê ava bike  
Comment[lt]=Keisti Magnatune parduotuvės parinktis ir prisijungimo duomenis
Comment[lv]=Konfigurējiet Magnatune veikala iestatījumus un reģistrācijas parametrus
Comment[nb]=Set opp innstillinger og medlemskapsinfo for Magnatune-butikken
Comment[nds]=Magnatune-Deenstinstellen un Liddmaatbeglöven instellen
Comment[nl]=Stel de configuratie en uw lidmaatschap voor de Magnatune-winkel in
Comment[nn]=Set opp Magnatune-innstillingar og medlemskap
Comment[pl]=Konfiguruje ustawienia sklepu Magnatune oraz dane członkowskie
Comment[pt]=Configurar as opções da loja Magnatune e as credenciais de inscrição
Comment[pt_BR]=Configurar configurações do Magnatune e credenciais de cadastramento
Comment[ro]=Configurează setările și detaliile contului în magazinul Magnatune
Comment[ru]=Указать параметры участия и настроить Magnatune
Comment[sl]=Nastavite nastavitve trgovine Magnatune in članske podatke
Comment[sr]=Поставке Магнатјунове продавнице и чланских акредитива
Comment[sr@latin]=Postavke Magnatuneove prodavnice i članskih akreditiva
Comment[sv]=Anpassa Magnatune Store inställningar och medlemskapsinformation
Comment[th]=ปรับแต่งการตั้งค่าและตัวรับรองสมาชิกภาพของร้านค้า Magnatune
Comment[tr]=Magnatune mağaza ayarlarını ve üyelik durumlarını yapılandır
Comment[uk]=Налаштувати параметри і членських даних Magnatune
Comment[wa]=Apontyî les tchuzes del botike Magnatune eyet les credits des mimbes
Comment[x-test]=xxConfigure Magnatune store settings and memberships credentialsxx
Comment[zh_CN]=配置 Magnatune 商店的设置和会员资格
Comment[zh_TW]=調整 Magnatune 商店設定與會員憑證

