[Desktop Entry]
Type=Service
ServiceTypes=KPluginInfo
Icon=view-services-magnatune-amarok
Name=Magnatune Store
Name[bg]=Магазин Magnatune
Name[ca]=Botiga Magnatune
Name[cs]=Obchod Magnatune
Name[da]=Magnatune-butikken
Name[de]=Magnatune-Online-Shop
Name[eo]=Magnatune Vendejo
Name[es]=Almacenamiento Magnatune
Name[et]=Magnatune pood
Name[eu]=Magnatune denda
Name[fi]=Magnatune-verkkokauppa
Name[fr]=Site de vente en ligne Magnatune
Name[ga]=Siopa Magnatune
Name[gl]=Tenda de Magnatune
Name[he]=חנות Magnatune
Name[hne]=मेगनाट्यून स्टोर
Name[is]=Magnatune verslun
Name[it]=Negozio Magnatune
Name[ja]=Magnatune ストア
Name[km]=ការ​ទុក Magnatune
Name[ko]=Magnatune 상점
Name[ku]=Marketa Magnatune
Name[lt]=Magnatune parduotuvė
Name[lv]=Magnatune veikals
Name[nb]=Magnatune-butikken   
Name[nds]=Magnatune
Name[nl]=Magnatune-winkel
Name[nn]=Magnatune-butikk
Name[pa]=Magnatune ਸਟੋਰ
Name[pl]=Sklep Magnatune
Name[pt]=Loja Magnatune
Name[pt_BR]=Loja Magnatune
Name[ro]=Magazin Magnatune
Name[ru]=Магазин Magnatune
Name[sl]=Trgovina Magnatune
Name[th]=ร้านค้า Magnatune
Name[tr]=Magnatune Müzik Mağazası
Name[uk]=Магазин Magnatune
Name[wa]=Botike Magnatune
Name[x-test]=xxMagnatune Storexx
Name[zh_CN]=Magnatune 商店
Name[zh_TW]=Magnatune 商店
Comment=Preview and buy music from the non-evil Magnatune record label
Comment[bg]=Обзор и купуване на музика от Magnatune
Comment[ca]=Vista prèvia i compra de música del segell de música  Magnatune (non-evil)
Comment[da]=Prøvelyt og køb musik fra det ikke-onde pladeselskab Magnatune
Comment[de]=Musik des Musiklabels Magnatune probehören und herunterladen
Comment[el]=Ακούσετε και αγοράστε μουσική από την δισκογραφική εταιρεία Magnatune
Comment[es]=Vista previa y compra de música desde la discográfica no demoniaca Magnatune
Comment[et]=Kena firma Magnatune pakutava muusika eelvaatlus ja ostmine
Comment[eu]=Aurreikusi eta erosi musika magnatune disko dendatik
Comment[fi]=Kuuntele ja osta musiikkia Magnatunesta (ei-niin-paha verkkokauppa :)
Comment[fr]=Écouter et acheter de la musique du label d'enregistrement équitable Magnatune 
Comment[ga]=Brabhsáil agus ceannaigh ceol ó lipéad Magnatune nach bhfuil olc
Comment[gl]=Previsualice e merque música do selo discográfico Magnatune
Comment[is]=Hlusta á og kaupa tónlist af vinalegu Magnatune útgáfunni
Comment[it]=Ascolta in anteprima e acquista musica dalla non-malefica etichetta discografica Magnatune
Comment[ja]=友好的な Magnatune レコードレーベルから音楽を試聴して購入できます
Comment[km]=មើល​ជា​មុន និង​ទិញ​បទ​ចម្ងៀង​ពីី​ស្លាក​ថត​មិនមែន​ជា Magnatune
Comment[ko]=Magnatune에서 만드는 음악을 미리 듣고 구입하기
Comment[ku]=Pêşdîtina û kirîna muzîkê ji Magnatune
Comment[lt]=Perklausyti ir nusipirkti muziką iš įrašų kompanijos Magnatune, kurios šūkis „blogiui – ne“
Comment[lv]=Priekšskatiet un pērciet mūziku no Magnatune ierakstu veikala
Comment[nb]=Prøvehør og kjøp musikk fra ikke-onde Magnatune musikkutgiver
Comment[nds]=Musik vun de "nich böse" Firma Magnatune proovhören un köpen
Comment[nl]=Luister naar en koop muziek van het niet-demonische Magnatude-platenlabel
Comment[nn]=Høyr på og kjøp musikk frå det ikkjevonde Magnatune-plateselskapet
Comment[pl]=Przeglądaj i kupuj muzykę z nie-diabelnego wydawnictwa Magnatune
Comment[pt]=Antever e comprar músicas da editor de discos não-maléfica Magnatune
Comment[pt_BR]=Ouça e compre músicas da gravadora boazinha Magnatune
Comment[ro]=Previzualizează și cumpără muzică de la casa de discuri ne-diabolică Magnatune
Comment[ru]=Просмотр и покупка музыки в звукозаписывающем лейбле Magnatune
Comment[sl]=Poslušajte in kupite glasbo od prijazne založniške hiše Magnatune
Comment[sv]=Förhandsgranska och köp musik från det icke onda skivbolaget Magnatune
Comment[th]=ฟังตัวอย่างและซื้อเพลงจากบริการ non-evil Magnatune record
Comment[tr]=Tehlikesiz Magnatune kayıt etiketinden müziklerin önizlemesini yapın ve satın alın
Comment[uk]=Прослухайте і купіть музику з ненав’язливої агенції звукозапису Magnatune
Comment[wa]=Prévey eyet atchter del muzike do nén må label d' eredjistraedje Magnatune
Comment[x-test]=xxPreview and buy music from the non-evil Magnatune record labelxx
Comment[zh_CN]=预览并购买来自于非罪的 Magnatune 记录标签的音乐
Comment[zh_TW]=從標為 non-evil 的 Magnatune 唱片標籤的音樂中，預聽並購買


ServiceTypes=Amarok/Plugin

X-KDE-Library=amarok_service_magnatunestore

X-KDE-Amarok-authors=Nikolaj Hald Nielsen
X-KDE-Amarok-email=nhnFreespirit@gmail.com
X-KDE-Amarok-framework-version=46
X-KDE-Amarok-name=MagnatuneStore
X-KDE-Amarok-plugintype=service
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1

X-KDE-PluginInfo-Author=Nikolaj Hald Nielsen
X-KDE-PluginInfo-Email=nhnFreespirit@gmail.com
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=amarok_service_magnatunestore
X-KDE-PluginInfo-Name=amarok_service_magnatunestore

