[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Mass Storage Device
Name[el]=Συσκευή μαζικής αποθήκευσης
Comment=Device plugin for Amarok
Comment[el]=Πρόσθετο συσκευής για το AmaroK
ServiceTypes=Amarok/Plugin

X-KDE-Library=libamarok_massstorage-device

X-KDE-Amarok-authors=Maximilian Kossick
X-KDE-Amarok-email=maximilian.kossick@googlemail.com
X-KDE-Amarok-framework-version=30
X-KDE-Amarok-name=massstorage-device
X-KDE-Amarok-plugintype=device
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1
