[Desktop Entry]
Name=Aya
Name[csb]=Krziseń
Name[es]=Oxígeno
Name[gu]=ઓક્સિજન
Name[hi]=आक्सीजन
Name[kk]=Оттегі
Name[km]=អុកស៊ីហ្សែន
Name[ne]=अक्सिजन
Name[nn]=Oksygen
Name[pa]=ਆਕਸੀਜਨ
Name[se]=Oksygena
Name[sr]=Кисеоник
Name[sr@latin]=Kiseonik
Name[wa]=Ocsidjinne
Name[x-test]=xxOxygenxx
Comment=Theme done in the Oxygen style
Comment[bg]=Тема в стил "Oxygen"
Comment[ca]=Tema fet en estil Oxygen
Comment[csb]=Zmiana téme w sztélu Oxygen
Comment[da]=Tema lavet i Oxygen-stil
Comment[de]=Oberflächen-Design im Oxygen-Stil
Comment[el]=Το θέμα δημιουργήθηκε στο στυλ Oxygen
Comment[eo]=Etoso laŭ la Oxygen-stilo
Comment[es]=Tema realizado con el estilo Oxygen
Comment[et]=Oxygeni stiilis teema
Comment[eu]=Oxygen estiloko tema
Comment[fa]=چهره در سبک اکسیژن انجام شد
Comment[fi]=Oxygen-tyylillä tehty teema
Comment[fr]=Thème fait en style Oxygen
Comment[fy]=Tema werjûn yn de Oxygen styl
Comment[ga]=Téama sa stíl Oxygen
Comment[gl]=Tema feito no estilo Oxygen
Comment[gu]=થીમ ઓક્સિજન શૈલીમાં બનાવાઇ છે
Comment[he]=ערכת נושא שמשתמשת בסגנון Oxygen
Comment[hi]=प्रसंग को ऑक्सीजन शैली में किया गया है
Comment[hu]=Oxygen-stílusú téma
Comment[is]=Þema sem gert er í 'Oxygen' stíl
Comment[it]=Tema in stile Oxygen
Comment[ja]=Oxygen スタイルのテーマ
Comment[kk]=Oxygen стилінде жасалған нақыш
Comment[km]=ស្បែក​បាន​ធ្វើ​រួច​នៅ​ក្នុង​រចនាប័ទ្ម​អុកស៊ីហ្សែន
Comment[ko]=Oxygen 스타일의 기본 테마
Comment[lv]=Oxygen stilā veidota tēma
Comment[nb]=Drakt laget i Oxygen-stil
Comment[nds]=Muster in den Oxygen-Stil
Comment[ne]=अक्सिजन शैलीमा गरिएको विषयवस्तु
Comment[nl]=Thema in Oxygen-stijl
Comment[nn]=Tema laga i Oksygen-stilen
Comment[pa]=ਥੀਮ ਆਕਸੀਜਨ ਸਟਾਇਲ 'ਚ
Comment[pl]=Motyw wykonany w stylu Oxygen
Comment[pt]=Um tema feito com o estilo Oxygen
Comment[pt_BR]=Tema criado no estilo Oxygen
Comment[se]=Fáđđa ráhkaduvvon Oxygen-stiillas
Comment[sl]=Teme v slogu Oxygen
Comment[sr]=Тема урађена у стилу Кисеоника
Comment[sr@latin]=Tema urađena u stilu Kiseonika
Comment[sv]=Tema skapat med Oxygen-stilen
Comment[tr]=Oxygen biçimi ile yapılmış tema
Comment[uk]=Тема в стилі Oxygen
Comment[vi]=Sắc thái kiểu Oxygen
Comment[wa]=Tinme fwait e stîle da Ocsidjinne
Comment[x-test]=xxTheme done in the Oxygen stylexx
Comment[zh_CN]=Oxygen 风格的主题
Comment[zh_TW]=以 Oxygen 樣式完成的外觀主題

X-KDE-PluginInfo-Author=Jamboarder
X-KDE-PluginInfo-Email=jamboarder@yahoo.com
X-KDE-PluginInfo-Name=Aya
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
