Source: amarok
Section: kde
Priority: optional
Maintainer: Adeodato Simó <asp16@alu.ua.es>
Build-Depends: cdbs (>= 0.4.21), debhelper (>> 4.1.0), kdelibs4-dev (>= 4:3.2), kdemultimedia-dev (>= 4:3.2), libkjsembed-dev (>= 4:3.2), libgstreamer0.8-dev, libgstreamer-plugins0.8-dev, libtag1-dev (>= 1.2), libxine-dev (>= 1-rc4), libsqlite0-dev, xmms-dev, libtunepimp2-dev
Standards-Version: 3.6.1

Package: amarok
Architecture: any
Depends: amarok-engines | amarok-engine, ${shlibs:Depends}
Description: versatile and easy to use audio player for KDE
 amaroK tries to be a little different, providing a simple drag and drop
 interface that really makes playlist handling easy.
 .
 Features include:
   - rapid playlist creation, with drag and drop from a directory view
   - nice playlist browser for your existing playlists (PLS or M3U formats)
   - collection-indexing support, for smart browsing and playlist creation
   - possibility of accessing media via kioslaves, allowing you to play
     via smb:// or fish:// (normal streams are of course supported)
   - inline ID3 tag editing, capable of retrieving tags via MusicBrainz
   - album cover support: automatically displays album covers from the
     filesystem, or downloaded on the fly
   - miscellaneous audio effects, including crossfading
   - easy bindable global shortcuts, rich DCOP interface
   - On-Screen Display (OSD), on track change or at keypress
 .
 amaroK can output to different sound systems: aRts, GStreamer and XINE
 support is included in the amarok-{arts,gstreamer,xine} packages,
 respectively. By default, all of them will be installed (amarok-engines
 package).
 .
 Support for XMMS visualization plugins is also compiled in (you need to
 have xmms installed to be able to use it, though).

Package: amarok-engines
Architecture: any
Depends: amarok (= ${Source-Version}), ${enginePackages}, ${shlibs:Depends}
Description: output engines for the amaroK audio player
 This package depends on all the available amaroK engines, and it's
 installed by default unless you specify a particular engine. You can
 safely remove it, as you can remove the amarok-$engine packages that
 you don't use.

Package: amarok-arts
Architecture: any
Depends: amarok (= ${Source-Version}), ${shlibs:Depends}
Provides: amarok-engine
Description: aRts engine for the amaroK audio player
 This package provides the aRts engine for amaroK. Most KDE users will
 find this engine to just work for them.

Package: amarok-gstreamer
Architecture: any
Depends: amarok (= ${Source-Version}), ${gstreamer:Depends}, ${shlibs:Depends}
Recommends: ${gstreamer:Recommends}
Suggests: ${gstreamer:Suggests}
Provides: amarok-engine
Description: GStreamer engine for the amaroK audio player
 This package provides the GStreamer engine for amaroK, which you may
 need if GStreamer is your sound-system of choice or to play some of the
 audio formats that gstreamer-plugins support but the other engines
 don't.
 .
 The default audiosink that will be installed this package is OSS, but
 amaroK works with most other audiosinks (e.g., ALSA); there is an option
 in the configuration dialog to select the preferred sink and device.
 .
 For use with aRts, however, amarok-arts is your only choice, since this
 GStreamer engine will not allow artssink to be used.

Package: amarok-xine
Architecture: any
Depends: amarok (= ${Source-Version}), ${shlibs:Depends}
Provides: amarok-engine
Description: xine engine for the amaroK audio player
 This package provides the xine engine for amaroK, which you may prefer
 for some reason over the other engines (e.g., it is the lightest engine
 Dependency-wise).
