[Desktop Entry]
Type=Service
Name=ArtsEngine
X-KDE-Library=libamarok_artsengine_plugin
Comment=Plugin for amaroK
ServiceTypes=amaroK/Plugin

X-KDE-amaroK-plugintype=engine
X-KDE-amaroK-authors=Mark Kretschmann
X-KDE-amaroK-email=markey@web.de
X-KDE-amaroK-version=1
X-KDE-amaroK-framework-version=1


