[Desktop Entry]
Type=Service
Icon=multimedia-player-apple-ipod
Name=iPod, iPad & iPhone Collection
Name[cs]=Kolekce pro iPod, iPad & iPhone
Name[el]=Συλλογή iPod, iPad & iPhone
Name[es]=Colección de iPod, iPad e iPhone
Name[et]=iPodi, iPadi ja iPhone'i kogu
Name[hu]=iPod-, iPad- és iPhone-gyűjtemény
Name[it]=Collezione iPod, iPad e iPhone
Name[nl]=iPod, iPad & iPhone verzameling
Name[pa]=iPod, iPad & iPhone ਭੰਡਾਰ
Name[pl]=Kolekcja iPod, iPad i iPhone
Name[pt]=Colecção do iPod, iPad & iPhone
Name[pt_BR]=Coleção iPod, iPad & iPhone
Name[sv]=Samling på iPod, iPad och iPhone
Name[uk]=Збірка на iPod, iPad і iPhone
Name[x-test]=xxiPod, iPad & iPhone Collectionxx
Comment=Plugin to use iPod-like devices as collections in Amarok
Comment[cs]=Modul pro využití zařízení jako např. iPod jako kolekce pro AmaroK
Comment[el]=Πρόσθετο χρήσης συσκευών παρόμοιων με το iPod ως συλλογές στο AmaroK
Comment[es]=Complemento para dispositivos similares a iPod en Amarok
Comment[et]=Plugin iPodi-laadsete seadmete kasutamiseks Amaroki koguna
Comment[hu]=Bővítmény iPod-szerű eszközök Amarok-gyűjteményként való használatára
Comment[it]=Estensione per utilizzare dispositivi del tipo iPod come collezioni di Amarok
Comment[nl]=Plugin voor gebruik van iPod-achtige apparaten als verzamelingen in Amarok
Comment[pl]=Wtyczka umożliwiająca używania urządzeń takich jak iPody jako kolekcji w Amaroku
Comment[pt]=Um 'plugin' para usar dispositivos compatíveis com o iPod como colecções do Amarok
Comment[pt_BR]=Plugin para usar dispositivos tipo iPod como coleções no Amarok
Comment[sv]=Insticksprogram för att använda iPod-liknande enheter som samlingar i Amarok
Comment[uk]=Додаток для використання iPod-подібних пристроїв як збірок у Amarok
Comment[x-test]=xxPlugin to use iPod-like devices as collections in Amarokxx

ServiceTypes=Amarok/Plugin

X-KDE-Amarok-authors=Matěj Laitl
X-KDE-Amarok-email=matej@laitl.cz
X-KDE-Amarok-framework-version=67
X-KDE-Amarok-name=ipod-collection
X-KDE-Amarok-plugintype=collection
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1

X-KDE-PluginInfo-Author=Matěj Laitl
X-KDE-PluginInfo-Email=matej@laitl.cz
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Category=Collection
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=amarok_collection-ipodcollection
X-KDE-Library=amarok_collection-ipodcollection
