[Desktop Entry]
Name=Vertical Context Containment
Name[bg]=Вертикален контекст
Name[ca]=Contenidor vertical de context
Name[da]=Lodret kontekstbeholder
Name[de]=Vertikaler Kontext-Container
Name[el]=Υποδοχέας κατακόρυφου περιεχομένου
Name[en_GB]=Vertical Context Containment
Name[es]=Contenedor de contexto vertical
Name[et]=Püstine kontekstikonteiner
Name[eu]=Testuinguru bertikaleko edukia
Name[fr]=Conteneur vertical du navigateur de contexte
Name[ga]=Coimeádán Comhthéacs Ingearaigh
Name[gl]=Contedor vertical de contextos
Name[hu]=Függőleges környezettároló
Name[is]=Lóðréttur geymslugrunnur samhengisupplýsinga
Name[it]=Contenitore verticale di contesto
Name[km]=ការ​ផ្ទុក​បរិបទ​បញ្ឈរ
Name[lv]=Vertikāls konteksta konteiners
Name[nb]=Loddrett kontekstbeholder
Name[nds]=Pielrecht Kontextgelaats
Name[nl]=Verticale contextcontainer
Name[nn]=Loddrett behaldar
Name[pl]=Zasobnik kontekstu pionowej
Name[pt]=Contentor de Contexto Vertical
Name[pt_BR]=Contendor Vertical de Contexto
Name[ro]=Container vertical pentru context
Name[ru]=Содержимое контекста по вертикали
Name[sl]=Navpični vsebnik za kontekst
Name[sr]=Садржалац за вертикални контекст
Name[sr@ijekavian]=Садржалац за вертикални контекст
Name[sr@ijekavianlatin]=Sadržalac za vertikalni kontekst
Name[sr@latin]=Sadržalac za vertikalni kontekst
Name[sv]=Vertikal sammanhangsomgivning
Name[th]=ส่วนบรรจุสำหรับคอนเท็กซ์ของแอมอะร็อก
Name[tr]=Dikey İçerik Kapsayıcı
Name[uk]=Вертикальний контейнер вмісту
Name[wa]=Contneu d' astampé do contecse
Name[x-test]=xxVertical Context Containmentxx
Name[zh_CN]=垂直上下文容器
Comment=A vertical containment for the Amarok Context
Comment[bg]=Вертикален контекст на Amarok
Comment[ca]=Un contenidor vertical per a l'Amarok Context
Comment[da]=En lodret beholder til Amarok-kontekst
Comment[de]=Ein vertikales Behältnis für Amarok-Kontext
Comment[el]=Ένας κατακόρυφος υποδοχέας για το περιεχόμενο Amarok
Comment[en_GB]=A vertical containment for the Amarok Context
Comment[es]=Un contenedor vertical para el contexto de Amarok
Comment[et]=Amaroki konteksti püstine konteiner
Comment[eu]=Aramok-en testuingururako eduki bertikala
Comment[fr]=Un conteneur vertical pour le navigateur de contexte d'Amarok
Comment[ga]=Coimeádán ingearach le haghaidh Comhthéacs Amarok
Comment[gl]=Un contedor vertical para o contexto de Amarok
Comment[hu]=Függőleges tároló az Amarok-környezethez
Comment[is]=Lóðréttur grunnur fyrir Amarok samhengisupplýsingar
Comment[it]=Un contenitore verticale per i contesti di Amarok
Comment[km]=ការ​ផ្ទុក​បញ្ឈរ​សម្រាប់បរិបទ Amarok
Comment[lv]=Vertikāls konteiners Amarok kontekstam
Comment[nb]=En loddrett beholder for Amarok Kontekst
Comment[nds]=En pielrecht Schell för Amarok-Kontext
Comment[nl]=Een verticale container voor de Amarok-context
Comment[nn]=Ein loddrett behaldar for Amarok-samanheng
Comment[pl]=Zasobnik dla pionowego kontekstu Amaroka
Comment[pt]=Um contentor vertical para o Contexto do Amarok
Comment[pt_BR]=Um contendor vertical para o Contexto do Amarok
Comment[ro]=Un container vertical pentru contextul Amarok
Comment[ru]=Содержимое контекста Amarok по вертикали
Comment[sl]=Navpični vsebnik za kontekst v Amaroku
Comment[sr]=Вертикални садржалац за Амароков контекст
Comment[sr@ijekavian]=Вертикални садржалац за Амароков контекст
Comment[sr@ijekavianlatin]=Vertikalni sadržalac za Amarokov kontekst
Comment[sr@latin]=Vertikalni sadržalac za Amarokov kontekst
Comment[sv]=En vertikal omgivning för Amaroks Sammanhang
Comment[th]=ส่วนบรรจุทางแนวตั้งสำหรับคอนเท็กซ์ของแอมอะร็อก
Comment[tr]=Amarok İçeriği için bir dikey kapsayıcı
Comment[uk]=Вертикальний контейнер для контексту Amarok
Comment[wa]=On contneu d' astampé po l' contecse d' Amarok
Comment[x-test]=xxA vertical containment for the Amarok Contextxx
Comment[zh_CN]=Amarok 垂直上下文容器

Icon=
Type=Service
ServiceTypes=Plasma/Applet,Plasma/Containment

X-KDE-Library=amarok_containment_vertical
X-KDE-PluginInfo-Author=Leo Franchi
X-KDE-PluginInfo-Email=amarok@kde.org
X-KDE-PluginInfo-Name=amarok_containment_vertical
X-KDE-PluginInfo-Version=.1
X-KDE-PluginInfo-Website=http://amarok.kde.org/
X-KDE-PluginInfo-Category=Miscellaneous
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=AmarokInvisible
