[Desktop Entry]
Name=Vertical Context Containment
Name[bg]=Вертикален контекст
Name[el]=Υποδοχέας κατακόρυφου περιεχομένου
Name[es]=Contenedor de contexto vertical
Name[et]=Püstine kontekstikonteiner
Name[fr]=Conteneur vertical du navigateur de contexte
Name[ga]=Coimeádán Comhthéacs Ingearaigh
Name[gl]=Contedor vertical de contextos
Name[it]=Contenitore verticale di contesto
Name[km]=ការ​ផ្ទុក​បរិបទ​បញ្ឈរ
Name[nds]=Pielrecht Kontextgelaats
Name[nl]=Verticale contextcontainer
Name[pl]=Zasobnik kontekstu pionowej
Name[pt]=Contentor de Contexto Vertical
Name[pt_BR]=Contentor de Contexto Vertical
Name[ro]=Container vertical pentru context
Name[sv]=Vertikal sammanhangsinneslutning
Name[th]=ส่วนบรรจุสำหรับคอนเท็กซ์ของแอมอะร็อก
Name[tr]=Dikey İçerik Kapsayıcı
Name[uk]=Вертикальний контейнер вмісту
Name[x-test]=xxVertical Context Containmentxx
Comment=A vertical containment for the Amarok Context
Comment[bg]=Вертикален контекст на Amarok
Comment[el]=Ένας κατακόρυφος υποδοχέας για το περιεχόμενο Amarok
Comment[es]=Un contenedor vertical para el contexto de Amarok
Comment[et]=Amaroki konteksti püstine konteiner
Comment[fr]=Un conteneur vertical pour le navigateur de contexte d'Amarok
Comment[ga]=Coimeádán ingearach le haghaidh Comhthéacs Amarok
Comment[gl]=Un contedor vertical para o contexto de Amarok
Comment[it]=Un contenitore verticale per i contesti di Amarok
Comment[km]=ការ​ផ្ទុក​បញ្ឈរ​សម្រាប់បរិបទ Amarok
Comment[nds]=En pielrecht Schell för Amarok-Kontext
Comment[nl]=Een verticale container voor de Amarok-context
Comment[pl]=Zasobnik dla pionowego kontestu Amaroka
Comment[pt]=Um contentor vertical para o Contexto do Amarok
Comment[pt_BR]=Um contentor vertical para o Contexto do Amarok
Comment[ro]=Un container vertical pentru contextul Amarok
Comment[sv]=En vertikal inneslutning för Amaroks Sammanhang
Comment[th]=ส่วนบรรจุทางแนวตั้งสำหรับคอนเท็กซ์ของแอมอะร็อก
Comment[tr]=Amarok İçeriği için bir dikey kapsayıcı
Comment[uk]=Вертикальний контейнер для контексту Amarok
Comment[x-test]=xxA vertical containment for the Amarok Contextxx

Icon=
Type=Service
ServiceTypes=Plasma/Applet,Plasma/Containment

X-KDE-Library=amarok_containment_vertical
X-KDE-PluginInfo-Author=Leo Franchi
X-KDE-PluginInfo-Email=amarok@kde.org
X-KDE-PluginInfo-Name=amarok_containment_vertical
X-KDE-PluginInfo-Version=.1
X-KDE-PluginInfo-Website=http://amarok.kde.org/
X-KDE-PluginInfo-Category=Miscellaneous
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=AmarokInvisible
