[Desktop Entry]
Type=Service
Name=DAAP Collection
Name[be]=Калекцыя DAAP
Name[bg]=Колекция DAAP
Name[ca]=Col·lecció DAAP
Name[ca@valencia]=Col·lecció DAAP
Name[cs]=DAAP kolekce
Name[csb]=Kòlekcëjô DAAP
Name[da]=DAAP-samling
Name[de]=DAAP-Sammlung
Name[el]=Συλλογή DAAP
Name[en_GB]=DAAP Collection
Name[eo]=DAAP kolekto
Name[es]=Colección DAAP
Name[et]=DAAP kogu
Name[eu]=DAAP bilduma
Name[fi]=DAAP-kokoelma
Name[fr]=Collection DAAP
Name[ga]=Bailiúchán DAAP
Name[gl]=Colección DAAP
Name[he]=אוסף DAAP
Name[hne]=डीएएपी संग्रह
Name[hu]=DAAP-gyűjtemény
Name[is]=DAAP safn
Name[it]=Collezione DAAP
Name[ja]=DAAP コレクション
Name[km]=ការ​ប្រមូលផ្ដុំ
Name[ko]=DAAP 모음집
Name[ku]=Berhevoka DAAP
Name[lt]=DAAP fonoteka
Name[lv]=DAAP kolekcija
Name[nb]=DAAP-samling
Name[nds]=DAAP-Sammeln
Name[ne]=DAAP सङ्कलन
Name[nl]=DAAP-collectie
Name[nn]=DAAP-samling
Name[pa]=DAAP ਭੰਡਾਰ
Name[pl]=Kolekcja DAAP
Name[pt]=Colecção de DAAP
Name[pt_BR]=Coleção DAAP
Name[ro]=Colecție DAAP
Name[ru]=Коллекция DAAP
Name[sk]=DAAP kolekcia
Name[sl]=Zbirka DAAP
Name[sr]=ДААП збирка
Name[sr@ijekavian]=ДААП збирка
Name[sr@ijekavianlatin]=DAAP zbirka
Name[sr@latin]=DAAP zbirka
Name[sv]=DAAP-samling
Name[th]=คลังสื่อของ DAAP
Name[tr]=DAAP Koleksiyonu
Name[uk]=Збірка DAAP
Name[wa]=Ramexhnêye DAAP
Name[x-test]=xxDAAP Collectionxx
Name[zh_CN]=DAAP 收藏
Name[zh_TW]=DAAP 收藏
Comment=DAAP collection plugin for Amarok
Comment[be]=Утулка калекцыі DAAP для Amarok
Comment[bg]=Приставка за колекция DAAP (Amarok)
Comment[ca]=Connector de col·leccions DAAP per a l'Amarok
Comment[ca@valencia]=Connector de col·leccions DAAP per a l'Amarok
Comment[cs]=Modul kolekce DAAP pro AmaroK
Comment[csb]=Wtëkôcz kòlekcëji DAAP dlô Amaroka
Comment[da]=Plugin til DAAP-samling til Amarok
Comment[de]=DAAP-Sammlungsmodul für Amarok
Comment[el]=Πρόσθετο συλλογής DAAP για το AmaroK
Comment[en_GB]=DAAP collection plugin for Amarok
Comment[eo]=DAAP kolekta kromaĵo por Amarok
Comment[es]=Complemento de la colección DAAP para Amarok
Comment[et]=Amaroki DAAP kogu plugin
Comment[eu]=Amarok-en bilduma plugin-a
Comment[fi]=Amarok-kokoelmaliitännäinen
Comment[fr]=Module de collection DAAP pour Amarok
Comment[ga]=Breiseán bailiúchán DAAP le haghaidh Amarok
Comment[gl]=Extensión de colección DAAP para Amarok
Comment[he]=תוסף אוסף DAAP ל־Amarok
Comment[hne]=अमाराक बर डीएएपी संग्रह प्लगइन
Comment[hu]=DAAP-gyűjteményt megvalósító bővítőmodul az Amarokhoz
Comment[is]=DAAP safníforrit fyrir Amarok
Comment[it]=Plugin della collezione DAAP di Amarok
Comment[ja]=Amarok のための DAAP コレクションプラグイン
Comment[km]=កម្មវិធី​ជំនួយ​ការ​​ប្រមូល​ផ្ដុំ DAAP សម្រាប់ Amarok
Comment[ko]=Amarok의 DAAP 모음집 플러그인
Comment[ku]=Pêveka berhevoka DAAP ji bo Amarok
Comment[lt]=DAAP fonotekos Amarok įskepis
Comment[lv]=Amarok DAAP kolekcijas spraudnis
Comment[nb]=DAAP-samling – programtillegg for Amarok
Comment[nds]=DAAP-Sammelnmoduul för Amarok
Comment[ne]=अमारोकका लागि DAAP सङ्कलन प्लगइन
Comment[nl]=DAAP-collectieplugin voor Amarok
Comment[nn]=Amarok-samlingstillegg for DAAP
Comment[pa]=ਅਮਰੋਕ ਲਈ DAAP ਭੰਡਾਰ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka kolekcji DAAP dla Amaroka
Comment[pt]=Um 'plugin' de colecção para DAAP no Amarok
Comment[pt_BR]=Plug-in de coleção DAAP para o Amarok
Comment[ro]=Modul de colecție DAAP pentru Amarok
Comment[ru]=Модуль коллекции DAAP для Amarok
Comment[sk]=Modul DAAP kolekcia pre Amarok
Comment[sl]=Vstavek za zbirko DAAP za Amarok
Comment[sr]=Прикључак ДААП збирке за Амарок
Comment[sr@ijekavian]=Прикључак ДААП збирке за Амарок
Comment[sr@ijekavianlatin]=Priključak DAAP zbirke za Amarok
Comment[sr@latin]=Priključak DAAP zbirke za Amarok
Comment[sv]=Insticksprogram med DAAP-samling för Amarok
Comment[th]=ส่วนเสริมของแอมอะร็อก สำหรับเสริมจัดการคลังสื่อของ DAAP
Comment[tr]=Amarok için DAAP koleksiyon eklentisi
Comment[uk]=Додаток збірки DAAP для Amarok
Comment[wa]=Tchôke-divins di ramexhnêye DAAP po Amarok
Comment[x-test]=xxDAAP collection plugin for Amarokxx
Comment[zh_CN]=Amarok 的 DAAP 收藏插件
Comment[zh_TW]=Amarok 的 DAAP 收藏外掛程式

ServiceTypes=Amarok/Plugin

X-KDE-Library=amarok_collection-daapcollection

X-KDE-Amarok-authors=Maximilian Kossick
X-KDE-Amarok-email=maximilian.kossick@googlemail.com
X-KDE-Amarok-framework-version=54
X-KDE-Amarok-name=daap-collection
X-KDE-Amarok-plugintype=collection
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1
