[Desktop Entry]
Name=Upcoming Events Data Engine
Name[ca]=Motor de dades de propers esdeveniments
Name[de]=Datenmodul für anstehende Ereignisse
Name[en_GB]=Upcoming Events Data Engine
Name[et]=Tulevaste sündmuste andmete mootor
Name[nds]=Datenkarn för anstahn Begeefnissen
Name[pt]=Motor de Dados dos Próximos Eventos
Name[sr]=Датомотор предстојећих догађаја
Name[sr@ijekavian]=Датомотор предстојећих догађаја
Name[sr@ijekavianlatin]=Datomotor predstojećih događaja
Name[sr@latin]=Datomotor predstojećih događaja
Name[sv]=Datagränssnitt för kommande händelser
Name[uk]=Рушій розкладу найближчих подій
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=amarok
X-KDE-Library=amarok_data_engine_upcomingEvents
X-KDE-PluginInfo-Name=amarok-upcomingEvents
X-KDE-ParentApp=Amarok

