[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=GStreamer 0.10 Engine
Name[af]=GStreamer 0.10 Enjin
Name[ar]=محرك GStreamer 0.10
Name[bg]=GStreamer 0.10
Name[bn]=জিস্ট্রীমার ০.১০ ইঞ্জিন
Name[br]=Keflusker GStreamer 0.10
Name[ca]=motor GStreamer 0.10
Name[cs]=GStreamer 0.10
Name[da]=GStreamer-0.10-motor
Name[de]=GStreamer-Treiber 0.10
Name[el]=Μηχανή GStreamer 0.10
Name[es]=Motor GStreamer 0.10
Name[et]=GStreamer 0.10 mootor
Name[fi]=GStreamer 0.10
Name[fr]=Moteur GStreamer 0.10
Name[gl]=Motor GStreamer 0.10
Name[hu]=GStreamer 0.10 alrendszer
Name[is]=GStreamer 0.10 vél
Name[it]=Motore GStreamer 0.10
Name[ja]=GStreamer 0.10 エンジン
Name[ka]=GStreamer 0.10 ძრავა
Name[km]=ម៉ាស៊ីន GStreamer 0.10
Name[nds]=GStreamer 0.10
Name[pa]=ਜੀਸਟਰੀਮਰ 0.10 ਇੰਜਣ
Name[pl]=Wyjście GStreamer 0.10
Name[pt]=Motor GStreamer 0.10
Name[pt_BR]=Mecanismo GStreamer 0.10
Name[ru]=GStreamer 0.10
Name[sk]=GStreamer 0.10 podpora
Name[sr]=Мотор GStreamer 0.10
Name[sr@Latn]=Motor GStreamer 0.10
Name[sv]=Gstreamer 0.10-gränssnitt
Name[tr]=GStreamer 0.10 Motoru
Name[uk]=Рушій GStreamer 0.10
Name[uz]=GStreamer 0.10 тизими
Name[xx]=xxGStreamer 0.10 Enginexx
Name[zh_CN]=GStreamer 0.10 引擎
Name[zh_TW]=GStreamer 0.10 解碼引擎
X-KDE-Library=libamarok_gst10engine_plugin
Comment=Plugin for Amarok
Comment[af]=Inprop module vir Amarok
Comment[ar]= قابس ( برنامج مضاف الى) AmaroK
Comment[bg]=Приставка за Amarok
Comment[br]=Lugent evit Amarok
Comment[ca]=Connector per l'Amarok
Comment[cs]=Modul pro AmaroK
Comment[de]=Modul für Amarok
Comment[el]=Πρόσθετο για το AmaroK
Comment[es]=Extensión para Amarok
Comment[et]=Amaroki plugin
Comment[fi]=Amarok-liitännäinen
Comment[fr]=Module pour Amarok
Comment[gl]=Extensión para Amarok
Comment[hu]=Bővítőmodul az Amarokhoz
Comment[is]=Íforrit fyrir Amarok
Comment[it]=Plugin per Amarok
Comment[ja]=Amarok のためのプラグイン
Comment[ka]=Amarok-ის მოდული
Comment[nds]=Moduul för Amarok
Comment[nl]=Plugin voor Amarok
Comment[pa]=ਅਮਰੋਕ ਲਈ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka Amaroka
Comment[pt]='Plugin' para o Amarok
Comment[pt_BR]=Plugin para o Amarok
Comment[ru]=Модуль amaroK
Comment[sk]=Modul pre Amarok
Comment[sr]=Прикључак за Amarok
Comment[sr@Latn]=Priključak za Amarok
Comment[sv]=Insticksprogram för Amarok
Comment[th]=โปรแกรมเสริมสำหรับ Amarok
Comment[tr]=Amarok için eklenti
Comment[uk]=Втулок для Amarok
Comment[zh_CN]=Amarok 插件
Comment[zh_TW]=amaroK 插件
ServiceTypes=Amarok/Plugin

X-KDE-Amarok-plugintype=engine
X-KDE-Amarok-name=gst10-engine
X-KDE-Amarok-authors=Mark Kretschmann,Jakub Stachowski,Paul Cifarelli
X-KDE-Amarok-email=markey@web.de,qbast@go2.pl,paul@cifarelli.net
X-KDE-Amarok-rank=2
X-KDE-Amarok-version=1
X-KDE-Amarok-framework-version=30

