[Desktop Entry]
Type=Service
Name=GStreamer 0.10 Engine
Name[bg]=Система GStreamer 0.10
Name[bn]=জিস্ট্রীমার ০.১০ ইঞ্জিন
Name[br]=Keflusker GStreamer 0.10
Name[ca]=motor GStreamer 0.10
Name[cs]=GStreamer 0.10
Name[da]=GStreamer-0.10-motor
Name[de]=GStreamer-Treiber 0.10
Name[el]=Μηχανή GStreamer 0.10
Name[et]=GStreamer 0.10 mootor
Name[fi]=GStreamer 0.10
Name[fr]=Moteur GStreamer 0.10
Name[ga]=Inneall GStreamer 0.10
Name[gl]=Motor GStreamer 0.10
Name[it]=Motore GStreamer 0.10
Name[ja]=GStreamer 0.10 エンジン
Name[ka]=GStreamer 0.10 ძრავა
Name[km]=ម៉ាស៊ីន GStreamer 0.10
Name[pa]=ਜੀਸਟਰੀਮਰ 0.10 ਇੰਜਣ
Name[pl]=Wyjście GStreamer 0.10
Name[pt]=Motor GStreamer 0.10
Name[pt_BR]=Mecanismo GStreamer 0.10
Name[ru]=GStreamer 0.10
Name[sr]=Мотор GStreamer 0.10
Name[sr@Latn]=Motor GStreamer 0.10
Name[sv]=Gstreamer 0.10-gränssnitt
Name[tr]=GStreamer 0.10 Motoru
Name[uk]=Рушій GStreamer 0.10
Name[uz]=GStreamer 0.10 тизими
Name[xx]=xxGStreamer 0.10 Enginexx
Name[zh_CN]=GStreamer 0.10 引擎
X-KDE-Library=libamarok_gst10engine_plugin
Comment=Plugin for Amarok
Comment[bg]=Приставка за Amarok
Comment[br]=Lugent evit Amarok
Comment[cs]=Modul pro AmaroK
Comment[de]=Modul für Amarok
Comment[el]=Πρόσθετο για το AmaroK
Comment[et]=Amaroki plugin
Comment[fr]=Module pour Amarok
Comment[ga]=Breiseán AmaroK
Comment[it]=Plugin per Amarok
Comment[ja]=Amarok用プラグイン
Comment[nl]=Plugin voor Amarok
Comment[pa]=ਅਮਰੋਕ ਲਈ ਪਲੱਗਇਨ
Comment[pt]='Plugin' para o Amarok
Comment[pt_BR]=Plugin para o Amarok
Comment[ru]=Модуль amaroK
Comment[sr]=Прикључак за Amarok
Comment[sr@Latn]=Priključak za Amarok
Comment[sv]=Insticksprogram för Amarok
Comment[uk]=Втулок для Amarok
Comment[zh_CN]=Amarok 插件
ServiceTypes=Amarok/Plugin

X-KDE-Amarok-plugintype=engine
X-KDE-Amarok-name=gst10-engine
X-KDE-Amarok-authors=Mark Kretschmann,Jakub Stachowski,Paul Cifarelli
X-KDE-Amarok-email=markey@web.de,qbast@go2.pl,paul@cifarelli.net
X-KDE-Amarok-rank=0
X-KDE-Amarok-version=1
X-KDE-Amarok-framework-version=25

