[Desktop Entry]
Type=Service
Name=GStreamer 0.10 Engine
Name[bg]=Система GStreamer 0.10
Name[bn]=জিস্ট্রীমার ০.১০ ইঞ্জিন
Name[br]=Keflusker GStreamer 0.10
Name[cs]=GStreamer 0.10
Name[da]=GStreamer-0.10-motor
Name[de]=GStreamer-Treiber 0.10
Name[el]=Μηχανή GStreamer 0.10
Name[et]=GStreamer 0.10 mootor
Name[fi]=GStreamer 0.10
Name[fr]=Moteur GStreamer 0.10
Name[ga]=Inneall GStreamer 0.10
Name[it]=Motore GStreamer 0.10
Name[ja]=GStreamer 0.10 エンジン
Name[pa]=ਜੀਸਟਰੀਮਰ 0.10 ਇੰਜਣ
Name[pt]=Motor GStreamer 0.10
Name[pt_BR]=Motor GStreamer 0.10
Name[ru]=GStreamer 0.10
Name[sv]=Gstreamer 0.10-gränssnitt
Name[tr]=GStreamer 0.10 Motoru
Name[uz]=GStreamer 0.10 тизими
Name[xx]=xxGStreamer 0.10 Enginexx
Name[zh_CN]=GStreamer 0.10 引擎
X-KDE-Library=libamarok_gst10engine_plugin
Comment=Plugin for amaroK
Comment[bg]=Приставка за amaroK
Comment[bn]=আমারক-এর জন্য প্লাগিন
Comment[br]=Lugent evit amaroK
Comment[cs]=Modul pro amaroK
Comment[de]=Modul für amaroK
Comment[el]=Πρόσθετο για το amaroK
Comment[es]=Plugin para amaroK
Comment[et]=AmaroKi plugin
Comment[fi]=amaroKin laajennos
Comment[fr]=Module pour AmaroK
Comment[ga]=Breiseán amaroK
Comment[he]=תוספים של amaroK
Comment[hi]=अमारोक के लिए प्लगइन
Comment[hu]=Bővítőmodul az amaroKhoz
Comment[is]=Íforrit fyrir amaroK
Comment[it]=Plugin per amaroK
Comment[ja]=amaroK用プラグイン
Comment[mk]=Приклучок за amaroK
Comment[ms]=Plugmasuk untuk amaroK
Comment[nb]=Programtillegg for amaroK
Comment[nl]=Plugin voor amaroK
Comment[pa]=ਅਮਰੋਕ ਲਈ ਪਲੱਗਿੰਨ
Comment[pl]=Wtyczka amaroK-a
Comment[pt]='Plugin' para o amaroK
Comment[pt_BR]=Plug-in para o amaroK
Comment[ru]=Модуль amaroK
Comment[sl]=Vstavek za amaroK
Comment[sr]=Прикључак за amaroK
Comment[sr@Latn]=Priključak za amaroK
Comment[sv]=Insticksprogram för amaroK
Comment[ta]=amaroKகான சொருகி
Comment[tg]=Модул барои амароК
Comment[tr]=amaroK için eklenti
Comment[uk]=Втулок для amaroK
Comment[uz]=amaroK учун плагин
Comment[xx]=xxPlugin for amaroKxx
Comment[zh_CN]=amaroK 插件
Comment[zh_TW]=amaroK 的外掛程式
ServiceTypes=amaroK/Plugin

X-KDE-amaroK-plugintype=engine
X-KDE-amaroK-name=gst10-engine
X-KDE-amaroK-authors=Mark Kretschmann
X-KDE-amaroK-email=markey@web.de
X-KDE-amaroK-rank=254
X-KDE-amaroK-version=1
X-KDE-amaroK-framework-version=19


