[Desktop Entry]
Type=Service
Name=MTP Collection
Name[be]=Калекцыя MTP
Name[bg]=Колекция MTP
Name[ca]=Col·lecció MTP
Name[cs]=MTP kolekce
Name[csb]=Kòlekcëjô MTP
Name[da]=MTP-samling
Name[de]=MTP-Sammlung
Name[el]=Συλλογή MTP
Name[en_GB]=MTP Collection
Name[es]=Colección de MTP
Name[et]=MTP kogu
Name[eu]=MTP bilduma
Name[fi]=MTP-kokoelma
Name[fr]=Collection MTP
Name[ga]=Bailiúchán MTP
Name[gl]=Colección MTP
Name[he]=אוסף MTP
Name[hne]=एमटीपी संग्रह
Name[is]=MTP safn
Name[it]=Collezione MTP
Name[ja]=MTP コレクション
Name[km]=បណ្ដុំ MTP
Name[ko]=MTP 모음집
Name[ku]=Berhevoka MTP
Name[lt]=MTP fonoteka
Name[lv]=MTP kolekcija
Name[nb]=MTP-samling
Name[nds]=MTP-Reedschap-Sammeln
Name[nl]=MTP-collectie
Name[nn]=MTP-samling
Name[pa]=MTP ਭੰਡਾਰ
Name[pl]=Kolekcja MTP
Name[pt]=Colecção do MTP
Name[pt_BR]=Coleção MTP
Name[ro]=Colecție MTP
Name[ru]=Коллекция MTP
Name[sl]=Zbirka MTP
Name[sr]=МТП збирка
Name[sr@latin]=MTP zbirka
Name[sv]=MTP-samling
Name[th]=คลังดนตรีของ MTP
Name[tr]=MTP Koleksiyonu
Name[uk]=Збірка MTP
Name[wa]=Ramexhnêye MTP
Name[x-test]=xxMTP Collectionxx
Name[zh_CN]=MTP 收藏
Name[zh_TW]=MTP 收藏
Comment=MTP collection plugin for Amarok
Comment[be]=Утулка калекцыі MTP для Amarok
Comment[bg]=Приставка за колекция MTP (Amarok)
Comment[ca]=Connector de col·leccions MTP per a l'Amarok
Comment[cs]=Modul kolekce MTP pro AmaroK
Comment[csb]=Wtëkôcz kòlekcëji MTP dlô Amaroka
Comment[da]=Plugin til MTP-samling til Amarok
Comment[de]=MTP-Sammlungsmodul für Amarok
Comment[el]=Πρόσθετο συλλογής MTP για το AmaroK
Comment[en_GB]=MTP collection plugin for Amarok
Comment[es]=Complemento de colección MTP para Amarok
Comment[et]=Amaroki MTP kogu plugin
Comment[eu]=Amarok-en MTP bilduma plugin-a
Comment[fi]=Amarokin MTP-kokoelmaliitännäinen
Comment[fr]=Module de collection MTP pour Amarok
Comment[ga]=Breiseán bailiúchán MTP le haghaidh Amarok
Comment[gl]=Extensión de colección MTP para Amarok
Comment[he]=תוסף אוסף MTP ל־Amarok
Comment[hne]=अमाराक बर एमटीपी संग्रह प्लगइन
Comment[is]=MTP safníforrit fyrir Amarok
Comment[it]=Plugin della collezione MTP di Amarok
Comment[ja]=Amarok のための MTP コレクションプラグイン
Comment[km]=កម្មវិធី​ជំនួយ​បណ្ដុំ MTP សម្រាប់ Amarok
Comment[ko]=Amarok의 MTP 모음집 플러그인
Comment[ku]=Pêveka Berhevoka MTP ji bo Amarok
Comment[lt]=MTP fonotekos Amarok papildinys
Comment[lv]=Amarok MTP kolekcijas spraudnis
Comment[nb]=MTP-samling – programtillegg for Amarok
Comment[nds]=MTP-Reedschap-Sammelnmoduul för Amarok
Comment[nl]=MTP-collectieplugin voor Amarok
Comment[nn]=Amarok-samlingstillegg for MTP
Comment[pa]=ਅਮਰੋਕ ਲਈ MTP ਭੰਡਾਰ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka kolekcji MTP dla Amaroka
Comment[pt]=Um 'plugin' de colecção do MTP no Amarok
Comment[pt_BR]=Plug-in de coleção MTP para o Amarok
Comment[ro]=Modul de colecție MTP pentru Amarok
Comment[ru]=Модуль коллекции MTP для Amarok
Comment[sl]=Vstavek za zbirko MTP za Amarok
Comment[sr]=Прикључак МТП збирке за Амарок
Comment[sr@latin]=Priključak MTP zbirke za Amarok
Comment[sv]=Insticksprogram med MTP-samling för Amarok
Comment[th]=ส่วนเสริมของแอมอะร็อก สำหรับจัดการคลังดนตรีของ MTP
Comment[tr]=Amarok için MTP koleksiyonu eklentisi
Comment[uk]=Додаток збірки MTP для Amarok
Comment[wa]=Tchôke-divins di ramexhnêye MTP po Amarok
Comment[x-test]=xxMTP collection plugin for Amarokxx
Comment[zh_CN]=Amarok 的 MTP 收藏插件
Comment[zh_TW]=Amarok 的 MTP 收藏外掛程式

ServiceTypes=Amarok/Plugin

X-KDE-Library=amarok_collection-mtpcollection

X-KDE-Amarok-authors=Alejandro Wainzinger
X-KDE-Amarok-email=aikawarazuni@gmail.com
X-KDE-Amarok-framework-version=48
X-KDE-Amarok-name=mtp-collection
X-KDE-Amarok-plugintype=collection
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1
