[Desktop Entry]
Name=Info Data Engine
Name[bg]=Ядро за данни
Name[ca]=Motor de dades d'informació
Name[da]=Datamotor til info
Name[de]=Info-Datenmodul
Name[en_GB]=Info Data Engine
Name[es]=Información del motor de datos
Name[et]=Teabe andmemootor
Name[hu]=Információs adatmotor
Name[is]=Gagnavél fyrir spilun
Name[it]=Motore dati informazione
Name[lv]=Informācijas datu dzinējs
Name[nb]=Informasjonsdatamotor
Name[nds]=Info-Datenkarn
Name[nl]=Informatie-gegevensengine
Name[nn]=Datamotor for informasjon
Name[pl]=Moduł danych informacji
Name[pt]=Motor de Dados da Informação
Name[pt_BR]=Mecanismo de Dados das Informações
Name[ro]=Motor de date Informații
Name[ru]=Источник данных для сведений
Name[sr]=Датомотор података
Name[sr@latin]=Datomotor podataka
Name[sv]=Datagränssnitt för information
Name[tr]=Bilgi Veri Motoru
Name[uk]=Рушій інформаційних даних
Name[x-test]=xxInfo Data Enginexx
Name[zh_CN]=信息数据引擎

X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=amarok
X-KDE-Library=amarok_data_engine_info
X-KDE-PluginInfo-Name=amarok-info
X-KDE-ParentApp=Amarok

