[Desktop Entry]
Name=Info Data Engine

X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=amarok
X-KDE-Library=amarok_data_engine_info
X-KDE-PluginInfo-Name=amarok-info
X-KDE-ParentApp=Amarok

