[Desktop Entry]
Name=Info Data Engine
Name[pt]=Motor de Dados da Informação
Name[pt_BR]=Motor de Dados da Informação
Name[sv]=Datagränssnitt för information
Name[tr]=Bilgi Veri Motoru
Name[uk]=Рушій інформаційних даних
Name[x-test]=xxInfo Data Enginexx

X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=amarok
X-KDE-Library=amarok_data_engine_info
X-KDE-PluginInfo-Name=amarok-info
X-KDE-ParentApp=Amarok

