[Desktop Entry]
Name=Lyrics
Name[bg]=Текстове
Name[bs]=Stihovi
Name[ca]=Lletres
Name[ca@valencia]=Lletres
Name[cs]=Texty písní
Name[csb]=Tekstë
Name[da]=Sangtekster
Name[de]=Liedtext
Name[el]=Στίχοι
Name[en_GB]=Lyrics
Name[es]=Letras
Name[et]=Sõnad
Name[eu]=Hitzak
Name[fa]=ترانه
Name[fi]=Sanat
Name[fr]=Paroles
Name[ga]=Liricí
Name[gl]=Letras de cancións
Name[hu]=Dalszöveg
Name[ia]=Parolas del Canto
Name[id]=Lirik
Name[is]=Lagatextar
Name[it]=Testi
Name[ja]=歌詞
Name[ka]=ლირიკა
Name[km]=ទំនុក​
Name[ko]=가사
Name[lt]=Tekstai
Name[lv]=Dziesmu vārdi
Name[mr]=गाण्याचे बोल
Name[nb]=Sangtekst
Name[nds]=Leedtexten
Name[nl]=Liedteksten
Name[nn]=Songtekst
Name[pa]=ਬੋਲ
Name[pl]=Słowa
Name[pt]=Letras Musicais
Name[pt_BR]=Letras
Name[ro]=Versuri
Name[ru]=Текст песни
Name[sk]=Texty piesní
Name[sl]=Besedilo
Name[sq]=Lirikat
Name[sr]=Стихови
Name[sr@ijekavian]=Стихови
Name[sr@ijekavianlatin]=Stihovi
Name[sr@latin]=Stihovi
Name[sv]=Sångtext
Name[th]=เนื้อร้อง
Name[tr]=Şarkı Sözleri
Name[ug]=ناخشا سۆزى
Name[uk]=Текст пісні
Name[wa]=Paroles
Name[x-test]=xxLyricsxx
Name[zh_CN]=歌词
Name[zh_TW]=歌詞

Type=Service
Icon=amarok_lyrics
ServiceTypes=Amarok/ContextApplet
Comment=Lyrics applet for Amarok
Comment[bg]=Приставка за текстове на песни за Amarok
Comment[ca]=Miniaplicació de lletres per a l'Amarok
Comment[ca@valencia]=Miniaplicació de lletres per a Amarok
Comment[cs]=Applet pro texty písní pro Amarok
Comment[da]=Sangtekst-applet til Amarok
Comment[de]=Liedtext-Modul für Amarok
Comment[el]=Μικροεφαρμογή στίχων για το AmaroK
Comment[en_GB]=Lyrics applet for Amarok
Comment[es]=Miniaplicación de letras para Amarok
Comment[et]=Amaroki sõnadeaplett
Comment[eu]=Amarok-erako hitzen aplikaziotxoa
Comment[fi]=Amarokin sanoitussovelma
Comment[fr]=Module de paroles pour Amarok
Comment[gl]=Trebello de letras de cancións para Amarok.
Comment[hu]=Dalszöveg kisalkalmazás az Amarokhoz
Comment[id]=Applet lirik untuk Amarok
Comment[it]=Applet dei testi per Amarok
Comment[ka]=Amarok-ის ლირიკების აპლეტი
Comment[ko]=Amarok 가사 애플릿
Comment[nl]=Liedtekst-applet voor Amarok
Comment[pl]=Aplet słów dla Amaroka
Comment[pt]='Applet' de letras musicais do Amarok
Comment[pt_BR]=Miniaplicativo de letras para o Amarok
Comment[sk]=Applet Texty piesní pre Amarok
Comment[sl]=Vstavek besedila za Amarok
Comment[sv]=Sångtextminiprogram för Amarok
Comment[tr]=Amarok için şarkı sözü uygulamacığı
Comment[uk]=Аплет слів пісні для Amarok
Comment[x-test]=xxLyrics applet for Amarokxx
Comment[zh_CN]=Amarok 的歌词部件
Comment[zh_TW]=Amarok 的歌詞小程式

X-KDE-PluginInfo-Name=org.kde.amarok.lyrics
X-KDE-PluginInfo-Author=Leo Franchi
X-KDE-PluginInfo-Email=lfranchi@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Category=Multimedia
