[Desktop Entry]
Type=Service
Icon=network-server
Name=SMB (Windows) Share Backend
Name[ca]=Dorsal de compartició SMB (Windows)
Name[cs]=Podpůrná vrstva pro sdílené složky SMB (Windows)
Name[da]=Motor til delte SMB-ressourcer (Windows)
Name[de]=Backend für SMB-(Windows-)Freigaben
Name[el]=Σύστημα υποστήριξης διαμοιρασμού SMB (Windows)
Name[es]=Motor de compartición SMB (Windows)
Name[et]=SMB (Windows) ressursi taustaprogramm
Name[fr]=Prise en charge du partage SMB (Windows)
Name[hu]=SMB (Windows) megosztás modul
Name[it]=Motore condivisione SMB (Windows)
Name[ja]=SMB (Windows) 共有バックエンド
Name[km]=កម្មវិធី​ខាង​ក្រោយ​នៃ​ការ​ចែករំលែក SMB (Windows)
Name[lv]=SMB (Windows) kopīgojumu aizmugure
Name[nl]=Backend voor SMB (Windows)-share 
Name[pl]=Silnik udziałów SMB (Windows)
Name[pt]=Infra-Estrutura de Partilha SMB (Windows)
Name[pt_BR]=Infraestrutura de compartilhamento SMB (Windows)
Name[ru]=Общие папки Windows (SMB)
Name[sk]=Backend zdieľania SMB (Windows)
Name[sl]=Zaledje za deljene mape SMB (Windows)
Name[sr]=Позадина за СМБ (виндоуз) дељења
Name[sr@ijekavian]=Позадина за СМБ (виндоуз) дељења
Name[sr@ijekavianlatin]=Pozadina za SMB (windows) deljenja
Name[sr@latin]=Pozadina za SMB (windows) deljenja
Name[sv]=Gränssnitt för delade SMB (Windows) kataloger
Name[tr]=SMB (Windows) Paylaşımı Arka Ucu
Name[uk]=Модуль спільних ресурсів SMB (Windows)
Name[x-test]=xxSMB (Windows) Share Backendxx
Name[zh_TW]=SMB (Windows) 分享後端介面
Comment=Local Collection folders on remote Samba (Windows) shares
Comment[ca]=Carpetes de col·leccions locals en comparticions Samba (Windows) remotes
Comment[cs]=Složky místní sbírky na vzdálených sdílených složkách Samba (Windows)
Comment[da]=Mapper med lokal samling på eksterne delte Samba-ressourcer (Windows)
Comment[de]=Ordner der lokalen Sammlung auf entfernten Samba-(Windows-)Freigaben
Comment[el]=Φάκελοι τοπικών συλλογών σε απομακρυσμένα συστήματα διαμοιρασμού Samba (Windows)
Comment[es]=Carpetas de colecciones locales en comparticiones remotas Samba (Windows)
Comment[et]=Kohaliku kogu kataloogid Samba (Windowsi) võrguressurssidel
Comment[fr]=Collection de dossiers locaux sur les réseaux de partages Samba (Windows)
Comment[hu]=Helyi gyűjteménymappák távoli Samba (Windows) megosztásokon
Comment[it]=Cartelle della collezione locale su condivisioni remote Samba (Windows)
Comment[ja]=リモートの Samba (Windows) 共有内にあるローカルコレクションフォルダ
Comment[km]=ថត​សម្រាំង​មូលដ្ឋាន​នៅ​លើ​ការ​ចែករំលែក​តាមរយៈ Samba (Windows) ពី​ចម្ងាយ
Comment[lv]=Lokālās kolekcijas mapes uz attālinātām Samba (Windows) mapēm
Comment[nl]=Mappen voor lokale verzameling op Samba (Windows)-shares op afstand
Comment[pl]=Lokalne katalogi kolekcji na zdalnych udziałach Samba (Windows)
Comment[pt]=Pastas de colecções locais em partilhas de Samba (Windows) remotas
Comment[pt_BR]=Pastas da coleção local em compartilhamentos remotos do Samba (Windows)
Comment[ru]=Папки локальной коллекции на удалённых серверах Samba или общих папок Windows
Comment[sk]=Priečinky miestnej kolekcie na vzdialených Samba (Windows) zdieľaniach
Comment[sl]=Mape krajevne zbirke na oddaljenih deljenih mapah Samba (Windows)
Comment[sr]=Фасцикле локалне збирке на удаљеним СМБ (виндоуз) дељењима
Comment[sr@ijekavian]=Фасцикле локалне збирке на удаљеним СМБ (виндоуз) дељењима
Comment[sr@ijekavianlatin]=Fascikle lokalne zbirke na udaljenim SMB (windows) deljenjima
Comment[sr@latin]=Fascikle lokalne zbirke na udaljenim SMB (windows) deljenjima
Comment[sv]=Lokala samlingskataloger på delade Samba (Windows) fjärrkataloger
Comment[tr]=Uzak Samba (Windows) paylaşımlarındaki Yerel Koleksiyon dizinleri
Comment[uk]=Теки локальної збірки на віддалених спільних ресурсах Samba (Windows)
Comment[x-test]=xxLocal Collection folders on remote Samba (Windows) sharesxx
Comment[zh_TW]=在遠端 Samba (Windows) 分享中的本地收藏資料夾
ServiceTypes=Amarok/Plugin

X-KDE-Amarok-authors=Maximilian Kossick, Peter C. Ndikuwera
X-KDE-Amarok-email=maximilian.kossick@googlemail.com, pndiku@gmail.com
X-KDE-Amarok-framework-version=69
X-KDE-Amarok-name=smb-device
X-KDE-Amarok-plugintype=device
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1

X-KDE-PluginInfo-Author=Maximilian Kossick, Peter C. Ndikuwera
X-KDE-PluginInfo-Email=maximilian.kossick@googlemail.com, pndiku@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Device
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=amarok_device_smb
X-KDE-PluginInfo-Name=amarok_device_smb
