[Desktop Entry]
Type=Service
Icon=network-server
Name=SMB (Windows) Share Backend
Comment=Local Collection folders on remote Samba (Windows) shares
ServiceTypes=Amarok/Plugin

X-KDE-Amarok-authors=Maximilian Kossick, Peter C. Ndikuwera
X-KDE-Amarok-email=maximilian.kossick@googlemail.com, pndiku@gmail.com
X-KDE-Amarok-framework-version=67
X-KDE-Amarok-name=smb-device
X-KDE-Amarok-plugintype=device
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1

X-KDE-PluginInfo-Author=Maximilian Kossick, Peter C. Ndikuwera
X-KDE-PluginInfo-Email=maximilian.kossick@googlemail.com, pndiku@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Device
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=amarok_device_smb
X-KDE-PluginInfo-Name=amarok_device_smb
