[Desktop Entry]
Name=Wikipedia Data Engine
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=wikipedia
X-KDE-Library=amarok_data_engine_wikipedia
X-Plasma-EngineName=amarok-wikipedia
