[Desktop Entry]
Type=Service
ServiceTypes=KPluginInfo
Icon=view-services-jamendo-amarok
Name=Jamendo Service
Name[bg]=Услуга Jamendo
Name[ca]=Servei pel Jamendo
Name[de]=Jamendo-Dienst
Name[el]=Υπηρεσία Jamendo
Name[eo]=Jamendo Servo
Name[es]=Servicio Jamedo
Name[et]=Jamendo teenus
Name[fr]=Service Jamendo
Name[ga]=Seirbhís Jamendo
Name[gl]=Servizo de Jamendo
Name[it]=Servizio Jamendo
Name[ja]=Jamendo サービス
Name[km]=សេវា​ Jamendo
Name[ko]=Jamendo 서비스
Name[lt]=Jamendo tarnyba
Name[lv]=Jamendo pakalpojums
Name[nds]=Jamendo-Deenst
Name[nl]=Jamendo-dienst
Name[pl]=Usługa Jamendo
Name[pt]=Serviço do Jamendo
Name[pt_BR]=Serviço Jamendo
Name[sv]=Jamendo-tjänst
Name[tr]=Jamendo Hizmeti
Name[uk]=Служба Jamendo
Name[x-test]=xxJamendo Servicexx
Name[zh_CN]=Jamendo 服务
Comment=Listen to and download music uploaded by independent artists
Comment[bg]=Слушане и сваляне на музика от независими изпълнители
Comment[ca]=Escolta i baixa música pujada per artistes independents
Comment[de]=Musik unabhängiger Interpreten hören und herunterladen
Comment[el]=Ακούστε και κατεβάστε μουσική ανεξάρτητων καλλιτεχνών
Comment[es]=Escuchar y descargar música enviada por artistas independientes
Comment[et]=Sõltumatute esitajate muusika kuulamine ja allalaadimine
Comment[fr]=Écouter et télécharger de la musique mise à disposition par des artistes indépendants
Comment[ga]=Éist le ceol uasluchtaithe ag ealaíontóirí neamhspleácha agus íosluchtaigh é freisin
Comment[gl]=Escoite e obteña música enviada por artistas independentes
Comment[it]=Ascoltare e scaricare musica inviata da artisti indipendenti
Comment[ja]=無所属のアーティストによってアップロードされた音楽を聴いたりダウンロードしたりできます
Comment[km]=ស្ដាប់ និង​ទាញ​យក​តន្ត្រី​ដែល​បានផ្ទុក​ឡើង​ដោយ​សិល្បករ​ឯករាជ្យ
Comment[lt]=Klausyti ir atsisiųsti muziką, atsiųstą nepriklausomų atlikėjų
Comment[lv]=Klausieties un lejupielādējiet mūziku, kuru augšupielādē neatkarīgie mākslinieki
Comment[nds]=Musik anhören un daalladen, de nich afhangig Künstlers hoochlaadt hebbt
Comment[nl]=Luister naar en download muziek die door onafhankelijke artiesten is vrijgegeven
Comment[pl]=Słuchaj i pobieraj muzykę udostępnioną przez niezależnych wykonawców
Comment[pt]=Escutar e transferir as músicas enviadas por artistas independentes
Comment[pt_BR]=Ouça e baixe músicas enviadas por artistas independentes
Comment[sv]=Lyssna på och ladda ner musik uppladdad av oberoende artister
Comment[tr]=Bağımsız sanaçtılardan müzik dinleyin ve indirin
Comment[uk]=Прослухайте і завантажте музику, записану незалежними виконавцями
Comment[x-test]=xxListen to and download music uploaded by independent artistsxx


ServiceTypes=Amarok/Plugin

X-KDE-Library=amarok_service_jamendo

X-KDE-Amarok-authors=Nikolaj Hald Nielsen
X-KDE-Amarok-email=nhnFreespirit@gmail.com
X-KDE-Amarok-framework-version=35
X-KDE-Amarok-name=JamendoService
X-KDE-Amarok-plugintype=service
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1

X-KDE-PluginInfo-Author=Nikolaj Hald Nielsen
X-KDE-PluginInfo-Email=nhnFreespirit@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=amarok_service_jamendo
X-KDE-PluginInfo-Name=amarok_service_jamendo
