[Desktop Entry]
Type=Service
ServiceTypes=KPluginInfo
Icon=view-services-jamendo-amarok
Name=Jamendo
Name[pa]=ਜਾਮੀਂਡੋ
Name[sr]=Џемендо
Name[x-test]=xxJamendoxx
Name[zh_TW]=Jamendo 
Comment=Listen to and download music uploaded by independent artists
Comment[bg]=Слушане и сваляне на музика от независими изпълнители
Comment[ca]=Escolta i baixa música pujada per artistes independents
Comment[cs]=Poslouchejte a stahujte hudbu nahranou nezávislými umělci
Comment[da]=Lyt til og download musik som er uploadet af uafhængige kunstnere
Comment[de]=Musik unabhängiger Interpreten hören und herunterladen
Comment[el]=Ακούστε και κατεβάστε μουσική ανεξάρτητων καλλιτεχνών
Comment[es]=Escuchar y descargar música enviada por artistas independientes
Comment[et]=Sõltumatute esitajate muusika kuulamine ja allalaadimine
Comment[eu]=Entzun eta deskargatu musikari independienteek igotako musika
Comment[fr]=Écouter et télécharger de la musique mise à disposition par des artistes indépendants
Comment[ga]=Éist le ceol uasluchtaithe ag ealaíontóirí neamhspleácha agus íosluchtaigh é freisin
Comment[gl]=Escoite e obteña música enviada por artistas independentes
Comment[he]=האזנה והורדת מוזיקה שהועלתה על ידי יוצרים עצמאיים
Comment[is]=Hlusta á og hala niður tónlist frá sjálfstæðum óhaðum listamönnum
Comment[it]=Ascoltare e scaricare musica inviata da artisti indipendenti
Comment[ja]=無所属のアーティストによってアップロードされた音楽を聴いたりダウンロードしたりできます
Comment[km]=ស្ដាប់ និង​ទាញ​យក​តន្ត្រី​ដែល​បានផ្ទុក​ឡើង​ដោយ​សិល្បករ​ឯករាជ្យ
Comment[ko]=독립된 가수가 만든 음악을 듣고 내려받기
Comment[ku]=Muzîkên, alî yê hunermendê azad ve hatine bar kirin, guhdarî bike û bi daxe 
Comment[lt]=Klausyti ir atsisiųsti muziką, atsiųstą nepriklausomų atlikėjų
Comment[lv]=Klausieties un lejupielādējiet mūziku, kuru augšupielādē neatkarīgie mākslinieki
Comment[nb]=Lytt til og last ned musikk som er lastet opp av uavhengige artister
Comment[nds]=Musik anhören un daalladen, de nich afhangig Künstlers hoochlaadt hebbt
Comment[nl]=Luister naar en download muziek die door onafhankelijke artiesten is vrijgegeven
Comment[nn]=Høyr på og last ned musikk lasta opp av uavhengige artistar
Comment[pl]=Słuchaj i pobieraj muzykę udostępnioną przez niezależnych wykonawców
Comment[pt]=Escutar e transferir as músicas enviadas por artistas independentes
Comment[pt_BR]=Ouça e baixe músicas enviadas por artistas independentes
Comment[ro]=Ascultă și descarcă muzică încărcată de artiști independenți
Comment[ru]=Прослушивание и загрузка музыки, предоставленной независимыми исполнителями
Comment[sl]=Poslušajte in prenesite glasbo, ki so jo ustvarili neodvisni glasbeniki
Comment[sr]=Слушајте и преузимајте музику независних извођача
Comment[sr@latin]=Slušajte i preuzimajte muziku nezavisnih izvođača
Comment[sv]=Lyssna på och ladda ner musik uppladdad av oberoende artister
Comment[th]=ฟังและดาวน์โหลดดนตรีที่ถูกอัปโหลดจากศิลปินอิสระต่าง ๆ
Comment[tr]=Bağımsız sanaçtılardan müzik dinleyin ve indirin
Comment[uk]=Прослухайте і завантажте музику, записану незалежними виконавцями
Comment[wa]=Schoûter eyet aberweter del muzike eberwetêye pa des årtisses dislaxhîs
Comment[x-test]=xxListen to and download music uploaded by independent artistsxx
Comment[zh_CN]=收听并下载由自由艺术家上传的音乐
Comment[zh_TW]=聆聽並下載由獨立藝人所上傳的音樂


ServiceTypes=Amarok/Plugin

X-KDE-Library=amarok_service_jamendo

X-KDE-Amarok-authors=Nikolaj Hald Nielsen
X-KDE-Amarok-email=nhnFreespirit@gmail.com
X-KDE-Amarok-framework-version=47
X-KDE-Amarok-name=JamendoService
X-KDE-Amarok-plugintype=service
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1

X-KDE-PluginInfo-Author=Nikolaj Hald Nielsen
X-KDE-PluginInfo-Email=nhnFreespirit@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=amarok_service_jamendo
X-KDE-PluginInfo-Name=amarok_service_jamendo
