[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Apple iPod Media Device
Name[el]=Συσκευή πολυμέσων Apple iPod
X-KDE-Library=libamarok_ipod-mediadevice
Comment=Plugin for Amarok
Comment[el]=Πρόσθετο για το AmaroK
ServiceTypes=Amarok/Plugin

X-KDE-Amarok-plugintype=mediadevice
X-KDE-Amarok-name=ipod-mediadevice
X-KDE-Amarok-authors=Martin Aumueller
X-KDE-Amarok-email=aumuell@reserv.at
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1
X-KDE-Amarok-framework-version=30
