[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Apple iPod Media Device
Name[af]=Apple iPod media toestel
Name[ar]=جهاز اخراج وسائط Apple iPod
Name[bg]=Устройство Apple iPod
Name[bn]=অ্যাপেল আইপড মিডিয়া ডিভাইস
Name[br]=Trobarzhell media Apple iPod
Name[ca]=Dispositiu de suports Apple iPod
Name[cs]=Mediální zařízení Apple iPod
Name[da]=Apple iPod-medieenhed
Name[de]=Apple iPod
Name[el]=Συσκευή πολυμέσων Apple iPod
Name[eo]=Apple iPod Media Ekipaĵo
Name[es]=Dispositivo de medios Apple iPod
Name[et]=Apple iPod meediaseade
Name[fa]=دستگاه رسانۀ Apple iPod
Name[fi]=Apple iPod -medialaite
Name[fr]=Périphérique de média Apple iPod
Name[ga]=Gléas Meán iPod Apple
Name[gl]=Apple iPod
Name[hu]=Apple iPod médiaeszköz
Name[is]=Apple iPod
Name[it]=Dispositivo multimediale Apple iPod
Name[ja]=Apple iPod メディアデバイス
Name[ka]=მედია მოწყობილობა Apple iPod
Name[km]=ឧបករណ៍​មេឌៀ iPod របស់​អ៊េផល
Name[lt]=Apple iPod daugialypės terpės įrenginys
Name[mk]=Уред за мултимедија Apple iPod
Name[nb]=Apple iPod medieenhet
Name[nds]=Apple-iPott
Name[ne]=एप्पल iPod मिडिया यन्त्र
Name[nl]=Apple iPod media-apparaat
Name[nn]=Apple iPod-medieeining
Name[pa]=Apple iPod ਮੀਡਿਆ ਜੰਤਰ
Name[pl]=Urządzenie mediów Apple iPod
Name[pt]=Dispositivo Multimédia Apple iPod
Name[pt_BR]=Dispositivo de Mídia Apple iPod
Name[ru]=Apple iPod
Name[se]=Apple iPod-mediaovttadat
Name[sk]=Apple iPod Media zariadenie
Name[sr]=Apple-ов iPod, мултимедијални уређај
Name[sr@Latn]=Apple-ov iPod, multimedijalni uređaj
Name[sv]=Apple iPod-mediaenhet
Name[th]=อุปกรณ์เล่นสื่อไอพ็อด ของแอปเปิล
Name[tr]=Apple iPod Ortam Aygıtı
Name[uk]=Пристрій носія Apple iPod
Name[uz]=Apple iPod media-uskunasi
Name[uz@cyrillic]=Apple iPod медиа-ускунаси
Name[wa]=Édjin d' media Apple iPod
Name[zh_CN]=Apple iPod 媒体设备
Name[zh_TW]=Apple iPod 媒體裝置
X-KDE-Library=libamarok_ipod-mediadevice
Comment=Plugin for Amarok
Comment[af]=Inprop module vir Amarok
Comment[ar]= قابس ( برنامج مضاف الى) AmaroK
Comment[bg]=Приставка за Amarok
Comment[bn]=আমারক-এর জন্য প্লাগিন
Comment[br]=Lugent evit Amarok
Comment[ca]=Connector per l'Amarok
Comment[cs]=Modul pro AmaroK
Comment[de]=Modul für Amarok
Comment[el]=Πρόσθετο για το AmaroK
Comment[eo]=Kromaĵo por Amarok
Comment[es]=Extensión para Amarok
Comment[et]=Amaroki plugin
Comment[fa]=وصله برای amaroK
Comment[fi]=Amarok-liitännäinen
Comment[fr]=Module pour Amarok
Comment[ga]=Breiseán AmaroK
Comment[gl]=Extensión para Amarok
Comment[hu]=Bővítőmodul az Amarokhoz
Comment[is]=Íforrit fyrir Amarok
Comment[it]=Plugin per Amarok
Comment[ja]=Amarok のためのプラグイン
Comment[ka]=მოდული Amarok-ისთვის
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាប់ Amarok
Comment[lt]=Amarok įskiepis
Comment[mk]=Приклучок за Амарок
Comment[nb]=Programtillegg for Amarok
Comment[nds]=Moduul för Amarok
Comment[ne]=अमारोकका लागि प्लगइन
Comment[nl]=Plugin voor Amarok
Comment[nn]=Programtillegg for Amarok
Comment[pa]=ਅਮਰੋਕ ਲਈ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka Amaroka
Comment[pt]='Plugin' para o Amarok
Comment[pt_BR]=Plugin para o Amarok
Comment[ru]=Модуль amaroK
Comment[se]=Lassemoduvla Amarok:ii
Comment[sk]=Amarok modul
Comment[sr]=Прикључак за Amarok
Comment[sr@Latn]=Priključak za Amarok
Comment[sv]=Insticksprogram för Amarok
Comment[th]=โปรแกรมเสริมสำหรับ Amarok
Comment[tr]=Amarok için Eklenti
Comment[uk]=Втулок для Amarok
Comment[uz]=Amarok uchun plagin
Comment[uz@cyrillic]=Amarok учун плагин
Comment[wa]=Tchôke-divins po Amarok
Comment[zh_CN]=Amarok 插件
Comment[zh_TW]=amaroK 插件
ServiceTypes=Amarok/Plugin

X-KDE-Amarok-plugintype=mediadevice
X-KDE-Amarok-name=ipod-mediadevice
X-KDE-Amarok-authors=Martin Aumueller
X-KDE-Amarok-email=aumuell@reserv.at
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1
X-KDE-Amarok-framework-version=32
