[Desktop Entry]
Name=JS Sample Engine
Name[csb]=Przëmiarowi mòtór JS
Name[es]=Motor de muestras JS
Name[et]=JS näidismootor
Name[it]=Motore di esempio JS
Name[km]=ម៉ាស៊ីន​គំរូ JS
Name[ko]=JS 예제 엔진
Name[nb]=JS samplemotor
Name[nn]=Eksempel på JS-motor
Name[pl]=Przykładowy Moduł JS
Name[pt]=Motor de Exemplo JS
Name[pt_BR]=Mecanismo de Amostra JS
Name[sv]=Javascript-exempelgränssnitt
Name[tr]=JS Örnek Motoru
Name[uk]=Зразок рушія JS
Name[x-test]=xxJS Sample Enginexx
Comment=Javascript Sample Engine
Comment[csb]=Przëmiarowi mòtór Javascript
Comment[es]=Motor de muestras Javascript
Comment[et]=Javascripti näidismootor
Comment[it]=Motore di esempio Javascript
Comment[km]=ម៉ាស៊ីន​គំរូ Javascript
Comment[ko]=자바스크립트 예제 엔진
Comment[nb]=Javascript samplemotor
Comment[nn]=Eksempel på JavaScript-motor
Comment[pl]=Przykładowy Moduł JavaScript
Comment[pt]=Motor de Exemplo de JavaScript
Comment[pt_BR]=Mecanismo de Amostra Javascript
Comment[sv]=Javascript-exempelgränssnitt
Comment[tr]=Örnek Javascript  Motoru
Comment[uk]=Зразок рушія Javascript
Comment[x-test]=xxJavascript Sample Enginexx
Type=Service
Icon=preferences-system-time
ServiceTypes=Plasma/DataEngine
X-Plasma-API=javascript

X-KDE-PluginInfo-Author=Leo Franchi
X-KDE-PluginInfo-Email=lfranchi@kde.org
X-KDE-PluginInfo-Name=amarok-dataengine-jstest
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://amarok.kde.org/
X-KDE-PluginInfo-Category=Javascript Test Engine
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=amarok
