[Desktop Entry]
Name=JS Sample Engine
Name[bg]=Ядро JS
Name[ca]=Motor d'exemple en JS
Name[ca@valencia]=Motor d'exemple en JS
Name[csb]=Przëmiarowi mòtór JS
Name[da]=JS prøvemotor
Name[de]=JS-Beispielmodul
Name[en_GB]=JS Sample Engine
Name[es]=Motor de muestras JS
Name[et]=JS näidismootor
Name[hu]=JS-mintamotor
Name[is]=JS prufu-gagnavél
Name[it]=Motore di esempio JS
Name[km]=ម៉ាស៊ីន​គំរូ JS
Name[ko]=JS 예제 엔진
Name[lv]=JS piemēra dzinējs
Name[nb]=JS samplemotor
Name[nds]=JavaScript-Bispillkarn
Name[nl]=JS-voorbeeldengine
Name[nn]=Eksempel på JS-motor
Name[pa]=JS ਸੈਂਪਲ ਇੰਜਣ
Name[pl]=Przykładowy Moduł JS
Name[pt]=Motor de Exemplo JS
Name[pt_BR]=Mecanismo de Amostra JS
Name[ro]=Mostră de motor JS
Name[ru]=Пример движка JS
Name[sk]=Nástroj JS Sample
Name[sl]=Vzorčni JavaScript pogon
Name[sr]=Пример јаваскриптног мотора
Name[sr@ijekavian]=Пример јаваскриптног мотора
Name[sr@ijekavianlatin]=Primer JavaScript motora
Name[sr@latin]=Primer JavaScript motora
Name[sv]=Javascript-exempelgränssnitt
Name[tr]=JS Örnek Motoru
Name[uk]=Зразок рушія JS
Name[x-test]=xxJS Sample Enginexx
Name[zh_CN]=JS 示例引擎
Comment=Javascript Sample Engine
Comment[bg]=Ядро Javascript
Comment[ca]=Motor d'exemple en Javascript
Comment[ca@valencia]=Motor d'exemple en Javascript
Comment[csb]=Przëmiarowi mòtór Javascript
Comment[da]=Prøvemotor til Javascript
Comment[de]=Javscript-Beispielmodul
Comment[en_GB]=Javascript Sample Engine
Comment[es]=Motor de muestras Javascript
Comment[et]=Javascripti näidismootor
Comment[hu]=Javascript-mintamotor
Comment[is]=Javascript prufu-gagnavél
Comment[it]=Motore di esempio Javascript
Comment[km]=ម៉ាស៊ីន​គំរូ Javascript
Comment[ko]=자바스크립트 예제 엔진
Comment[lv]=Javascript piemēra dzinējs
Comment[nb]=Javascript samplemotor
Comment[nds]=JavaScript-Bispillkarn
Comment[nl]=Voorbeeldengine voor Javascript
Comment[nn]=Eksempel på JavaScript-motor
Comment[pa]=ਜਾਵਾਸਕ੍ਰਿਪਟ ਸੈਂਪਲ ਇੰਜਣ
Comment[pl]=Przykładowy Moduł JavaScript
Comment[pt]=Motor de Exemplo de JavaScript
Comment[pt_BR]=Mecanismo de Amostra Javascript
Comment[ro]=Mostră de motor Javascript
Comment[ru]=Пример движка Javascript
Comment[sk]=Nástroj javascript Sample
Comment[sl]=Vzorčni JavaScript pogon
Comment[sr]=Пример јаваскриптног мотора
Comment[sr@ijekavian]=Пример јаваскриптног мотора
Comment[sr@ijekavianlatin]=Primer JavaScript motora
Comment[sr@latin]=Primer JavaScript motora
Comment[sv]=Javascript-exempelgränssnitt
Comment[tr]=Örnek Javascript  Motoru
Comment[uk]=Зразок рушія Javascript
Comment[x-test]=xxJavascript Sample Enginexx
Comment[zh_CN]=Javascript 示例引擎
Type=Service
Icon=preferences-system-time
ServiceTypes=Plasma/DataEngine
X-Plasma-API=javascript

X-KDE-PluginInfo-Author=Leo Franchi
X-KDE-PluginInfo-Email=lfranchi@kde.org
X-KDE-PluginInfo-Name=amarok-dataengine-jstest
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://amarok.kde.org/
X-KDE-PluginInfo-Category=Javascript Test Engine
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=amarok
