[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Music Sharing
Name[af]=Musiek Deel
Name[ar]=تبادل مشترك للموسيقة
Name[bg]=Споделяне на музика
Name[bn]=সঙ্গীত বিনিময়
Name[ca]=Música compartida
Name[cs]=Sdílení hudby
Name[da]=Musikdeling
Name[de]=Musikfreigabe
Name[el]=Κοινή χρήση μουσικής
Name[eo]=Muziko Fordonado
Name[es]=Cliente DAAP
Name[et]=Muusika jagamine
Name[fa]=اشتراک موسیقی
Name[fi]=Musiikinjako
Name[fr]=Musique partagée
Name[gl]=Compartir Música
Name[hu]=Zenemegosztás
Name[is]=Tónlistardeiling
Name[it]=Condivisione musica
Name[ja]=音楽共有
Name[ka]=მუსიკის გაზიარება
Name[km]=ការ​ចែករំលែក​តន្ត្រី
Name[lt]=Dalinimasis muzika
Name[mk]=Споделување музика
Name[ms]=Perkongsian Muzik
Name[nb]=Musikkdeling
Name[nds]=Musikfreegaav
Name[ne]=सङ्गीत साझेदारी
Name[nl]=Muziek delen
Name[nn]=Musikkdeling
Name[pa]=ਸੰਗੀਤ ਸਾਂਝ
Name[pl]=Dzielenie się muzyką
Name[pt]=Partilha de Músicas
Name[pt_BR]=Compartilhamento de Música
Name[se]=Musihkkajuogadeapmi
Name[sk]=Zdieľanie hudby
Name[sr]=Дељење музике
Name[sr@Latn]=Deljenje muzike
Name[sv]=Musikdelning
Name[th]=แบ่งปันดนตรี
Name[tr]=Müzik Paylaşımı
Name[uk]=Спільна музика
Name[uz]=Musiqani boshqalar bilan boʻlishish
Name[uz@cyrillic]=Мусиқани бошқалар билан бўлишиш
Name[wa]=Pårtaedjî l' muzike
Name[zh_CN]=音乐共享
Name[zh_TW]=音樂分享
X-KDE-Library=libamarok_daap-mediadevice
Comment=Plugin for Amarok
Comment[af]=Inprop module vir Amarok
Comment[ar]= قابس ( برنامج مضاف الى) AmaroK
Comment[bg]=Приставка за Amarok
Comment[bn]=আমারক-এর জন্য প্লাগিন
Comment[br]=Lugent evit Amarok
Comment[ca]=Connector per l'Amarok
Comment[cs]=Modul pro AmaroK
Comment[de]=Modul für Amarok
Comment[el]=Πρόσθετο για το AmaroK
Comment[eo]=Kromaĵo por Amarok
Comment[es]=Extensión para Amarok
Comment[et]=Amaroki plugin
Comment[fa]=وصله برای amaroK
Comment[fi]=Amarok-liitännäinen
Comment[fr]=Module pour Amarok
Comment[ga]=Breiseán AmaroK
Comment[gl]=Extensión para Amarok
Comment[hu]=Bővítőmodul az Amarokhoz
Comment[is]=Íforrit fyrir Amarok
Comment[it]=Plugin per Amarok
Comment[ja]=Amarok のためのプラグイン
Comment[ka]=მოდული Amarok-ისთვის
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាប់ Amarok
Comment[lt]=Amarok įskiepis
Comment[mk]=Приклучок за Амарок
Comment[nb]=Programtillegg for Amarok
Comment[nds]=Moduul för Amarok
Comment[ne]=अमारोकका लागि प्लगइन
Comment[nl]=Plugin voor Amarok
Comment[nn]=Programtillegg for Amarok
Comment[pa]=ਅਮਰੋਕ ਲਈ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka Amaroka
Comment[pt]='Plugin' para o Amarok
Comment[pt_BR]=Plugin para o Amarok
Comment[ru]=Модуль amaroK
Comment[se]=Lassemoduvla Amarok:ii
Comment[sk]=Amarok modul
Comment[sr]=Прикључак за Amarok
Comment[sr@Latn]=Priključak za Amarok
Comment[sv]=Insticksprogram för Amarok
Comment[th]=โปรแกรมเสริมสำหรับ Amarok
Comment[tr]=Amarok için Eklenti
Comment[uk]=Втулок для Amarok
Comment[uz]=Amarok uchun plagin
Comment[uz@cyrillic]=Amarok учун плагин
Comment[wa]=Tchôke-divins po Amarok
Comment[zh_CN]=Amarok 插件
Comment[zh_TW]=amaroK 插件
ServiceTypes=Amarok/Plugin

X-KDE-Amarok-plugintype=mediadevice
X-KDE-Amarok-name=daap-mediadevice
X-KDE-Amarok-authors=Ian Monroe
X-KDE-Amarok-email=ian@monroe.nu
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1
X-KDE-Amarok-framework-version=32
