[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Music Sharing
Name[el]=Κοινή χρήση μουσικής
X-KDE-Library=libamarok_daap-mediadevice
Comment=Plugin for Amarok
Comment[el]=Πρόσθετο για το AmaroK
ServiceTypes=Amarok/Plugin

X-KDE-Amarok-plugintype=mediadevice
X-KDE-Amarok-name=daap-mediadevice
X-KDE-Amarok-authors=Ian Monroe
X-KDE-Amarok-email=ian@monroe.nu
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1
X-KDE-Amarok-framework-version=30
