[Desktop Entry]
Type=Service
Icon=server-database
Name=MySQLe Storage
Name[ca]=Emmagatzematge MySQLe
Name[cs]=Úložiště MySQLe
Name[en_GB]=MySQLe Storage
Name[id]=Penyimpanan MySQLe
Name[it]=Archiviazione MySQLe
Name[nl]=MySQLe-opslag
Name[pl]=Przechowalnia MySQLe
Name[pt]=Armazenamento no MySQLe
Name[pt_BR]=Armazenamento MySQLe
Name[sk]=MySQLe úložisko
Name[sr]=Складиште над МајСКуЛe‑ом
Name[sr@ijekavian]=Складиште над МајСКуЛe‑ом
Name[sr@ijekavianlatin]=Skladište nad MySQLe‑om
Name[sr@latin]=Skladište nad MySQLe‑om
Name[sv]=MySQLe-lagring
Name[tr]=MySQLe Depolaması
Name[uk]=Сховище даних MySQLe
Name[x-test]=xxMySQLe Storagexx
Comment=Storage plugin for Amarok
Comment[ca]=Connector d'emmagatzematge per l'Amarok
Comment[cs]=Modul úložiště pro AmaroK
Comment[en_GB]=Storage plugin for Amarok
Comment[id]=Plugin penyimpanan untuk Amarok
Comment[it]=Estensione di archiviazione per Amarok
Comment[nl]=Opslag-plug-in voor Amarok
Comment[pl]=Wtyczka przechowywania dla Amaroka
Comment[pt]='Plugin' de armazenamento do Amarok
Comment[pt_BR]=Plugin de armazenamento para o Amarok
Comment[sk]=Úložný modul pre Amarok
Comment[sr]=Складишни прикључак за Амарок
Comment[sr@ijekavian]=Складишни прикључак за Амарок
Comment[sr@ijekavianlatin]=Skladišni priključak za Amarok
Comment[sr@latin]=Skladišni priključak za Amarok
Comment[sv]=Lagringsinsticksprogram för Amarok
Comment[tr]=Amarok için depolama eklentisi
Comment[uk]=Додаток сховища даних для Amarok
Comment[x-test]=xxStorage plugin for Amarokxx
NoDisplay=true

ServiceTypes=Amarok/Plugin

X-KDE-Amarok-authors=Ralf Engels
X-KDE-Amarok-email=ralf-engels@gmx.de
X-KDE-Amarok-framework-version=72
X-KDE-Amarok-name=mysqle-storage
X-KDE-Amarok-plugintype=storage
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1
X-KDE-Amarok-vital=true

X-KDE-PluginInfo-Author=Ralf Engels
X-KDE-PluginInfo-Email=ralf.engels@gmx.de
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Storage
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=amarok_storage-mysqlestorage
X-KDE-Library=amarok_storage-mysqlestorage
