[Desktop Entry]
Name=Wiki Data Engine
Name[bg]=Ядро Уикипедия
Name[ca]=Motor de dades Wiki
Name[ca@valencia]=Motor de dades Wiki
Name[cs]=Datový nástroj Wiki
Name[csb]=Mòtór pòdôwków z Wiki
Name[da]=Datamotor til wiki
Name[de]=Wiki-Datenmodul
Name[en_GB]=Wiki Data Engine
Name[es]=Motor de datos de Wiki
Name[et]=Wiki andmete mootor
Name[hu]=Wiki-adatmotor
Name[is]=Wikipedia gagnavél
Name[it]=Motore dati Wiki
Name[ja]=Wiki データエンジン
Name[km]=ម៉ាស៊ីន​ទិន្នន័យ​វីគី
Name[ko]=위키 데이터 엔진
Name[lv]=Wiki datu dzinējs
Name[nb]=Wiki datamotor
Name[nds]=Wikipedia-Datenkarn
Name[nl]=Wikipedia-gegevensengine
Name[nn]=Datamotor for Wiki
Name[pa]=ਵਿਕਿ ਡਾਟਾ ਇੰਜਣ
Name[pl]=Moduł danych Wiki
Name[pt]=Motor de Dados de Wikis
Name[pt_BR]=Mecanismo de Dados Wiki
Name[ro]=Motor de date Wiki
Name[ru]=Источник данных Вики
Name[sk]=Dátový nástroj WIki
Name[sl]=Podatkovni pogon Wiki
Name[sr]=Датомотор Википедије
Name[sr@ijekavian]=Датомотор Википедије
Name[sr@ijekavianlatin]=Datomotor Wikipedije
Name[sr@latin]=Datomotor Wikipedije
Name[sv]=Datagränssnitt för Webbjournal
Name[th]=กลไกข้อมูลของวิกิ
Name[tr]=Wiki Veri Motoru
Name[uk]=Рушій даних Вікі
Name[x-test]=xxWiki Data Enginexx
Name[zh_CN]=维基数据引擎
Name[zh_TW]=Wiki 資料引擎
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
X-KDE-Library=amarok_data_engine_wiki
X-KDE-PluginInfo-Name=amarok-wiki
X-KDE-ParentApp=Amarok

