[Desktop Entry]
Name=Wiki Data Engine
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
X-KDE-Library=amarok_data_engine_wiki
X-KDE-PluginInfo-Name=amarok-wiki
X-KDE-ParentApp=Amarok

