[Desktop Entry]
Icon=preferences-other-amarok
Type=script
ServiceTypes=KPluginInfo

Name=Amarok Script Console
Name[cs]=Konzole skriptu pro Amarok
Name[de]=Amarok-Skript-Konsole
Name[es]=Consola de guiones de Amarok
Name[fi]=Amarok-skriptikonsoli
Name[it]=Console degli script di Amarok
Name[nl]=Script-console van Amarok
Name[pt]=Consola de Programas do Amarok
Name[pt_BR]=Console de scripts do Amarok
Name[sk]=Skriptová konzola Amarok
Name[sl]=Konzola skriptov za Amarok
Name[sr]=Амарокова скриптна конзола
Name[sr@ijekavian]=Амарокова скриптна конзола
Name[sr@ijekavianlatin]=Amarokova skriptna konzola
Name[sr@latin]=Amarokova skriptna konzola
Name[sv]=Amarok skriptterminal
Name[uk]=Скриптова консоль Amarok
Name[x-test]=xxAmarok Script Consolexx
Comment=Amarok Script Console
Comment[cs]=Konzole skriptu pro Amarok
Comment[de]=Amarok-Skript-Konsole
Comment[es]=Consola de guiones de Amarok
Comment[fi]=Amarok-skriptikonsoli
Comment[it]=Console degli script di Amarok
Comment[nl]=Script-console van Amarok
Comment[pt]=Consola de Programas do Amarok
Comment[pt_BR]=Console de scripts do Amarok
Comment[sk]=Skriptová konzola Amarok
Comment[sl]=Konzola skriptov za Amarok
Comment[sr]=Амарокова скриптна конзола
Comment[sr@ijekavian]=Амарокова скриптна конзола
Comment[sr@ijekavianlatin]=Amarokova skriptna konzola
Comment[sr@latin]=Amarokova skriptna konzola
Comment[sv]=Amarok skriptterminal
Comment[uk]=Скриптова консоль Amarok
Comment[x-test]=xxAmarok Script Consolexx

X-KDE-PluginInfo-Name=Amarok Script Console
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Generic
X-KDE-PluginInfo-Website=http://amarok.kde.org/
X-KDE-PluginInfo-Depends=Amarok2.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-BugAddress=submit@bugs.kde.org
X-KDE-PluginInfo-EnabledByDefault=false
