[Desktop Entry]
Icon=view-pim-journal
Type=script
ServiceTypes=KPluginInfo

Name=Lyricwiki
Name[cs]=Lyricwiki
Name[de]=Lyricwiki
Name[es]=Lyricwiki
Name[fi]=Lyricwiki
Name[it]=Lyricwiki
Name[nl]=Lyricwiki
Name[pt]=Lyricwiki
Name[pt_BR]=Lyricwiki
Name[sl]=Lyricwiki
Name[sr]=Лириквики
Name[sr@ijekavian]=Лириквики
Name[sr@ijekavianlatin]=LyricWiki
Name[sr@latin]=LyricWiki
Name[sv]=Lyricwiki
Name[uk]=Lyricwiki
Name[x-test]=xxLyricwikixx
Comment=A script to fetch lyrics from lyricwiki.org
Comment[cs]=Skript pro stažení textů písní z lyricwiki.org
Comment[de]=Ein Skript, um Liedtexte von lyricwiki.org zu holen
Comment[es]=Un guion para recuperar letras desde lyricwiki.org
Comment[it]=Uno script per scaricare i testi da lyricwiki.org
Comment[nl]=Een script om liedteksten op te halen uit lyricwiki.org
Comment[pt]=Um programa para obter letras musicais a partir do lyricwiki.org
Comment[pt_BR]=Um script para baixar letras de músicas a partir do lyricwiki.org
Comment[sl]=Skript za pridobivanje besedil iz lyricwiki.org
Comment[sr]=Скрипта за добављање стихова са Лириквикија
Comment[sr@ijekavian]=Скрипта за добављање стихова са Лириквикија
Comment[sr@ijekavianlatin]=Skripta za dobavljanje stihova sa LyricWikija
Comment[sr@latin]=Skripta za dobavljanje stihova sa LyricWikija
Comment[sv]=Ett skript för att hämta sångtexter från lyricwiki.org
Comment[uk]=Скрипт для отримання слів пісень з lyricwiki.org
Comment[x-test]=xxA script to fetch lyrics from lyricwiki.orgxx

X-KDE-PluginInfo-Author=Aaron Reichman
X-KDE-PluginInfo-Email=reldruh@gmail.com
X-KDE-PluginInfo-Name=LyricWiki
X-KDE-PluginInfo-Version=.2
X-KDE-PluginInfo-Category=Lyrics
X-KDE-PluginInfo-Depends=Amarok2.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-BugAddress=submit@bugs.kde.org
X-KDE-PluginInfo-EnabledByDefault=true
