[Desktop Entry]
Type=Service
Name=Creative Nomad Jukebox Media Device
Name[bg]=Устройство Creative Nomad Jukebox
Name[ca]=Dispositiu de suports Creative Nomad Jukebox
Name[csb]=Ùrządzenié Creative Nomad Jukebox
Name[de]=Creative Nomad Jukebox
Name[el]=Συσκευή πολυμέσων Creative Nomad Jukebox
Name[eo]=Creative Nomad Jukebox media aparato
Name[es]=Dispositivo de medios Creative Nomad Jukebox
Name[et]=Creative Nomad Jukebox meediaseade
Name[fi]=Creative Nomad Jukebox -medialaite
Name[fr]=Périphérique de média Creative Nomad Jukebox
Name[ga]=Gléas Meán Creative Nomad Jukebox
Name[gl]=Dispositivo de medios Creative Nomad Jukebox
Name[it]=Dispositivo multimediale Creative Nomad Jukebox
Name[ja]=Creative Nomad Jukebox メディアデバイス
Name[km]=ឧបករណ៍​មេឌៀ Nomad Jukebox របស់ Creative
Name[ko]=크리에이티브 노매드 주크박스 미디어 장치
Name[lt]=Creative Nomad Jukebox muzikos įrenginys
Name[lv]=Creative Nomad Jukebox multivides ierīce
Name[nb]=Creative Nomad Jukebox-medieenhet
Name[nds]=Creative-Medienreedschap Nomad Jukebox
Name[ne]=सिर्जानात्मक नोम्याड ज्युकबक्स मिडिया यन्त्र
Name[nl]=Creative Nomad Jukebox media-apparaat
Name[pl]=Urządzenie mediów Creative Nomad Jukebox
Name[pt]=Dispositivo Multimédia Creative Nomad Jukebox
Name[pt_BR]=Dispositivo de Mídia Creative Nomad Jukebox
Name[sk]=Creative Nomad Jukebox Media zariadenie
Name[sv]=Creative Nomad Jukebox-mediaenhet
Name[th]=อุปกรณ์เล่นสื่อ Creative Nomad Jukebox
Name[tr]=Creative Nomad Jukebox Ortam Aygıtı
Name[uk]=Пристрій Creative Nomad Jukebox
Name[x-test]=xxCreative Nomad Jukebox Media Devicexx
Name[zh_CN]=创新 Nomad Jukebox 媒体设备
X-KDE-Library=libamarok_njb-mediadevice
Comment=Plugin for Amarok
Comment[be]=Утулка для Amarok
Comment[bg]=Приставка за Amarok
Comment[ca]=Connector per l'Amarok
Comment[csb]=Wtëkôcz dlô Amaroka
Comment[de]=Erweiterungsmodul für Amarok
Comment[el]=Πρόσθετο για το AmaroK
Comment[eo]=Kromaĵo por Amarok
Comment[es]=Complemento para Amarok
Comment[et]=Amaroki plugin
Comment[fi]=Amarok-liitännäinen
Comment[fr]=Module pour Amarok
Comment[ga]=Breiseán Amarok
Comment[gl]=Extensión de Amarok
Comment[it]=Plugin per Amarok
Comment[ja]=Amarok のためのプラグイン
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាប់ Amarok
Comment[ko]=Amarok 플러그인
Comment[lt]=Amarok įskiepis
Comment[lv]=Amarok spraudnis
Comment[nb]=Programtillegg for Amarok
Comment[nds]=Moduul för Amarok
Comment[ne]=अमारोकका लागि प्लगइन
Comment[nl]=Plugin voor Amarok
Comment[pl]=Wtyczka Amaroka
Comment[pt]='Plugin' para o Amarok
Comment[pt_BR]=Plugin para o Amarok
Comment[ro]=Modul pentru Amarok
Comment[sk]=Amarok modul
Comment[sv]=Insticksprogram för Amarok
Comment[th]=โปรแกรมเสริมสำหรับ Amarok
Comment[tr]=Amarok için eklenti
Comment[uk]=Втулка для Amarok
Comment[x-test]=xxPlugin for Amarokxx
Comment[zh_CN]=Amarok 插件
ServiceTypes=Amarok/Plugin
X-KDE-Amarok-plugintype=mediadevice
X-KDE-Amarok-name=njb-mediadevice
X-KDE-Amarok-authors=Andres Oton, T.R.Shashwath
X-KDE-Amarok-email=andres.oton@gmail.com, trshash84@gmail.com
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1
X-KDE-Amarok-framework-version=34
