[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Creative Nomad Jukebox Media Device
Name[af]=Creative Nomad Jukebox media toestel
Name[ar]=جهاز اخراج وسائط Creative Nomad Jukebox
Name[bg]=Устройство Creative Nomad Jukebox
Name[bn]=ক্রিয়েটিভ নোমাড জুকবক্স মিডিয়া ডিভাইস
Name[ca]=Dispositiu de suports Creative Nomad Jukebox
Name[cs]=Mediální zařízení Creative Nomad Jukebox
Name[da]=Creative Nomad Jukebox-medieenhed
Name[de]=Creative Nomad Jukebox
Name[el]=Συσκευή πολυμέσων Creative Nomad Jukebox
Name[eo]=Creative Nomad Jukebox Media Ekipaĵo
Name[es]=Dispositivo de medios VFAT genérico
Name[et]=Creative Nomad Jukebox meediaseade
Name[fa]=دستگاه رسانۀ Creative Nomad Jukebox
Name[fi]=Creative Nomad Jukebox -medialaite
Name[fr]=Périphérique Creative Nomad Jukebox
Name[gl]=Dispositivo Multimedio Creative Nomad Jukebox
Name[hu]=Creative Nomad Jukebox médiaeszköz
Name[is]=Creative Nomad Jukebox
Name[it]=Dispositivo multimediale Creative Nomad Jukebox
Name[ja]=Creative Nomad Jukebox メディアデバイス
Name[ka]=Creative Nomad Jukebox მედია მოწყობილობა
Name[km]=ឧបករណ៍​មេឌៀ Nomad Jukebox របស់ Creative
Name[lt]=Creative Nomad Jukebox daugialypės terpės įrenginys
Name[mk]=Уред за мултимедија Creative Nomad Jukebox
Name[nb]=Creative Nomad Jukebox medieenhet
Name[nds]=Creative-Medienreedschap Nomad Jukebox
Name[ne]=सिर्जानात्मक नोम्याड जुकेबक्स मिडिया यन्त्र
Name[nl]=Creative Nomad Jukebox media-apparaat
Name[nn]=Creative Nomad Jukebox-medieeining
Name[pa]=ਕਰੀਏਟਵ ਨੋਮਡ ਜੂਕਬਕਸ ਮੀਡਿਆ ਜੰਤਰ
Name[pl]=Urządzenie mediów Creative Nomad Jukebox
Name[pt]=Dispositivo Multimédia Creative Nomad Jukebox
Name[pt_BR]=Dispositivo de Mídia Creative Nomad Jukebox
Name[ru]=Creative Nomad Jukebox
Name[se]=Creative Nomad Jukebox-mediaovttadat
Name[sk]=Creative Nomad Jukebox Media zariadenie
Name[sr]=Creative-ов мултимедијални уређај Nomad Jukebox
Name[sr@Latn]=Creative-ov multimedijalni uređaj Nomad Jukebox
Name[sv]=Creative Nomad Jukebox-mediaenhet
Name[th]=อุปกรณ์เล่นสื่อ Creative Nomad Jukebox
Name[tr]=Creative Nomad Jukebox Ortam Aygıtı
Name[uk]=Пристрій носія Nomad Jukebox
Name[uz]=Creative Nomad Jukebox media-uskunasi
Name[uz@cyrillic]=Creative Nomad Jukebox медиа-ускунаси
Name[wa]=Édjin d' media Creative Nomad Jukebox
Name[zh_CN]=Creative Nomad Jukebox 媒体设备
Name[zh_TW]=Creative Nomad Jukebox 媒體裝置
X-KDE-Library=libamarok_njb-mediadevice
Comment=Plugin for Amarok
Comment[af]=Inprop module vir Amarok
Comment[ar]= قابس ( برنامج مضاف الى) AmaroK
Comment[bg]=Приставка за Amarok
Comment[bn]=আমারক-এর জন্য প্লাগিন
Comment[br]=Lugent evit Amarok
Comment[ca]=Connector per l'Amarok
Comment[cs]=Modul pro AmaroK
Comment[de]=Modul für Amarok
Comment[el]=Πρόσθετο για το AmaroK
Comment[eo]=Kromaĵo por Amarok
Comment[es]=Extensión para Amarok
Comment[et]=Amaroki plugin
Comment[fa]=وصله برای amaroK
Comment[fi]=Amarok-liitännäinen
Comment[fr]=Module pour Amarok
Comment[ga]=Breiseán AmaroK
Comment[gl]=Extensión para Amarok
Comment[hu]=Bővítőmodul az Amarokhoz
Comment[is]=Íforrit fyrir Amarok
Comment[it]=Plugin per Amarok
Comment[ja]=Amarok のためのプラグイン
Comment[ka]=მოდული Amarok-ისთვის
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាប់ Amarok
Comment[lt]=Amarok įskiepis
Comment[mk]=Приклучок за Амарок
Comment[nb]=Programtillegg for Amarok
Comment[nds]=Moduul för Amarok
Comment[ne]=अमारोकका लागि प्लगइन
Comment[nl]=Plugin voor Amarok
Comment[nn]=Programtillegg for Amarok
Comment[pa]=ਅਮਰੋਕ ਲਈ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka Amaroka
Comment[pt]='Plugin' para o Amarok
Comment[pt_BR]=Plugin para o Amarok
Comment[ru]=Модуль amaroK
Comment[se]=Lassemoduvla Amarok:ii
Comment[sk]=Amarok modul
Comment[sr]=Прикључак за Amarok
Comment[sr@Latn]=Priključak za Amarok
Comment[sv]=Insticksprogram för Amarok
Comment[th]=โปรแกรมเสริมสำหรับ Amarok
Comment[tr]=Amarok için Eklenti
Comment[uk]=Втулок для Amarok
Comment[uz]=Amarok uchun plagin
Comment[uz@cyrillic]=Amarok учун плагин
Comment[wa]=Tchôke-divins po Amarok
Comment[zh_CN]=Amarok 插件
Comment[zh_TW]=amaroK 插件
ServiceTypes=Amarok/Plugin
X-KDE-Amarok-plugintype=mediadevice
X-KDE-Amarok-name=njb-mediadevice
X-KDE-Amarok-authors=Andres Oton, T.R.Shashwath
X-KDE-Amarok-email=andres.oton@gmail.com, trshash84@gmail.com
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1
X-KDE-Amarok-framework-version=32
