[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Helix Engine
Name[af]=Helix Enjin
Name[ar]=محرك Helix 
Name[bg]=Helix
Name[bn]=হেলিক্স ইঞ্জিন
Name[br]=Keflusker Helix
Name[ca]=Motor Helix
Name[da]=Helix motor
Name[de]=Helix
Name[el]=Μηχανή Helix
Name[eo]=Helix Ilo
Name[es]=Motor Helix
Name[et]=Helixi mootor
Name[eu]=Helix motorea
Name[fa]=موتور Helix
Name[fi]=Helix
Name[fr]=Moteur Helix
Name[ga]=Inneall Helix
Name[gl]=Motor Helix
Name[he]=מנוע שמע Helix
Name[hu]=Helix alrendszer
Name[is]=Helix vél
Name[it]=Motore Helix
Name[ja]=Helix エンジン
Name[ka]=Helix dრავა
Name[km]=ម៉ាស៊ីន Helix
Name[lt]=Helix variklis
Name[mk]=Helix-машина
Name[ms]=Enjin Helix
Name[nb]=Helix-motor
Name[nds]=Helix
Name[ne]=हेलिक्स इन्जिन
Name[nl]=Helix-engine
Name[nn]=Helix-motor
Name[pa]=ਹੀਲਿਕਸ ਇੰਜਣ
Name[pl]=Wyjście Helix
Name[pt]=Motor Helix
Name[pt_BR]=Mecanismo Helix
Name[ru]=Helix
Name[se]=Helix-mohtor
Name[sq]=Motor Helix
Name[sr]=Мотор Helix
Name[sr@Latn]=Motor Helix
Name[ss]=Motor Helix
Name[sv]=Helix-gränssnitt
Name[tg]=Муҳаррики Helix
Name[tr]=Helix Motoru
Name[uk]=Рушій Helix
Name[uz]=Helix tizimi
Name[uz@cyrillic]=Helix тизими
Name[wa]=Éndjin Helix
Name[zh_CN]=Helix 引擎
Name[zh_TW]=Helix 解碼引擎
X-KDE-Library=libamarok_helixengine_plugin
Comment=Plugin for Amarok
Comment[af]=Inprop module vir Amarok
Comment[ar]= قابس ( برنامج مضاف الى) AmaroK
Comment[bg]=Приставка за Amarok
Comment[bn]=আমারক-এর জন্য প্লাগিন
Comment[br]=Lugent evit Amarok
Comment[ca]=Connector per l'Amarok
Comment[cs]=Modul pro AmaroK
Comment[de]=Modul für Amarok
Comment[el]=Πρόσθετο για το AmaroK
Comment[eo]=Kromaĵo por Amarok
Comment[es]=Extensión para Amarok
Comment[et]=Amaroki plugin
Comment[fa]=وصله برای amaroK
Comment[fi]=Amarok-liitännäinen
Comment[fr]=Module pour Amarok
Comment[ga]=Breiseán AmaroK
Comment[gl]=Extensión para Amarok
Comment[hu]=Bővítőmodul az Amarokhoz
Comment[is]=Íforrit fyrir Amarok
Comment[it]=Plugin per Amarok
Comment[ja]=Amarok のためのプラグイン
Comment[ka]=მოდული Amarok-ისთვის
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាប់ Amarok
Comment[lt]=Amarok įskiepis
Comment[mk]=Приклучок за Амарок
Comment[nb]=Programtillegg for Amarok
Comment[nds]=Moduul för Amarok
Comment[ne]=अमारोकका लागि प्लगइन
Comment[nl]=Plugin voor Amarok
Comment[nn]=Programtillegg for Amarok
Comment[pa]=ਅਮਰੋਕ ਲਈ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka Amaroka
Comment[pt]='Plugin' para o Amarok
Comment[pt_BR]=Plugin para o Amarok
Comment[ru]=Модуль amaroK
Comment[se]=Lassemoduvla Amarok:ii
Comment[sk]=Amarok modul
Comment[sr]=Прикључак за Amarok
Comment[sr@Latn]=Priključak za Amarok
Comment[sv]=Insticksprogram för Amarok
Comment[th]=โปรแกรมเสริมสำหรับ Amarok
Comment[tr]=Amarok için Eklenti
Comment[uk]=Втулок для Amarok
Comment[uz]=Amarok uchun plagin
Comment[uz@cyrillic]=Amarok учун плагин
Comment[wa]=Tchôke-divins po Amarok
Comment[zh_CN]=Amarok 插件
Comment[zh_TW]=amaroK 插件
ServiceTypes=Amarok/Plugin

X-KDE-Amarok-plugintype=engine
X-KDE-Amarok-name=helix-engine
X-KDE-Amarok-authors=Paul Cifarelli
X-KDE-Amarok-email=paul@cifarelli.net
X-KDE-Amarok-rank=75
X-KDE-Amarok-version=1
X-KDE-Amarok-framework-version=32



