[Desktop Entry]
Type=Service
Name=Helix Engine
Name[bg]=Ситема Helix
Name[br]=Keflusker Helix
Name[da]=Helix motor
Name[de]=Helix
Name[el]=Μηχανή του Helix
Name[et]=Helixi mootor
Name[fr]=Moteur Helix
Name[ga]=Inneall Helix
Name[is]=Helix vél
Name[it]=Motore Helix
Name[nl]=Helix-engine
Name[pa]=ਹੀਲਿਕਸ ਇੰਜਣ
Name[pt]=Motor Helix
Name[pt_BR]=Motor Helix
Name[ru]=Helix
Name[sr]=Мотор Helix
Name[sr@Latn]=Motor Helix
Name[sv]=Helix-gränssnitt
Name[tr]=Helix Motoru
Name[zh_CN]=Helix 引擎
X-KDE-Library=libamarok_helixengine_plugin
Comment=Plugin for amaroK
Comment[bg]=Приставка за amaroK
Comment[br]=Lugent evit amaroK
Comment[cs]=Modul pro amaroK
Comment[de]=Modul für amaroK
Comment[el]=Πρόσθετο για το amaroK
Comment[es]=Plugin para amaroK
Comment[et]=AmaroKi plugin
Comment[fr]=Module pour AmaroK
Comment[ga]=Breiseán amaroK
Comment[hi]=अमारोक के लिए प्लगइन
Comment[hu]=Bővítőmodul az amaroKhoz
Comment[is]=Íforrit fyrir amaroK
Comment[it]=Plugin per amaroK
Comment[ja]=amaroK用プラグイン
Comment[mk]=Приклучок за amaroK
Comment[ms]=Plugmasuk untuk amaroK
Comment[nl]=Plugin voor amaroK
Comment[pa]=ਅਮਰੋਕ ਲਈ ਪਲੱਗਿੰਨ
Comment[pl]=Wtyczka amaroK-a
Comment[pt]='Plugin' para o amaroK
Comment[pt_BR]=Plug-in para o amaroK
Comment[ru]=Модуль amaroK
Comment[sl]=Vstavek za amaroK
Comment[sr]=Прикључак за amaroK
Comment[sr@Latn]=Priključak za amaroK
Comment[sv]=Insticksprogram för amaroK
Comment[ta]=amaroKகான சொருகி
Comment[tg]=Гузоштани дастаи иттисол барои амароК
Comment[tr]=amaroK için eklenti
Comment[uk]=Втулок для amaroK
Comment[uz]=amaroK учун плагин
Comment[zh_CN]=amaroK 插件
ServiceTypes=amaroK/Plugin

X-KDE-amaroK-plugintype=engine
X-KDE-amaroK-name=helix-engine
X-KDE-amaroK-authors=Paul Cifarelli
X-KDE-amaroK-email=paul@cifarelli.net
X-KDE-amaroK-rank=75
X-KDE-amaroK-version=1
X-KDE-amaroK-framework-version=10



