[Desktop Entry]
Type=Service
Name=Helix Engine
X-KDE-Library=libamarok_helixengine_plugin
Comment=Plugin for amaroK
ServiceTypes=amaroK/Plugin

X-KDE-amaroK-plugintype=engine
X-KDE-amaroK-name=helix-engine
X-KDE-amaroK-authors=Paul Cifarelli
X-KDE-amaroK-email=paul@cifarelli.net
X-KDE-amaroK-rank=75
X-KDE-amaroK-version=1
X-KDE-amaroK-framework-version=14



