[Desktop Entry]
Name=LastFM Data Engine
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=lastfm
X-KDE-Library=amarok_data_engine_lastfm
X-Plasma-EngineName=amarok-lastfm
