[Desktop Entry]
Type=Service
ServiceTypes=KPluginInfo
Icon=network-wireless
Name=Shoutcast Service
Name[bg]=Shoutcast
Name[ca]=Servei shoutcast
Name[da]=Shoutcast-tjeneste
Name[de]=Shoutcast-Dienst
Name[el]=Υπηρεσία Shoutcast
Name[eo]=Shoutcast Servo
Name[es]=Servicio de radio de usuarios
Name[et]=Shoutcasti teenus
Name[fr]=Service Shoutcast
Name[ga]=Seirbhís Shoutcast
Name[gl]=Servizo de Shoutcast
Name[it]=Servizio Shoutcast
Name[ja]=Shoutcast サービス
Name[km]=សេវា Shoutcast
Name[ko]=Shoutcast 서비스
Name[lt]=Shoutcast tarnyba
Name[lv]=Shoutcast pakalpojums
Name[nds]=Shoutcast-Deenst
Name[nl]=Shoutcast-dienst
Name[pl]=Usługa Shoutcast
Name[pt]=Serviço Shoutcast
Name[pt_BR]=Serviço Shoutcast
Name[sv]=Shoutcast-tjänst
Name[tr]=Shoutcast Hizmeti
Name[uk]=Служба Shoutcast
Name[x-test]=xxShoutcast Servicexx
Name[zh_CN]=Shoutcast 服务
Comment=A service that allows browsing of thousands of shoutcast stations
Comment[bg]=Услуга за обзор на хиляди shoutcast радио станции
Comment[ca]=Un servei que permet navegar per milers d'estacions de shoutcast
Comment[da]=En tjeneste som lader dig gennemse tusindvis af shoutcast-stationer
Comment[de]=Dienst zum Durchsehen tausender Shoutcast-Sender
Comment[el]=Μια υπηρεσία μέσω της οποίας είναι δυνατή η ακρόαση χιλιάδων σταθμών shoutcast
Comment[eo]=Servo kiu ebligas foliumi milojn da shoutcast stacioj.
Comment[es]=Un servicio que permite navegar por miles de estaciones de radio de usuarios
Comment[et]=Tuhandeid Shoutcasti jaamu sirvida võimaldav teenus
Comment[fr]=Un service qui permet de parcourir des milliers de stations radio Shoutcast
Comment[ga]=Seirbhís lenar féidir mílte stáisiún shoutcast a bhrabhsáil
Comment[gl]=Un servizo que permite navegar por centos de emisoras de shoutcast
Comment[it]=Un servizio che consente di navigare tra migliaia di stazioni shoutcast
Comment[ja]=数千もの Shoutcast ラジオ局を見ることができます
Comment[km]=សេវា​ដែល​អនុញ្ញាត​ឲ្យ​រកមើល​ស្ថានីយ shoutcast រាប់​ពាន់
Comment[ko]=수많은 샤우트캐스트 방송국을 탐험할 수 있는 서비스
Comment[lt]=Naršyti tarp tūkstančių shoutcast stočių
Comment[lv]=Pakalpojums, kurš ļauj pārlūkot 1000 shoutcast stacijas
Comment[nds]=En Deenst, mit den sik dusende vun "Shoutcast"-Senners dörstövern laat
Comment[nl]=Een dienst waarmee u door duizenden shoutcast-stations kunt bladeren
Comment[pl]=Usługa pozwalająca przeglądać tysiące stacji shoutcast
Comment[pt]=Um serviço que permite navegar em milhares de estações do Shoutcast
Comment[pt_BR]=Um serviço que permite a navegação em milhares de estações shoutcast
Comment[sv]=En tjänst som gör det möjligt att bläddra igenom tusentals Shoutcast-stationer
Comment[tr]=Binlerce shoutcast radyo istasyonuna göz atmanıza izin veren bir hizmet
Comment[uk]=Служба, що дозволяє вам прослуховувати тисячі станцій shoutcast
Comment[x-test]=xxA service that allows browsing of thousands of shoutcast stationsxx
Comment[zh_CN]=一种允许浏览数千个 Shoutcast 站点的服务


ServiceTypes=Amarok/Plugin

X-KDE-Amarok-authors=Nikolaj Hald Nielsen
X-KDE-Amarok-email=nhnFreespirit@gmail.com
X-KDE-Amarok-framework-version=37
X-KDE-Amarok-name=ShoutcastService
X-KDE-Amarok-plugintype=service
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1

X-KDE-PluginInfo-Author=Nikolaj Hald Nielsen
X-KDE-PluginInfo-Email=nhnFreespirit@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=amarok_service_shoutcast
X-KDE-PluginInfo-Name=amarok_service_shoutcast
