[Desktop Entry]
Type=Service
ServiceTypes=KPluginInfo
Icon=network-wireless
Name=Shoutcast Directory
Name[bg]=Shoutcast
Name[ca]=Directori de Shoutcasts
Name[da]=Shoutcast-liste
Name[de]=Shoutcast-Verzeichnis
Name[es]=Directorio de Shoutcast
Name[et]=Shoutcasti kataloog
Name[eu]=Shoutcast-en direktorioa
Name[fi]=Shoutcast-hakemisto
Name[ga]=Eolaire Shoutcast
Name[ja]=Shoutcast ディレクトリ
Name[km]=ថត Shoutcast
Name[ko]=Shoutcast 목록
Name[nb]=Shoutkast-katalog
Name[nds]=Shoutcast-Orner
Name[nl]=Shoutcastmap
Name[nn]=Shoutcast-katalog
Name[pa]=ਸਾਊਂਟਕਾਸਟ ਡਾਇਰੈਕਟਰੀ
Name[pl]=Katalog Shoutcastów
Name[pt]=Pasta do Shoutcast
Name[ro]=Director Shoutcast
Name[ru]=Каталог Shoutcast
Name[sv]=Shoutcast-katalog
Name[tr]=Shoutcast Dizini
Name[uk]=Каталог Shoutcast
Name[wa]=Ridant des shoutcasts
Name[x-test]=xxShoutcast Directoryxx
Name[zh_TW]=Shoutcast 資料夾
Comment=A service that allows browsing of thousands of shoutcast stations
Comment[bg]=Услуга за обзор на хиляди shoutcast радио станции
Comment[ca]=Un servei que permet navegar per milers d'estacions de shoutcast
Comment[cs]=Služba umožňující procházení tisíců stanic shoutcastu
Comment[da]=En tjeneste som lader dig gennemse tusindvis af shoutcast-stationer
Comment[de]=Dienst zum Durchsehen tausender Shoutcast-Sender
Comment[el]=Μια υπηρεσία μέσω της οποίας είναι δυνατή η ακρόαση χιλιάδων σταθμών shoutcast
Comment[eo]=Servo kiu ebligas foliumi milojn da shoutcast stacioj.
Comment[es]=Un servicio que permite navegar por miles de estaciones de radio de usuarios
Comment[et]=Tuhandeid Shoutcasti jaamu sirvida võimaldav teenus
Comment[eu]=Milaka shoutcast zerbitzari arakatzea ahalbidetzen duen zerbitzua
Comment[fr]=Un service qui permet de parcourir des milliers de stations radio Shoutcast
Comment[ga]=Seirbhís lenar féidir mílte stáisiún shoutcast a bhrabhsáil
Comment[gl]=Un servizo que permite navegar por centos de emisoras de shoutcast
Comment[is]=Þjónusta sem gerir kleift að hlusta á þúsundir shoutcast útvarpsstöðva
Comment[it]=Un servizio che consente di navigare tra migliaia di stazioni shoutcast
Comment[ja]=数千もの Shoutcast ラジオ局を見ることができます
Comment[km]=សេវា​ដែល​អនុញ្ញាត​ឲ្យ​រកមើល​ស្ថានីយ shoutcast រាប់​ពាន់
Comment[ko]=수많은 샤우트캐스트 방송국을 탐험할 수 있는 서비스
Comment[ku]=Servîsek dihêle ku hezaran îstasyonên shoucast binihêrin 
Comment[lt]=Naršyti tarp tūkstančių shoutcast stočių
Comment[lv]=Pakalpojums, kurš ļauj pārlūkot 1000 shoutcast stacijas
Comment[nb]=En tjeneste som lar deg bla gjennom tusener av shoutcast-stasjoner
Comment[nds]=En Deenst, mit den sik dusende vun "Shoutcast"-Senners dörstövern laat
Comment[nl]=Een dienst waarmee u door duizenden shoutcast-stations kunt bladeren
Comment[nn]=Teneste med tusenvis av SHOUTcast-stasjonar
Comment[pl]=Usługa pozwalająca przeglądać tysiące stacji shoutcast
Comment[pt]=Um serviço que permite navegar em milhares de estações do Shoutcast
Comment[pt_BR]=Um serviço que permite a navegação em milhares de estações shoutcast
Comment[ro]=Un serviciu ce permite răsfoirea a mii de stații Shoutcast
Comment[ru]=Служба, позволяющая прослушивать тысячи радиостанций Shoutcast
Comment[sl]=Storitev, ki omogoča brskanje med tisočimi postajami Shoutcast
Comment[sv]=En tjänst som gör det möjligt att bläddra igenom tusentals Shoutcast-stationer
Comment[th]=บริการที่อนุญาตให้ทำการเรียกดูสถานี shoutcast นับพัน ๆ สถานี
Comment[tr]=Binlerce shoutcast radyo istasyonuna göz atmanıza izin veren bir hizmet
Comment[uk]=Служба, що дозволяє вам прослуховувати тисячі станцій shoutcast
Comment[wa]=On siervice ki vs permet d' foyter dins des meyes di ståcions di shoutacst
Comment[x-test]=xxA service that allows browsing of thousands of shoutcast stationsxx
Comment[zh_CN]=一种允许浏览数千个 Shoutcast 站点的服务
Comment[zh_TW]=一種允許您瀏覽上千種 shoutcast 站台的服務


ServiceTypes=Amarok/Plugin

X-KDE-Amarok-authors=Nikolaj Hald Nielsen
X-KDE-Amarok-email=nhnFreespirit@gmail.com
X-KDE-Amarok-framework-version=46
X-KDE-Amarok-name=ShoutcastService
X-KDE-Amarok-plugintype=service
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1

X-KDE-PluginInfo-Author=Nikolaj Hald Nielsen
X-KDE-PluginInfo-Email=nhnFreespirit@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=amarok_service_shoutcast
X-KDE-PluginInfo-Name=amarok_service_shoutcast
