[Desktop Entry]
Name=Services
Name[bg]=Услуги
Name[ca]=Serveis
Name[csb]=Serwisë
Name[da]=Tjenester
Name[de]=Dienste
Name[el]=Υπηρεσίες
Name[es]=Servicios
Name[et]=Teenused
Name[eu]=Zerbitzuak
Name[fi]=Palvelut
Name[ga]=Seirbhísí
Name[it]=Servizi
Name[ja]=サービス
Name[km]=សេវា
Name[mai]=सेवासभ
Name[nb]=Tjenester
Name[nds]=Deensten
Name[nl]=Diensten
Name[nn]=Tenester
Name[pa]=ਸਰਵਿਸਾਂ
Name[pl]=Usługi
Name[pt]=Serviços
Name[pt_BR]=Serviços
Name[ro]=Servicii
Name[ru]=Службы
Name[sl]=Storitve
Name[sv]=Tjänster
Name[tr]=Servisler
Name[uk]=Служби
Name[wa]=Siervices
Name[x-test]=xxServicesxx
Name[zh_TW]=服務
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=amarok_context_applet_serviceinfo
X-KDE-PluginInfo-Author=Nikolaj Hald Nielsen
X-KDE-PluginInfo-Email=nhnFreespirit@gmail.com
X-KDE-PluginInfo-Name=serviceinfo
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=amarok
X-KDE-PluginInfo-Category=Current

