[Desktop Entry]
Name=Service Info
Name[bg]=Информация за услугите
Name[ca]=Informació del servei
Name[cs]=Informace o službě
Name[csb]=Wëdowiédzô ò serwise
Name[da]=Tjenesteinfo
Name[de]=Dienste-Information
Name[el]=Πληροφορίες υπηρεσίας
Name[eo]=Serva informo
Name[es]=Información de servicio
Name[et]=Teenuse info
Name[fr]=Informations sur les services
Name[ga]=Eolas faoin tSeirbhís
Name[gl]=Información do servizo
Name[he]=שירותי מידע
Name[is]=Þjónustuupplýsingar
Name[it]=Informazioni servizio
Name[ja]=サービス情報
Name[km]=ព័ត៌មាន​សេវា
Name[ko]=서비스 정보
Name[ku]=Agahiya Servîsê
Name[lt]=Tarnybos informacija
Name[lv]=Servisa informācija
Name[nb]=Tjenesteinformasjon
Name[nds]=Deenstinfo
Name[nl]=Dienstinformatie
Name[nn]=Tenestemeny
Name[pa]=ਸਰਵਿਸ ਜਾਣਕਾਰੀ
Name[pl]=Informacja o usłudze
Name[pt]=Informação do Serviço
Name[pt_BR]=Informações de Serviços
Name[ro]=Informație serviciu
Name[sv]=Tjänstinformation
Name[th]=ข้อมูลรายละเอียดของบริการ
Name[tr]=Hizmet Bilgisi
Name[uk]=Інформація про службу
Name[x-test]=xxService Infoxx
Name[zh_CN]=服务信息
Name[zh_TW]=服務資訊
Type=Service
ServiceTypes=AmarokContext/Applet

X-KDE-Library=amarok_context_applet_serviceinfo
X-KDE-PluginInfo-Author=Nikolaj Hald Nielsen
X-KDE-PluginInfo-Email=nhnFreespirit@gmail.com
X-KDE-PluginInfo-Name=serviceinfo
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=amarok
X-KDE-PluginInfo-Category=Current

