[Desktop Entry]
Name=Amarok Data Engine
Name[bg]=Ядро за Amarok
Name[ca]=Motor de dades de l'Amarok
Name[cs]=Datový nástroj Amarok
Name[csb]=Mòtór pòdôwków Amaroka
Name[da]=Datamotor til Amarok
Name[de]=Amarok-Datenmodul
Name[el]=Μηχανή δεδομένων Amarok
Name[es]=Motor de datos de Amarok
Name[et]=Amaroki andmete mootor
Name[eu]=Amarok-en datu motorea
Name[fr]=Moteur de données pour Amarok
Name[ga]=Inneall Sonraí Amarok
Name[gl]=Motor de dados de Amarok
Name[he]=מנוע המידע של Amarok
Name[hne]=अमाराक डाटा इंजिन
Name[is]=Amarok gagnavél
Name[it]=Motore dati di Amarok
Name[ja]=Amarok データエンジン
Name[km]=ម៉ាស៊ីន​ទិន្នន័យ Amarok
Name[ku]=Motora Dane ya Amarok
Name[lt]=Amarok duomenų sistema
Name[lv]=Amarok datu dzinējs
Name[nb]=Datamotor for Amarok
Name[nds]=Amarok-Datenkarn
Name[nl]=Amarok-gegevensengine
Name[nn]=Amarok-datamotor
Name[pa]=ਅਮਰੋਕ ਡਾਟਾ ਇੰਜਣ
Name[pl]=Moduł danych Amaroka
Name[pt]=Motor de Dados do Amarok
Name[pt_BR]=Motor de Dados do Amarok
Name[ro]=Motor de date Amarok
Name[ru]=Движок данных Amarok
Name[sl]=Podatkovni pogon za Amarok
Name[sv]=Datagränssnitt för Amarok
Name[th]=กลไกข้อมูลของแอมอะร็อก
Name[tr]=Amarok Veri Motoru
Name[uk]=Рушій даних Amarok
Name[wa]=Éndjin d' dinêyes Amarok
Name[x-test]=xxAmarok Data Enginexx
Name[zh_CN]=Amarok 数据引擎
Name[zh_TW]=Amarok 資料引擎
Type=ServiceType
X-KDE-ServiceType=Plasma/DataEngine

Comment=Amarok Data Engine
Comment[bg]=Ядро за Amarok
Comment[ca]=Motor de dades de l'Amarok
Comment[cs]=Datový nástroj Amarok
Comment[csb]=Mòtór pòdôwków Amaroka
Comment[da]=Datamotor til Amarok
Comment[de]=Amarok-Datenmodul
Comment[el]=Μηχανή δεδομένων Amarok
Comment[eo]=Datuma motoro de Amarok
Comment[es]=Motor de datos de Amarok
Comment[et]=Amaroki andmete mootor
Comment[eu]=Amarok-en datu motorea
Comment[fr]=Moteur de données pour Amarok
Comment[ga]=Inneall Sonraí Amarok
Comment[gl]=Motor de dados de Amarok
Comment[he]=מנוע המידע של Amarok
Comment[hne]=अमाराक डाटा इंजिन
Comment[is]=Amarok gagnavél
Comment[it]=Motore dati di Amarok
Comment[ja]=Amarok データエンジン
Comment[km]=ម៉ាស៊ីន​ទិន្នន័យ Amarok
Comment[ko]=Amarok 데이터 엔진
Comment[ku]=Motora Dane ya Amarok
Comment[lt]=Amarok duomenų sistema
Comment[lv]=Amarok datu dzinējs
Comment[nb]=Datamotor for Amarok
Comment[nds]=Amarok-Datenkarn
Comment[nl]=Amarok-gegevensengine
Comment[nn]=Amarok-datamotor
Comment[pa]=ਅਮਰੋਕ ਡਾਟਾ ਇੰਜਣ
Comment[pl]=Moduł danych Amaroka
Comment[pt]=Motor de Dados do Amarok
Comment[pt_BR]=Mecanismo de Dados do Amarok
Comment[ro]=Motor de date Amarok
Comment[ru]=Движок данных Amarok
Comment[sl]=Podatkovni pogon za Amarok
Comment[sv]=Datagränssnitt för Amarok
Comment[th]=กลไกข้อมูลของแอมอะร็อก
Comment[tr]=Amarok Veri Motoru
Comment[uk]=Рушій даних Amarok
Comment[wa]=Éndjin d' dinêyes Amarok
Comment[x-test]=xxAmarok Data Enginexx
Comment[zh_CN]=Amarok 数据引擎
Comment[zh_TW]=Amarok 資料引擎

[PropertyDef::X-KDE-PluginInfo-Name]
Type=QString

