[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=AmarokContext/DataEngine

Comment=Amarok Data Engine

[PropertyDef::X-Plasma-EngineName]
Type=QString

