[Desktop Entry]
Name=Amarok Data Engine
Name[bg]=Ядро за Amarok
Name[ca]=Motor de dades de l'Amarok
Name[csb]=Mòtór pòdôwków Amaroka
Name[da]=Datamotor til Amarok
Name[de]=Amarok-Datenmodul
Name[el]=Μηχανή δεδομένων Amarok
Name[es]=Motor de datos de Amarok
Name[et]=Amaroki andmete mootor
Name[fr]=Moteur de données pour Amarok
Name[ga]=Inneall Sonraí Amarok
Name[gl]=Motor de dados de Amarok
Name[it]=Motore dati di Amarok
Name[ja]=Amarok データエンジン
Name[km]=ម៉ាស៊ីន​ទិន្នន័យ Amarok
Name[lt]=Amarok duomenų sistema
Name[lv]=Amarok datu dzinējs
Name[nds]=Amarok-Datenkarn
Name[nl]=Amarok-gegevensengine
Name[pl]=Moduł danych Amaroka
Name[pt]=Motor de Dados do Amarok
Name[pt_BR]=Motor de Dados do Amarok
Name[sv]=Datagränssnitt för Amarok
Name[tr]=Amarok Veri Motoru
Name[uk]=Рушій даних Amarok
Name[x-test]=xxAmarok Data Enginexx
Name[zh_CN]=Amarok 数据引擎
Type=ServiceType
X-KDE-ServiceType=AmarokContext/DataEngine

Comment=Amarok Data Engine
Comment[bg]=Ядро за Amarok
Comment[ca]=Motor de dades de l'Amarok
Comment[csb]=Mòtór pòdôwków Amaroka
Comment[da]=Datamotor til Amarok
Comment[de]=Amarok-Datenmodul
Comment[el]=Μηχανή δεδομένων Amarok
Comment[eo]=Datuma motoro de Amarok
Comment[es]=Motor de datos de Amarok
Comment[et]=Amaroki andmete mootor
Comment[fr]=Moteur de données pour Amarok
Comment[ga]=Inneall Sonraí Amarok
Comment[gl]=Motor de dados de Amarok
Comment[it]=Motore dati di Amarok
Comment[ja]=Amarok データエンジン
Comment[km]=ម៉ាស៊ីន​ទិន្នន័យ Amarok
Comment[ko]=Amarok 데이터 엔진
Comment[lt]=Amarok duomenų sistema
Comment[lv]=Amarok datu dzinējs
Comment[nb]=Datamotor for Amarok
Comment[nds]=Amarok-Hanteerkarn
Comment[nl]=Amarok-gegevensengine
Comment[pl]=Moduł danych Amaroka
Comment[pt]=Motor de Dados do Amarok
Comment[pt_BR]=Mecanismo de Dados do Amarok
Comment[sv]=Datagränssnitt för Amarok
Comment[th]=โปรแกรมประมวลผลข้อมูล Amarok
Comment[tr]=Amarok Veri Motoru
Comment[uk]=Рушій даних Amarok
Comment[x-test]=xxAmarok Data Enginexx
Comment[zh_CN]=Amarok 数据引擎

[PropertyDef::X-KDE-PluginInfo-Name]
Type=QString

