[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Applet

Comment=Amarok Context applet
Comment[bg]=Аплет за контекст (Amarok)
Comment[bs]=Kontekstni aplet za Amarok
Comment[ca]=Miniaplicació Amarok Context
Comment[ca@valencia]=Miniaplicació Amarok Context
Comment[cs]=Applet Amarok Kontext
Comment[csb]=Aplet kòntekstu Amaroka
Comment[da]=Amarok kontekst-applet
Comment[de]=Amarok-Kontext-Miniprogramm
Comment[el]=Μικροεφαρμογή περιεχομένου Amarok
Comment[en_GB]=Amarok Context applet
Comment[eo]=Amarok kunteksta apleto
Comment[es]=Miniaplicación de contexto de Amarok
Comment[et]=Amaroki konteksti aplett
Comment[eu]=Amarok-en testuinguruko miniaplikazioa
Comment[fi]=Amarok-kontekstisovelma
Comment[fr]=Composant graphique de contexte de Amarok
Comment[ga]=Feidhmchláirín Comhthéacs Amarok
Comment[gl]=Miniaplicación de contexto de Amarok.
Comment[he]=ישומון תוכן של Amarok
Comment[hne]=अमाराक संदर्भ ऐप्लेट
Comment[hu]=Környezet-kisalkalmazás az Amarokhoz
Comment[id]=Applet Konteks Amarok
Comment[is]=Amarok samhengissmáforrit
Comment[it]=Applet Contesto di Amarok
Comment[ja]=Amarok 関連情報アプレット
Comment[ka]=Amarok-ის კონტექსტის აპლეტი
Comment[km]=អាប់ភ្លេត​បរិបទ​របស់ Amarok
Comment[ko]=Amarok 콘텍스트 애플릿
Comment[ku]=Apleta Naveroka Amarok
Comment[lt]=Amarok informacijos įskiepis
Comment[lv]=Amarok konteksta sīkrīks
Comment[nb]=Amarok kontekstpanel
Comment[nds]=Amarok Kontext-Lüttprogramm
Comment[nl]=Amarok-contextapplet
Comment[nn]=Amarok Context-element
Comment[pa]=ਅਮਰੋਕ ਪਰਸੰਗ ਐਪਲਿਟ
Comment[pl]=Aplet kontekstu Amaroka
Comment[pt]='Applet' de Contexto do Amarok
Comment[pt_BR]=Miniaplicativo de contexto do Amarok
Comment[ro]=Miniaplicație contextuală Amarok
Comment[ru]=Аплет контекста для Amarok
Comment[sk]=Applet Amarok kontext
Comment[sl]=Programček za Amarokovo vsebino
Comment[sr]=Контекстни аплет за Амарок
Comment[sr@ijekavian]=Контекстни аплет за Амарок
Comment[sr@ijekavianlatin]=Kontekstni aplet za Amarok
Comment[sr@latin]=Kontekstni aplet za Amarok
Comment[sv]=Sammanhangsminiprogram för Amarok
Comment[th]=แอพเพล็ตคอนเท็กซ์ของแอมอะร็อก
Comment[tr]=Amarok bağlam Uygulamacığı
Comment[uk]=Аплет контексту Amarok
Comment[wa]=Aplikete di contecse d' Amarok
Comment[x-test]=xxAmarok Context appletxx
Comment[zh_CN]=Amarok 信息视图小程序
Comment[zh_TW]=Amarok 內容應用小程式
