[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Containment

Comment=Plasma applet container and background painter
Comment[af]=Plasma applet houer en agtergrond-verwer
Comment[ar]=حاوية بريمج وراسم الخلفية لبلازما
Comment[ca]=Contenidor de miniaplicació del Plasma i pintor de fons
Comment[cs]=Kontejner apletů a vykreslovač pozadí Plasma
Comment[da]=Panelprogramsbeholder og baggrundstegner til Plasma
Comment[de]=Plasma-Programmcontainer und Hintergrund-Zeichnung
Comment[el]=Περιέχει μικροεφαρμογές Plasma και σχεδιάζει το φόντο
Comment[eo]=Plasma-aplikaĵeta ujo kaj fonpentrilo
Comment[es]=Contenedor de la miniaplicación de Plasma y el pintor del fondo
Comment[et]=Plasma apleti konteiner ja tausta joonistaja
Comment[fi]=Plasma-sovelmien säilö ja taustanpiirto
Comment[fr]=Conteneur pour les applets Plasma et gestionnaire d'arrière-plan
Comment[fy]=Plasma applet container en eftergrûn skilder
Comment[ga]=Coimeádán feidhmchláiríní Plasma agus péintéir cúlra
Comment[gl]=Contedor dunha applet de Plasma e pintor do fondo
Comment[gu]=પ્લાઝમા એપ્લેટ ધરાવનાર અને પાશ્ચભાગ રંગનાર
Comment[hu]=Keretablak és háttér Plasma-kisalkalmazásokhoz
Comment[is]=Ílát og bakgrunnsmálari fyrir Plasma smáforrit
Comment[it]=Contenitore di applet Plasma e disegnatore dello sfondo
Comment[ja]=Plasma アプレットのコンテナおよび背景描画
Comment[kk]=Plasma апплет контейнері және ая боятқышы
Comment[km]=ឧបករណ៍​ផ្ទុក​អាប់ភ្លេត​ប្លាស្មា និង​ឧបករណ៍​គូរ​ផ្ទៃ​ខាងក្រោយ
Comment[kn]=ಪ್ಲಾಸ್ಮಾ ಅನ್ವಯಾಂಶ (ಆಪ್ಲೆಟ್) ಧಾರಕ (ಕಂಟೈನರ್)ಮತ್ತು ಹಿನ್ನೆಲೆ ಬಣ್ಣಗಾರ (ಪೇಯಿಂಟರ್)
Comment[ko]=Plasma 애플릿 컨테이너와 배경 칠하는 도구
Comment[lv]=Plasma apletu turis un fona zīmētājs
Comment[ml]=പ്ലാസ്മാ ലഘുപ്രയോഗവാഹിനിയും പശ്ചാത്തല ചിത്രകാരനും 
Comment[mr]=प्लाज्मा ऍपलेट कंटेनर व पार्श्वभूमी पेंटर
Comment[nb]=Plasma beholder for miniprogram og bakgrunnsopptegner
Comment[nds]=Plasma-Gelaats för Lüttprogrammen un Achtergrundmaker
Comment[ne]=प्लाज्मा एप्लेट कन्टेनर र पृष्ठभूमि पेन्टर
Comment[nl]=Container en achtergrond voor Plasma-applet
Comment[nn]=Plasma-behaldar og bakgrunnsmålar
Comment[pa]=ਪਲਾਜ਼ਮਾ ਐਪਲਿਟ ਕੰਨਟੇਨਰ ਅਤੇ ਬੈਕਗਰਾਊਂਡ ਪੇਂਟਰ
Comment[pl]=Kontener apletów plazmy i rysowanie tła
Comment[pt]=Contentor de 'applets' do Plasma e pintor do fundo
Comment[pt_BR]=Recipiente de miniaplicativos do Plasma e pintor de plano de fundo
Comment[ro]=Container de miniaplicații Plasma și desenator de fundal
Comment[ru]=Контейнер апплетов Plasma и оформитель фона
Comment[se]=Plasma-prográmmašlihtti ja -duogášmálejeaddji
Comment[sl]=Vsebnik programčkov in izrisovalnik ozadja za Plasmo
Comment[sr]=Садржалац плазма аплета
Comment[sr@latin]=Sadržalac plasma apleta
Comment[sv]=Plasma miniprogrambehållare och bakgrundsuppritning
Comment[te]=ప్లాజ్మా ఆప్లెట్ కంటైనర్ మరియు బ్యాక్‌గ్రౌండ్ పెయింటర్
Comment[th]=ที่บรรจุแอพเพล็ตและส่วนวาดพื้นหลังของพลาสมา
Comment[tr]=Plasma programcık içericisi ve arkaplan oluşturucusu
Comment[uk]=Контейнер для аплету плазми і малювання тла
Comment[x-test]=xxPlasma applet container and background painterxx
Comment[zh_CN]=Plasma 小程序容器和背景绘制程序
Comment[zh_TW]=Plasma 小程式容器與背景畫家

