[Desktop Entry]
Name=Wikipedia
Name[bg]=Уикипедия
Name[ca]=Viquipèdia
Name[csb]=Wikipedia
Name[da]=Wikipedia
Name[de]=Wikipedia
Name[el]=Wikipedia
Name[en_GB]=Wikipedia
Name[es]=Wikipedia
Name[et]=Wikipedia
Name[eu]=Wikipedia
Name[fi]=Wikipedia
Name[ga]=Vicipéid
Name[hu]=Wikipedia
Name[is]=Wikipedia
Name[it]=Wikipedia
Name[ja]=Wikipedia
Name[km]=វីគីភីឌៀ
Name[ko]=위키백과
Name[lt]=Vikipedija
Name[lv]=Wikipēdija
Name[nb]=Wikipedia
Name[nds]=Wikipedia
Name[nl]=Wikipedia
Name[nn]=Wikipedia
Name[pa]=ਵਿਕਿਪੀਡਿਆ
Name[pl]=Wikipedia
Name[pt]=Wikipédia
Name[pt_BR]=Wikipedia
Name[ro]=Wikipedia
Name[ru]=Википедия
Name[sl]=Wikipedija
Name[sr]=Википедија
Name[sr@latin]=Wikipedia
Name[sv]=Wikipedia
Name[tr]=Wikipedia
Name[uk]=Вікіпедія
Name[wa]=Wikipedia
Name[x-test]=xxWikipediaxx
Name[zh_CN]=维基百科
Name[zh_TW]=維基百科
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=amarok_context_applet_wikipedia
X-KDE-PluginInfo-Author=Leo Franchi
X-KDE-PluginInfo-Email=lfranchi@gmail.com
X-KDE-PluginInfo-Name=wikipedia
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=amarok
X-KDE-PluginInfo-Category=Current

