[Desktop Entry]
Name=Wikipedia
Name[bg]=Уикипедия
Name[ca]=Viquipèdia
Name[ga]=Vicipéid
Name[km]=វីគីភីឌៀ
Name[ko]=위키백과
Name[pa]=ਵਿਕਿਪੀਡਿਆ
Name[pt]=Wikipédia
Name[ru]=Википедия
Name[sl]=Wikipedija
Name[uk]=Вікіпедія
Name[x-test]=xxWikipediaxx
Name[zh_TW]=維基百科
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=amarok_context_applet_wikipedia
X-KDE-PluginInfo-Author=Leo Franchi
X-KDE-PluginInfo-Email=lfranchi@gmail.com
X-KDE-PluginInfo-Name=wikipedia
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=amarok
X-KDE-PluginInfo-Category=Current

