first { element: is; completely: ignored; }

body
{
  margin: 0px;
  padding: 0px;
  color: gray;
  background-color: {background_color};
  font-size: 11pt;
}
h1, h2, h3, h4, h5, h6
{
  color: {text_color};
  border-bottom: 1px dotted silver;
  font-weight: 100;
  margin: 0;
  padding: 0;
}
h1
{
  font-size: 20pt;
}
h2
{
  font-size: 18pt;
}
h3
{
  font-size: 16pt;
}
h4
{
  font-size: 14pt;
}
h5
{
  font-size: 13pt;
}
h6
{
  font-size: 12pt;
}
p, div, table, ul
{
  font-size: 11pt;
}

ul li
{
  display: inline;
  margin-right: 5pt;
}
ul li a
{
  color: {link_color};
  text-decoration: none;
}
ul li a:hover
{
  color: {link_hover_color};
  text-decoration: underline;
}

div#bodyContent
{
  border-bottom: 1px solid silver;
  color: {text_color};
}
div#bodyContent *
{
  color: {text_color};
}

/* Bullet list definition gracefully gottened from wikipedia - since we're showing their data, we should really present it like it was intended. So, we use their bullet. */
div#bodyContent ul
{
  line-height: 1.5em;
  list-style-type: square;
  margin: .3em 0 0 1.5em;
  padding: 0;
  list-style-image: url(bullet.gif);
}
div#bodyContent ul li
{
  display: list-item;
}
div#bodyContent a
{
  color: {link_color};
  text-decoration: none;
}
div#bodyContent a:hover
{
  color: {link_hover_color};
  text-decoration: underline;
}

table.metadata, table.ambox
{
  border-radius: 1.6em;
  border: 1px dotted silver;
  position: relative;
  left: 50%;
  width: 80%;
  margin: 10pt 0 10pt -40%;
  padding: 5pt;
}

table.infobox
{
  width: 150pt;
  float: right;
  border: 1px dotted silver;
  margin-left: 5pt;
}
table.infobox th
{
  font-weight: 100;
  color: {text_color};
  background-color: {shaded_text_background_color};
  vertical-align: top;
  text-align: left;
  padding: 2pt;
}
table.infobox td
{
  vertical-align: top;
}

table#toc
{
  display: none;
}
/*
We're hiding the TOC, as it currently links directly to the wikipedia URL, not relatively to the anchor inside the document, which make it open up in an external browser - not really what we want it to do...
table#toc
{
  border: 1px dotted silver;
  background: #f0f0f0;
  
}
#toctitle h2
{
  font-size: 11pt;
  background: silver;
  padding: 2pt;
}
table#toc ul
{
  list-style: none;
}
table#toc a,table#toc a span
{
  color: #424280;
}
table#toc a:hover,table#toc a:hover span
{
  color: #7E7EFF;
}
*/

div.dablink
{
  width: 100%;
  text-align: right;
  color: gray;
}
div#contentSub
{
  width: 100%;
  text-align: right;
  color: gray;
}
div#jump-to-nav
{
  width: 100%;
  text-align: right;
  color: gray;
  margin-right: 5pt;
}
div#contentSub a, div#jump-to-nav a, div.dablink a
{
  color: {link_hover_color};
}

div#stub
{
  border-radius: 1.6em;
  border: 1px dotted silver;
  position: relative;
  left: 50%;
  margin-left: -40%;
  width: 80%;
  margin-bottom: 10pt;
  padding: 5pt;
}

table.wikitable
{
  border: 1px solid silver;
  border-collapse: collapse;
  margin: 5pt;
}
table.wikitable th
{
  border: 1px solid silver;
  padding: 1pt;
}
table.wikitable td
{
  border: 1px solid silver;
  padding: 1pt;
}

table.navbox
{
  border: 1px solid silver;
  border-collapse: collapse;
  margin: 5pt 2% 5pt 2%;
  width: 96%
}
table.navbox td
{
  border-top: 1px solid silver;
}

div.thumb
{
  border: 1px solid {shaded_text_background_color};
  margin: 3pt;
  padding: 2pt;
}
div.tright
{
  float: right;
}
div.thumbcaption
{
  color: red;
}
div.magnify
{
  float: right;
}

div.medialist ul li
{
  list-style: none;
}
div#ogg_player_1, div#ogg_player_2, div#ogg_player_3, div#ogg_player_4, div#ogg_player_5, div#ogg_player_6, div#ogg_player_7, div#ogg_player_8, div#ogg_player_9, div#ogg_player_10, div#ogg_player_11, div#ogg_player_12, div#ogg_player_13
{
  display: none;
}
div.medialist table
{
  margin: 5pt;
  width: 100%;
}
