[Desktop Entry]
Name=Similar Artists
Name[bg]=Подобни изпълнители
Name[bs]=Slični izvođači
Name[ca]=Artistes semblants
Name[ca@valencia]=Artistes semblants
Name[cs]=Podobní umělci
Name[da]=Lignende kunstnere
Name[de]=Ähnliche Interpreten
Name[el]=Παρόμοιοι καλλιτέχνες
Name[en_GB]=Similar Artists
Name[eo]=Similaj Artistoj
Name[es]=Artistas similares
Name[et]=Sarnased esitajad
Name[eu]=Antzeko artistak
Name[fa]=هنرمندان مشابه‌
Name[fi]=Samankaltaiset artistit
Name[fr]=Artistes similaires
Name[ga]=Ealaíontóirí Cosúil Leis/Léi
Name[gl]=Artistas similares
Name[hu]=Hasonló előadók
Name[id]=Artis Serupa
Name[is]=Líkir flytjendur
Name[it]=Artisti simili
Name[ja]=類似アーティスト
Name[ka]=მსგავსი ხელოვნები
Name[km]=សិល្បករ​ស្រដៀង​គ្នា
Name[ko]=비슷한 아티스트
Name[lt]=Panašūs atlikėjai
Name[lv]=Līdzīgi mākslinieki
Name[nb]=Liknende artister
Name[nds]=Lieke Künstlers
Name[nl]=Vergelijkbare artiesten
Name[pa]=ਰਲਦੇ ਕਲਾਕਾਰ
Name[pl]=Podobni wykonawcy
Name[pt]=Artistas Semelhantes
Name[pt_BR]=Artistas parecidos
Name[ro]=Interpreți asemănători
Name[ru]=Схожие исполнители
Name[sk]=Podobní interpreti
Name[sl]=Podobni izvajalci
Name[sr]=Слични извођачи
Name[sr@ijekavian]=Слични извођачи
Name[sr@ijekavianlatin]=Slični izvođači
Name[sr@latin]=Slični izvođači
Name[sv]=Liknande artister
Name[tr]=Benzer Sanatçılar
Name[uk]=Подібні виконавці
Name[x-test]=xxSimilar Artistsxx
Name[zh_CN]=相似艺人
Name[zh_TW]=相似的演出者
Type=Service
ServiceTypes=Plasma/Applet
Icon=similarartists-amarok

X-KDE-Library=amarok_context_applet_similarArtists
X-KDE-PluginInfo-Author=Joffrey Clavel
X-KDE-PluginInfo-Email=jclavel@clabert.info
X-KDE-PluginInfo-Name=similarArtists
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=amarok
X-KDE-PluginInfo-Category=Current

