Source: amarok-nightly-kdelibs
Section: libs
Priority: optional
Maintainer: Project Neon <nightly@getamarok.com>
Build-Depends: amarok-nightly-cdbs, amarok-nightly-kdesupport, amarok-nightly-qt, amarok-nightly-deps,
 shared-mime-info, libcupsys2-dev, libdbus-1-dev, libungif4-dev,
 libasound2-dev, libkeyutils-dev,
 libxml2-dev, libxml2-utils,  libxslt1-dev, libxtst-dev,
 libavahi-common-dev, libaspell-dev, libbz2-dev, libenchant-dev,
 libjasper-dev, libopenexr-dev, libpcre3-dev, libtiff4-dev, hspell, xsltproc
Standards-Version: 3.7.3

Package: amarok-nightly-kdelibs
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, xbase-clients, shared-mime-info, hicolor-icon-theme,
 libxml2-utils, dbus-x11, hspell, xsltproc, shared-mime-info
Description: core libraries for all KDE 4 applications
 This package contains all the shared libraries. You need these libraries to
 run KDE applications.

#Package: amarok-nightly-kdelibs-dbg
#Section: libdevel
#Architecture: any
#Priority: extra
#Depends: amarok-nightly-qt-dbg, libc6-dbg [amd64]
#Description: debugging symbols for amarok-nightly-kdelibs
# This package contains the debugging symbols associated with amarok-nightly.
# They will automatically be used by gdb for debugging amarok-nightly-related
# issues.
# .
# This package is part of Project Neon, The Amarok Nightly Builds project.
# See the 'amarok-nightly' package for more information.
