#!/usr/bin/make -f

export PATH := /opt/amarok-nightly/bin:$(PATH)
export LD_LIBRARY_PATH := /opt/amarok-nightly/lib:$(LD_LIBRARY_PATH)

RUNTIME_DEPS := amarok-nightly-kdebase
CURRENTVERSION := $(shell head -1 debian/changelog  | sed 's/[^(]*(\([^)]*\)).*/\1/')
DEB_DH_MAKESHLIBS_ARGS_kdelibs5 := -V'amarok-nightly-kdelibs (>= $(CURRENTVERSION)), $(RUNTIME_DEPS)'  

-include /opt/amarok-nightly/cdbs/kde.mk

makebuilddir/amarok-nightly-kdelibs::
	rm -f debian/shlibs.local

DEB_CMAKE_EXTRA_FLAGS += -DKDE_DEFAULT_HOME=".kde-neon" -DKDESU_USE_SUDO_DEFAULT=true

# Generate shlibs local files
common-binary-fixup-arch :: 
	sed 's/>=[^)]*/= $(CURRENTVERSION)/;s/, $(RUNTIME_DEPS)//' debian/amarok-nightly-kdelibs/DEBIAN/shlibs >> debian/shlibs.local ;\

clean::

