Source: amarok-nightly-tools
Section: utils
Priority: optional
Maintainer: Project Neon <nightly@getamarok.com>
Build-Depends: debhelper (>= 6), cdbs
Standards-Version: 3.7.3
Homepage: http://amarok.kde.org

Package: amarok-nightly-tools
Architecture: all
Recommends: amarok-nightly-deps
Conflicts: amarok-nightly (<= 20080505+svn804295-0amarok1)
Description: Tools for Project Neon (Amarok Nightly)
 Project Neon tools

Package: amarok-nightly-deps
Architecture: all
Section: devel
Depends: amarok-nightly-tools,
 amarok-nightly-kdesupport,
 libxext-dev, libxrandr-dev, x11proto-core-dev, libsm-dev, libxmu-dev,
 libice-dev, libx11-dev, libxt-dev, libjpeg62-dev, zlib1g-dev, libmng-dev,
 libpng12-dev, libfreetype6-dev, flex, libpq-dev, libaudio-dev, libcupsys2-dev,
 xlibmesa-gl-dev | libgl-dev, libglu1-xorg-dev | libglu1-mesa-dev | libglu-dev,
 libxft-dev, libxrender-dev, libxcursor-dev, libxinerama-dev, libdbus-1-dev,
 libglib2.0-dev, libxi-dev, libasound2-dev, libcupsys2-dev, libdbus-1-dev,
 libkeyutils-dev, libxml2-dev, libxml2-utils, libxslt1-dev, libxtst-dev,
 libgif-dev, libavahi-common-dev, libaspell-dev, libbz2-dev, libenchant-dev,
 libacl1-dev, libjasper-dev, libopenexr-dev, libpcre3-dev, libtiff4-dev, hspell,
 xsltproc, shared-mime-info
Description: Development dependencies for Project Neon (Amarok Nightly)
 Project Neon development dependencies

Package: kde-nightly
Architecture: all
Depends: kde-nightly-kdebase
Recommends: kde-nightly-deps, kde-nightly-kdemultimedia, kde-nightly-kdenetwork, kde-nightly-kdegraphics
Description: Project Neon (KDE Nightly)
 Project Neon for KDE

Package: kde-nightly-deps
Architecture: all
Section: devel
Depends: kde-nightly-qt, kde-nightly-kdesupport,
 libboost-dev, libgpgme11-dev, libldap2-dev, libsasl2-dev,
 libxext-dev, libxrandr-dev, x11proto-core-dev, libsm-dev, libxmu-dev,
 libice-dev, libx11-dev, libxt-dev, libjpeg62-dev, zlib1g-dev, libmng-dev,
 libpng12-dev, libfreetype6-dev, flex, libpq-dev, libaudio-dev, libcupsys2-dev,
 xlibmesa-gl-dev | libgl-dev, libglu1-xorg-dev | libglu1-mesa-dev | libglu-dev,
 libxft-dev, libxrender-dev, libxcursor-dev, libxinerama-dev, libdbus-1-dev,
 libglib2.0-dev, libxi-dev, libasound2-dev, libcupsys2-dev, libdbus-1-dev,
 libkeyutils-dev, libxml2-dev, libxml2-utils, libxslt1-dev, libxtst-dev,
 libgif-dev, libavahi-common-dev, libaspell-dev, libbz2-dev, libenchant-dev,
 libacl1-dev, libjasper-dev, libopenexr-dev, libpcre3-dev, libtiff4-dev, hspell,
 xsltproc, shared-mime-info
Description: Development dependencies for Project Neon (KDE Nightly)
 Project Neon development dependencies
