Source: amarok-nightly
Section: kde
Priority: optional
Maintainer: Amarok Nightly Builds <nightly@getamarok.com>
Build-Depends: amarok-nightly-cdbs, amarok-nightly-kdelibs,
 amarok-nightly-strigi, amarok-nightly-kdebase-runtime,
 libxine-dev, libtag1-dev, 
 libmysqlclient15-dev, libpq-dev,
 libusb-dev, libifp-dev, libnjb-dev, libmtp-dev, libgpod-dev,
 ruby, ruby1.8-dev,
Standards-Version: 3.7.3
Homepage: http://amarok.kde.org

Package: amarok-nightly
Architecture: any
Depends: ${shlibs:Depends}, ruby
Recommends: konqueror-kde4 | www-browser, libqt0-ruby1.8, libvisual-0.4-plugins,
 amarok-nightly-kdebase-runtime
Description: PREVIEW of a audio player for KDE 4 (please don't report bugs)
 Note that this is a technical preview, and therefore a lot of crashes and bugs
 are to be expected, the Amarok team as well as the Ubuntu team kindly asks
 you not to report bugs you might experience in this version.
 .
 Amarok tries to be a little different, providing a simple drag and drop
 interface that really makes playlist handling easy.
 .
 Features include:
   - rapid playlist creation, with drag and drop from a directory view
   - context information (lyrics, artist information, similar tracks/artists)
   - nice playlist browser for your existing playlists (PLS or M3U formats)
   - collection-indexing support, for smart browsing and playlist creation
   - inline ID3 tag editing, capable of retrieving tags via MusicBrainz
   - album cover support: automatically displays album covers from the
     filesystem, or downloaded on the fly
   - miscellaneous audio effects, including crossfading
   - easy bindable global shortcuts, rich DBUS interface
   - On-Screen Display (OSD), fully configurable
   - iPod and iRiver support
 .
 Support for libvisual visualization plugins is also compiled in (you
 need to have libvisual0.4-plugins installed to be able to use it).
