#!/usr/bin/make -f

export PATH := /opt/amarok-nightly/bin:$(PATH)
export LD_LIBRARY_PATH := /opt/amarok-nightly/lib:$(LD_LIBRARY_PATH)

-include /opt/amarok-nightly/cdbs/kde.mk

kde4-wrapper-creation:
	rm $(DEB_DESTDIR)/opt/amarok-nightly/share/applications/kde4/amarok.desktop

	mkdir -p $(DEB_DESTDIR)/opt/amarok-nightly/share/kde4/servicetypes
	cp -r $(DEB_SRCDIR)/src/context/plasma/servicetypes/* $(DEB_DESTDIR)/opt/amarok-nightly/share/kde4/servicetypes/

common-install-indep:: kde4-wrapper-creation
common-install-arch:: kde4-wrapper-creation

clean::
	
