[Desktop Entry]
Name=Lyrics Applet
Name[be]=Тэксты
Name[bg]=Аплет за текстове на песни
Name[ca]=Miniaplicació de lletres
Name[da]=Sangtekst-applet
Name[de]=Liedtext-Miniprogramm
Name[el]=Μικροεφαρμογή στίχων
Name[eo]=Parolara apleto
Name[es]=Applet de letras
Name[et]=Sõnade aplett
Name[fr]=Applet pour les paroles
Name[ga]=Feidhmchláirín Liricí
Name[gl]=Applet de letras de cancións
Name[it]=Applet Testi
Name[ja]=歌詞アプレット
Name[km]=អាប់ភ្លេត​អត្ថបទ​ចម្រៀង
Name[ko]=가사 애플릿
Name[lt]=Dainos tekstų įskiepis
Name[lv]=Dziesmu vārdu sīkrīks
Name[nb]=Sangtekstpanel
Name[nds]=Leedtexten-Lüttprogramm
Name[nl]=Liedtekstenapplet
Name[pl]=Aplet słów
Name[pt]='Applet' de Letras Musicais
Name[pt_BR]=Applet de Letras
Name[ro]=Miniaplicație Versuri
Name[sv]=Sångtextminiprogram
Name[th]=แอพเพล็ตเนื้อเพลง
Name[tr]=Şarkı Sözleri Uygulamacığı
Name[uk]=Аплет слів пісень
Name[x-test]=xxLyrics Appletxx
Name[zh_CN]=Lyrics 小程序
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=amarok_context_applet_lyrics
X-KDE-PluginInfo-Author=Leo Franchi
X-KDE-PluginInfo-Email=lfranchi@gmail.com
X-KDE-PluginInfo-Name=lyrics
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=amarok
X-KDE-PluginInfo-Category=Current

