[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=MTP Media Device
Name[af]=MTP media toestel
Name[bg]=Устройство MTP
Name[bn]=এমটিপি মিডিয়া ডিভাইস
Name[ca]=Dispositiu de suports MTP
Name[cs]=Mediální zařízení MTP
Name[da]=MTP-medieenhed
Name[de]=MTP Media-Player
Name[el]=Συσκευή πολυμέσων MTP
Name[eo]=MTP Media Ekipaĵo
Name[es]=Dispositivo MTP
Name[et]=MTP meediaseade
Name[fa]=دستگاه رسانۀ MTP
Name[fi]=MTP-medialaite
Name[fr]=Périphérique de média MTP
Name[ga]=Gléas Meán MTP
Name[gl]=Dispositivo de Médios MTP
Name[hu]=MTP médiaeszköz
Name[is]=MTP tæki
Name[it]=Dispositivo multimediale MTP
Name[ja]=MTP メディアデバイス
Name[ka]=MTP მედია მოწყობილობა
Name[km]=ឧបករណ៍​មេឌៀ MTP
Name[lt]=MTP daugialypės terpės įrenginys
Name[mk]=Уред за мултимедија MTP
Name[ms]=Peranti Media MTP
Name[nb]=MTP medieenhet
Name[nds]=MTP-Medienreedschap
Name[ne]=MTP मिडिया यन्त्र
Name[nl]=MTP media-apparaat
Name[nn]=MTP-medieeining
Name[pa]=MTP ਮੀਡਿਆ ਜੰਤਰ
Name[pl]=Urządzenie mediów MTP
Name[pt]=Dispositivo Multimédia MTP
Name[pt_BR]=Dispositivo de Mídia MTP
Name[se]=MTP-mediaovttadat
Name[sk]=MTP Media zariadenie
Name[sr]=MTP, мултимедијални уређај
Name[sr@Latn]=MTP, multimedijalni uređaj
Name[sv]=MTP-mediaenhet
Name[th]=อุปกรณ์เล่นสื่อ MTP
Name[tr]=MTP Ortam Aygıtı
Name[uk]=Пристрій носія MTP
Name[uz]=MTP media-uskunasi
Name[uz@cyrillic]=MTP медиа-ускунаси
Name[wa]=Édjin d' media MTP
Name[zh_CN]=MTP 媒体设备
Name[zh_TW]=MTP 媒體裝置
X-KDE-Library=libamarok_mtp-mediadevice
Comment=Plugin for Amarok
Comment[af]=Inprop module vir Amarok
Comment[ar]= قابس ( برنامج مضاف الى) AmaroK
Comment[bg]=Приставка за Amarok
Comment[bn]=আমারক-এর জন্য প্লাগিন
Comment[br]=Lugent evit Amarok
Comment[ca]=Connector per l'Amarok
Comment[cs]=Modul pro AmaroK
Comment[de]=Modul für Amarok
Comment[el]=Πρόσθετο για το AmaroK
Comment[eo]=Kromaĵo por Amarok
Comment[es]=Extensión para Amarok
Comment[et]=Amaroki plugin
Comment[fa]=وصله برای amaroK
Comment[fi]=Amarok-liitännäinen
Comment[fr]=Module pour Amarok
Comment[ga]=Breiseán AmaroK
Comment[gl]=Extensión para Amarok
Comment[hu]=Bővítőmodul az Amarokhoz
Comment[is]=Íforrit fyrir Amarok
Comment[it]=Plugin per Amarok
Comment[ja]=Amarok のためのプラグイン
Comment[ka]=მოდული Amarok-ისთვის
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាប់ Amarok
Comment[lt]=Amarok įskiepis
Comment[mk]=Приклучок за Амарок
Comment[nb]=Programtillegg for Amarok
Comment[nds]=Moduul för Amarok
Comment[ne]=अमारोकका लागि प्लगइन
Comment[nl]=Plugin voor Amarok
Comment[nn]=Programtillegg for Amarok
Comment[pa]=ਅਮਰੋਕ ਲਈ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka Amaroka
Comment[pt]='Plugin' para o Amarok
Comment[pt_BR]=Plugin para o Amarok
Comment[ru]=Модуль amaroK
Comment[se]=Lassemoduvla Amarok:ii
Comment[sk]=Amarok modul
Comment[sr]=Прикључак за Amarok
Comment[sr@Latn]=Priključak za Amarok
Comment[sv]=Insticksprogram för Amarok
Comment[th]=โปรแกรมเสริมสำหรับ Amarok
Comment[tr]=Amarok için Eklenti
Comment[uk]=Втулок для Amarok
Comment[uz]=Amarok uchun plagin
Comment[uz@cyrillic]=Amarok учун плагин
Comment[wa]=Tchôke-divins po Amarok
Comment[zh_CN]=Amarok 插件
Comment[zh_TW]=amaroK 插件
ServiceTypes=Amarok/Plugin

X-KDE-Amarok-plugintype=mediadevice
X-KDE-Amarok-name=mtp-mediadevice
X-KDE-Amarok-authors=Andy Kelk
X-KDE-Amarok-email=andy@mopoke.co.uk
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1
X-KDE-Amarok-framework-version=32
