[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=MTP Media Device
Name[af]=MTP media toestel
Name[bg]=Устройство MTP
Name[ca]=Dispositiu de mitjans MTP
Name[cs]=Mediální zařízení MTP
Name[da]=MTP-medieenhed
Name[de]=MTP Media-Player
Name[el]=Συσκευή πολυμέσων MTP
Name[es]=Dispositivo MTP
Name[et]=MTP meediaseade
Name[fi]=MTP-medialaite
Name[fr]=Périphérique de média MTP
Name[ga]=Gléas Meán MTP
Name[gl]=Dispositivo de Médios MTP
Name[is]=MTP tæki
Name[it]=Dispositivo multimediale MTP
Name[ja]=MTP メディアデバイス
Name[nl]=MTP media-apparaat
Name[pa]=MTP ਮੀਡਿਆ ਜੰਤਰ
Name[pl]=Urządzenie mediów MTP
Name[pt]=Dispositivo Multimédia MTP
Name[pt_BR]=Dispositivo de Mídia MTP
Name[sr]=MTP, мултимедијални уређај
Name[sr@Latn]=MTP, multimedijalni uređaj
Name[sv]=MTP-mediaenhet
Name[th]=อุปกรณ์เล่นสื่อ MTP
Name[tr]=MTP Ortam Aygıtı
Name[zh_CN]=MTP 媒体设备
X-KDE-Library=libamarok_mtp-mediadevice
Comment=Plugin for Amarok
Comment[af]=Inprop module vir Amarok
Comment[ar]= قابس ( برنامج مضاف الى) AmaroK
Comment[bg]=Приставка за Amarok
Comment[br]=Lugent evit Amarok
Comment[ca]=Connector per l'Amarok
Comment[cs]=Modul pro AmaroK
Comment[de]=Modul für Amarok
Comment[el]=Πρόσθετο για το AmaroK
Comment[es]=Extensión para Amarok
Comment[et]=Amaroki plugin
Comment[fi]=Amarok-liitännäinen
Comment[fr]=Module pour Amarok
Comment[ga]=Breiseán AmaroK
Comment[gl]=Extensión para Amarok
Comment[is]=Íforrit fyrir Amarok
Comment[it]=Plugin per Amarok
Comment[ja]=Amarok のためのプラグイン
Comment[ka]=Amarok-ის მოდული
Comment[nl]=Plugin voor Amarok
Comment[pa]=ਅਮਰੋਕ ਲਈ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka Amaroka
Comment[pt]='Plugin' para o Amarok
Comment[pt_BR]=Plugin para o Amarok
Comment[ru]=Модуль amaroK
Comment[sr]=Прикључак за Amarok
Comment[sr@Latn]=Priključak za Amarok
Comment[sv]=Insticksprogram för Amarok
Comment[th]=โปรแกรมเสริมสำหรับ Amarok
Comment[tr]=Amarok için eklenti
Comment[uk]=Втулок для Amarok
Comment[zh_CN]=Amarok 插件
Comment[zh_TW]=amaroK 插件
ServiceTypes=Amarok/Plugin

X-KDE-Amarok-plugintype=mediadevice
X-KDE-Amarok-name=mtp-mediadevice
X-KDE-Amarok-authors=Andy Kelk
X-KDE-Amarok-email=andy@mopoke.co.uk
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1
X-KDE-Amarok-framework-version=28
