[Desktop Entry]
Type=Service
Name=KDEMM Engine
Comment=Plugin for amaroK

ServiceTypes=amaroK/Plugin
X-KDE-Library=libamarok_kdemmengine_plugin
X-KDE-amaroK-name=KDEMM Engine
X-KDE-amaroK-plugintype=engine
X-KDE-amaroK-authors=Roland Gigler
X-KDE-amaroK-email=rolandg@web.de
X-KDE-amaroK-rank=100
X-KDE-amaroK-version=1
X-KDE-amaroK-framework-version=14



