[Desktop Entry]
Type=Service
Name=KDEMM Engine
Name[bg]=Система KDEMM
Name[bn]=কেডিই-এমএম ইঞ্জিন
Name[br]=Keflusker KDEMM
Name[cs]=KDEMM systém
Name[da]=KDEMM-motor
Name[de]=KDEMM
Name[el]=Μηχανή KDEMM
Name[es]=Motor KDEMM
Name[et]=KDEMM mootor
Name[eu]=KDEMM motorea
Name[fi]=KDEMM
Name[fr]=Moteur KDEMM
Name[ga]=Inneall KDEMM
Name[he]=מנוע שמע KDEMM
Name[hi]=केडीईएमएम इंजिन
Name[hr]=केडीईएमएम इंजिन
Name[hu]=KDEMM
Name[id]=KDEMM
Name[is]=KDEMM vél
Name[it]=Motore KDEMM
Name[ja]=KDEMMエンジン
Name[km]=ម៉ាស៊ីន KDEMM
Name[nb]=KDEMM-motor
Name[nds]=KDEMM
Name[nn]=KDEMM-motor
Name[pa]=KDEMM ਇੰਜਣ
Name[pl]=Wyjście KDEMM
Name[pt]=Motor KDEMM
Name[pt_BR]=Mecanismo KDEMM
Name[ru]=KDEMM
Name[se]=KDEMM-mutuvra
Name[sl]=Pogon KDEMM
Name[sq]=Motor KDEMM
Name[sr]=Мотор KDEMM
Name[sr@Latn]=Motor KDEMM
Name[ss]=Motor KDEMM
Name[sv]=KDEMM-gränssnitt
Name[ta]=KDEMM என்ஜின்
Name[tg]=Муҳаррики KDEMM
Name[th]=Муҳаррики KDEMM
Name[tr]=KDEMM Motoru
Name[uk]=KDEMM
Name[uz]=KDEMM тизими
Name[zh_CN]=KDEMM 引擎
Name[zh_TW]=KDEMM 引擎
Comment=Plugin for amaroK
Comment[bg]=Приставка за amaroK
Comment[bn]=আমারক-এর জন্য প্লাগিন
Comment[br]=Lugent evit amaroK
Comment[cs]=Modul pro amaroK
Comment[de]=Modul für amaroK
Comment[el]=Πρόσθετο για το amaroK
Comment[es]=Plugin para amaroK
Comment[et]=AmaroKi plugin
Comment[eu]=Plugina amaroK-endako
Comment[fi]=amaroKin laajennos
Comment[fr]=Module pour AmaroK
Comment[ga]=Breiseán amaroK
Comment[he]=תוספים של amaroK
Comment[hi]=अमारोक के लिए प्लगइन
Comment[hr]=अमारोक के लिए प्लगइन
Comment[hu]=Bővítőmodul az amaroKhoz
Comment[id]=Bővítőmodul az amaroKhoz
Comment[is]=Íforrit fyrir amaroK
Comment[it]=Plugin per amaroK
Comment[ja]=amaroK用プラグイン
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាប់ amaroK
Comment[mk]=Приклучок за amaroK
Comment[mn]=Приклучок за amaroK
Comment[ms]=Plugmasuk untuk amaroK
Comment[nb]=Programtillegg for amaroK
Comment[nds]=Plugin för amaroK
Comment[nl]=Plugin voor amaroK
Comment[nn]=Speleliste for amaroK
Comment[pa]=ਅਮਰੋਕ ਲਈ ਪਲੱਗਿੰਨ
Comment[pl]=Wtyczka amaroK-a
Comment[pt]='Plugin' para o amaroK
Comment[pt_BR]=Plug-in para o amaroK
Comment[ru]=Модуль amaroK
Comment[se]=Lassemoduvla amaroK:ii
Comment[sl]=Vstavek za amaroK
Comment[sq]=Priključak za amaroK
Comment[sr]=Прикључак за amaroK
Comment[sr@Latn]=Priključak za amaroK
Comment[ss]=Priključak za amaroK
Comment[sv]=Insticksprogram för amaroK
Comment[ta]=amaroKகான சொருகி
Comment[tg]=Модул барои амароК
Comment[th]=Модул барои амароК
Comment[tr]=amaroK için eklenti
Comment[uk]=Втулок для amaroK
Comment[uz]=amaroK учун плагин
Comment[zh_CN]=amaroK 插件
Comment[zh_TW]=amaroK 的外掛程式

ServiceTypes=amaroK/Plugin
X-KDE-Library=libamarok_kdemmengine_plugin
X-KDE-amaroK-name=KDEMM Engine
X-KDE-amaroK-plugintype=engine
X-KDE-amaroK-authors=Roland Gigler
X-KDE-amaroK-email=rolandg@web.de
X-KDE-amaroK-rank=100
X-KDE-amaroK-version=1
X-KDE-amaroK-framework-version=15



