[Desktop Entry]
Name=Info
Name[bg]=Данни
Name[ca]=Informació
Name[da]=Info
Name[de]=Information
Name[en_GB]=Info
Name[es]=Información
Name[et]=Teave
Name[fi]=Tiedot
Name[hu]=Információ
Name[is]=Upplýsingar
Name[it]=Informazioni
Name[lv]=Informācija
Name[nb]=Info
Name[nds]=Info
Name[nl]=Info
Name[nn]=Info
Name[pl]=Informacja
Name[pt]=Informação
Name[pt_BR]=Informação
Name[ro]=Informații
Name[ru]=Сведения
Name[sr]=Подаци
Name[sr@latin]=Podaci
Name[sv]=Information
Name[tr]=Bilgiler
Name[uk]=Інформація
Name[x-test]=xxInfoxx
Name[zh_CN]=信息
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=amarok_context_applet_info
X-KDE-PluginInfo-Author=Nikolaj Hald Nielsen
X-KDE-PluginInfo-Email=nhnFreespirit@gmail.com
X-KDE-PluginInfo-Name=info
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=amarok
X-KDE-PluginInfo-Category=Current

