[Desktop Entry]
Type=Service
Name=MySQLServer Collection
Name[bg]=Колекция MySQLServer
Name[ca]=Col·lecció MySQLServer
Name[ca@valencia]=Col·lecció MySQLServer
Name[cs]=Kolekce MySQLServer
Name[csb]=Kòlekcëjô serwera MySQL
Name[da]=MySQLServer-samling
Name[de]=MySQLServer-Sammlung
Name[en_GB]=MySQLServer Collection
Name[es]=Colección MySQLServer
Name[et]=MySQLServeri kogu
Name[fi]=MySQLServer-kokoelma
Name[hu]=MySQLServer-gyűjtemény
Name[is]=MySQL safn
Name[it]=Collezione MySQLServer
Name[km]=សម្រាំង MySQLServer
Name[ko]=MySQL 서버 모음집
Name[lv]=MySQLServer kolekcija
Name[nb]=MySQLServer-samling
Name[nds]=MySQLServer-Sammeln
Name[nl]=MySQL-serververzameling
Name[nn]=MySQLServer-samling
Name[pa]=MySQLServer ਭੰਡਾਰ
Name[pl]=Kolekcja MySQLServer
Name[pt]=Colecção de MySQL (Servidor)
Name[pt_BR]=Coleção MySQLServer
Name[ro]=Colecție MySQLServer
Name[ru]=Коллекция MySQLServer
Name[sk]=Kolekcia MySQLServer
Name[sl]=Zbirka MySQLServer
Name[sr]=Збирка на серверу МајСКуЛ‑а
Name[sr@ijekavian]=Збирка на серверу МајСКуЛ‑а
Name[sr@ijekavianlatin]=Zbirka na serveru MySQL‑a
Name[sr@latin]=Zbirka na serveru MySQL‑a
Name[sv]=MySQLServer-samling
Name[th]=คลังสื่อแบบ MySQLServer
Name[tr]=MySQL Suncu Koleksiyonu
Name[uk]=Збірка MySQLServer
Name[x-test]=xxMySQLServer Collectionxx
Name[zh_CN]=MySQLServer 收藏
Comment=Collection plugin for Amarok
Comment[be]=Утулка калекцыі для Amarok
Comment[bg]=Приставка за колекция (Amarok)
Comment[ca]=Connector de col·leccions per a l'Amarok
Comment[ca@valencia]=Connector de col·leccions per a l'Amarok
Comment[cs]=Modul kolekce pro Amarok
Comment[csb]=Wtëkôcz kòlekcëji dlô Amaroka
Comment[da]=Samlings-plugin til Amarok
Comment[de]=Sammlungsmodul für Amarok
Comment[el]=Πρόσθετο συλλογής για το AmaroK
Comment[en_GB]=Collection plugin for Amarok
Comment[eo]=Kolekta kromaĵo por Amarok
Comment[es]=Complemento de colección para Amarok
Comment[et]=Amaroki muusikakogu plugin
Comment[eu]=Amarok-en bilduma plugin-a
Comment[fi]=Amarokin kokoelmaliitännäinen
Comment[fr]=Module de collections pour Amarok
Comment[ga]=Breiseán bailiúchán le haghaidh Amarok
Comment[gl]=Extensión de colección para Amarok
Comment[he]=תוסף אוסף ל־Amarok
Comment[hne]=अमाराक बर संग्रह प्लगइन
Comment[hu]=Gyűjtemény-bővítőmodul az Amarokhoz
Comment[is]=Safníforrit fyrir Amarok
Comment[it]=Plugin della collezione di Amarok
Comment[ja]=Amarok のためのコレクションプラグイン
Comment[km]=កម្មវិធី​ជំនួយ​ការ​ប្រមូលផ្ដុំ​សម្រាប់ Amarok
Comment[ko]=Amarok의 모음집 플러그인
Comment[ku]=Pêveka berhevokê ji bo Amarok
Comment[lt]=Fonotekos Amarok papildinys
Comment[lv]=Kolekciju Amarok spraudnis
Comment[nb]=SQL-samling – programtillegg for Amarok
Comment[nds]=Sammelnmoduul för Amarok
Comment[ne]=अमारोकका लागि सङ्कलन प्लगइन
Comment[nl]=Collectie-plugin voor Amarok
Comment[nn]=Amarok-samlingstillegg
Comment[pa]=ਅਮਰੋਕ ਲਈ ਭੰਡਾਰ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka kolekcji dla Amaroka
Comment[pt]=Um 'plugin' da colecção para o Amarok
Comment[pt_BR]=Plug-in de coleção para o Amarok
Comment[ro]=Modul de colecție pentru Amarok
Comment[ru]=Модуль коллекции для Amarok
Comment[sk]=Modul kolekcia pre Amarok
Comment[sl]=Vstavek za zbirko za Amarok
Comment[sr]=Прикључак збирке за Амарок
Comment[sr@ijekavian]=Прикључак збирке за Амарок
Comment[sr@ijekavianlatin]=Priključak zbirke za Amarok
Comment[sr@latin]=Priključak zbirke za Amarok
Comment[sv]=Samlingsinsticksprogram för Amarok
Comment[th]=ส่วนเสริมของแอมอะร็อก สำหรับจัดการคลังสื่อ
Comment[tr]=Amarok için Koleksiyon eklentisi
Comment[uk]=Додаток збірки для Amarok
Comment[wa]=Tchôke-divins di ramexhnêye pos Amarok
Comment[x-test]=xxCollection plugin for Amarokxx
Comment[zh_CN]=Amarok 的收藏插件
Comment[zh_TW]=Amarok 的收藏外掛程式

ServiceTypes=Amarok/Plugin

X-KDE-Library=amarok_collection-mysqlservercollection

X-KDE-Amarok-authors=Jeff Mitchell
X-KDE-Amarok-email=mitchell@kde.org
X-KDE-Amarok-framework-version=55
X-KDE-Amarok-name=mysqlserver-collection
X-KDE-Amarok-plugintype=collection
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1
