[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=
Name=amaroK
Name[fr]=AmaroK
Name[tg]=амароК
Name[xx]=xxamaroKxx
GenericName=Audio Player
GenericName[bg]=Аудио плеър
GenericName[br]=C'hoarier klevet
GenericName[cs]=Zvukový přehrávač
GenericName[da]=Lydafspiller
GenericName[de]=Audio Wiedergabeprogramm
GenericName[el]=Αναπαραγωγέας μουσικής
GenericName[es]=Reproductor de audio
GenericName[et]=Helifailide mängija
GenericName[fr]=Lecteur audio
GenericName[hu]=Zenelejátszó
GenericName[is]=Tónlistarspilari
GenericName[it]=Riproduttore audio
GenericName[ja]=オーディオプレーヤ
GenericName[ms]=Pemain Audio
GenericName[nl]=Audiospeler
GenericName[pl]=Odtwarzacz audio
GenericName[pt]=Leitor de Áudio
GenericName[pt_BR]=Tocador de Mídia
GenericName[ru]=Мультимедиа проигрыватель
GenericName[sl]=Predvajalnik zvoka
GenericName[sr]=Аудио плејер
GenericName[sv]=Ljudspelare
GenericName[ta]=கேட்பொலி இயக்கி
GenericName[tg]=Аудио Плейер
GenericName[uk]=Аудіо-програвач
GenericName[uz]=Аудио плейер
GenericName[xx]=xxAudio Playerxx
GenericName[zh_CN]=音频播放器
Comment=Uncle Rodney says, "10/10, amaroK is seriously super!"
Comment[bg]=Аудио плеър с много възможности
Comment[da]=Onkel Rodney siger, "10/10, amaroK er virkelig super!"
Comment[de]=Onkel Rodney sagt, "10/10, amaroK is seriously super!"
Comment[es]=El tio Rodney dice, "'10/10, amaroK es seriamente super!"
Comment[et]=Onu Ronni ütleb: "Täitsa lõpp, amaroK on ikka superhea!"
Comment[fr]=Oncle Rodney a dit « 10/10, AmaroK est vraiment formidable ! »
Comment[hu]=Rodney bácsi szerint: "10/10, az amaroK egyszerűen szuper!"
Comment[is]=Rodney frændi segir, "10/10, amaroK er virkilega súper!"
Comment[it]=Zio Rodney dice, "10/10, amaroK è sul serio super!"
Comment[ja]=ロドニーおじさんが "完璧だ、amaroKはマジですごい!" って言ってる。
Comment[ms]=Pakcik Rodney berkata,"10/10, amaroK betul-betul hebat!"
Comment[nl]=Oom Rodney zegt, "10/10, amaroK is werkelijk fantastisch!"
Comment[pl]=Wujek Dobra Rada twierdzi: "10/10, amaroK jest po prostu super!"
Comment[pt]=O Tio Rodney diz, "10/10, amaroK é excelente!"
Comment[pt_BR]=O Tio Rodney disse: "10/10, amaroK é muito bom!"
Comment[ru]=Кому нужен noatun?
Comment[sr]=Ујка Жика каже, „10/10, amaroK је заиста супер!"
Comment[sv]=Farbror Rodney säger, "10/10, amaroK är verkligen fantastiskt!"
Comment[ta]=Uncle Rodney கூறுவதாவது, "10/10, amaroK  நிஜமாக அற்புதமானது!"
Comment[tg]=Амаки Рудней мегӯяд, ки "10/10, амароК хеле зӯр мебошад!"
Comment[uk]=Дядько Rodney каже: "10/10, amaroK - це дійсно супер!"
Comment[xx]=xxUncle Rodney says, "10/10, amaroK is seriously super!"xx
Icon=amarok

Open=true
X-KDE-KonqSidebarModule=konqsidebar_universalamarok
X-KDE-KonqSidebarUniversal=true
X-KDE-KonqSidebarAddModule=konqsidebar_universalamarok

