[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=
Name=amaroK
GenericName=Audio Player
Comment=Uncle Rodney says, "10/10, amaroK is seriously super!"
Icon=amarok

Open=true
X-KDE-KonqSidebarModule=konqsidebar_universalamarok
X-KDE-KonqSidebarUniversal=true
X-KDE-KonqSidebarAddModule=konqsidebar_universalamarok

