[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=
Name=Amarok
Name[el]=AmaroK
GenericName=Audio Player
GenericName[el]=Αναπαραγωγή ήχου
Comment=Uncle Rodney says, "10/10, Amarok is seriously super!"
Comment[el]=Ο θείος Rodney δηλώνει, "10/10, το AmaroK είναι θαυμάσιο!"
Icon=amarok

Open=true
X-KDE-KonqSidebarModule=konqsidebar_universalamarok
X-KDE-KonqSidebarUniversal=true
X-KDE-KonqSidebarAddModule=konqsidebar_universalamarok

