[Desktop Entry]
Name=Video
Name[bg]=Видео
Name[ca]=Vídeo
Name[el]=Βίντεο
Name[es]=Vídeo
Name[fr]=Vidéo
Name[ga]=Fís
Name[gl]=Vídeo
Name[ja]=ビデオ
Name[km]=វីដេអូ
Name[oc]=Vidèo
Name[pl]=Wideo
Name[pt]=Vídeo
Name[pt_BR]=Vídeo
Name[uk]=Відео
Name[x-test]=xxVideoxx
Name[zh_CN]=视频
Type=Service
ServiceTypes=AmarokContext/Applet

X-KDE-Library=amarok_context_applet_video
X-KDE-PluginInfo-Author=Mark Kretschmann
X-KDE-PluginInfo-Email=kretschmann@kde.org
X-KDE-PluginInfo-Name=video
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=amarok
X-KDE-PluginInfo-Category=Current

