[Desktop Entry]
Name=Video
Name[bg]=Видео
Name[ca]=Vídeo
Name[cs]=Video
Name[csb]=Wideò
Name[da]=Video
Name[de]=Video
Name[el]=Βίντεο
Name[en_GB]=Video
Name[eo]=Video
Name[es]=Vídeo
Name[et]=Video
Name[eu]=Bideoa
Name[fi]=Video
Name[fr]=Vidéo
Name[ga]=Fís
Name[gl]=Vídeo
Name[he]=וידאו
Name[hne]=वीडियो
Name[hu]=Videó
Name[is]=Vídeó
Name[it]=Video
Name[ja]=ビデオ
Name[km]=វីដេអូ
Name[ko]=동영상
Name[ku]=Vîdeo
Name[lt]=Video
Name[lv]=Video
Name[mai]=वीडियो
Name[ms]=Video
Name[nb]=Video
Name[nds]=Video
Name[nl]=Video
Name[nn]=Video
Name[oc]=Vidèo
Name[pa]=ਵੀਡਿਓ
Name[pl]=Wideo
Name[pt]=Vídeo
Name[pt_BR]=Vídeo
Name[ro]=Video
Name[ru]=Видео
Name[sl]=Video
Name[sr]=Видео
Name[sr@latin]=Video
Name[sv]=Video
Name[th]=วิดีโอ
Name[tr]=Video
Name[uk]=Відео
Name[wa]=Videyo
Name[x-test]=xxVideoxx
Name[zh_CN]=视频
Name[zh_TW]=影片
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=amarok_context_applet_video
X-KDE-PluginInfo-Author=Mark Kretschmann
X-KDE-PluginInfo-Email=kretschmann@kde.org
X-KDE-PluginInfo-Name=video
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=amarok
X-KDE-PluginInfo-Category=Current

