[Desktop Entry]
Name=Video
Name[bg]=Видео
Name[ca]=Vídeo
Name[csb]=Wideò
Name[el]=Βίντεο
Name[es]=Vídeo
Name[eu]=Bideoa
Name[fr]=Vidéo
Name[ga]=Fís
Name[gl]=Vídeo
Name[he]=וידאו
Name[hne]=वीडियो
Name[is]=Vídeó
Name[ja]=ビデオ
Name[km]=វីដេអូ
Name[ku]=Vîdeo
Name[mai]=वीडियो
Name[oc]=Vidèo
Name[pa]=ਵੀਡਿਓ
Name[pl]=Wideo
Name[pt]=Vídeo
Name[pt_BR]=Vídeo
Name[ru]=Видео
Name[th]=วิดีโอ
Name[uk]=Відео
Name[wa]=Videyo
Name[x-test]=xxVideoxx
Name[zh_CN]=视频
Name[zh_TW]=影片
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=amarok_context_applet_video
X-KDE-PluginInfo-Author=Mark Kretschmann
X-KDE-PluginInfo-Email=kretschmann@kde.org
X-KDE-PluginInfo-Name=video
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=amarok
X-KDE-PluginInfo-Category=Current

