[Desktop Entry]
Type=Service
Name=Mass Storage Device
Name[be]=Прылада Mass Storage
Name[bg]=Устройство за съхранение
Name[ca]=Dispositiu d'emmagatzemament massiu
Name[cs]=Velkokapacitní záložní zařízení
Name[csb]=Ùrządzenié trzëmónia pòdôwków
Name[da]=Mass Storage-enhed
Name[de]=Wechsellaufwerk
Name[el]=Συσκευή μαζικής αποθήκευσης
Name[eo]=Amasmemorilo
Name[es]=Dispositivo de almacenamiento masivo
Name[et]=Mass-salvestusseade
Name[eu]=Biltegiratze gailua
Name[fi]=Massamuistilaite
Name[fr]=Périphérique de stockage de masse
Name[ga]=Gléas Ollstórála
Name[gl]=Dispositivo de almacenaxe masivo
Name[hne]=विसाल भंडारन उपकरन
Name[is]=Geymslumiðill
Name[it]=Dispositivo di memorizzazione di massa
Name[ja]=大容量ストレージデバイス
Name[km]=ឧបករណ៍​ផ្ទុក​ធំ
Name[ko]=대용량 저장소 장치
Name[ku]=Cîhaza Hîser Kirina Gumlat
Name[lt]=Laikmenų įrenginys
Name[lv]=Masu Glabāšanas Ierīce
Name[nb]=Masselagringsenhet
Name[nds]=Bültspieker-Reedschap
Name[ne]=बृहत भण्डारण यन्त्र
Name[nl]=Massa-opslag-apparaat
Name[nn]=Masselagringseining
Name[pa]=ਸਟੋਰੇਜ਼ ਜੰਤਰ
Name[pl]=Urządzenie przechowywania danych
Name[pt]=Dispositivo Multimédia com Armazenamento
Name[pt_BR]=Dispositivo de Armazenamento em Massa
Name[ro]=Dispozitiv de stocare
Name[ru]=Устройство хранения данных
Name[sk]=Zariadenie na masové ukladanie
Name[sl]=Naprava za obsežno shranjevanje
Name[sv]=Masslagringsenhet
Name[th]=อุปกรณ์สื่อจัดเก็บข้อมูล
Name[tr]=Yığın Bellek Aygıtı
Name[uk]=Пристрій масового накопичення
Name[wa]=Éndjin d' wårdaedje di dnêyes
Name[x-test]=xxMass Storage Devicexx
Name[zh_CN]=大容量存储设备
Name[zh_TW]=大型儲存裝置
Comment=Device plugin for Amarok
Comment[be]=Утулка прылады для Amarok
Comment[bg]=Приставка за устройство за Amarok
Comment[ca]=Connector de dispositiu per a l'Amarok
Comment[cs]=Modul zařízení pro Amarok
Comment[csb]=Wtëkôcz ùrządzeniów dlô Amaroka
Comment[da]=Enhedsplugin til Amarok
Comment[de]=Geräte-Modul für Amarok
Comment[el]=Πρόσθετο συσκευής για το AmaroK
Comment[eo]=Aparata kromaĵo por Amarok
Comment[es]=Complemento de dispositivos para Amarok
Comment[et]=Amaroki seadmeplugin
Comment[eu]=Amarok-en gailu plugin-a
Comment[fi]=Amarok-laiteliitännäinen
Comment[fr]=Module de périphériques pour Amarok
Comment[ga]=Breiseán gléis le haghaidh Amarok
Comment[gl]=Extensión de dispositivos para Amarok
Comment[he]=תוסף התקן ל־Amarok
Comment[hne]=अमाराक बर उपकरन प्लगइन
Comment[is]=Tækjaíforrit fyrir Amarok
Comment[it]=Plugin di dispositivo per Amarok
Comment[ja]=Amarok のためのデバイスプラグイン
Comment[km]=កម្មវិធី​ជំនួយ​ឧបករណ៍​សម្រាប់ Amarok
Comment[ko]=Amarok 장치 플러그인
Comment[ku]=Pêveka cîhazê ji bo Amarok
Comment[lt]=Amarok įrenginių įskiepis
Comment[lv]=Amarok ierīces spraudnis
Comment[nb]=Enhetsmodul for Amarok
Comment[nds]=Reedschapmoduul för Amarok
Comment[ne]=अमारोकका लागि यन्त्र प्लगइन
Comment[nl]=Apparaatplugin voor Amarok
Comment[nn]=Einingstilegg for Amarok
Comment[pa]=ਅਮਰੋਕ ਲਈ ਜੰਤਰ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka urządzenia dla Amaroka
Comment[pt]='Plugin' de dispositivo para o Amarok
Comment[pt_BR]=Plug-in de dispositivo para o Amarok
Comment[ro]=Modul Dispozitiv pentru Amarok
Comment[ru]=Модуль устройства хранения данных для Amarok
Comment[sk]=Modul zariadenia pre Amarok
Comment[sl]=Vstavek za naprave za Amarok
Comment[sv]=Enhetsinsticksprogram för Amarok
Comment[th]=ส่วนเสริมของแอมอะร็อก สำหรับจัดการอุปกรณ์
Comment[tr]=Amarok için aygıt eklentisi
Comment[uk]=Додаток пристроїв для Amarok
Comment[wa]=Tchôke-divins d' éndjin po Amarok
Comment[x-test]=xxDevice plugin for Amarokxx
Comment[zh_CN]=Amarok 的设备插件
Comment[zh_TW]=Amarok 的裝置外掛程式
ServiceTypes=Amarok/Plugin

X-KDE-Library=libamarok_massstorage-device

X-KDE-Amarok-authors=Maximilian Kossick
X-KDE-Amarok-email=maximilian.kossick@googlemail.com
X-KDE-Amarok-framework-version=45
X-KDE-Amarok-name=massstorage-device
X-KDE-Amarok-plugintype=device
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1
