[Desktop Entry]
Name=Playlist Information
Name[bg]=Информация за списъка
Name[ca]=Informació de la llista de reproducció
Name[cs]=Informace o seznamu skladeb
Name[csb]=Wëdowiédza ò lësce graniô
Name[da]=Spillelisteinformation
Name[de]=Wiedergabelisten-Information
Name[el]=Πληροφορίες λίστας αναπαραγωγής
Name[en_GB]=Playlist Information
Name[eo]=Ludlista informo
Name[es]=Información de la lista de reproducción
Name[et]=Esitusnimekirja info
Name[eu]=Zerrendaren informazioa
Name[fi]=Soittolistan tiedot
Name[fr]=Informations sur la liste de lecture
Name[ga]=Eolas faoin Seinmliosta
Name[gl]=Información da lista de temas
Name[he]=מידע על רשימת־ההשמעה
Name[hne]=गीतसूची जानकारी
Name[is]=Upplýsingar um lagalista
Name[it]=Informazioni playlist
Name[ja]=プレイリスト情報
Name[km]=ព័ត៌មាន​បញ្ជី​ចាក់
Name[ko]=재생 목록 정보
Name[ku]=Agahiya Lîsteya Lêdanê
Name[lt]=Grojaraščio informacija
Name[lv]=Repertuāra informācija
Name[nb]=Spillelisteinformasjon
Name[nds]=Afspeellist-Informatschoon
Name[nl]=Afspeellijstinformatie
Name[nn]=Spelelisteinformasjon
Name[pa]=ਪਲੇਅਲਿਸਟ ਜਾਣਕਾਰੀ
Name[pl]=Informacja o liście odtwarzania
Name[pt]=Informação da Lista de Reprodução
Name[pt_BR]=Informações de Lista de Músicas
Name[ro]=Informație listă de redare
Name[ru]=Сведения списка воспроизведения
Name[sl]=Podatki o predvajalnem seznamu
Name[sr]=Подаци о листи нумера
Name[sr@latin]=Podaci o listi numera
Name[sv]=Information om spellista
Name[th]=ข้อมูลรายละเอียดของรายการเล่น
Name[tr]=Çalma Listesi Bilgisi
Name[uk]=Інформація про список композицій
Name[wa]=Pondants et djondants del djivêye a djouwer
Name[x-test]=xxPlaylist Informationxx
Name[zh_CN]=播放列表信息
Name[zh_TW]=播放清單資訊
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=amarok_context_applet_playlistinfo
X-KDE-PluginInfo-Author=Jeff Mitchell
X-KDE-PluginInfo-Email=kde-dev@emailgoeshere.com
X-KDE-PluginInfo-Name=playlistinfo
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=amarok
X-KDE-PluginInfo-Category=Current
