[Desktop Entry]
Name=Playlist Information
Name[bg]=Информация за списъка за изпълнение
Name[ca]=Informació de la llista de reproducció
Name[da]=Spillelisteinformation
Name[de]=Wiedergabelisten-Information
Name[el]=Πληροφορίες λίστας αναπαραγωγής
Name[eo]=Ludlista informo
Name[es]=Información de la lista de reproducción
Name[et]=Esitusnimekirja info
Name[fr]=Informations sur la liste de lecture
Name[ga]=Eolas faoin Seinmliosta
Name[gl]=Información da lista de temas
Name[it]=Informazioni playlist
Name[ja]=プレイリスト情報
Name[km]=ព័ត៌មាន​បញ្ជី​ចាក់
Name[ko]=재생 목록 정보
Name[lt]=Grojaraščio informacija
Name[lv]=Repertuāra informācija
Name[nb]=Spillelisteinformasjon
Name[nds]=Afspeellist-Informatschoon
Name[nl]=Afspeellijstinformatie
Name[pl]=Informacja o liście odtwarzania
Name[pt]=Informação da Lista de Reprodução
Name[pt_BR]=Informações de Lista de Músicas
Name[ro]=Informație listă de redare
Name[sv]=Information om spellista
Name[tr]=Çalma Listesi Bilgisi
Name[uk]=Інформація про список композицій
Name[x-test]=xxPlaylist Informationxx
Name[zh_CN]=播放列表信息
Type=Service
ServiceTypes=AmarokContext/Applet

X-KDE-Library=amarok_context_applet_playlistinfo
X-KDE-PluginInfo-Author=Jeff Mitchell
X-KDE-PluginInfo-Email=kde-dev@emailgoeshere.com
X-KDE-PluginInfo-Name=playlistinfo
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=amarok
X-KDE-PluginInfo-Category=Current
