[Desktop Entry]
Encoding=UTF-8
Name=Playlist Information
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=amarok_context_applet_playlistinfo
X-KDE-PluginInfo-Author=Jeff Mitchell
X-KDE-PluginInfo-Email=kde-dev@emailgoeshere.com
X-KDE-PluginInfo-Name=playlistinfo
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=amarok
X-KDE-PluginInfo-Category=Current
