Source: amarok-nightly-kdesupport
Section: libs
Priority: optional
Maintainer: Project Neon <nightly@getamarok.com>
Build-Depends: amarok-nightly-cdbs, amarok-nightly-qt,
 debhelper (>= 6), cmake, quilt, libbz2-dev, xsltproc,
 zlib1g-dev, doxygen, graphviz, gsfonts-x11, shared-mime-info,
 libclucene-dev, libdbus-1-dev, libexiv2-dev, libxml2-dev,
 libxml2-utils, python-support, python, mysql-server
Standards-Version: 3.7.3

Package: amarok-nightly-kdesupport
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, poppler-utils, dbus-x11 | dbus
Conflicts: amarok-nightly-strigi (<= 20080520+svn810434-0amarok3), amarok-nightly-taglib (<= 20080520+svn810434-0amarok3)
Replaces: amarok-nightly-strigi (<= 20080520+svn810434-0amarok3), amarok-nightly-taglib (<= 20080520+svn810434-0amarok3)
Description: KDESupport stuff
 apparently KDE supporting stuff
 .
 This package is part of Project Neon, the Amarok Nightly Builds project.
 See the 'amarok-nightly' package for more information.

Package: amarok-nightly-strigi
Architecture: all
Section: utils
Depends: amarok-nightly-kdesupport (= ${source:Version})
Description: fast indexing and searching tool for your personal data (daemon)
 Strigi is a program for fast indexing and searching your personal data.
 .
 This package is part of Project Neon, the Amarok Nightly Builds project.
 See the 'amarok-nightly' package for more information.

Package: amarok-nightly-taglib
Architecture: all
Section: libs
Depends: amarok-nightly-kdesupport (= ${source:Version})
Description: TagLib Audio Meta-Data Library
 TagLib is a library for reading and editing the meta-data of several popular
 audio formats. Currently it supports both ID3v1 and ID3v2 for MP3 files, Ogg
 Vorbis comments and ID3 tags and Vorbis comments in FLAC files.
 .
 This package is part of Project Neon, the Amarok Nightly Builds project.
 See the 'amarok-nightly' package for more information.
