#!/usr/bin/make -f

export PATH := /opt/amarok-nightly/bin:$(PATH)
export LD_LIBRARY_PATH := /opt/amarok-nightly/lib:$(LD_LIBRARY_PATH)

-include /usr/share/cdbs/1/class/cmake.mk
-include /usr/share/cdbs/1/rules/debhelper.mk
-include /usr/share/cdbs/1/rules/utils.mk

DEB_CMAKE_EXTRA_FLAGS = -DCMAKE_BUILD_TYPE=debugfull \
			-DSTRIGI_EXTRA_INC_DIRECTORY=/opt/amarok-nightly/include \
			-DSTRIGI_EXTRA_LIB_DIRECTORY=/opt/amarok-nightly/lib
DEB_DH_MAKESHLIBS_ARGS_ALL := -V
DEB_CMAKE_INSTALL_PREFIX = /opt/amarok-nightly

clean::
