<!DOCTYPE kpartgui>
<kpartgui name="amarok" version="17">
<ToolBar name="mainToolBar" iconText="icononly">
<Text>Playlist Toolbar</Text>

 <Action name="prev" />
 <Action name="play_pause" />
 <Action name="stop" />
 <Action name="next" />

 <Action name="spacer" />

 <Action name="toolbar_volume"/>

 <Action name="spacer" />


 <Action name="toolbar_analyzer" />

 <Action name="spacer" />

 <Action name="search_bar" />
</ToolBar>

</kpartgui>
