[Desktop Entry]
Type=Application
Version=0.9.4
Encoding=UTF-8
Name=amaroK
Name[fr]=AmaroK
Name[xx]=xxamaroKxx
GenericName=Audio Player
GenericName[da]=Lydafspiller
GenericName[de]=Audio Wiedergabeprogramm
GenericName[el]=Αναπαραγωγέας μουσικής
GenericName[es]=Reproductor de audio
GenericName[et]=Helifailide mängija
GenericName[fr]=Lecteur audio
GenericName[nl]=Audiospeler
GenericName[pt]=Leitor de Áudio
GenericName[pt_BR]=Tocador de Mídia
GenericName[ru]=Мультимедиа проигрыватель
GenericName[sl]=Predvajalnik zvoka
GenericName[sv]=Ljudspelare
GenericName[ta]=கேட்பொலி இயக்கி
GenericName[uz]=Аудио плейер
GenericName[xx]=xxAudio Playerxx
Exec=amarok %U
Comment=Uncle Rodney says, "10/10, amaroK is seriously super!"
Comment[da]=Onkel Rodney siger, "10/10, amaroK er virkelig super!"
Comment[de]=Onkel Rodney sagt, "10/10, amaroK is seriously super!"
Comment[es]=El tio Rodney dice, "'10/10, amaroK es seriamente super!"
Comment[et]=Onu Ronni ütleb: "Täitsa lõpp, amaroK on ikka superhea!"
Comment[fr]=Oncle Rodney a dit « 10/10, AmaroK est vraiment formidable ! »
Comment[nl]=Oom Rodney zegt, "10/10, amaroK is werkelijk fantastisch!"
Comment[pt]=O Tio Rodney diz, "10/10, amaroK é excelente!"
Comment[pt_BR]=O Tio Rodney disse: "10/10, amaroK é muito bom!"
Comment[ru]=Кому нужен noatun?
Comment[sv]=Farbror Rodney säger, "10/10, amaroK är verkligen fantastiskt!"
Comment[ta]=Uncle Rodney கூறுவதாவது, "10/10, amaroK  நிஜமாக அற்புதமானது!"
Comment[xx]=xxUncle Rodney says, "10/10, amaroK is seriously super!"xx
Icon=amarok
MimeType=application/x-ogg;audio/x-vorbis;audio/basic;audio/x-mod;audio/x-mp3;audio/x-scpls;audio/x-mpegurl;audio/x-sid;audio/x-wav
DocPath=amarok/index.html
Terminal=false
Categories=Qt;KDE;AudioVideo
Actions=Enqueue;
X-KDE-StartupNotify=false

[Desktop Action Enqueue]
Exec=amarok -e %U
Name=Enqueue in amaroK
Name[az]=AmaroK-da aç
Name[da]=Enqueue i amaroK
Name[de]=In amaroK Stückliste einfügen
Name[es]=Encolar en amaroK
Name[et]=AmaroKi nimekirja
Name[fr]=Mettre dans la liste de lecture d'AmaroK
Name[nl]=Wachtrij in amaroK
Name[pt]=Colacar em fila no amaroK
Name[pt_BR]=Enfileirar no amaroK
Name[ru]=Добавить в очередь amaroK
Name[sv]=Köa i amaroK
Name[ta]=amaroKகிலுள்ள Enqueue
Name[xx]=xxEnqueue in amaroKxx

