[Desktop Entry]
ServiceTypes=media/audiocd
Actions=Play;
Encoding=UTF-8
X-KDE-Priority=TopLevel

[Desktop Action Play]
Name=Play Audio CD with Amarok
Name[af]=Speel oudio CD met Amarok
Name[bg]=Изпълнение на компактдиск с Amarok
Name[bn]=আমারক দিয়ে অডিও সিডি চালাও
Name[ca]=Reprodueix el CD Àudio amb l'Amarok
Name[cs]=Přehrát audio CD
Name[da]=Afspil lyd-cd med Amarok
Name[de]=Audio-CD mit Amarok wiedergeben
Name[el]=Αναπαραγωγή CD ήχου με το Amarok
Name[eo]=Ludi Muzikan KD-n per Amarok
Name[es]=Reproducir CD con Amarok
Name[et]=Esita audio CD Amarokis
Name[fa]=پخش دیسک فشردۀ صوتی با Amarok
Name[fi]=Soita CD-levy Amarokilla
Name[fr]=Écouter un CD Audio avec Amarok
Name[ga]=Seinn Dlúthdhiosca Fuaime le Amarok
Name[hu]=Hang-CD lejátszása az Amarokkal
Name[is]=Spila tónlistardisk með Amarok
Name[it]=Riproduci CD audio con Amarok
Name[ja]=Amarok でオーディオ CD を再生
Name[ka]=აუიდიო CD-ის დაკვრა Amarok-ით
Name[km]=ចាក់​ស៊ីឌី​អូឌីយ៉ូ​ជា​មួយ Amarok
Name[lt]=Groti audio CD su Amarok
Name[mk]=Свири аудиоцд со Амарок
Name[nb]=Spill lyd-CD med Amarok
Name[nds]=Audio-CD mit Amarok afspelen
Name[ne]=अमारोकसँग अडियो सीडी बजाउनुहोस्
Name[nl]=Audio-cd met Amarok afspelen
Name[nn]=Spel lyd-CD med Amarok
Name[pa]=ਅਮਰੋਕ ਨਾਲ ਆਡੀਓ CD ਚਲਾਓ
Name[pl]=Odtwórz Audio CD za pomocą Amarok
Name[pt]=Tocar o CD de Áudio com o Amarok
Name[pt_BR]=Reproduzir CD de Áudio com o Amarok
Name[se]=Čuojat jietna-CD:a Amarokain
Name[sk]=Zahrať Audio CD pomocou Amarok
Name[sr]=Пусти аудио CD помоћу Amarok-а
Name[sr@Latn]=Pusti audio CD pomoću Amarok-a
Name[sv]=Spela ljud-cd med Amarok
Name[th]=เล่นซีดีบันทึกเสียงด้วย Amarok
Name[tr]=Ses CD'sini Amarok ile Çal
Name[uk]=Грати аудіо-КД в Amarok
Name[uz]=Audio-diskni Amarok bilan tinglash
Name[uz@cyrillic]=Аудио-дискни Amarok билан тинглаш
Name[wa]=Djouwer l' CD d' muzike avou Amarok
Name[zh_CN]=用 Amarok 播放音频 CD
Name[zh_TW]=以 Amarok 播放音樂 CD
Icon=amarok
Exec=amarok --cdplay %u
