[Desktop Entry]
Type=Application
Version=0.9.4
Encoding=UTF-8
Name=Amarok
Name[bn]=আমারক
Name[el]=AmaroK
Name[ga]=AmaroK
Name[lt]=amaroK
Name[mk]=Амарок
Name[ne]=अमारोक
Name[pa]=ਅਮਰੋਕ
Name[ru]=amaroK
Name[zh_TW]=AmaroK
GenericName=Audio Player
GenericName[af]=Oudio Speler
GenericName[ar]=قارئى الصوت
GenericName[bg]=Аудио плеър
GenericName[bn]=অডিও প্লেয়ার
GenericName[br]=C'hoarier klevet
GenericName[ca]=Reproductor d'àudio
GenericName[cs]=Zvukový přehrávač
GenericName[da]=Lydafspiller
GenericName[de]=Audio-Wiedergabeprogramm
GenericName[el]=Αναπαραγωγή ήχου
GenericName[eo]=Aŭdludilo
GenericName[es]=Reproductor de audio
GenericName[et]=Helifailide mängija
GenericName[eu]=Audio-erreproduktorea
GenericName[fa]=پخش‌کنندۀ صوتی
GenericName[fi]=Musiikkisoitin
GenericName[fr]=Lecteur audio
GenericName[ga]=Seinnteoir Fuaime
GenericName[gl]=Reprodutor de Áudio
GenericName[hi]=ऑडियो प्लेयर
GenericName[hu]=Zenelejátszó
GenericName[is]=Tónlistarspilari
GenericName[it]=Lettore audio
GenericName[ja]=オーディオプレーヤ
GenericName[ka]=აუდიოდამკვრელი
GenericName[km]=កម្មវិធី​ចាក់​អូឌីយ៉ូ
GenericName[lt]=Muzikos grotuvas
GenericName[mk]=Аудио-изведувач
GenericName[mn]=Аудио-изведувач
GenericName[ms]=Pemain Audio
GenericName[nb]=Musikkavspiller
GenericName[nds]=Klangafspeler
GenericName[ne]=अडियो प्लेयर
GenericName[nl]=Audiospeler
GenericName[nn]=Lydspelar
GenericName[pa]=ਆਡੀਓ ਪਲੇਅਰ
GenericName[pl]=Odtwarzacz audio
GenericName[pt]=Leitor de Áudio
GenericName[pt_BR]=Reprodutor de Áudio
GenericName[ru]=Аудиоплеер
GenericName[se]=Jietnačuojaheaddji
GenericName[sk]=Audio prehrávač
GenericName[sl]=Predvajalnik zvoka
GenericName[sq]=Audio plejer
GenericName[sr]=Аудио плејер
GenericName[sr@Latn]=Audio plejer
GenericName[ss]=Audio plejer
GenericName[sv]=Ljudspelare
GenericName[ta]=கேட்பொலி இயக்கி
GenericName[tg]=Аудио Плейер
GenericName[th]=โปรแกรมเล่นเสียง
GenericName[tr]=Müzik Çalar
GenericName[uk]=Аудіопрогравач
GenericName[uz]=Audio-pleyer
GenericName[uz@cyrillic]=Аудио-плейер
GenericName[wa]=Djouweu d' muzike
GenericName[zh_CN]=音频播放器
GenericName[zh_TW]=音樂播放程式
Exec=amarok %U
Comment=Amarok - Rediscover Your Music!
Comment[bg]=Amarok - преоткрий музиката!
Comment[bn]=আমারক - আপনার সঙ্গীতের এক নতুন দিগন্ত
Comment[ca]=Amarok - Redescobreix la teva música!
Comment[cs]=Amarok - objevte svou hudbu!
Comment[da]=Amarok - Genopdag din musik!
Comment[de]=Amarok - Musik neu erleben!
Comment[el]=Amarok - Ξαναανακαλύψτε τη μουσική σας!
Comment[es]=Amarok - ¡Vuelva a descubrir su música!
Comment[et]=Amarok - naudi oma muusikat!
Comment[hu]=Amarok - fedezze fel a zenéjét
Comment[is]=Amarok - enduruppgötvaðu tónlistina þína!
Comment[it]=Amarok - Riscopri la tua musica!
Comment[ja]=Amarok - あなたの音楽を再発見
Comment[km]=Amarok - រកឃើញ​តន្ត្រី​របស់​អ្នក​ឡើង​វិញ !
Comment[lt]=Amarok – atraskite savo muziką iš naujo!
Comment[nds]=Amarok - Beleev Dien Musik nieg!
Comment[nl]=Amarok - Herontdek uw muziek!
Comment[nn]=Amarok – gjenoppdag musikken din!
Comment[pl]=Amarok - odkryj na nowo swoją muzykę!
Comment[pt]=Amarok - Descubra de Novo a Sua Música!
Comment[pt_BR]=Amarok - Redescubra Sua Música!
Comment[sk]=Amarok - Znova objavte hudbu!
Comment[sr]=Amarok — откријте своју музику!
Comment[sr@Latn]=Amarok — otkrijte svoju muziku!
Comment[sv]=Amarok - Återupptäck din musik!
Comment[th]=Amarok - ค้นพบมิติใหม่ในดนตรีของคุณ!
Comment[tr]=Amarok - Müziğinizi yeniden keşfedin!
Comment[uk]=Amarok - заново відчуйте свою музику!
Comment[uz]=Amarok - musiqaga yangidan nazar tashlang
Comment[uz@cyrillic]=Amarok - мусиқага янгидан назар ташланг
Comment[wa]=Amarok - Ridiscovroz vosse muzike!
Comment[zh_TW]=Amarok - 重新發現你的音樂！
Icon=amarok
X-KDE-Protocols=http
#don't add inode/directory to mimetypes it leads to misbehavior
MimeType=audio/aac;audio/mp4;audio/mpeg;audio/mpegurl;audio/vnd.rn-realaudio;audio/vorbis;audio/x-flac;audio/x-mp3;audio/x-mpegurl;audio/x-ms-wma;audio/x-musepack;audio/x-oggflac;audio/x-pn-realaudio;audio/x-scpls;audio/x-speex;audio/x-vorbis;audio/x-wav;video/x-ms-asf;
DocPath=amarok/index.html
Terminal=false
Categories=Qt;KDE;AudioVideo;Audio;Player;
