<!DOCTYPE kpartgui>
<kpartgui name="amarok" version="3">
<ToolBar name="playlist_toolbar"><Text>Playlist Toolbar</Text>
 <Action name="playlist_add"/>
 <Action name="playlist_save"/>
 <Action name="playlist_clear"/>
 <Action name="playlist_shuffle"/>
 <Separator lineSeparator="true"/>
 <Action name="playlist_undo"/>
 <Action name="playlist_redo"/>
 <Separator lineSeparator="true"/>
 <Action name="toolbar_analyzer" />
 <Separator lineSeparator="true"/>
 <Action name="amarok_menu"/>
</ToolBar>

</kpartgui>
