[Desktop Entry]
ServiceTypes=audio/midi,audio/mid,audio/mpegurl,audio/wav,audio/x-wav,audio/aiff,audio/x-aiff,audio/x-mid,audio/x-midi,audio/x-mp3,audio/mp3,audio/x-mpeg-url,application/ogg,inode/directory,audio/x-mpegurl
Actions=addToPlaylist

[Desktop Action addToPlaylist]
Name=Add to amaroK Playlist
Name[bs]=Dodaj u amaroK kolekciju
Name[ca]=Afegeix a la col·lecció amaroK
Name[cs]=Přidat do amaroK kolekce
Name[cy]=Ychwanegu i Gasgliad amaroK
Name[da]=Tilføj til amaroK-samling
Name[de]=Zur amaroK-Kollektion hinzufügen
Name[el]=Προσθήκη στη συλλογή του amaroK
Name[es]=Añadir a colección de amaroK
Name[et]=Lisa AmaroKi kollektsiooni
Name[fi]=Lisää amaroK kokoelmaan
Name[fr]=Ajouter à la collection de amaroK
Name[hi]=ज्यूक संग्रह में जोड़ें
Name[hu]=Hozzáadás egy amaroK-válogatáshoz
Name[is]=Bæta við amaroK safnið
Name[it]=Aggiungi alla collezione di amaroK
Name[ja]=AmaroKコレクションに追加
Name[ms]=Tambah ke koleksi amaroK
Name[nb]=Legg til amaroK-samling
Name[nl]=Toevoegen aan amaroK-collectie
Name[nn]=Legg til amaroK-samlinga
Name[pl]=Dodaj do kolekcji amaroK
Name[pt]=Adicionar à Colecção do amaroK
Name[pt_BR]=Adicionar à Coleção do amaroK
Name[ro]=Adaugă în colecţia amaroK
Name[ru]=Добавить в коллекцию amaroK
Name[sk]=Pridať do kolekcie amaroK
Name[sl]=Dodaj v zbirko amaroK
Name[sr]=Додај у amaroK колекцију
Name[sr@Latn]=Dodaj u amaroK kolekciju
Name[sv]=Lägg till i amaroK-samlingslista
Name[ta]=amaroK திரட்டிக்கு சேர்
Name[tr]=amaroK Koleksiyonu Ekle
Name[uk]=Додати до збірки amaroK
Name[uz]=amaroK тўпламига қўшиш
Name[xx]=xxAdd to amaroK Playlistxx
Name[zh_CN]=添加到 amaroK 收藏
Icon=amarok
Exec=amarok -e %U

