[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Amarok/Plugin
Comment=Plugin for Amarok
Comment[be]=Утулка для Amarok
Comment[bg]=Приставка за Amarok
Comment[ca]=Connector per l'Amarok
Comment[cs]=Modul pro AmaroK
Comment[csb]=Wtëkôcz dlô Amaroka
Comment[da]=Plugin til Amarok
Comment[de]=Erweiterungsmodul für Amarok
Comment[el]=Πρόσθετο για το AmaroK
Comment[en_GB]=Plugin for Amarok
Comment[eo]=Kromaĵo por Amarok
Comment[es]=Complemento para Amarok
Comment[et]=Amaroki plugin
Comment[eu]=Amarok-en plugina
Comment[fi]=Amarok-liitännäinen
Comment[fr]=Module pour Amarok
Comment[ga]=Breiseán Amarok
Comment[gl]=Extensión de Amarok
Comment[he]=תוסף ל־Amarok
Comment[hne]=अमाराक बर प्लगइन
Comment[is]=Íforrit fyrir Amarok
Comment[it]=Plugin per Amarok
Comment[ja]=Amarok のためのプラグイン
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាប់ Amarok
Comment[ko]=Amarok 플러그인
Comment[ku]=Pêvek ji bo Amarok
Comment[lt]=Amarok papildinys
Comment[lv]=Amarok spraudnis
Comment[nb]=Programtillegg for Amarok
Comment[nds]=Moduul för Amarok
Comment[ne]=अमारोकका लागि प्लगइन
Comment[nl]=Plugin voor Amarok
Comment[nn]=Programtillegg til Amarok
Comment[pa]=ਅਮਰੋਕ ਲਈ ਪਲੱਗਿਨ
Comment[pl]=Wtyczka Amaroka
Comment[pt]='Plugin' para o Amarok
Comment[pt_BR]=Plug-in para o Amarok
Comment[ro]=Modul pentru Amarok
Comment[ru]=Модуль для Amarok
Comment[sk]=Amarok modul
Comment[sl]=Vstavek za Amarok
Comment[sr]=Прикључак за Амарок
Comment[sr@latin]=Priključak za Amarok
Comment[sv]=Insticksprogram för Amarok
Comment[th]=ส่วนเสริมของแอมอะร็อก
Comment[tr]=Amarok için eklenti
Comment[uk]=Додаток для Amarok
Comment[wa]=Tchôke-divins pos Amarok
Comment[x-test]=xxPlugin for Amarokxx
Comment[zh_CN]=Amarok 插件
Comment[zh_TW]=Amarok 的外掛程式

# Type of plugin, e.g. "engine".
[PropertyDef::X-KDE-Amarok-plugintype]
Type=QString

# Internal name for identification, not translated.
[PropertyDef::X-KDE-Amarok-name]
Type=QString

# List of authors.
[PropertyDef::X-KDE-Amarok-authors]
Type=QStringList

# List of author's email addresses.
[PropertyDef::X-KDE-Amarok-email]
Type=QStringList

# Priority of the plugin. When KTrader returns multiple offers, the one with the highest rank is chosen.
# Range: 0 (disabled) - 255 (highest)
[PropertyDef::X-KDE-Amarok-rank]
Type=int

# Version of the plugin.
[PropertyDef::X-KDE-Amarok-version]
Type=int

# Version of the framework this plugin is compatible with.
# Must be bumped after making binary incompatible changes.
[PropertyDef::X-KDE-Amarok-framework-version]
Type=int

# If true, Amarok will show a warning dialog about the experimental nature of this plugin.
[PropertyDef::X-KDE-Amarok-experimental]
Type=bool

