[Desktop Entry]
Type=Application
Version=0.9.4
Encoding=UTF-8
Name=Amarok
Name[pa]=ਅਮਰੋਕ
Name[ru]=amaroK
Name[zh_TW]=AmaroK
GenericName=Audio Player
GenericName[af]=Oudio Speler
GenericName[ar]=قارئى الصوت
GenericName[be]=Аўдыёпрайгравальнік
GenericName[bg]=Аудио плеър
GenericName[bn]=অডিও প্লেয়ার
GenericName[br]=C'hoarier klevet
GenericName[ca]=Reproductor d'àudio
GenericName[cs]=Zvukový přehrávač
GenericName[da]=Lydafspiller
GenericName[de]=Audio-Wiedergabeprogramm
GenericName[el]=Αναπαραγωγή ήχου
GenericName[es]=Reproductor de audio
GenericName[et]=Helifailide mängija
GenericName[fa]=پخش‌کنندۀ صوتی
GenericName[fi]=Musiikkisoitin
GenericName[fr]=Lecteur audio
GenericName[gl]=Reprodutor de Áudio
GenericName[hi]=ऑडियो प्लेयर
GenericName[hu]=Zenelejátszó
GenericName[is]=Tónlistarspilari
GenericName[it]=Lettore audio
GenericName[ja]=オーディオプレーヤ
GenericName[ka]=აუდიოდამკვრელი
GenericName[km]=កម្មវិធី​ចាក់​អូឌីយ៉ូ
GenericName[lt]=Muzikos grotuvas
GenericName[mk]=Аудио-изведувач
GenericName[ms]=Pemain Audio
GenericName[nb]=Musikkavspiller
GenericName[nds]=Klangafspeler
GenericName[nl]=Audiospeler
GenericName[nn]=Lydspelar
GenericName[pa]=ਆਡੀਓ ਪਲੇਅਰ
GenericName[pl]=Odtwarzacz audio
GenericName[pt]=Leitor de Áudio
GenericName[pt_BR]=Reprodutor de Áudio
GenericName[ru]=Аудиоплеер
GenericName[se]=Jietnačuojaheaddji
GenericName[sk]=Audio prehrávač
GenericName[sl]=Predvajalnik zvoka
GenericName[sr]=Аудио плејер
GenericName[sr@Latn]=Audio plejer
GenericName[sv]=Ljudspelare
GenericName[ta]=கேட்பொலி இயக்கி
GenericName[tg]=Аудио Плейер
GenericName[th]=โปรแกรมเล่นเสียง
GenericName[tr]=Müzik Çalar
GenericName[uk]=Аудіопрогравач
GenericName[uz]=Аудио плейер
GenericName[xx]=xxAudio Playerxx
GenericName[zh_CN]=音频播放器
GenericName[zh_TW]=音樂播放程式
Exec=amarok %U
Comment=Amarok - Rediscover Your Music!
Comment[bg]=Amarok - преоткрий музиката!
Comment[el]=Amarok - Ανακαλύψτε ξανά τη μουσική σας!
Comment[et]=Amarok - naudi oma muusikat!
Comment[fr]=Amarok - Redécouvrez votre musique !
Comment[ja]=Amarok - あなたの音楽を再発見
Comment[nl]=Amarok - Herontdek uw muziek!
Comment[pl]=Amarok - odkryj na nowo swoją muzykę!
Comment[pt]=Amarok - Descubra de Novo a sua Música!
Comment[pt_BR]=Amarok - Redescubra Sua Música!
Comment[sk]=Amarok - Znova objavte hudbu!
Comment[sv]=Amarok - Återupptäck din musik!
Comment[tr]=Amarok - Müziğinizi yeniden keşfedin!
Icon=amarok
X-KDE-Protocols=http
#don't add inode/directory to mimetypes it leads to misbehavior
MimeType=audio/x-ms-asx;audio/aac;audio/ac3;audio/basic;audio/midi;audio/mp4;audio/mpeg;audio/x-mpegurl;audio/prs.sid;audio/vnd.rn-realaudio;audio/x-vorbis+ogg;audio/x-adpcm;audio/x-aiff;audio/x-flac;audio/x-m4a;audio/x-matroska;audio/midi;audio/x-mod;audio/mpeg;audio/x-mpegurl;audio/x-ms-wma;audio/x-musepack;audio/x-flac+ogg;audio/vnd.rn-realaudio;audio/x-scpls;audio/x-speex+ogg;audio/x-vorbis+ogg;audio/x-wav;
DocPath=amarok/index.html
Terminal=false
Categories=Qt;KDE;AudioVideo;Player;
