[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=Amarok/CodecInstall

# The unplayable codec
[PropertyDef::X-KDE-Amarok-codec]
Type=QString

[PropertyDef::X-KDE-Amarok-engine]
Type=QString

# If true, Amarok will show a warning dialog about the experimental nature of this plugin.
[PropertyDef::Exec]
Type=QString
