[Desktop Entry]
ServiceTypes=media/audiocd
Actions=Play;
Encoding=UTF-8
X-KDE-Priority=TopLevel

[Desktop Action Play]
Name=Play Audio CD with Amarok
Name[ar]=قراءة قرص مدمج صوتي بواسطة Amarok
Name[bg]=Възпроизвеждане на аудио CD с Amarok
Name[bn]=ক্যাফিন দিয়ে অডিও সিডি চালাও
Name[br]=Seniñ ur bladenn klevet gant Amarok
Name[ca]=Reprodueix Audio CD amb Amarok
Name[cs]=Pehrát audio CD Amarok
Name[da]=Spil lyd-cd med Amarok
Name[de]=Audio-CD mit Amarok abspielen
Name[el]=Αναπαραγωγή CD ήχου με το Amarok
Name[es]=Reproducir CD de audio con Amarok
Name[et]=Esita audio-CD Amarok'is
Name[fi]=Soita musiikki-cd Amarokssa
Name[fr]=Jouer un CD Audio avec Amarok
Name[ga]=Seinn CD Fuaime le Amarok
Name[gl]=Reproducir o CD de Áudio con Amarok
Name[he]=נגן תקליטור שמע עם Amarok
Name[is]=Spila tónlistardisk með Amarok
Name[it]=Riproduci CD audio con Amarok
Name[ja]=Amarokで音楽CDを再生
Name[ka]=აუდიო CD-ის დაკვრა Amarok-ით
Name[km]=ចាក់​ស៊ីឌី​អូឌីយ៉ូ​​ជាមួយ Amarok
Name[nb]=Spill lyd-CD med Amarok
Name[nl]=Audio-cd met Amarok afspelen
Name[nn]=Spel lyd-CD med Amarok
Name[pa]=ਕੈਫੀਨ ਨਾਲ ਆਡੀਓ CD ਚਲਾਓ
Name[pl]=Odtwarzaj audio CD w Amarok
Name[pt]=Tocar o CD de Áudio com o Amarok
Name[pt_BR]=Reproduzir o CD de Áudio com o Amarok
Name[sr]=Пустио аудио CD Amarok-ом
Name[sr@Latn]=Pustio audio CD Amarok-om
Name[sv]=Spela ljud-cd med Amarok
Name[tr]=Amarok ile Ses CD'si Çal
Name[uk]=Програти аудіо-КД з Amarok
Name[xx]=xxPlay Audio CD with Amarokxx
Name[zh_CN]=用 Amarok 播放音频 CD
Name[zh_TW]=使用 Amarok 播放音樂 CD
Icon=amarok
Exec=amarok --cdplay %u
