[Desktop Entry]
X-KDE-Solid-Predicate=[ StorageVolume.ignored == false AND OpticalDisc.availableContent == 'Audio' ]
Type=Service
Actions=Play;
X-KDE-Priority=TopLevel

[Desktop Action Play]
Name=Play Audio CD with Amarok
Name[be]=Граць аўдыё кампакт-дыск у Amarok
Name[bg]=Изпълнение на компактдиск с Amarok
Name[ca]=Reprodueix el CD d'àudio amb l'Amarok
Name[ca@valencia]=Reprodueix el CD d'àudio amb l'Amarok
Name[cs]=Přehrát v Amaroku audio CD
Name[csb]=Grôj aùdio CD w Amarokù
Name[da]=Afspil lyd-cd med Amarok
Name[de]=Audio-CD mit Amarok wiedergeben
Name[el]=Αναπαραγωγή CD ήχου με το Amarok
Name[en_GB]=Play Audio CD with Amarok
Name[eo]=Ludi sonan KD per Amarok
Name[es]=Reproducir CD de audio con Amarok
Name[et]=Esita audio-CD Amarokis
Name[eu]=Erreproduzitu audio CDa Amarok-ein
Name[fi]=Toista musiikki-cd Amarokilla
Name[fr]=Écouter un CD Audio avec Amarok
Name[ga]=Seinn Dlúthdhiosca Fuaime le hAmarok
Name[gl]=Reproducir un CD de música con Amarok
Name[he]=נגן תקליטור שמע ב־Amarok
Name[hne]=अमाराक के साथ आडियो सीडी बजाव
Name[hu]=Hang-CD lejátszása az Amarokkal
Name[is]=Spila hljóðdisk með Amarok
Name[it]=Riproduci CD audio con Amarok
Name[ja]=Amarok でオーディオ CD を再生
Name[km]=ចាក់​ស៊ីឌី​អូឌីយ៉ូ​ជា​មួយ Amarok
Name[ko]=Amarok으로 오디오 CD 재생하기
Name[ku]=CD ya muzîkê bi Amarok lê bide 
Name[lt]=Groti audio CD su Amarok
Name[lv]=Atskaņot audio CD ar Amarok
Name[ms]=Main CD Audio dengan Amarok
Name[nb]=Spill lyd-CD med Amarok
Name[nds]=Audio-CD mit Amarok afspelen
Name[ne]=अमारोकसँग अडियो सीडी बजाउनुहोस्
Name[nl]=Audio-cd met Amarok afspelen
Name[nn]=Spel lyd-CD med Amarok
Name[pa]=ਆਡੀਓ CD ਅਮਰੋਕ ਨਾਲ ਚਲਾਓ
Name[pl]=Odtwórz Audio CD za pomocą Amarok
Name[pt]=Tocar o CD de Áudio com o Amarok
Name[pt_BR]=Reproduzir CD de Áudio com o Amarok
Name[ro]=Redare CD audio cu Amarok
Name[ru]=Воспроизвести аудио-диск в Amarok
Name[sk]=Zahrať Audio CD pomocou Amarok
Name[sl]=Predvajaj glasbeni CD z Amarokom
Name[sr]=Пусти аудио ЦД Амароком
Name[sr@ijekavian]=Пусти аудио ЦД Амароком
Name[sr@ijekavianlatin]=Pusti audio CD Amarokom
Name[sr@latin]=Pusti audio CD Amarokom
Name[sv]=Spela ljud-cd med Amarok
Name[th]=เล่นแผ่นซีดีเสียงด้วยแอมอะร็อก
Name[tr]=Ses CD'sini Amarok ile Çal
Name[uk]=Відтворити аудіо-КД за допомогою Amarok
Name[wa]=Djouwer plake lazer odio avou Amarok
Name[x-test]=xxPlay Audio CD with Amarokxx
Name[zh_CN]=用 Amarok 播放音频 CD
Name[zh_TW]=使用 Amarok 播放音樂 CD
Icon=amarok
Exec=amarok --cdplay %u
