[Desktop Entry]
ServiceTypes=text/html,text/xml,application/xml,text/rss,text/rdf
Actions=addAsPodcast
[Desktop Action addAsPodcast]
Name=Add as Podcast to Amarok
Name[bg]=Добавяне като подкаст към Amarok
Name[da]=Tilføj som podradioudsendelse i Amarok
Name[el]=Προσθήκη ως εκπομπή Pod στο Amarok
Name[fi]=Lisää Amarokiin podcastina
Name[fr]=Ajouter en tant que podcast dans Amarok
Name[it]=Aggiungi come podcast in Amarok
Name[ja]=ポッドキャストとして Amarok に追加
Name[nl]=Als Podcast aan Amarok toevoegen
Name[pl]=Dodaj jako podcast do Amaroka
Name[pt]=Adicionar como 'Podcast' ao Amarok
Name[pt_BR]=Adicionar como Podcast no Amarok
Name[sr]=Додај као подемисију у Amarok
Name[sr@Latn]=Dodaj kao podemisiju u Amarok
Name[sv]=Lägg till som podradiosändning i Amarok
Icon=amarok
Exec=dcop amarok playlistbrowser addPodcast %u
