<!DOCTYPE kpartgui>
<kpartgui name="amarok" version="4">
<ToolBar name="playlist_toolbar"><Text>Playlist Toolbar</Text>
 <Action name="playlist_clear"/>
 <Action name="playlist_shuffle"/>
 <Separator lineSeparator="true"/>
 <Action name="toolbar_analyzer"/>
 <Separator lineSeparator="true"/>
 <Action name="toolbar_volume" />
 <Separator lineSeparator="true"/>
 <Action name="prev" />
 <Action name="play" />
 <Action name="pause" />
 <Action name="stop" />
 <Action name="next" />
</ToolBar>

</kpartgui>
