[Desktop Entry]
Type=Application
Name=AMZ Downloader
Name[el]=AMZ πρόγραμμα λήψης
Name[fr]=Application de téléchargement AMZ
Name[it]=AMZ Downloader
Name[nl]=AMZ-downloader
Name[pl]=Program pobierający AMZ
Name[pt]=Transferência do AMZ
Name[pt_BR]=AMZ Downloader
Name[sr]=АМЗ‑преузимач
Name[sr@ijekavian]=АМЗ‑преузимач
Name[sr@ijekavianlatin]=AMZ‑preuzimač
Name[sr@latin]=AMZ‑preuzimač
Name[sv]=AMZ-nerladdning
Name[uk]=Звантажувач AMZ
Name[x-test]=xxAMZ Downloaderxx
Comment=Download with AMZ Downloader
Comment[el]=Λήψη με το πρόγραμμα AMZ
Comment[fr]=Télécharger avec l'application de téléchargement AMZ
Comment[it]=Scarica con AMZ Downloader
Comment[nl]=Met AMZ-downloader downloaden
Comment[pl]=Pobieraj z programem pobierającym AMZ
Comment[pt]=Transferir com o AMZ
Comment[pt_BR]=Baixar com o AMZ Downloader
Comment[sr]=Преузимајте АМЗ‑преузимачем
Comment[sr@ijekavian]=Преузимајте АМЗ‑преузимачем
Comment[sr@ijekavianlatin]=Preuzimajte AMZ‑preuzimačem
Comment[sr@latin]=Preuzimajte AMZ‑preuzimačem
Comment[sv]=Ladda ner med AMZ-nerladdning
Comment[uk]=Звантажити за допомогою звантажувача AMZ
Comment[x-test]=xxDownload with AMZ Downloaderxx
ServiceTypes=audio/x-amzxml,audio/x-amzaudio
Exec=amzdownloader --amz %f
