[Desktop Entry]
Type=Application
Name=AMZ Downloader
Name[bs]=AMZ Downloader
Name[ca]=AMZ Downloader
Name[ca@valencia]=AMZ Downloader
Name[cs]=Stahovač AMZ
Name[da]=AMZ-downloader
Name[de]=AMZ-Downloader
Name[el]=AMZ πρόγραμμα λήψης
Name[en_GB]=AMZ Downloader
Name[es]=Descargador AMZ
Name[et]=AMZ allalaadija
Name[fi]=AMZ Downloader
Name[fr]=Application de téléchargement « AMZ »
Name[ga]=Íosluchtóir AMZ
Name[gl]=Descargador AMZ
Name[hu]=AMZ letöltő
Name[id]=Pengunduh AMZ
Name[it]=AMZ Downloader
Name[ko]=AMZ 다운로더
Name[lt]=AMZ atsiuntėjas
Name[lv]=AMZ lejupielādētājs
Name[nb]=AMZ nedlaster
Name[nl]=AMZ-downloader
Name[pa]=AMZ ਡਾਊਨਲੋਡਰ
Name[pl]=Narzędzie do pobierania AMZ
Name[pt]=Transferência do AMZ
Name[pt_BR]=AMZ Downloader
Name[ro]=Descărcător AMZ
Name[sk]=Sťahovač AMZ
Name[sl]=Prejemnik AMZ
Name[sr]=АМЗ‑преузимач
Name[sr@ijekavian]=АМЗ‑преузимач
Name[sr@ijekavianlatin]=AMZ‑preuzimač
Name[sr@latin]=AMZ‑preuzimač
Name[sv]=AMZ-nerladdning
Name[tr]=AMZ İndirici
Name[uk]=Отримувач AMZ
Name[x-test]=xxAMZ Downloaderxx
Name[zh_CN]=AMZ 下载器
Name[zh_TW]=AMZ 下載器
Comment=Download with AMZ Downloader
Comment[bs]=Skini sa AMZ Downloaderom
Comment[ca]=Baixa amb AMZ Downloader
Comment[ca@valencia]=Baixa amb AMZ Downloader
Comment[cs]=Stáhnout stahovačem AMZ
Comment[da]=Download med AMZ-downloader
Comment[de]=Herunterladen mit AMZ-Downloader
Comment[el]=Λήψη με το πρόγραμμα AMZ
Comment[en_GB]=Download with AMZ Downloader
Comment[es]=Descargar con el descargador AMZ
Comment[et]=Allalaadimine AMZ allalaadijaga
Comment[fi]=Lataa AMZ Downloaderilla
Comment[fr]=Télécharger avec l'application de téléchargement « AMZ »
Comment[ga]=Íosluchtaigh le hÍosluchtóir AMZ
Comment[gl]=Descargar co descargador AMZ
Comment[hu]=Letöltés az AMZ letöltővel
Comment[id]=Unduh dengan Pengunduh AMZ
Comment[it]=Scarica con AMZ Downloader
Comment[ko]=AMZ 다운로더로 다운로드함
Comment[lt]=Atsiųsti su AMZ atsiuntėju
Comment[lv]=Lejupielādēt ar AMZ lejupielādētāju
Comment[nb]=Last ned med AMZ-nedlaster
Comment[nl]=Met AMZ-downloader downloaden
Comment[pl]=Pobieraj z programem pobierającym AMZ
Comment[pt]=Transferir com o AMZ
Comment[pt_BR]=Baixar com o AMZ Downloader
Comment[ro]=Descarcă cu AMZ Downloader
Comment[sk]=Stiahnuť so sťahovačom AMZ
Comment[sl]=Prejmi s prejemnikom AMZ
Comment[sr]=Преузимајте АМЗ‑преузимачем
Comment[sr@ijekavian]=Преузимајте АМЗ‑преузимачем
Comment[sr@ijekavianlatin]=Preuzimajte AMZ‑preuzimačem
Comment[sr@latin]=Preuzimajte AMZ‑preuzimačem
Comment[sv]=Ladda ner med AMZ-nerladdning
Comment[tr]=AMZ İndirici ile indir
Comment[uk]=Отримати за допомогою отримувача AMZ
Comment[x-test]=xxDownload with AMZ Downloaderxx
Comment[zh_CN]=使用 AMZ 下载器下载
Comment[zh_TW]=用 AMZ 下載器來下載
ServiceTypes=audio/x-amzxml,audio/x-amzaudio
Exec=amzdownloader --amz %f
Icon=download
Categories=Qt;KDE;AudioVideo;Audio;
