Source: amarok-nightly-kdebase-runtime
Section: kde
Priority: optional
Maintainer: Project Neone <nightly@getamarok.com>
Build-Depends: amarok-nightly-cdbs, amarok-nightly-kdelibs, amarok-nightly-strigi, amarok-nightly-qt,
 libclucene-dev, libxcb1-dev, libxine-dev,
 libbz2-dev, libxtst-dev
Standards-Version: 3.7.3

Package: amarok-nightly-kdebase-runtime
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Description: runtime components from the official KDE release
 KDE (the K Desktop Environment) is a powerful Open Source graphical desktop
 environment for Unix workstations. It combines ease of use, contemporary
 functionality, and outstanding graphical design with the technological
 superiority of the Unix operating system.

#Package: amarok-nightly-kdebase-runtime-dbg
#Section: libdevel
#Architecture: any
#Priority: extra
#Depends: amarok-nightly-kdelibs-dbg
#Description: debugging symbols for amarok-nightly-kdebase-runtime
# This package contains the debugging symbols associated with amarok-nightly.
# They will automatically be used by gdb for debugging amarok-nightly-related
# issues.
# .
# This package is part of Project Neon, The Amarok Nightly Builds project.
# See the 'amarok-nightly' package for more information.
