[Desktop Entry]
Type=Service
ServiceTypes=KPluginInfo
Icon=view-services-amazon-amarok
Name=MP3 Music Store
Name[pt]=Loja de Música em MP3
Name[sv]=MP3-musikbutik
Name[uk]=Музична крамниця з продажу MP3
Name[x-test]=xxMP3 Music Storexx
Comment=Access the Amazon MP3 Store directly from Amarok
Comment[pt]=Aceder à loja de MP3 da Amazon directamente do Amarok
Comment[sv]=Kom åt Amazons MP3-butik direkt från Amarok
Comment[uk]=Доступ до крамниці з продажу MP3 Amazon безпосередньо з Amarok
Comment[x-test]=xxAccess the Amazon MP3 Store directly from Amarokxx

ServiceTypes=Amarok/Plugin

X-KDE-Library=amarok_service_amazonstore

X-KDE-Amarok-authors=Sven Krohlas
X-KDE-Amarok-email=sven@getamarok.com
X-KDE-Amarok-framework-version=65
X-KDE-Amarok-name=AmazonStore
X-KDE-Amarok-plugintype=service
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1

X-KDE-PluginInfo-Author=Sven Krohlas
X-KDE-PluginInfo-Email=sven@getamarok.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=amarok_service_amazonstore
X-KDE-PluginInfo-Name=amarok_service_amazonstore
