[Desktop Entry]
Type=Service
ServiceTypes=KPluginInfo
Icon=view-services-amazon-amarok
Name=MP3 Music Store
Name[bs]=MP3 muzička prodavnica
Name[ca]=MP3 Music Store
Name[ca@valencia]=MP3 Music Store
Name[cs]=Obchod s hudbou v MP3
Name[da]=Musikbutik med MP3
Name[de]=MP3-Musikladen
Name[el]=MP3 Music Store
Name[en_GB]=MP3 Music Store
Name[es]=Tienda de música MP3
Name[et]=MP3 muusikapood
Name[fi]=MP3-musiikkikauppa
Name[fr]=Boutique de musiques « MP3 »
Name[ga]=Siopa Ceoil MP3
Name[gl]=Tenda de música en MP3
Name[hu]=MP3 Music Store
Name[id]=Toko Musik MP3
Name[it]=MP3 Music Store
Name[ja]=MP3 ミュージックストア
Name[km]=ហាង​តន្ត្រី​ MP3
Name[lt]=MP3 Muzikos parduotuvė
Name[lv]=MP3 mūzikas veikals
Name[nb]=MP3 Musikkbutikk
Name[nl]=MP3 Music-store
Name[pa]=MP3 ਸੰਗੀਤ ਸਟੋਰ
Name[pl]=Sklep z muzyką MP3
Name[pt]=Loja de Música em MP3
Name[pt_BR]=MP3 Music Store
Name[ro]=Magazin de muzică MP3
Name[ru]=Магазин музыки в MP3
Name[sk]=Obchod s hudbou MP3
Name[sl]=Trgovina z glasbo MP3
Name[sr]=МП3 музичка продавница
Name[sr@ijekavian]=МП3 музичка продавница
Name[sr@ijekavianlatin]=MP3 muzička prodavnica
Name[sr@latin]=MP3 muzička prodavnica
Name[sv]=MP3-musikbutik
Name[tr]=MP3 Müzik Mağazası
Name[uk]=Музична крамниця з продажу MP3
Name[x-test]=xxMP3 Music Storexx
Name[zh_CN]=MP3 音乐商店
Name[zh_TW]=MP3 音樂商店
Comment=Access the Amazon MP3 Store directly from Amarok
Comment[bs]=Pristupi Amazonovoj MP3 prodavnici direktno sa Amaroka
Comment[ca]=Accés directe a l'Amazon MP3 Store des de l'Amarok
Comment[ca@valencia]=Accés directe a l'Amazon MP3 Store des de l'Amarok
Comment[cs]=Přistupujte k Amazon MP3 Store přímo z Amaroku
Comment[da]=Tilgå Amazons MP3-butik direkte fra Amarok
Comment[de]=Den MP3-Laden von Amazon direkt aus Amarok heraus nutzen
Comment[el]=Αποκτήστε πρόσβαση στο κατάστημα MP3 της Amazon απευθείας από το Amarok
Comment[en_GB]=Access the Amazon MP3 Store directly from Amarok
Comment[es]=Acceder a la tienda de música MP3 de Amazon directamente desde Amarok
Comment[et]=Amazoni MP3 poe kasutamine otse Amarokist
Comment[fi]=Pääsy Amazonin MP3-kauppaan suoraan Amarokista
Comment[fr]=Accéder à la boutique « MP3 » de Amazon directement depuis Amarok
Comment[ga]=Déan siopadóireacht sa Siopa MP3 Amazon taobh istigh d'Amarok
Comment[gl]=Acceder a tenda de MP3 de Amazon directamente desde Amarok
Comment[hu]=Az Amazon MP3 Store elérése közvetlenül az Amarokból
Comment[id]=Mengakses Amazon MP3 Store langsung dari Amarok
Comment[it]=Accedi al MP3 Store di Amazon direttamente da Amarok
Comment[ja]=Amarok から Amazon MP3 ストアに直接アクセスする
Comment[km]=ចូល​ដំណើរការ​ហាង Amazon MP3 ដោយ​ផ្ទាល់​ពី Amarok
Comment[lt]=Pasiekti Amazon MP3 parduotuvę tiesiai iš Amarok
Comment[lv]=Tiešā piekļuve Amazon MP3 veikalam no Amarok
Comment[nb]=Bruk Amazons M3-butikk direkte fra Amarok
Comment[nl]=De Amazon MP3-store direct vanuit Amarok benaderen
Comment[pl]=Uzyskaj dostęp do sklepu z MP3 Amazon bezpośrednio z Amaroka
Comment[pt]=Aceder à loja de MP3 da Amazon directamente do Amarok
Comment[pt_BR]=Acessa a loja Amazon MP3 diretamente do Amarok
Comment[ro]=Accesați magazinul MP3 Amazon direct din Amarok
Comment[ru]=Доступ к магазину MP3 Amazon напрямую из Amarok
Comment[sk]=Prístup na Amazon MP3 obchod priamo z Amaroku
Comment[sl]=Dostopajte do Amazonove trgovine z MP3-ji neposredno iz Amaroka
Comment[sr]=Приступите Амазоновој МП3 продавници непосредно из Амарока
Comment[sr@ijekavian]=Приступите Амазоновој МП3 продавници непосредно из Амарока
Comment[sr@ijekavianlatin]=Pristupite Amazonovoj MP3 prodavnici neposredno iz Amaroka
Comment[sr@latin]=Pristupite Amazonovoj MP3 prodavnici neposredno iz Amaroka
Comment[sv]=Kom åt Amazons MP3-butik direkt från Amarok
Comment[tr]=Amarok'tan Amazon MP3 Mağazası'na doğrudan erişim
Comment[uk]=Доступ до крамниці з продажу MP3 Amazon безпосередньо з Amarok
Comment[x-test]=xxAccess the Amazon MP3 Store directly from Amarokxx
Comment[zh_CN]=直接从 Amarok 访问亚马逊 MP3 商店
Comment[zh_TW]=直接到 Amazon 存取 Amazon MP3 商店

ServiceTypes=Amarok/Plugin

X-KDE-Library=amarok_service_amazonstore

X-KDE-Amarok-authors=Sven Krohlas
X-KDE-Amarok-email=sven@asbest-online.de
X-KDE-Amarok-framework-version=71
X-KDE-Amarok-name=AmazonStore
X-KDE-Amarok-plugintype=service
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1

X-KDE-PluginInfo-Author=Sven Krohlas
X-KDE-PluginInfo-Email=sven@asbest-online.de
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=amarok_service_amazonstore
X-KDE-PluginInfo-Name=amarok_service_amazonstore
