[Desktop Entry]
Icon=view-services-amazon-amarok
Type=Service
ServiceTypes=Amarok/Plugin
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_amarok_service_amazonstore
X-KDE-ParentApp=amarok_service_amazonstore
X-KDE-ParentComponents=amarok_service_amazonstore

Name=Amazon Store Service Config
Name[bs]=Postavke usluga Amazon prodavnice
Name[ca]=Configuració del servei d'Amazon Store
Name[ca@valencia]=Configuració del servei d'Amazon Store
Name[cs]=Nastavení služby Amazon Store
Name[da]=Konfiguration af Amazon Store-tjenesten
Name[de]=Einrichtung von Amazon
Name[el]=Διαμόρφωση υπηρεσίας καταστήματος Amazon
Name[en_GB]=Amazon Store Service Config
Name[es]=Configurar servicio de Amazon Store
Name[fi]=Amazon-verkkokaupan määritykset
Name[fr]=Configuration des services de la boutique Amazon
Name[ga]=Cumraíocht Sheirbhís Siopa Amazon
Name[gl]=Configuración do servizo da tenda de Amazon
Name[hu]=Az Amazon Store szolgáltatás beállítása
Name[id]=Konfig Layanan Toko Amazon
Name[it]=Configurazione servizio Amazon Store
Name[ja]=Amazon ストアサービスの設定
Name[km]=កំណត់​រចនាសម្ព័ន្ធ​សេវា​រក្សាទុក Amazon
Name[lt]=Amazon parduotuvės tarnybos nustatymai
Name[lv]=Amazon veikala pakalpojuma konfigurācija
Name[nb]=Innstillinger for AmazonStore-tjenesten
Name[nl]=Amazon-store service instelling
Name[pa]=ਐਮੇਜ਼ੋਨ ਸਟੋਰ ਸਰਵਿਸ ਸੰਰਚਨਾ
Name[pl]=Konfiguracja usługi sklepu Amazon
Name[pt]=Configuração do Serviço da Loja Amazon
Name[pt_BR]=Configuração do serviço Amazon Store
Name[ro]=Configurare serviciu Magazin Amazon
Name[ru]=Настройка службы магазина Amazon
Name[sk]=Nastavenie služby Amazon Store
Name[sl]=Nastavitev storitve Amazon Store
Name[sr]=Постава Амазоновог складишног сервиса
Name[sr@ijekavian]=Постава Амазоновог складишног сервиса
Name[sr@ijekavianlatin]=Postava Amazonovog skladišnog servisa
Name[sr@latin]=Postava Amazonovog skladišnog servisa
Name[sv]=Inställning av Amazon butikstjänst
Name[tr]=Amazon Mağazası Hizmet Yapılandırması
Name[uk]=Налаштування служби крамниці Amazon
Name[x-test]=xxAmazon Store Service Configxx
Name[zh_CN]=亚马逊商店服务配置
Name[zh_TW]=Amazon 商店服務設定
