[Desktop Entry]
Icon=view-services-amazon-amarok
Type=Service
ServiceTypes=Amarok/Plugin
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_amarok_service_amazonstore
X-KDE-ParentApp=amarok_service_amazonstore
X-KDE-ParentComponents=amarok_service_amazonstore

Name=AmazonStore Service Config
