[Desktop Entry]
Name=Wikipedia
Name[bg]=Уикипедия
Name[bs]=Wikipedia
Name[ca]=Viquipèdia
Name[ca@valencia]=Viquipèdia
Name[cs]=Wikipedia
Name[csb]=Wikipedijô
Name[da]=Wikipedia
Name[de]=Wikipedia
Name[el]=Wikipedia
Name[en_GB]=Wikipedia
Name[eo]=Vikipedio
Name[es]=Wikipedia
Name[et]=Wikipedia
Name[eu]=Wikipedia
Name[fa]=ویکی‌پدیا
Name[fi]=Wikipedia
Name[fr]=Wikipédia
Name[ga]=Vicipéid
Name[gl]=Wikipedia
Name[hu]=Wikipédia
Name[ia]=Wikipedia
Name[id]=Wikipedia
Name[is]=Wikipedia
Name[it]=Wikipedia
Name[ja]=Wikipedia
Name[ka]=Wikipedia - უფასო ენციკლოპედია
Name[km]=វីគីភីឌៀ
Name[ko]=위키백과
Name[lt]=Vikipedija
Name[lv]=Wikipēdija
Name[mr]=विकिपेडिया
Name[nb]=Wikipedia
Name[nds]=Wikipedia
Name[nl]=Wikipedia
Name[nn]=Wikipedia
Name[pa]=ਵਿਕਿਪੀਡਿਆ
Name[pl]=Wikipedia
Name[pt]=Wikipédia
Name[pt_BR]=Wikipédia
Name[ro]=Wikipedia
Name[ru]=Википедия
Name[sk]=Wikipédia
Name[sl]=Wikipedija
Name[sq]=Wikipedia
Name[sr]=Википедија
Name[sr@ijekavian]=Википедија
Name[sr@ijekavianlatin]=Wikipedia
Name[sr@latin]=Wikipedia
Name[sv]=Wikipedia
Name[th]=วิกิพีเดีย
Name[tr]=Wikipedia
Name[ug]=ۋىكىپېدىيە
Name[uk]=Вікіпедія
Name[wa]=Wikipedia
Name[zh_CN]=维基百科
Name[zh_TW]=維基百科

Type=Service
ServiceTypes=Amarok/ContextApplet
Icon=amarok-wikipedia
Comment=Wikipedia applet for Amarok
Comment[bg]=Приставка за Wikipedia на Amarok
Comment[ca]=Miniaplicació de la Viquipèdia per a l'Amarok
Comment[ca@valencia]=Miniaplicació de la Viquipèdia per a Amarok
Comment[cs]=Applet pro Wikipedii pro Amarok
Comment[da]=Wikipedia-applet til Amarok
Comment[de]=Wikipedia-Modul für Amarok
Comment[el]=Μικροεφαρμογή Wikipedia για το Amarok
Comment[en_GB]=Wikipedia applet for Amarok
Comment[eo]=Vikipedia apleto por Amarok
Comment[es]=Miniaplicación de la Wikipedia para Amarok
Comment[et]=Amaroki Wikipedia aplett
Comment[eu]=Amarok-erako Wikipediako aplikaziotxoa
Comment[fi]=Amarokin Wikipedia-sovelma
Comment[fr]=Module Wikipédia pour Amarok
Comment[gl]=Trebello de Wikipedia para Amarok.
Comment[hu]=Wikipédia kisalkalmazás az Amarokhoz
Comment[id]=Applet wikipedia untuk Amarok
Comment[it]=Applet di Wikipedia per Amarok
Comment[ka]=Amarok-ის Wikipedia-ის აპლეტი
Comment[ko]=Amarok 위키백과 애플릿
Comment[nl]=Wikipedia-applet voor Amarok
Comment[pl]=Aplet Wikipedii dla Amaroka
Comment[pt]='Applet' do Wikipédia para o Amarok
Comment[pt_BR]=Miniaplicativo da Wikipédia para o Amarok
Comment[sk]=Applet Wikipédia pre Amarok
Comment[sl]=Vstavek Wikipedije za Amarok
Comment[sv]=Wikipediaminiprogram för Amarok
Comment[tr]=Amarok için Wikipedia uygulamacığı
Comment[uk]=Аплет Вікіпедії для Amarok
Comment[zh_CN]=Amarok 的维基百科部件
Comment[zh_TW]=Amarok 的 Wikipedia 小程式

X-KDE-PluginInfo-Author=Leo Franchi
X-KDE-PluginInfo-Email=lfranchi@gmail.com
X-KDE-PluginInfo-Name=org.kde.amarok.wikipedia
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Category=Multimedia

