[Desktop Entry]
Name=Default Context Theme
Name[bg]=Стандартна тема на контекста
Name[ca]=Tema del Context per omissió
Name[cs]=Výchozí motiv Kontextu
Name[csb]=Domëslnô téma kòntekstu
Name[da]=Standard konteksttema
Name[de]=Standard-Kontext-Design
Name[el]=Προκαθορισμένο θέμα σχετικού περιεχομένου
Name[eo]=Defaŭlta kunteksta etoso
Name[es]=Tema de contexto predeterminado
Name[et]=Vaikimisi kontekstiteema
Name[eu]=Testuinguru gai lehenetsia
Name[fr]=Thème de contexte par défaut
Name[ga]=Téama Comhthéacs Réamhshocraithe
Name[gl]=Tema de contexto predeterminado
Name[hne]=डिफाल्ट संदर्भ प्रसंग
Name[is]=Sjálfgefið samhengisþema
Name[it]=Tema predefinito contesto
Name[ja]=標準の関連情報テーマ
Name[km]=ស្បែក​បរិបទ​លំនាំដើម
Name[ko]=기본 컨텍스트 테마
Name[ku]=Dirba Naverokê Wekî Heyî
Name[lt]=Numatyta informacijos lango tema
Name[lv]=Noklusētā konteksta tēma
Name[nb]=Standard konteksttema
Name[nds]=Standard-Kontextmuster
Name[nl]=Standaard contextthema
Name[nn]=Standard Context-tema
Name[pa]=ਡਿਫਾਲਟ ਪਰਸੰਗ ਥੀਮ
Name[pl]=Domyślny motyw kontekstu
Name[pt]=Tema Predefinido do Contexto
Name[pt_BR]=Tema de Contexto Padrão
Name[ro]=Tematică contextuală implicită
Name[ru]=Оформление контекста по умолчанию
Name[sl]=Privzeta tema za kontekst
Name[sr]=Подразумевана тема контекста
Name[sr@latin]=Podrazumevana tema konteksta
Name[sv]=Standardtema för sammanhang
Name[th]=ชุดตกแต่งปริยายของตัวแสดงรายละเอียดเพิ่มเติม
Name[tr]=Öntanımlı İçerik Teması
Name[uk]=Типова тема контексту
Name[wa]=Tinme prémetou di contecse
Name[x-test]=xxDefault Context Themexx
Name[zh_CN]=默认上下文主题
Comment=Default Amarok Context Theme
Comment[bg]=Стандартна тема за контекст
Comment[ca]=Tema del Context de l'Amarok per omissió
Comment[cs]=Výchozí motiv Amarok Kontextu
Comment[csb]=Domëslnô téma kòntekstu Amaroka
Comment[da]=Standard Amarok konteksttema
Comment[de]=Standard-Design für Amarok-Kontext
Comment[el]=Προκαθορισμένο θέμα σχετικού περιεχομένου Amarok
Comment[eo]=Defaŭlta kunteksta etoso de Amarok
Comment[es]=Tema de contexto de Amarok predeterminado
Comment[et]=Vaikimisi Amaroki kontekstiteema
Comment[eu]=Amarok-en testuinguru gai lehenetsia
Comment[fr]=Thème par défaut de l'afficheur de contexte d'Amarok
Comment[ga]=Téama Comhthéacs Amarok Réamhshocraithe
Comment[gl]=Tema de contexto de Amarok predeterminado
Comment[hne]=डिफाल्ट अमाराक संदर्भ प्रसंग
Comment[is]=Sjálfgefið Amarok samhengisþema
Comment[it]=Tema predefinito contesto di Amarok
Comment[ja]=Amarok 標準の関連情報テーマ
Comment[km]=ស្បែក​បរិបទ​របស់ Amarok លំនាំដើម
Comment[ko]=기본 Amarok 컨텍스트 테마
Comment[ku]=Dirba Naverokê yê Amarok Wekî Heyî
Comment[lt]=Numatyta Amarok informacijos lango tema
Comment[lv]=Noklusētā Amarok konteksta tēma
Comment[nb]=Standard Amarok konteksttema
Comment[nds]=Standard-Kontextmuster vun Amarok
Comment[nl]=Standaard contextthema van Amarok
Comment[nn]=Standard Amarok Context-tema
Comment[pa]=ਡਿਫਾਲਟ ਅਮਰੋਕ ਪਰਸੰਗ ਥੀਮ
Comment[pl]=Domyślny motyw kontekstu Amaroka
Comment[pt]=Tema Predefinido do Contexto do Amarok
Comment[pt_BR]=Tema de Contexto Padrão do Amarok
Comment[ro]=Tematică contextuală Amarok implicită
Comment[ru]=Оформление Amarok для контекста по умолчанию
Comment[sl]=Privzeta tema za Amarokov kontekst
Comment[sr]=Подразумевана тема Амароковог контекста
Comment[sr@latin]=Podrazumevana tema Amarokovog konteksta
Comment[sv]=Standardtema för sammanhang i Amarok
Comment[th]=ชุดตกแต่งปริยายของตัวแสดงรายละเอียดเพิ่มเติมของแอมอะร็อก
Comment[tr]=Öntanımlı Amarok İçerik Teması
Comment[uk]=Типова тема контексту Amarok
Comment[wa]=Tinme prémetou di contecse d' Amarok
Comment[x-test]=xxDefault Amarok Context Themexx
Comment[zh_CN]=默认的 Amarok 上下文主题


X-KDE-PluginInfo-Author=The Oxygen Project
X-KDE-PluginInfo-Email=kde-artists@kde.org
X-KDE-PluginInfo-Name=default
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
