[Desktop Entry]
Name=Default Context Theme
Name[bg]=Контекстна тема
Name[ca]=Tema del Context per omissió
Name[csb]=Domëslnô téma kòntekstu
Name[de]=Standard-Kontext-Design
Name[el]=Προκαθορισμένο θέμα σχετικού περιεχομένου
Name[eo]=Defaŭlta kunteksta etoso
Name[es]=Tema de contexto predeterminado
Name[et]=Vaikimisi kontekstiteema
Name[fr]=Thème de contexte par défaut
Name[ga]=Téama Comhthéacs Réamhshocraithe
Name[gl]=Tema de contexto predeterminado
Name[it]=Tema predefinito contesto
Name[ja]=標準の関連情報テーマ
Name[km]=ស្បែក​បរិបទ​លំនាំដើម
Name[ko]=기본 컨텍스트 테마
Name[lt]=Numatyta informacijos lango tema
Name[lv]=Noklusētā konteksta tēma
Name[nb]=Standard konteksttema
Name[nds]=Standard-Kontextmuster
Name[nl]=Standaard contextthema
Name[pl]=Domyślny motyw kontekstu
Name[pt]=Tema Predefinido do Contexto
Name[pt_BR]=Tema de Contexto Padrão
Name[sv]=Standardtema för sammanhang
Name[th]=ชุดตกแต่งปริยายของตัวแสดงรายละเอียดเพิ่มเติม
Name[tr]=Öntanımlı İçerik Teması
Name[uk]=Типова тема контексту
Name[x-test]=xxDefault Context Themexx
Name[zh_CN]=默认上下文主题
Comment=Default Amarok Context Theme
Comment[bg]=Контекстна тема по подразбиране
Comment[ca]=Tema del Context de l'Amarok per omissió
Comment[csb]=Domëslnô téma kòntekstu Amaroka
Comment[de]=Standard-Design für Amarok-Kontext
Comment[el]=Προκαθορισμένο θέμα σχετικού περιεχομένου Amarok
Comment[eo]=Defaŭlta kunteksta etoso de Amarok
Comment[es]=Tema de contexto de Amarok predeterminado
Comment[et]=Vaikimisi Amaroki kontekstiteema
Comment[fr]=Thème par défaut de l'afficheur de contexte d'Amarok
Comment[ga]=Téama Comhthéacs Amarok Réamhshocraithe
Comment[gl]=Tema de contexto de Amarok predeterminado
Comment[it]=Tema predefinito contesto di Amarok
Comment[ja]=Amarok 標準の関連情報テーマ
Comment[km]=ស្បែក​បរិបទ​របស់ Amarok លំនាំដើម
Comment[ko]=기본 Amarok 컨텍스트 테마
Comment[lt]=Numatyta Amarok informacijos lango tema
Comment[lv]=Noklusētā Amarok konteksta tēma
Comment[nb]=Standard Amarok konteksttema
Comment[nds]=Standard-Kontextmuster vun Amarok
Comment[nl]=Standaard contextthema van Amarok
Comment[pl]=Domyślny motyw kontekstu Amaroka
Comment[pt]=Tema Predefinido do Contexto do Amarok
Comment[pt_BR]=Tema de Contexto Padrão do Amarok
Comment[sv]=Standardtema för sammanhang i Amarok
Comment[th]=ชุดตกแต่งปริยายของรายละเอียดเพิ่มเติม Amarok
Comment[tr]=Öntanımlı Amarok İçerik Teması
Comment[uk]=Типова тема контексту Amarok
Comment[x-test]=xxDefault Amarok Context Themexx
Comment[zh_CN]=默认的 Amarok 上下文主题


X-KDE-PluginInfo-Author=The Oxygen Project
X-KDE-PluginInfo-Email=kde-artists@kde.org
X-KDE-PluginInfo-Name=default
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
