[Desktop Entry]
Icon=view-services-librivox-amarok
Type=script
ServiceTypes=KPluginInfo

Name=Librivox.org
Name[cs]=Librivox.org
Name[de]=Librivox.org
Name[es]=Librivox.org
Name[fi]=Librivox.org
Name[it]=Librivox.org
Name[nl]=Librivox.org
Name[pt]=Librivox.org
Name[pt_BR]=Librivox.org
Name[sl]=Librivox.org
Name[sr]=Либривокс
Name[sr@ijekavian]=Либривокс
Name[sr@ijekavianlatin]=LibriVox
Name[sr@latin]=LibriVox
Name[sv]=Librivox.org
Name[uk]=Librivox.org
Name[x-test]=xxLibrivox.orgxx
Comment=A scripted service that lets you search, stream and download free, public domain, audio books from Librivox.org
Comment[cs]=Skriptovaná služba, jenž vám umožní hledat, přehrávat a stahovat svobodné a public domain audio knihy z Librivox.org
Comment[de]=Ein Skriptdienst, mit dem Sie freie und gemeinfreie Hörbücher auf Librivox.org suchen, streamen und herunterladen können
Comment[es]=Un servicio mediante guiones que le permite buscar, transmitir o descargar audio-libros libres, de dominio público desde Librivox.org
Comment[it]=Un servizio basato su script che ti consente di cercare, trasmettere e scaricare libri audio gratuiti e di dominio pubblico da Librivox.org
Comment[nl]=Een "scripted" service die u vrije, zich in het publieke domein bevindende, gesproken boeken laat zoeken en streamen uit Librivox.org
Comment[pt]=Um serviço programado que lhe permite pesquisar, transmitir e transferir livros de áudio gratuitos e do domínio público a partir do Librivox.org
Comment[pt_BR]=Um serviço de pesquisa, stream e download grátis de livros em áudio de domínio público a partir do Librivox.org
Comment[sl]=Skriptna storitev, ki vam dovoljuje iskanje po, pretakanje in prejemanje brezplačnih zvočnih knjig iz Librivox.org
Comment[sr]=Скриптовани сервис који омогућава тражење, струјање и преузимање бесплатних (јавно власништво) аудио књига са Либривокса
Comment[sr@ijekavian]=Скриптовани сервис који омогућава тражење, струјање и преузимање бесплатних (јавно власништво) аудио књига са Либривокса
Comment[sr@ijekavianlatin]=Skriptovani servis koji omogućava traženje, strujanje i preuzimanje besplatnih (javno vlasništvo) audio knjiga sa LibriVoxa
Comment[sr@latin]=Skriptovani servis koji omogućava traženje, strujanje i preuzimanje besplatnih (javno vlasništvo) audio knjiga sa LibriVoxa
Comment[sv]=En skriptbaserad tjänst som låter dig söka efter, strömma och ladda ner fria, allmänt tillgängliga, ljudböcker från Librivox.org
Comment[uk]=Керована скриптами служба, за допомогою якої ви можете шукати, слухати і отримувати вільні, доступні усім звукові книги з Librivox.org
Comment[x-test]=xxA scripted service that lets you search, stream and download free, public domain, audio books from Librivox.orgxx

X-KDE-PluginInfo-Author=Nikolaj Hald Nielsen
X-KDE-PluginInfo-Email=nhnFreespirit@gmail.com
X-KDE-PluginInfo-Name=Librivox.org
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Scriptable Service
X-KDE-PluginInfo-Depends=Amarok2.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-BugAddress=submit@bugs.kde.org
X-KDE-PluginInfo-EnabledByDefault=true
