[Desktop Entry]
Icon=view-services-librivox-amarok
Type=script
ServiceTypes=KPluginInfo

Name=Librivox.org
Name[it]=Librivox.org
Name[nl]=Librivox.org
Name[pt_BR]=Librivox.org
Name[sv]=Librivox.org
Name[uk]=Librivox.org
Name[x-test]=xxLibrivox.orgxx
Comment=A scripted service that lets you search, stream and download free, public domain, audio books from Librivox.org
Comment[it]=Un servizio basato su script che ti consente di cercare, trasmettere e scaricare libri audio gratuiti e di dominio pubblico da Librivox.org
Comment[nl]=Een "scripted" service die u vrije, zich in het publieke domein bevindende, gesproken boeken laat zoeken en streamen uit Librivox.org
Comment[pt_BR]=Um serviço de pesquisa, stream e download grátis de livros em áudio de domínio público a partir do Librivox.org
Comment[sv]=En skriptbaserad tjänst som låter dig söka efter, strömma och ladda ner fria, allmänt tillgängliga, ljudböcker från Librivox.org
Comment[uk]=Керована скриптами служба, за допомогою якої ви можете шукати, слухати і отримувати вільні, доступні усім звукові книги з Librivox.org
Comment[x-test]=xxA scripted service that lets you search, stream and download free, public domain, audio books from Librivox.orgxx

X-KDE-PluginInfo-Author=Nikolaj Hald Nielsen
X-KDE-PluginInfo-Email=nhnFreespirit@gmail.com
X-KDE-PluginInfo-Name=Librivox.org
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Scriptable Service
X-KDE-PluginInfo-Depends=Amarok2.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-BugAddress=submit@bugs.kde.org
X-KDE-PluginInfo-EnabledByDefault=true
