[Desktop Entry]
Name=Analyzer
Name[bs]=Analizator
Name[ca]=Analitzador
Name[ca@valencia]=Analitzador
Name[cs]=Analyzátor
Name[da]=Analysator
Name[de]=Analysator
Name[el]=Αναλυτής
Name[en_GB]=Analyser
Name[es]=Analizador
Name[fi]=Analysaattori
Name[fr]=Analyseur
Name[gl]=Analizador
Name[hu]=Elemző
Name[id]=Analizer
Name[it]=Analizzatore
Name[ko]=분석기
Name[lt]=Analizatorius
Name[lv]=Analizators
Name[nb]=Analysator
Name[nl]=Analysator
Name[pl]=Analizator
Name[pt]=Analisador
Name[pt_BR]=Analisador
Name[ro]=Analizator
Name[sk]=Analyzátor
Name[sl]=Preučevalnik
Name[sr]=Анализатор
Name[sr@ijekavian]=Анализатор
Name[sr@ijekavianlatin]=Analizator
Name[sr@latin]=Analizator
Name[sv]=Analysator
Name[tr]=Çözümleyici
Name[uk]=Аналізатор
Name[x-test]=xxAnalyzerxx
Name[zh_TW]=分析器
Type=Service
Icon=view-media-analyzer-amarok
ServiceTypes=Plasma/Applet

X-KDE-Library=amarok_context_applet_analyzer
X-KDE-PluginInfo-Author=Mark Kretschmann
X-KDE-PluginInfo-Email=kretschmann@kde.org
X-KDE-PluginInfo-Name=analyzer
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=amarok
X-KDE-PluginInfo-Category=Current

