[Desktop Entry]
Name=Context
Name[bg]=Контекст
Name[ca]=Context
Name[ca@valencia]=Context
Name[cs]=Kontext
Name[csb]=Kòntekst
Name[da]=Kontekst
Name[de]=Kontext
Name[el]=Σχετικό περιεχόμενο
Name[en_GB]=Context
Name[eo]=Kunteksto
Name[es]=Contexto
Name[et]=Kontekst
Name[eu]=Testuingurunea
Name[fi]=Konteksti
Name[fr]=Contexte
Name[ga]=Comhthéacs
Name[gl]=Contexto
Name[he]=תוכן
Name[hi]=कॉन्टेक्स्ट
Name[hne]=कान्टेक्स्ट
Name[hu]=Környezet
Name[is]=Samhengi
Name[it]=Contesto
Name[ja]=関連情報
Name[km]=បរិបទ
Name[ko]=컨텍스트
Name[lt]=Informacija
Name[lv]=Konteksts
Name[mai]=संदर्भ
Name[ms]=Konteks
Name[nb]=Kontekst
Name[nds]=Kontext
Name[nl]=Context
Name[nn]=Context
Name[oc]=Contèxte
Name[pa]=ਪਰਸੰਗ
Name[pl]=Kontekst
Name[pt]=Contexto
Name[pt_BR]=Contexto
Name[ro]=Context
Name[ru]=Контекст
Name[sk]=Kontext
Name[sl]=Kontekst
Name[sr]=Контекст
Name[sr@ijekavian]=Контекст
Name[sr@ijekavianlatin]=Kontekst
Name[sr@latin]=Kontekst
Name[sv]=Sammanhang
Name[th]=คอนเท็กซ์
Name[tr]=İçerik
Name[uk]=Контекст
Name[wa]=Contecse
Name[x-test]=xxContextxx
Name[zh_CN]=上下文
Comment=A containment for the Amarok Context
Comment[bg]=Контекст на Amarok
Comment[ca]=Un contenidor per a l'Amarok Context
Comment[ca@valencia]=Un contenidor per a l'Amarok Context
Comment[da]=En beholder til Amarok-kontekst
Comment[de]=Ein Behältnis für Amarok-Kontext
Comment[el]=Ένας υποδοχέας για το περιεχόμενο Amarok
Comment[en_GB]=A containment for the Amarok Context
Comment[eo]=Kuntekstujo por Amarok
Comment[es]=Un contenedor para el contexto de Amarok
Comment[et]=Amaroki konteksti konteiner
Comment[eu]=Aramok-en testuingururako edukia
Comment[fr]=Un conteneur pour l'afficheur de contexte d'Amarok
Comment[ga]=Coimeádán le haghaidh Comhthéacs Amarok
Comment[gl]=Un contedor para o contexto de Amarok
Comment[hu]=Az Amarok-környezet tárolója
Comment[is]=Grunnur fyrir Amarok samhengisupplýsingar
Comment[it]=Un contenitore per i contesti di Amarok
Comment[ja]=Amarok の関連情報の入れ物
Comment[km]=ការ​ផ្ទុក​សម្រាប់​បរិបទ Amarok
Comment[lt]=Amarok informacijos vieta
Comment[lv]=Konteiners Amarok kontekstam
Comment[nb]=En beholder for Amarok Kontekst
Comment[nds]=En Schell för Amarok-Kontext
Comment[nl]=Een container voor de Amarok-context
Comment[nn]=Behaldar for Amarok Context
Comment[pl]=Zasobnik dla kontekstu Amaroka
Comment[pt]=Um contentor para o Contexto do Amarok
Comment[pt_BR]=Um contendor para o Contexto do Amarok
Comment[ro]=Un container pentru Contextul Amarok
Comment[ru]=Содержимое контекста Amarok
Comment[sk]=Obmedzenie pre kontext Amaroku
Comment[sl]=Vsebnik za Amarokov kontekst
Comment[sr]=Садржалац за Амароков контекст
Comment[sr@ijekavian]=Садржалац за Амароков контекст
Comment[sr@ijekavianlatin]=Sadržalac za Amarokov kontekst
Comment[sr@latin]=Sadržalac za Amarokov kontekst
Comment[sv]=En omgivning för Amaroks Sammanhang
Comment[th]=ส่วนบรรจุสำหรับคอนเท็กซ์ของแอมอะร็อก
Comment[tr]=Amarok İçeriği için bir kapsama
Comment[uk]=Оболонка для контексту Amarok
Comment[wa]=On contneu po l' contecse d' Amarok
Comment[x-test]=xxA containment for the Amarok Contextxx
Comment[zh_CN]=Amarok 上下文容器
Icon=
Type=Service
ServiceTypes=Plasma/Applet,Plasma/Containment

X-KDE-Library=amarok_containment_context
X-KDE-PluginInfo-Author=Leo Franchi
X-KDE-PluginInfo-Email=amarok@kde.org
X-KDE-PluginInfo-Name=context
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://amarok.kde.org/
X-KDE-PluginInfo-Category=Miscellaneous
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=AmarokInvisible
