[Desktop Entry]
Name=Photos
Name[bg]=Снимки
Name[es]=Fotos
Name[et]=Fotod
Name[fi]=Valokuvat
Name[is]=Ljósmyndir
Name[it]=Fotografie
Name[ko]=사진
Name[nb]=Fotoer
Name[nn]=Bilete
Name[pl]=Zdjęcia
Name[pt]=Fotografias
Name[pt_BR]=Fotos
Name[sv]=Foton
Name[tr]=Fotoğraflar
Name[uk]=Фотографії
Name[x-test]=xxPhotosxx
Type=Service
ServiceTypes=Plasma/Applet
X-KDE-Library=amarok_context_applet_photos
X-KDE-PluginInfo-Author=Simon Esneault
X-KDE-PluginInfo-Email=simon.esneault@gmail.com
X-KDE-PluginInfo-Name=photos
X-KDE-PluginInfo-Version=1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=amarok
X-KDE-PluginInfo-Category=Current

