[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Applet

Comment=Plasma applet
Comment[bg]=Аплет за Plasma
Comment[ca]=Miniaplicació del Plasma
Comment[csb]=Aplet Plasma
Comment[da]=Plasma-applet
Comment[de]=Plasma-Miniprogramm
Comment[el]=Μικροεφαρμογή Plasma
Comment[eo]=Plasma apleto
Comment[es]=Applet Plasma
Comment[et]=Plasma aplett
Comment[fr]=Applet Plasma
Comment[ga]=Feidhmchláirín Plasma
Comment[gl]=Applet de Plasma
Comment[hi]=प्लाज्मा ऐप्लेट
Comment[it]=Applet Plasma
Comment[ja]=Plasma アプレット
Comment[km]=អាប់ភ្លេត​ប្លាស្មា
Comment[ko]=Plasma 애플릿
Comment[lt]=Plasma įskiepis
Comment[lv]=Plasma sīkrīks
Comment[nb]=Plasmapanel
Comment[nds]=Plasma-Lüttprogramm
Comment[nl]=Plasma-applet
Comment[pl]=Aplet Plasmy
Comment[pt]='Applet' do Plasma
Comment[pt_BR]=Applet do Plasma
Comment[sv]=Plasma-miniprogram
Comment[th]=แอพเพล็ต Plasma
Comment[tr]=Plasma uygulamacığı
Comment[uk]=Аплет Плазми
Comment[x-test]=xxPlasma appletxx
Comment[zh_CN]=Plasma 小程序

[PropertyDef::X-Plasma-API]
Type=QString

[PropertyDef::X-Plasma-DropMimeTypes]
Type=QStringList

