[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/PackageStructure
Comment=Plasma package structure definition
Comment[bg]=Определяне структурата на пакета Plasma
Comment[ca]=Definició de l'estructura d'un paquet Plasma
Comment[da]=Strukturdefinition af Plasma-pakke
Comment[de]=Paketstruktur-Definition für Plasma
Comment[el]=Ορισμός δομής πακέτου Plasma
Comment[es]=Definición de la estructura del paquete Plasma
Comment[et]=Plasma paketi struktuuri definitsioon
Comment[fr]=Définition de la structure des paquetages de Plasma
Comment[ga]=Sainmhíniú ar struchtúr pacáiste Plasma
Comment[gl]=Definición da estrutura do paquete de Plasma
Comment[is]=Skilgreiningar Plasma pakkauppbyggingar
Comment[it]=Definizione della struttura di un pacchetto Plasma
Comment[km]=ការ​កំណត់​រចនាសម្ព័ន្ធ​កញ្ចប់​ប្លាស្មា
Comment[lt]=Plasma paketo struktūros informacija
Comment[lv]=Plasma pakotņu struktūras definīcija
Comment[nds]=Paketstruktuur-Fastleggen vun Plasma
Comment[nl]=Structuurdefinitie van Plasma-pakket
Comment[pl]=Definicja struktury pakietu Plasmy
Comment[pt]=Definição da estrutura de pacotes do Plasma
Comment[pt_BR]=Definição de estrutura de pacote plasma
Comment[sv]=Strukturdefinition av Plasma-paket
Comment[tr]=Plasma paketi yapı tanımlaması
Comment[uk]=Опис структури пакунка плазми
Comment[x-test]=xxPlasma package structure definitionxx
Comment[zh_CN]=Plasma 包结构定义

[PropertyDef::X-Plasma-PackageFileFilter]
Type=QString

[PropertyDef::X-Plasma-PackageFileMimetypes]
Type=QStringList

[PropertyDef::X-Plasma-ProvidesWidgetBrowser]
Type=bool


