[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Applet

Comment=Plasma applet
Comment[ar]=بريمج بلازما
Comment[be]=Аплет Plasma
Comment[be@latin]=Aplet „Plasma”
Comment[bg]=Аплет за Plasma
Comment[bn_IN]=Plasma অ্যাপ্লেট
Comment[ca]=Miniaplicació del Plasma
Comment[csb]=Aplet plazmë
Comment[da]=Panelprogram til Plasma
Comment[de]=Plasma-Miniprogramm
Comment[el]=Μικροεφαρμογή plasma
Comment[eo]=Plasma aplikaĵeto
Comment[es]=Miniaplicación de Plasma
Comment[et]=Plasma aplett
Comment[eu]=Plasma applet-a
Comment[fa]=برنامک پلاسما
Comment[fi]=Plasma-sovelma
Comment[fr]=Applet Plasma
Comment[ga]=Feidhmchláirín Plasma
Comment[gl]=Applet de Plasma
Comment[gu]=પ્લાઝમા એપ્લેટ
Comment[he]=יישומון Plasma
Comment[hi]=प्लाज्मा ऐप्लेट
Comment[hu]=Plasma-kisalkalmazás
Comment[is]=Plasma smáforrit
Comment[it]=Applet di Plasma
Comment[ja]=Plasma アプレット
Comment[kk]=Plasma апплеті
Comment[km]=អាប់ភ្លេត​​ប្លាស្មា​
Comment[kn]=ಪ್ಲಾಸ್ಮಾ ಅನ್ವಯಾಂಶ (ಆಪ್ಲೆಟ್)
Comment[ko]=Plasma 애플릿
Comment[lv]=Plasma aplets
Comment[ml]=പ്ലാസ്മയുടെ ലഘുപ്രയോഗം
Comment[mr]=प्लाज्मा ऍपलेट
Comment[nb]=Plasma miniprogram
Comment[nds]=Plasma-Lüttprogramm
Comment[ne]=प्लाज्मा एप्लेट
Comment[nl]=Plasma-applet
Comment[nn]=Plasma-panelprogram
Comment[pa]=ਪਲਾਜ਼ਮਾ ਐਪਲਿਟ
Comment[pl]=Aplet Plazmy
Comment[pt]='Applet' do Plasma
Comment[pt_BR]=Miniaplicativo do Plasma
Comment[ro]=Miniaplicație Plasma
Comment[ru]=Апплет Plasma
Comment[se]=Plasma-prográmmaš
Comment[sl]=Plasma programček
Comment[sr]=Плазма аплет
Comment[sr@latin]=Plasma aplet
Comment[sv]=Plasma-miniprogram
Comment[te]=ప్లాజ్మా ఆప్లెట్
Comment[tg]=Барномаи Plasma
Comment[th]=แอพเพล็ตของพลาสมา
Comment[tr]=Plasma programcığı
Comment[uk]=Аплет Плазми
Comment[uz]=Plasma appleti
Comment[uz@cyrillic]=Plasma апплети
Comment[vi]=Tiểu dụng Plasma
Comment[wa]=Aplikete Plasma
Comment[x-test]=xxPlasma appletxx
Comment[zh_CN]=Plasma 小程序
Comment[zh_TW]=Plasma 小程式

[PropertyDef::X-Plasma-API]
Type=QString

[PropertyDef::X-Plasma-DropMimeTypes]
Type=QStringList

