[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/DataEngine

Comment=Plasma Data Engine
Comment[bg]=Ядро за Plasma
Comment[ca]=Motor de dades del Plasma
Comment[csb]=Mòtór pòdôwków Plasmë
Comment[da]=Datamotor til Plasma
Comment[de]=Datenmodul für Plasma
Comment[el]=Μηχανή δεδομένων Plasma
Comment[eo]=Datuma motoro de Plasma
Comment[es]=Motor de datos Plasma
Comment[et]=Plasma andmete mootor
Comment[fr]=Moteur de données pour Plasma
Comment[ga]=Inneall Sonraí Plasma
Comment[gl]=Motor de dados de plasma
Comment[hi]=प्लाज्मा डाटा इंजिन
Comment[it]=Motore dati di Plasma
Comment[ja]=Plasma データエンジン
Comment[km]=ម៉ាស៊ីន​ទិន្នន័យ​ប្លាស្មា
Comment[ko]=Plasma 데이터 엔진
Comment[lt]=Plasma duomenų sistema
Comment[lv]=Plasma datu dzinējs
Comment[nb]=Datamotor for Plasma
Comment[nds]=Plasma-Hanteerkarn
Comment[nl]=Plasma-gegevensengine
Comment[pl]=Moduł danych Plasmy
Comment[pt]=Motor de Dados do Plasma
Comment[pt_BR]=Mecanismo de Dados do Plasma
Comment[sv]=Datagränssnitt för Plasma
Comment[th]=โปรแกรมประมวลผลข้อมูล Plasma
Comment[tr]=Plasma Veri Motoru
Comment[uk]=Рушій даних Плазми
Comment[x-test]=xxPlasma Data Enginexx
Comment[zh_CN]=Plasma 数据引擎

