[Desktop Entry]
Name=Internal Extender Container
Name[el]=Εσωτερικός υποδοχέας επέκτασης
Name[gl]=Continente de extensor interno
Name[gu]=આંતરિક વિસ્તારક ધરાવનાર
Name[kk]=Ішкі кеңдеткіш контейнері
Name[km]=ឧបករណ៍​ផ្ទុក​កម្មវិធី​ពង្រីក​ខាង​ក្នុង
Name[kn]=ಆಂತರಿಕ ವಿಸ್ತರಣಕಾರ ಧಾರಕ (ಕಂಟೇಯ್ನರ್)
Name[nb]=Beholder for interne utvidere
Name[nds]=Intern Verwiederngelaats
Name[pt]=Contentor de Extensão Interno
Name[pt_BR]=Contentor de Extensão Interno
Name[sv]=Intern utökningsbehållare
Name[tr]=İç Genişletme Kapsayıcısı
Name[uk]=Внутрішній контейнер розширювача
Name[x-test]=xxInternal Extender Containerxx
Name[zh_TW]=內部延伸容器
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Name=internal:extender
X-KDE-PluginInfo-EnabledByDefault=false
