[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Wallpaper

Comment=Plasma wallpaper
Comment[da]=Plasma-baggrundsbillede
Comment[de]=Plasma-Hintergrundbild
Comment[el]=Ταπετσαρία plasma
Comment[gl]=Fondo de escritorio de Plasma
Comment[it]=Sfondo di Plasma
Comment[km]=ផ្ទាំង​រូបភាព​​ប្លាស្មា
Comment[lv]=Plasma ekrāntapete
Comment[nds]=Plasma-Achtergrundbild
Comment[nl]=Plasma-bureaubladachtergrond
Comment[pl]=Tapeta Plasmy
Comment[pt]=Papel de parede do Plasma
Comment[pt_BR]=Papel de parede do plasma
Comment[sv]=Plasma-skrivbordsunderlägg
Comment[tr]=Plasma duvar kağıdı
Comment[uk]=Тло стільниці Плазми
Comment[x-test]=xxPlasma wallpaperxx
Comment[zh_CN]=Plasma 墙纸

[PropertyDef::X-Plasma-FormFactors]
Type=QStringList

