[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Runner

Comment=KRunner plugin
Comment[ar]=KRunner ملحق
Comment[be]=Утулка Krunner
Comment[be@latin]=Plugin dla „KRunner”
Comment[bg]=Приставка за KRunner
Comment[bn_IN]=KRunner প্লাগ-ইন
Comment[ca]=Connectors per al KRunner
Comment[cs]=KRunner modul
Comment[csb]=Wtëkôcze zrëszôcza KRunner
Comment[da]=KRunner-plugin
Comment[de]=Programmstarter-Modul
Comment[el]=Πρόσθετο του KRunner
Comment[eo]=KRunner-kromprogramo
Comment[es]=Complemento de KRunner
Comment[et]=KRunneri plugin
Comment[eu]=KRunner plugin-a
Comment[fa]=وصلۀ KRunner
Comment[fi]=KRunner-liitännäinen
Comment[fr]=Module externe de KRunner
Comment[ga]=Breiseán KRunner
Comment[gl]=Extensión de KRunner
Comment[gu]=KRunner પ્લગઇન
Comment[he]=תוסף של KRunner
Comment[hi]=के-रनर प्लगइन
Comment[hu]=KRunner-bővítőmodul
Comment[is]=KRunner íforrit
Comment[it]=Plugin di KRunner
Comment[ja]=KRunner プラグイン
Comment[kk]=KRunner плагині
Comment[km]=កម្មវិធី​ជំនួយ KRunner
Comment[kn]=ಕೆರನ್ನರ್ ಮಿಳಿತಾನ್ವಯ (ಪ್ಲಗಿನ್)
Comment[ko]=KRunner 플러그인
Comment[lt]=KRunner įskiepis
Comment[lv]=KRunner spraudnis
Comment[mk]=Приклучок за KRunner
Comment[ml]=KRunner പ്ലഗിന്‍
Comment[mr]=केरनर प्लगइन
Comment[nb]=KRunner-programtillegg
Comment[nds]=KRunner-Moduul
Comment[ne]=केडीई रनर प्लगइन
Comment[nl]=KRunner-plugin
Comment[nn]=KRunner-tillegg
Comment[pa]=ਕੇ-ਰਨਰ ਪਲੱਗਇਨ
Comment[pl]=Wtyczki KRunnera
Comment[pt]='Plugin' do KRunner
Comment[pt_BR]=Plugin do KRunner
Comment[ro]=Modlú KRunner
Comment[ru]=Модуль KRunner
Comment[se]=KRunner-lassemodula
Comment[sl]=Vstavek za KRunner
Comment[sr]=Прикључак за К‑извођач
Comment[sr@latin]=Priključak za K‑izvođač
Comment[sv]=Krunner-insticksprogram
Comment[te]=కెరన్నర్ ప్లగ్ఇన్
Comment[th]=โปรแกรมเสริมของ KRunner
Comment[tr]=KRunner eklentisi
Comment[uk]=Втулка KRunner
Comment[uz]=KRunner plagini
Comment[uz@cyrillic]=KRunner плагини
Comment[vi]=Bổ sung KRunner
Comment[wa]=Tchôke-divins KRunner
Comment[x-test]=xxKRunner pluginxx
Comment[zh_CN]=KRunner 插件
Comment[zh_TW]=KRunner 外掛程式

[PropertyDef::TryExec]
Type=QString

