[Desktop Entry]
Name=Internal Extender Container
Name[da]=Beholder til intern udvider
Name[de]=Interner Extender-Container
Name[el]=Εσωτερικός υποδοχέας επέκτασης
Name[gl]=Continente de extensor interno
Name[is]=Útvíkkaður innbyggður grunnur
Name[it]=Contenitore di estensione interno
Name[km]=ឧបករណ៍​ផ្ទុក​កម្មវិធី​ពង្រីក​ខាងក្រៅ
Name[lv]=Iekšējais ekstendera konteineris
Name[nds]=Intern Verwiedern-Gelaats
Name[nl]=Interne extendercontainer
Name[pl]=Wewnętrzny zasobnik rozszerzeń
Name[pt]=Contentor de Extensão Interno
Name[pt_BR]=Container do Extensor Interno
Name[ro]=Container extensibil intern
Name[sv]=Intern utökningsbehållare
Name[tr]=İç Genişletme Kapsayıcısı
Name[uk]=Внутрішній контейнер розширювача
Name[x-test]=xxInternal Extender Containerxx
Name[zh_CN]=内部扩展容器
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Name=internal:extender
X-KDE-PluginInfo-EnabledByDefault=false
