[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Runner

Comment=KRunner plugin
Comment[bg]=Приставка за KRunner
Comment[ca]=Connector per al KRunner
Comment[cs]=KRunner modul
Comment[da]=KRunner-plugin
Comment[de]=Modul für Programmstarter
Comment[el]=Πρόσθετο KRunner
Comment[eo]=KRunner kromaĵo
Comment[es]=Complemento KRunner
Comment[et]=KRunneri plugin
Comment[fr]=Module KRunner
Comment[ga]=Breiseán KRunner
Comment[gl]=Extensión de KRunner
Comment[he]=תוסף KRunner
Comment[hi]=के-रनर प्लगइन
Comment[is]=KRunner íforrit
Comment[it]=Plugin KRunner
Comment[ja]=KRunner プラグイン
Comment[km]=កម្មវិធី​ជំនួយ KRunner
Comment[ko]=KRunner 플러그인
Comment[ku]=Pêveka KRunner
Comment[lt]=KRunner įskiepis
Comment[lv]=KRunner spraudnis
Comment[nb]=Programtillegg for KRunner
Comment[nds]=KRunner-Moduul
Comment[nl]=KRunner-plugin
Comment[nn]=KRunner-tillegg
Comment[pa]=ਕੇਰਨਰ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka KRunnera
Comment[pt]='Plugin' do KRunner
Comment[pt_BR]=Plug-in KRunner
Comment[ro]=Modul KRunner
Comment[sv]=Krunner-insticksprogram
Comment[th]=ส่วนเสริม KRunner
Comment[tr]=KRunner eklentisi
Comment[uk]=Втулок KRunner
Comment[x-test]=xxKRunner pluginxx
Comment[zh_CN]=KRunner 插件
Comment[zh_TW]=KRunner 外掛程式

[PropertyDef::TryExec]
Type=QString

