[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Animator

Comment=Plasma Animation Engine
Comment[af]=Plasma animasie-enjin
Comment[ar]=محرك بلازما
Comment[be@latin]=Systema animavańnia dla „Plasma”
Comment[ca]=Motor d'animació del Plasma
Comment[cs]=Animační nástroj Plasma
Comment[csb]=Mòtór animacëji plazmë
Comment[da]=Animationsmotor til Plasma
Comment[de]=Plasma Animations-Treiber
Comment[el]=Μηχανή κίνησης του Plasma
Comment[eo]=Animacia motoro de Plasma
Comment[es]=Motor de animaciones de Plasma
Comment[et]=Plasma animatsiooni mootor
Comment[fa]=موتور پویانمایی پلاسما
Comment[fi]=Plasma animointimoottori
Comment[fr]=Moteur d'animation Plasma
Comment[fy]=Plasme libbene motor
Comment[ga]=Inneall Beochana Plasma
Comment[gl]=Motor de animación de Plasma
Comment[gu]=પ્લાઝમા એનિમેશન એન્જિન
Comment[he]=מנוע האנימציה של Plasma
Comment[hi]=प्लाज्मा एनिमेशन इंजिन
Comment[hu]=Plasma animációs modul
Comment[is]=Plasma hreyfingastjóri
Comment[it]=Motire di animazione per Plasma
Comment[ja]=Plasma アニメーションエンジン
Comment[kk]=Plasma анимация тетігі
Comment[km]=ម៉ាស៊ីន​ចលនា​ប្លាស្មា
Comment[kn]=ಪ್ಲಾಸ್ಮಾ ಸಜೀವನ (ಅನಿಮೇಷನ್) ಯಂತ್ರ
Comment[ko]=Plasma 애니메이션 엔진
Comment[lv]=Plasma animācijas dzinējs
Comment[ml]=പ്ലാസ്മ ആനിമേഷന്‍ എഞ്ചിന്‍ 
Comment[mr]=प्लाज्मा एनिमेशन इंजिन
Comment[nb]=Plasma animasjonsmotor
Comment[nds]=Plasma-Animeerkarn
Comment[ne]=प्लाज्मा एनिमेशन इन्जिन
Comment[nl]=Plasma animatie-engine
Comment[nn]=Plasma animasjonsmotor
Comment[pa]=ਪਲਾਜ਼ਮਾ ਐਨੀਮੇਸ਼ਨ ਇੰਜਣ
Comment[pl]=Silnik animacji Plazmy
Comment[pt]=Motor de Animação do Plasma
Comment[pt_BR]=Mecanismo de Animação do Plasma
Comment[ro]=Motor de animație Plasma
Comment[ru]=Движок анимации Plasma
Comment[se]=Plasma-animerenmohtor
Comment[sl]=Animacijski pogon za Plasmo
Comment[sr]=Плазмин мотор за анимације
Comment[sr@latin]=Plasmin motor za animacije
Comment[sv]=Animeringsgränssnitt i Plasma
Comment[te]=ప్లాజ్మా యానిమేషన్ ఇంజన్
Comment[th]=กลไกการแสดงการเคลื่อนไหลของพลาสมา
Comment[tr]=Plasma Canlandırma Motoru
Comment[uk]=Рушій анімації Плазми
Comment[vi]=Cơ chế hoạt ảnh Plasma
Comment[x-test]=xxPlasma Animation Enginexx
Comment[zh_CN]=Plasma 动画引擎
Comment[zh_TW]=Plasma 動畫引擎

