[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/ScriptEngine

Comment=Scripting language extension for Plasma
Comment[bg]=Разширение за скриптов език за Plasma
Comment[ca]=Extensió de llenguatge d'script pel Plasma
Comment[cs]=Rozšíření pro skriptovací jazyky Plasma
Comment[csb]=Rozszérzenié skriptowégò jãzëka dlô Plasmë
Comment[da]=Scriptsprog-udvidelse til Plasma
Comment[de]=Skriptsprachen-Erweiterung für Plasma
Comment[el]=Επέκταση γλώσσας σεναρίων για το Plasma
Comment[eo]=Skriptlingva etendaĵo por Plasma
Comment[es]=Complemento de lenguaje de script para Plasma
Comment[et]=Plasma skriptikeele laiend
Comment[fr]=Extension de langage du script pour Plasma
Comment[ga]=Eisínteacht teanga scriptithe le haghaidh Plasma
Comment[gl]=Extensicón de linguaxe de scripting para Plasma
Comment[is]=Útvíkkun á skriftunarmáli fyrir Plasma
Comment[it]=Estensione linguaggio di creazione script per Plasma
Comment[ja]=Plasma のためのスクリプト言語拡張
Comment[km]=ផ្នែក​បន្ថែម​ភាសា​ស្គ្រីប​សម្រាប់​ប្លាស្មា
Comment[ko]=Plasma를 위한 스크립트 언어 확장
Comment[lt]=Plasma scenarijų programavimo plėtiniai
Comment[lv]=Plasma skriptēšanas valodas paplašinājums
Comment[nb]=Skriptspråkutvidelse for Plasma
Comment[nds]=Skriptspraak-Verwiedern för Plasma
Comment[nl]=Scripttaalextensie voor Plasma
Comment[pl]=Rozszerzenie Plasmy języka skryptów
Comment[pt]=Extensão de linguagens de programação para o Plasma
Comment[pt_BR]=Extensão de linguagens de script do Plasma
Comment[ro]=Extensie limbaj de scripturi pentru Plasma
Comment[sv]=Skriptspråksutökning för Plasma
Comment[th]=ส่วนขยายของภาษาสคริปต์สำหรับพลาสมา
Comment[tr]=Plasma için betik dili uzantısı
Comment[uk]=Розширення скриптових мов для Plasma
Comment[x-test]=xxScripting language extension for Plasmaxx
Comment[zh_CN]=用于 Plasma 的脚本语言扩展

[PropertyDef::X-Plasma-ComponentTypes]
Type=QStringList

[PropertyDef::X-Plasma-PackageFormat]
Type=QString

