[Desktop Entry]
Name=Cloud
Name[bg]=Cloud
Name[ca]=Cloud
Name[cs]=Cloud
Name[csb]=Blóna
Name[da]=Cloud
Name[de]=Wolke
Name[el]=Νέφος
Name[en_GB]=Cloud
Name[es]=Nube
Name[et]=Pilv
Name[eu]=Lainoa
Name[fr]=Nuage
Name[ga]=Cloud
Name[gl]=Nuve
Name[he]=ענן
Name[hne]=क्लाउड
Name[hu]=Felhő
Name[is]=Ský
Name[it]=Nuvola
Name[ja]=Cloud
Name[km]=ពពក
Name[ko]=Cloud
Name[ku]=Cloud
Name[lt]=Debesis
Name[lv]=Mākonis
Name[mai]=बादल
Name[nb]=Sky
Name[nds]=Wulk
Name[nl]=Cloud
Name[nn]=Sky
Name[oc]=Nívol
Name[pa]=ਕਲਾਉਡ
Name[pl]=Cloud
Name[pt]=Nuvem
Name[pt_BR]=Nuvem
Name[ro]=Nor
Name[ru]=Cloud
Name[sl]=Oblak
Name[sr]=Облак
Name[sr@latin]=Oblak
Name[sv]=Cloud
Name[th]=กลุ่มเมฆ
Name[tr]=Cloud
Name[uk]=Cloud
Name[wa]=Cloud
Name[x-test]=xxCloudxx
Name[zh_CN]=Cloud
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=amarok_context_applet_cloud
X-KDE-PluginInfo-Author=Nikolaj Hald Nielsen
X-KDE-PluginInfo-Email=nhnFreespirit@gmail.com
X-KDE-PluginInfo-Name=cloud
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=amarok
X-KDE-PluginInfo-Category=Current

