[Desktop Entry]
Name=Amarok JavaScript Applet
Name[bg]=JavaScript аплет (Amarok)
Name[ca]=Miniaplicació en JavaScript de l'Amarok
Name[ca@valencia]=Miniaplicació en JavaScript de l'Amarok
Name[cs]=JavaScriptový applet Amaroku
Name[csb]=Aplet JavaScriptu Amaroka
Name[da]=Amarok JavaScript-applet
Name[de]=Javascript-Miniprogramm für Amarok
Name[en_GB]=Amarok JavaScript Applet
Name[es]=Miniaplicación JavaScript de Amarok
Name[et]=Amaroki JavaScripti aplett
Name[fi]=Javascript-sovelma Amarokiin
Name[hu]=Javascript-kisalkalmazás az Amarokhoz
Name[is]=Amarok JavaScript smáforrit
Name[it]=Applet JavaScript di Amarok
Name[km]=អាប់ភ្លេត​ JavaScript របស់​ Amarok
Name[ko]=Amarok 자바스크립트 애플릿
Name[lv]=Amarok JavaScript sīkrīks
Name[nb]=Amarok JavaScript miniprogram
Name[nds]=JavaScript-Lüttprogramm för Amarok
Name[nl]=Applet met javascript van Amarok
Name[nn]=JavaScript-element for Amarok
Name[pa]=ਅਮਰੋਕ ਜਾਵਾਸਕ੍ਰਿਪਟ ਐਪਲਿਟ
Name[pl]=Aplet JavaScriptu Amaroka
Name[pt]='Applet' de JavaScript do Amarok
Name[pt_BR]=Miniaplicativo JavaScript do Amarok
Name[ro]=Miniaplicație JavaScript pentru Amarok
Name[ru]=Аплет JavaScript для Amarok
Name[sk]=Applet Amarok javaScript
Name[sl]=JavaScript gradnik za Amarok
Name[sr]=Јаваскриптни аплет за Амарок
Name[sr@ijekavian]=Јаваскриптни аплет за Амарок
Name[sr@ijekavianlatin]=JavaScript aplet za Amarok
Name[sr@latin]=JavaScript aplet za Amarok
Name[sv]=Amarok Javascript-miniprogram
Name[th]=แอพเพล็ตจาวาสคริปต์ของแอมอะร็อก
Name[tr]=Amarok JavaScript Programcığı
Name[uk]=Аплет JavaScript Amarok
Name[x-test]=xxAmarok JavaScript Appletxx
Name[zh_CN]=Amarok JavaScript 小程序
Comment=Native Amarok applet written in JavaScript
Comment[bg]=Семпъл аплет за Amarok, написан на JavaScript
Comment[ca]=Miniaplicació nativa de l'Amarok escrita en JavaScript
Comment[ca@valencia]=Miniaplicació nativa de l'Amarok escrita en JavaScript
Comment[csb]=Aplet Amaroka napisóny w JavaScript
Comment[da]=Hjemmehørende Amarok-applet skrevet i JavaScript
Comment[de]=Echtes Amarok-Miniprogramm, geschrieben in JavaScript
Comment[en_GB]=Native Amarok applet written in JavaScript
Comment[es]=Miniaplicación nativa de Amarok escrita en JavaScript
Comment[et]=Amaroki omaaplett JavaScriptis
Comment[fi]=Amarok-sovelma joka on luotu Javascriptillä
Comment[hu]=Natív Amarok-kisalkalmazás Javascript nyelven
Comment[is]=Upprunalegt Amarok smáforrit skrifað í JavaScript
Comment[it]=Applet nativa di Amarok sviluppata in JavaScript
Comment[km]=អាប់ភ្លេត​ដើម​របស់ Amarok បាន​សរសេរ​នៅ​ក្នុង JavaScript
Comment[ko]=자바스크립트로 작성된 Amarok 애플릿
Comment[lv]=Amarok sīkrīks, rakstīts JavaScript
Comment[nb]=Amarok miniprogram skrevet i JavaScript
Comment[nds]=Orginaal Amarok-Lüttprogramm, schreven in JavaScript
Comment[nl]=Amarok-applet geschreven in JavaScript
Comment[nn]=Innebygd Amarok-element skriven i JavaScript
Comment[pl]=Natywny applet Amaroka napisany w JavaScripcie
Comment[pt]=Uma 'applet' nativa do Amarok, feita em JavaScript
Comment[pt_BR]=Miniaplicativo nativo do Amarok escrito em JavaScript
Comment[ro]=Miniaplicație Amarok nativă scrisă în JavaScript
Comment[ru]=Аплет Amarok, написанный на языке JavaScript
Comment[sk]=Natívny applet Amaroku napísaný v javaScripte
Comment[sl]=Pravi gradnik za Amarok, ki je napisan v JavaScriptu
Comment[sr]=Самосвојни Амароков аплет написан у јаваскрипту
Comment[sr@ijekavian]=Самосвојни Амароков аплет написан у јаваскрипту
Comment[sr@ijekavianlatin]=Samosvojni Amarokov aplet napisan u JavaScriptu
Comment[sr@latin]=Samosvojni Amarokov aplet napisan u JavaScriptu
Comment[sv]=Eget Amarok miniprogram skrivet i Javascript
Comment[th]=แอพเพล็ตแบบเนทีฟของแอมอะร็อก เขียนด้วยจาวาสคริปต์
Comment[tr]=JavaScript ile yazılmış gerçek Amarok programcığı
Comment[uk]=Аплет Amarok написаний на JavaScript
Comment[x-test]=xxNative Amarok applet written in JavaScriptxx
Comment[zh_CN]=以 Javascript 编写的 Amarok 自带小程序
X-KDE-ServiceTypes=Plasma/ScriptEngine
Type=Service
Icon=text-x-script
X-KDE-Library=amarok_appletscript_simple_javascript
X-Plasma-API=amarok_javascript
X-Plasma-ComponentTypes=Applet
