[Desktop Entry]
Name=Amarok JavaScript Applet
Name[uk]=Аплет JavaScript Amarok
Comment=Native Amarok applet written in JavaScript
Comment[uk]=Аплет Amarok написаний на JavaScript
X-KDE-ServiceTypes=Plasma/ScriptEngine
Type=Service
Icon=text-x-script
X-KDE-Library=amarok_appletscript_simple_javascript
X-Plasma-API=amarok_javascript
X-Plasma-ComponentTypes=Applet
