[Desktop Entry]
Name=Wiki-MetaApplet
Name[bg]=Wiki-MetaApplet
Name[ca]=Wiki-MetaApplet
Name[da]=Wiki-MetaApplet
Name[de]=Wiki-MetaApplet
Name[en_GB]=Wiki-MetaApplet
Name[es]=Wiki-MetaApplet
Name[et]=Wiki metaandmete aplett
Name[fi]=Wiki-Meta-sovelma
Name[hu]=Wiki-meta-kisalkalmazás
Name[is]=Wiki-Meta smáforrit
Name[it]=Wiki-MetaApplet
Name[km]=អាប់ភ្លេតមេតា​វីគី
Name[ko]=위키-메타애플릿
Name[nb]=Wiki-Meta miniprogram
Name[nds]=Wikipedia-Meta-Lüttprogramm
Name[nl]=Wiki-MetaApplet
Name[nn]=Wiki-metaelement
Name[pl]=Meta Applet Wiki
Name[pt]=Meta-Applet do Wiki
Name[pt_BR]=Wiki-MetaApplet
Name[ro]=Wiki-MetaApplet
Name[ru]=Аплет Вики
Name[sr]=Википедијин метааплет
Name[sr@latin]=Wikipedijin metaaplet
Name[sv]=Metaminiprogram för webbjournal
Name[tr]=Wiki-Meta Gereci
Name[uk]=Вікі-Метааплет
Name[x-test]=xxWiki-MetaAppletxx
Name[zh_CN]=Wiki-MetaApplet
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=amarok_context_applet_wiki
X-KDE-PluginInfo-Author=Leo Franchi
X-KDE-PluginInfo-Email=lfranchi@gmail.com
X-KDE-PluginInfo-Name=wiki
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=amarok
X-KDE-PluginInfo-Category=Current

