[Desktop Entry]
Name=Lyrics Data Engine
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=lyrics
X-KDE-Library=amarok_data_engine_lyrics
X-Plasma-EngineName=amarok-lyrics
