[Desktop Entry]
Name=Lyrics Data Engine
Name[bg]=Ядро за текстове
Name[ca]=Motor de dades de lletres
Name[cs]=Datový nástroj Lyrics
Name[csb]=Mòtór tekstów
Name[da]=Datamotor til sangtekst
Name[de]=Datenmodul für Liedertexte
Name[el]=Μηχανή δεδομένων στίχων
Name[eo]=Datuma motoro de la parolaro
Name[es]=Motor de datos para las letras de las canciones
Name[et]=Sõnade andmete mootor
Name[eu]=Hitzen datu motorea
Name[fr]=Moteur de données pour les paroles
Name[ga]=Inneall Sonraí Liricí
Name[gl]=Motor de dados de letras de cancións
Name[hne]=गीत डाटा इंजिन
Name[is]=Lagatextagagnavél
Name[it]=Motore dati dei testi
Name[ja]=歌詞データエンジン
Name[km]=ម៉ាស៊ីន​ទិន្នន័យ​អត្ថបទ​ចម្រៀង
Name[ko]=가사 데이터 엔진
Name[ku]=Motora Dane ya Lîrîk
Name[lt]=Dainos tekstų duomenų sistema
Name[lv]=Dziesmu vārdu datu dzinējs
Name[nb]=Datamotor for sangtekster
Name[nds]=Text-Datenkarn
Name[nl]=Liedteksten-gegevensengine
Name[nn]=Datamotor for songtekstar
Name[pa]=ਬੋਲ ਡਾਟਾ ਇੰਜਣ
Name[pl]=Moduł danych tekstów
Name[pt]=Motor de Dados de Letras Musicais
Name[pt_BR]=Mecanismo de Dados das Letras
Name[ro]=Motor de date Versuri
Name[ru]=Движок данных для текстов песен
Name[sl]=Podatkovni pogon za besedila
Name[sv]=Datagränssnitt för sångtexter
Name[th]=กลไกข้อมูลของเนื้อร้อง
Name[tr]=Şarkı Sözleri Veri Motoru
Name[uk]=Рушій даних слів пісень
Name[wa]=Éndjin d' dinêyes des paroles
Name[x-test]=xxLyrics Data Enginexx
Name[zh_CN]=Lyrics 数据引擎
Name[zh_TW]=歌詞資料引擎
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=lyrics
X-KDE-Library=amarok_data_engine_lyrics
X-KDE-PluginInfo-Name=amarok-lyrics
X-KDE-ParentApp=Amarok

