[Desktop Entry]
Type=Service
Icon=view-services-gpodder-amarok
Name=gpodder.net
Name[bg]=gpodder.net
Name[bs]=gpodder.net
Name[ca]=gpodder.net
Name[ca@valencia]=gpodder.net
Name[cs]=gpodder.net
Name[da]=gpodder.net
Name[de]=gpodder.net
Name[el]=gpodder.net
Name[en_GB]=gpodder.net
Name[eo]=gpodder.net
Name[es]=gpodder.net
Name[et]=gpodder.net
Name[eu]=gpodder.net
Name[fi]=gpodder.net
Name[fr]=gpodder.net
Name[ga]=gpodder.net
Name[gl]=gpodder.net
Name[he]=שירות gpodder.net
Name[hu]=gpodder.net
Name[ia]=gpodder.net
Name[id]=gpodder.net
Name[it]=gpodder.net
Name[ja]=gpodder.net
Name[ka]=gpodder.net
Name[km]=gpodder.net
Name[ko]=gpodder.net
Name[lt]=gpodder.net
Name[lv]=gpodder.net
Name[nb]=gpodder.net
Name[nds]=gpodder.net
Name[nl]=gpodder.net
Name[pa]=gpodder.net
Name[pl]=gpodder.net
Name[pt]=gpodder.net
Name[pt_BR]=gpodder.net
Name[ro]=gpodder.net
Name[ru]=gpodder.net
Name[sk]=gpodder.net
Name[sl]=gpodder.net
Name[sq]=gpodder.net
Name[sr]=Гподер.нет
Name[sr@ijekavian]=Гподер.нет
Name[sr@ijekavianlatin]=gpodder.net
Name[sr@latin]=gpodder.net
Name[sv]=gpodder.net
Name[tr]=gpodder.net
Name[uk]=gpodder.net
Name[x-test]=xxgpodder.netxx
Name[zh_CN]=gpodder.net
Name[zh_TW]=gpodder.net
Comment=Podcast Service
Comment[bg]=Услуга за подкастове
Comment[bs]=Podcast usluga
Comment[ca]=Servei de pòdcasts
Comment[ca@valencia]=Servei de pòdcast
Comment[cs]=Služba podcastů
Comment[da]=Podcast-tjeneste
Comment[de]=Podcast-Dienst
Comment[el]=Υπηρεσία Podcast
Comment[en_GB]=Podcast Service
Comment[eo]=Podkasta Servo
Comment[es]=Servicio de podcast
Comment[et]=Podcastide teenus
Comment[eu]=Podcast-en zerbitzua
Comment[fi]=Podcast-palvelu
Comment[fr]=Service de podcasts
Comment[ga]=Seirbhís Phodchraolta
Comment[gl]=Servizo de podcast.
Comment[he]=שירות הסכתים
Comment[hu]=Podcast szolgáltatás
Comment[ia]=Servicio de Podcast
Comment[id]=Layanan Podcast
Comment[it]=Servizio Podcast
Comment[ja]=ポッドキャストサービス
Comment[ka]=Podcast-ის სერვისი
Comment[km]=សេវា​ផតខាស់
Comment[ko]=팟캐스트 서비스
Comment[lt]=Garso prenumeratų tarnyba
Comment[lv]=Podraižu serviss
Comment[nb]=Podkast-tjeneste
Comment[nds]=Podcast-Deenst
Comment[nl]=Podcast-service
Comment[pa]=ਪੋਡਕਾਸਟ ਸਰਵਿਸ
Comment[pl]=Usługa podcast
Comment[pt]=Serviço de 'Podcasts'
Comment[pt_BR]=Serviço de podcasts
Comment[ro]=Serviciu Podcast
Comment[ru]=Каталог подкастов
Comment[sk]=Podcast služba
Comment[sl]=Storitev za podcaste
Comment[sr]=Сервис подемисија
Comment[sr@ijekavian]=Сервис подемисија
Comment[sr@ijekavianlatin]=Servis podemisija
Comment[sr@latin]=Servis podemisija
Comment[sv]=Podsändningstjänst
Comment[tr]=Pod yayını hizmeti
Comment[uk]=Служба трансляцій
Comment[x-test]=xxPodcast Servicexx
Comment[zh_CN]=播客服务
Comment[zh_TW]=Podcast 服務

ServiceTypes=Amarok/Plugin

X-KDE-Amarok-authors=Stefan Derkits, Christian Wagner, Felix Winter, Lucas Lira Gomes
X-KDE-Amarok-email=stefan@derkits.at, christian.wagner86@gmx.at, ixos01@gmail.com, x8lucas8x@gmail.com
X-KDE-Amarok-framework-version=79
X-KDE-Amarok-name=gpodderService
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1

X-KDE-PluginInfo-Author=Stefan Derkits, Christian Wagner, Felix Winter, Lucas Lira Gomes
X-KDE-PluginInfo-Email=stefan@derkits.at, christian.wagner86@gmx.at, ixos01@gmail.com, x8lucas8x@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=amarok_service_gpodder
X-KDE-PluginInfo-Name=amarok_service_gpodder
