[Desktop Entry]
Type=Service
ServiceTypes=KPluginInfo
Icon=view-services-gpodder-amarok
Name=gpodder.net
Name[et]=gpodder.net
Name[it]=gpodder.net
Name[nl]=gpodder.net
Name[pt]=gpodder.net
Name[pt_BR]=gpodder.net
Name[ru]=gpodder.net
Name[sv]=gpodder.net
Name[uk]=gpodder.net
Name[x-test]=xxgpodder.netxx
Name[zh_TW]=gpodder.net
Comment=Podcast Service
Comment[et]=Podcastide teenus
Comment[nl]=Podcast-service
Comment[pt]=Serviço de 'Podcasts'
Comment[pt_BR]=Serviço de podcasts
Comment[ru]=Каталог подкастов
Comment[sv]=Podsändningstjänst
Comment[uk]=Служба трансляцій
Comment[x-test]=xxPodcast Servicexx
Comment[zh_TW]=Podcast 服務

ServiceTypes=Amarok/Plugin

X-KDE-Amarok-authors=Stefan Derkits
X-KDE-Amarok-email=stefan@derkits.at
X-KDE-Amarok-framework-version=61
X-KDE-Amarok-name=gpodderService
X-KDE-Amarok-plugintype=service
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1

X-KDE-PluginInfo-Author=Stefan Derkits
X-KDE-PluginInfo-Email=stefan@derkits.at
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
X-KDE-Library=amarok_service_gpodder
X-KDE-PluginInfo-Name=amarok_service_gpodder
