[Desktop Entry]
Icon=view-services-gpodder-amarok
Type=Service
ServiceTypes=Amarok/Plugin
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_amarok_service_gpodder
X-KDE-ParentApp=amarok_service_gpodder
X-KDE-ParentComponents=amarok_service_gpodder

Name=gpodder.net Service Config
Name[cs]=Nastavení služby lgpodder.net
Name[it]=Configurazione servizio gpodder.net
Name[nl]=Instellingen van de service gpodder.net
Name[pt]=Configuração do Serviço do gpodder.net
Name[pt_BR]=Configuração do serviço gpodder.net
Name[sv]=Inställning av gpodder.net-tjänst
Name[uk]=Налаштування служби gpodder.net
Name[x-test]=xxgpodder.net Service Configxx
Comment=Configure gpodder.net Credentials
Comment[cs]=Nastavit přihlašovací údaje gpodder.net
Comment[it]=Configura credenziali gpodder.net
Comment[nl]=gpodder.net-credentials instellen
Comment[pt]=Configurar as Credenciais do gpodder.net
Comment[pt_BR]=Configurar credenciais do gpodder.net
Comment[sv]=Anpassa gpodder.net inloggningsinformation
Comment[uk]=Налаштувати реєстраційні дані у gpodder.net
Comment[x-test]=xxConfigure gpodder.net Credentialsxx
