[Desktop Entry]
Icon=view-services-gpodder-amarok
Type=Service
ServiceTypes=Amarok/Plugin
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_amarok_service_gpodder
X-KDE-ParentApp=amarok_service_gpodder
X-KDE-ParentComponents=amarok_service_gpodder

Name=gpodder.net Service Config
Name[bg]=gpodder.net Service Config
Name[bs]=gpodder.net Postavka usluga
Name[ca]=Configuració del servei gpodder.net
Name[ca@valencia]=Configureu el servei gpodder.net
Name[cs]=Nastavení služby lgpodder.net
Name[da]=Konfiguration af tjenesten gpodder.net
Name[de]=Einrichtung von gpodder.net
Name[el]=Διαμόρφωση της υπηρεσίας gpodder.net
Name[en_GB]=gpodder.net Service Config
Name[eo]=gpodder.net Serva Agordo
Name[es]=Configuración del servicio gpodder.net
Name[et]=gpodder.net-i teenuse seadistamine
Name[eu]=gpodder.net zerbitzariaren konfigurazioa
Name[fi]=gpodder.net-palvelumääritykset
Name[fr]=Configuration du service « gpodder.net »
Name[ga]=Cumraíocht Sheirbhís gpodder.net
Name[gl]=Configuración do servizo gpodder.net
Name[hu]=A gpodder.net szolgáltatás beállítása
Name[id]=Konfig Layanan gpodder.net
Name[it]=Configurazione servizio gpodder.net
Name[ja]=gpodder.net サービスの設定
Name[ka]=gpodder.net-ის სერვისის მორგება
Name[km]=កំណត់​រចនាសម្ព័ន្ធ​សេវាកម្ម gpodder.net
Name[ko]=gpodder.net 서비스 설정
Name[lt]=gpodder.net Service nuostatos
Name[lv]=gpodder.net pakalpojuma konfigurācija
Name[nb]=Innstillinger for gpodder.net-tjenesten
Name[nl]=Instellingen van de service gpodder.net
Name[pl]=Ustawienia usługi gpodder.net
Name[pt]=Configuração do Serviço do gpodder.net
Name[pt_BR]=Configuração do serviço gpodder.net
Name[ro]=Configurare serviciu gpodder.net
Name[ru]=Настройка службы gpodder.net
Name[sk]=Nastavenie služby gpodder.net
Name[sl]=Nastavitev storitve gpodder.net
Name[sr]=Поставке за сервис Гподер.нет
Name[sr@ijekavian]=Поставке за сервис Гподер.нет
Name[sr@ijekavianlatin]=Postavke za servis gpodder.net
Name[sr@latin]=Postavke za servis gpodder.net
Name[sv]=Inställning av gpodder.net-tjänst
Name[tr]=gpodder.net Hizmet Yapılandırması
Name[uk]=Налаштування служби gpodder.net
Name[zh_CN]=gpodder.net 服务配置
Name[zh_TW]=gpodder.net 服務設定
Comment=Configure gpodder.net Credentials
Comment[bg]=Настройване на  gpodder.net
Comment[bs]=Postavi gpodder.net akreditiv
Comment[ca]=Configura les credencials de gpodder.net
Comment[ca@valencia]=Configura les credencials de gpodder.net
Comment[cs]=Nastavit přihlašovací údaje gpodder.net
Comment[da]=Indstil akkreditiver for gpodder.net
Comment[de]=Zugangsdaten zu gpodder.net einrichten
Comment[el]=Διαμόρφωση διαπιστευτηρίων gpodder.net
Comment[en_GB]=Configure gpodder.net Credentials
Comment[eo]=Agordi gpodder.net-Akreditaĵojn
Comment[es]=Configurar credenciales de gpodder.net
Comment[et]=gpodder.net-i kasutajatunnuste määramine
Comment[eu]=Konfiguratu «gpodder.net»en egiaztagiriak
Comment[fi]=Määritä gpodder.net-palvelun tilitiedot
Comment[fr]=Configuration des identifiants « gpodder.net »
Comment[ga]=Cumraigh dintiúir gpodder.net
Comment[gl]=Configurar as credenciais de gpodder.net.
Comment[hu]=Bejelentkezési adatok beállítása a gpodder.net szolgáltatáshoz
Comment[ia]=Configura credentiales de gpodder.net
Comment[id]=Konfigurasikan surat kuasa gpodder.net
Comment[it]=Configura credenziali gpodder.net
Comment[ja]=gpodder.net の資格情報を設定
Comment[ka]=Gpodder.net-ის მომხმარებელი და პაროლი
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ការ​អនុញ្ញាត​ gpodder.net
Comment[ko]=gpodder.net 인증 정보 설정
Comment[lt]=Konfigūruoti gpodder.net prisijungimo duomenis
Comment[lv]=Konfigurēt gpodder.net lietotāja kontu
Comment[nb]=Sett opp gpodder.net-akkreditiver
Comment[nl]=gpodder.net-credentials instellen
Comment[pl]=Ustawianie danych poufnych gpodder.net
Comment[pt]=Configurar as Credenciais do gpodder.net
Comment[pt_BR]=Configurar credenciais do gpodder.net
Comment[ro]=Configurează detaliile contului gpodder.net
Comment[ru]=Настройка учётной записи gpodder.net
Comment[sk]=Nastaviť osobné údaje pre gpodder.net
Comment[sl]=Nastavite poverila gpodder.net
Comment[sr]=Подесите акредитиве за Гподер
Comment[sr@ijekavian]=Подесите акредитиве за Гподер
Comment[sr@ijekavianlatin]=Podesite akreditive za gpodder
Comment[sr@latin]=Podesite akreditive za gpodder
Comment[sv]=Anpassa gpodder.net inloggningsinformation
Comment[tr]=gpodder.net üyelik ayarlarını yapılandır
Comment[uk]=Налаштувати реєстраційні дані у gpodder.net
Comment[zh_CN]=配置 gpodder.net 的登录信息
Comment[zh_TW]=設定 gpodder.net 的憑證
