[Desktop Entry]
Type=Service
Name=Ipod Collection
Name[be]=Калекцыя Ipod
Name[bg]=Колекция IPod 
Name[ca]=Col·lecció de l'ipod
Name[cs]=Ipod kolekce
Name[csb]=Kòlekcëjô Ipoda
Name[da]=iPod-samling
Name[de]=Ipod-Sammlung
Name[el]=Συλλογή Ipod
Name[es]=Colección Ipod
Name[et]=Ipodi kogu
Name[eu]=Ipod bilduma
Name[fi]=Ipod-kokoelma
Name[fr]=Collection iPod
Name[ga]=Bailiúchán Ipod
Name[gl]=Colección do Ipod
Name[he]=אוסף Ipod
Name[hne]=आईपाड संग्रह
Name[is]=Ipod safn
Name[it]=Collezione iPod
Name[ja]=ipod コレクション
Name[km]=សម្រាំង Ipod
Name[ko]=iPod 모음집
Name[ku]=Berhevoka Ipod
Name[lt]=Ipod fonoteka
Name[lv]=Ipod kolekcija
Name[nb]=iPod-samling
Name[nds]=iPott-Sammeln
Name[nl]=Ipod-collectie
Name[nn]=Ipod-samling
Name[pa]=Ipod ਭੰਡਾਰ
Name[pl]=Kolekcja iPod
Name[pt]=Colecção do IPod
Name[pt_BR]=Coleção iPod
Name[ro]=Colecție Ipod
Name[ru]=Коллекция Ipod
Name[sl]=Zbirka iPod
Name[sv]=Ipod-samling
Name[th]=คลังดนตรีของไอพ็อด
Name[tr]=Ipod Koleksiyonu
Name[uk]=Збірка Ipod
Name[wa]=Ramexhnêye Ipod
Name[x-test]=xxIpod Collectionxx
Name[zh_CN]=Ipod 收藏
Name[zh_TW]=Ipod 收藏
Comment=Ipod collection plugin for Amarok
Comment[be]=Утулка калекцыі Ipod для Amarok
Comment[bg]=Приставка за колекция IPod (Amarok)
Comment[ca]=Connector de col·leccions ipod per a l'Amarok
Comment[cs]=Modul kolekce Ipodu pro AmaroK
Comment[csb]=Wtëkôcz kòlekcëji Ipoda dlô Amaroka
Comment[da]=Plugin til iPod-samling til Amarok
Comment[de]=Ipod-Sammlungsmodul für Amarok
Comment[el]=Πρόσθετο συλλογής Ipod για το AmaroK
Comment[es]=Complemento de colección de Ipod para Amarok
Comment[et]=Amaroki Ipodi kogu plugin
Comment[eu]=Amarok-en Ipod bilduma plugin-a
Comment[fi]=Amarokin iPod-liitännäinen
Comment[fr]=Module de collection iPod pour Amarok
Comment[ga]=Breiseán bailiúchán Ipod le haghaidh Amarok
Comment[gl]=Extensión de colección do Ipod para Amarok
Comment[he]=תוסף אוסף Ipod ל־Amarok
Comment[hne]=अमाराक बर आईपाड संग्रह प्लगइन
Comment[is]=Ipod safníforrit fyrir Amarok
Comment[it]=Plugin della collezione iPod di Amarok
Comment[ja]=Amarok のための ipod コレクションプラグイン
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាំង Ipod សម្រាប់ Amarok
Comment[ko]=Amarok의 iPod 모음집 플러그인
Comment[ku]=Pêveka berhevoka Ipod ji bo Amarok
Comment[lt]=Ipod fonotekos Amarok papildinys
Comment[lv]=Ipod kolekcijas Amarok spraudnis
Comment[nb]=iPod-samling – programtillegg for Amarok
Comment[nds]=iPott-Sammelnmoduul för Amarok
Comment[nl]=Ipodcollectie-plugin voor Amarok
Comment[nn]=Amarok-samlingstillegg for Ipod
Comment[pa]=ਅਮਰੋਕ ਲਈ Ipod ਭੰਡਾਰ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka kolekcji iPoda dla Amaroka
Comment[pt]=Um 'plugin' da colecção do IPod para o Amarok
Comment[pt_BR]=Plug-in de coleção iPod para o Amarok
Comment[ro]=Modul de colecție Ipod pentru Amarok
Comment[ru]=Модуль коллекции Ipod для Amarok
Comment[sl]=Vstavek za zbirko iPod za Amarok
Comment[sv]=Insticksprogram med Ipod-samling för Amarok
Comment[th]=ส่วนเสริมของแอมอะร็อก สำหรับจัดการคลังดนตรีของไอพ็อด
Comment[tr]=Amarok için Ipod koleksiyonu eklentisi
Comment[uk]=Додаток збірки Ipod для Amarok
Comment[wa]=Tchôke-divins di ramexhnêye Ipod po Amarok
Comment[x-test]=xxIpod collection plugin for Amarokxx
Comment[zh_CN]=Amarok 的 Ipod 收藏插件
Comment[zh_TW]=Amarok 的 Ipod 收藏外掛程式

ServiceTypes=Amarok/Plugin

X-KDE-Library=amarok_collection-ipodcollection

X-KDE-Amarok-authors=Alejandro Wainzinger
X-KDE-Amarok-email=aikawarazuni@gmail.com
X-KDE-Amarok-framework-version=46
X-KDE-Amarok-name=ipod-collection
X-KDE-Amarok-plugintype=collection
X-KDE-Amarok-rank=100
X-KDE-Amarok-version=1
