Source: amarok-nightly-qt
Section: libs
Priority: optional
Maintainer: Project Neon <nightly@getamarok.com>
Build-Depends: cdbs, debhelper (>= 5), quilt, sharutils, libxext-dev, libxrandr-dev, x11proto-core-dev, libsm-dev, libxmu-dev, libice-dev, libx11-dev, libxt-dev, libjpeg62-dev, zlib1g-dev, libmng-dev, libpng12-dev, libfreetype6-dev, flex, libpq-dev, libaudio-dev, libcupsys2-dev, xlibmesa-gl-dev | libgl-dev, libglu1-xorg-dev | libglu1-mesa-dev | libglu-dev, libxft-dev, libxrender-dev, libxcursor-dev, libxinerama-dev, libdbus-1-dev, libglib2.0-dev, libxi-dev
Standards-Version: 3.7.3

Package: amarok-nightly-qt
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}, fontconfig
Description: Qt 4 core GUI functionality runtime library
 Qt is a cross-platform C++ application framework.  Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 This packages contains the core GUI shared library and the OpenGL
 module.
 .
  Homepage: http://www.trolltech.com

#Package: amarok-nightly-qt-dbg
#Section: libdevel
#Architecture: any
#Priority: extra
#Description: debugging symbols for amarok-nightly-qt
# This package contains the debugging symbols associated with amarok-nightly.
# They will automatically be used by gdb for debugging amarok-nightly-related
# issues.
# .
# This package is part of Project Neon, The Amarok Nightly Builds project.
# See the 'amarok-nightly' package for more information.
