#!/usr/bin/make -f

export QTDIR := $(shell pwd)
export PATH := $(QTDIR)/bin:$(PATH)
export LD_LIBRARY_PATH := $(QTDIR)/lib:$(LD_LIBRARY_PATH)

-include /usr/share/cdbs/1/rules/debhelper.mk
-include /usr/share/cdbs/1/class/makefile.mk
-include /usr/share/cdbs/1/rules/simple-patchsys.mk
-include /usr/share/cdbs/1/rules/utils.mk

DEB_MAKE_INVOKE := $(MAKE)
DEB_MAKE_BUILD_TARGET := sub-src sub-tools
DEB_MAKE_INSTALL_TARGET := INSTALL_ROOT=$(DEB_DESTDIR) install
DEB_DH_INSTALL_SOURCEDIR := debian/amarok-nightly-qt

DEB_MAKE_CLEAN_TARGET := confclean distclean
DEB_DH_MAKESHLIBS_ARGS_ALL := -V

common-configure-arch::
# 	./apply_patches
	./configure -confirm-license \
	            -prefix "/opt/amarok-nightly" \
	            -fast \
	            -nomake "examples" \
	            -nomake "demos" \
	            -I/usr/include/freetype2 \
	            -lfontconfig \
	            -no-exceptions \
	            -debug \
	            -qdbus \
	            -pch \
	            $(EXTRA_CONFIGURE_OPTS)

clean::
